{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create new debate" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block content %}

    {% block centercol %}
        <div class="grid_16">
        
        <script src="{{ STATIC_URL }}/js/jquery.formset.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}/js/debate_board.js" type="text/javascript"></script>
        <script type="text/javascript">
           $(function() {
               $('#ajaxform thead tr').formset();       
               $('#ajaxform tbody tr').formset();
           })
           
       </script>
        
            <div id="contenttitles">
                {% trans "Create a new debate" %}
            </div>

            <div id="debate-number" class="hidden">{{ debateid }}</div>

            <div id="debate">

            <form id="ajaxform" enctype="" action="" method="post">{% csrf_token %}
                
                <span class="btn danger small" id="del-column-btn" onclick="removeTableColumn()">{% trans "Remove column" %}</span>
                <span class="btn primary small" id="new-column-btn" onclick="addTableColumn()">{% trans "Add column" %}</span>
                
                <table id="debate{{ debateid }}" cellspacing="0">
                    <thead>
                        <tr id="debate{{ debateid }}-headers">
                            <th id="corner" class="corner-criteria"></th>
                            {{ colform.management_form }}
                            {% for col in colform.forms %}
                                <tr>
                                    <td id="debate{{ debateid }}-vcriteria" class="criteria-vtitle">
                                        <div id="debate-ttitle">
                                            {{ col.criteria }}
                                        </div>
                                    </td>
                                    <td id="sortable-debate{{ debateid }}" class="connectedSortable"></td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="debate-body">
                        {{ rowform.management_form }}
                        {% for row in rowform.forms %}
                            <tr>
                                <td id="debate-hcriteria" class="criteria-htitle">
                                    <div id="debate-ttitle">
                                        {{ row.criteria }}
                                    </div>
                                </td>
                                <td id="sortable-debate{{ debateid }}" class="connectedSortable"></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
<!--                <span class="btn danger small delete" onclick="deleteForm(this, 'form')">{% trans "Remove row" %}</span>-->
<!--                <span class="btn primary small" onclick="addForm(this, 'form')">{% trans "Add row" %}</span>-->

                <hr />
                <h1>{% trans "Other debate data" %}</h1><br/><br/>
                
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}

               <div class="clearfix {% if form.title.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.title.label }}</label> 
                    <div class="input"> 
                        {{ form.title }}
                        <span class="help-inline">
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.title.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.scope.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.scope.label }}</label> 
                    <div class="input"> 
                        {{ form.scope }}
                        <span class="help-inline">
                            {% if form.scope.errors %}
                                {% for error in form.scope.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.scope.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.description.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.description.label }}</label> 
                    <div class="input"> 
                        {{ form.description }}
                        <span class="help-inline">
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.description.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                {{ form.columns.as_hidden }}
                
                <hr />

                <input class="btn primary small" type="submit" value="{% trans 'Save' %}" />
                <a href="{{ get_place.get_absolute_url }}" class="btn danger small">{% trans "Cancel" %}</a>

            </form>
                
            </div>

        </div>

    {% endblock %}

    {% comment %}
    {% block rightcol %}
        <div class="grid_5">
            <div id="widget">
             <h2>{% trans "How to add new debates" %}</h2><br/>
                <ul class="instructions">
                    <li><strong>{% trans "Modules" %}</strong>: {% trans "Select the modules you will use in your space. This can be edited afterwards." %}</li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% endcomment %}
{% endblock %}
