{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "View debate " %}{{ debate.title }}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block content %}

    {% block centercol %}
        <div class="grid_16">
        
        <script src="{{ STATIC_URL }}/js/debate_board.js" type="text/javascript"></script>
        
            <div id="contenttitles">
                {% trans "View debate " %}{{ debate.title}}
            </div>

            <div id="debate">
                
                <table id="debate1" cellspacing="0">
                    <thead>
                        <tr id="debate1-headers">
                            <th id="corner" class="corner-criteria"></th>
                            {% for xvalue in xvalues %}
                                <th id="debate-vcriteria">{{ xvalue }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="debate-body">
                        {% for yvalue in yvalues %}
                            <tr id="debate-row-1">
                                <td id="debate-hcriteria" class="criteria-title">
                                    <div id="debate-ttitle">{{ yvalue }}</div>
                                </td>
                                
                                <td id="sortable-debate1" class="connectedSortable"></td>
                            </tr>
                        {% endfor %}
                        
                        
                    </tbody>
                </table>
                
                <br />
                
                <a href="javascript:createNote()" id="new-note" class="btn primary small">{% trans "Add new note" %}</a>
                <div id="sortable-dispatcher"></div>
                
            </div>

        </div>

    {% endblock %}

    {% comment %}
    {% block rightcol %}
        <div class="grid_5">
            <div id="widget">
             <h2>{% trans "How to add new debates" %}</h2><br/>
                <ul class="instructions">
                    <li><strong>{% trans "Modules" %}</strong>: {% trans "Select the
                            modules you will use in your space. This can be edited afterwards." %}</li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% endcomment %}
{% endblock %}
