{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create new debate" %}{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

    {% block centercol %}
        <div class="grid_16">
        
        <script src="{{ STATIC_URL }}/js/debate_board.js" type="text/javascript"></script>
        
            <div id="contenttitles">
                {% trans "Create a new debate" %}
            </div>

            <div id="debate">

            <form id="ajaxform" enctype="" action="" method="post">{% csrf_token %}
                
                <a href="javascript:removeTableColumn()" id="del-column-btn" class="btn danger small">{% trans "Remove column" %}</a>
                <a href="javascript:addTableColumn()" id="new-column-btn" class="btn primary small">{% trans "Add column" %}</a>
                
                <table id="debate1" cellspacing="0">
                    <thead>
                        <tr id="debate1-headers">
                            <th id="corner" class="corner-criteria"></th>
                            <th id="debate-vcriteria">
                                <input id="debate1-criteria2" class="small" type="text" value="Column title">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="debate-body">
                        <tr id="debate-row-1">
                            <td id="debate-hcriteria" class="criteria-title">
                                <div id="debate-ttitle">
                                    <input class="small" id="debate1-criteria1" type="text" value="Test criteria">
                                </div>
                            </td>
                            <td id="sortable-debate1" class="connectedSortable">
	                            <div id="debate1-note1" class="note">
	                                <a href="javascript:getClickedNote()" id="deletenote" class="hidden"></a>
	                                <textarea>Can be dropped..</textarea>
	                            </div>
                                <div id="debate1-note2" class="note">
                                    <a href="javascript:getClickedNote()" id="deletenote" class="hidden"></a>
                                    <textarea>..on an empty list</textarea>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <a href="javascript:removeTableRow()" id="del-row-btn" class="btn danger small">{% trans "Remove row" %}</a>         
                <a href="javascript:addTableRow()" id="new-row-btn" class="btn primary small">{% trans "Add row" %}</a>

                <br />
                
                <a href="javascript:createNote()" id="new-note" class="btn primary small">{% trans "Add new note" %}</a>
                <a href="javascript:createPhase()" id="create-phase" class="btn primary small">{% trans "Add phase"%}</a>
                <div id="sortable-dispatcher"></div>
                
                <hr />
                <h1>{% trans "Other debate data" %}</h1><br/><br/>
                
                {{ form.non_field_errors }}

               <div class="clearfix"> 
                    <label for="prependedInput">{{ form.title.label }}</label> 
                    <div class="input"> 
                        {{ form.title }} 
                    </div> 
                </div>
                
                <div class="clearfix"> 
                    <label for="prependedInput">{{ form.scope.label }}</label> 
                    <div class="input"> 
                        {{ form.scope }} 
                    </div> 
                </div>
                
                <div class="clearfix"> 
                    <label for="prependedInput">{{ form.description.label }}</label> 
                    <div class="input"> 
                        {{ form.description }} 
                    </div> 
                </div>
                
                {{ phaseform.management_form }}
                
                <div class="clearfix"> 
                    <label for="prependedInput">{{ phaseform.start_date.label }}</label> 
                    <div class="input"> 
                        {{ phaseform.start_date }} 
                    </div> 
                </div>
                
                <div class="clearfix"> 
                    <label for="prependedInput">{{ phaseform.end_date.label }}</label> 
                    <div class="input"> 
                        {{ phaseform.end_date }} 
                    </div> 
                </div>
                
                <hr />

                <!-- <input class="btn primary" type="submit" value="{% trans 'Save' %}" /> -->
                <a href="../../" class="btn danger small">{% trans "Cancel" %}</a>

            </form>
                
            </div>

        </div>

    {% endblock %}

    {% comment %}
    {% block rightcol %}
        <div class="grid_5">
            <div id="widget">
             <h2>{% trans "How to add new debates" %}</h2><br/>
                <ul class="instructions">
                    <li><strong>{% trans "Modules" %}</strong>: {% trans "Select the
                            modules you will use in your space. This can be edited afterwards." %}</li>
                </ul>
            </div>
        </div>
    {% endblock %}
    {% endcomment %}
{% endblock %}
