<div class='row'>
 <div class='small-4 columns'>
  <div class='ah'>
   <a href='/{{=appname}}/hrm/index'>
    <img class='ai' height='64' width='64' src='/{{=appname}}/static/themes/RMSAmericas/img/human_talent.png'/>
    <span class='al alh'>Human Talent</span>
   </a>
  </div>
 </div>
 <div class='small-4 columns'>
  <div class='ah'>
   <a href='/{{=appname}}/hrm/training_event'>
    <img class='ai' height='64' width='64' src='/{{=appname}}/static/themes/RMSAmericas/img/training.png'/>
    <span class='al'>Training</span>
   </a>
  </div>
 </div>
 <div class='small-4 columns'>
  <div class='ah'>
   <a href='/{{=appname}}/member/membership'>
    <img class='ai' height='64' width='64' src='/{{=appname}}/static/themes/RMSAmericas/img/partners.png'/>
    <span class='al'>Partners</span>
   </a>
  </div>
 </div>
</div>
<div class='row'>
 <div class='small-4 columns'>
  <div class='ah'>
   <a href='/{{=appname}}/inv/index'>
    <img class='ai' height='64' width='64' src='/{{=appname}}/static/themes/RMSAmericas/img/warehouses.png'/>
    <span class='al alw'>Warehouses</span>
   </a>
  </div>
 </div>
 <div class='small-4 columns'>
  <div class='ah'>
   <a href='/{{=appname}}/project/project/summary'>
    <img class='ai' height='64' width='64' src='/{{=appname}}/static/themes/RMSAmericas/img/projects.png'/>
    <span class='al'>Projects</span>
   </a>
  </div>
 </div>
 <div class='small-4 columns'>
  <div class='ah'>
   <a href='/{{=appname}}/deploy/mission/summary?status__belongs=2'>
    <img class='ai' height='64' width='64' src='/{{=appname}}/static/themes/RMSAmericas/img/RIT.png'/>
    <span class='al'>RIT</span>
   </a>
  </div>
 </div>
</div>