{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Profile removed" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}
    <div id="contenttitles">{% trans "Personal data removed" %}</div>
    <div class="grid_16">{% trans "Your profile information has been removed successfully." %}
        <div></br></br>
            <a href="/">&laquo; {% trans "Back to home page" %}</a></br>
            <a href="/accounts/">&laquo; {% trans "Back to your profile" %}</a>
        </div>
    </div>
{% endblock %}
