{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ user }}'s Dashboard{% endblocktrans %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}
	<div id="contentinside">
		{% trans "Your profile information has been updated successfully." %}<br/><br/><br/>
		<div>
		    {% trans "You can go" %} <a href="/"><u>{% trans "back to home" %}</u></a> {% trans "or" %} <a href="/accounts/"><u>{% trans "back to your profile" %}</u></a>
	  </div>
	</div>
{% endblock %}
