{% extends "base.html" %}
{% load i18n %}
{% load avatars %}

{% block title %}{{ profile.user }}'s public profile{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block content %}
    {% if GOOGLE_MAPS_API_KEY and user.get_profile.location %}
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
        <script type="text/javascript">
            function initialize() {
                var latlng = new google.maps.LatLng( {{ user.get_profile.latitude|stringformat:"s" }}, {{ user.get_profile.longitude|stringformat:"s" }} );
                var opts = {
                    zoom: 15,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("location"), opts);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title:"User!"
                });
            };
        </script>
    {% endif %}
	
	<div id="contenttitles">{% blocktrans with profile.user as user %}Public profile of {{ user }}{% endblocktrans %}</div>

    <div id="contentinside">
        <img class="border top" alt="{{ profile.user }}" src="{% avatar 96 profile.user %}" />
		<ul>
			<li>{% trans "Username" %}: {{ profile.user }}</li></br>
			{% if profile.country %}
			<li>{% trans "Country" %}: {{ profile.get_country_display }}</li></br>
			{% endif %}
			{% if profile.location %}
			<li>{% trans "Location" %}: {{ profile.location }}</li>
			{% endif %}
		</ul>
	</div>
	
	{% if profile.latitude and profile.longitude %}
	<div class="span-10">
		<div id="location"></div>
	</div>
	{% endif %}
{% endblock %}
