{{extend "layout.html"}}
<div id='incident-summary'>
 {{=system_wide}}
 <div class='row'>
  {{try:}}{{=H2(title)}}{{except:}}{{pass}}
 </div>
 <div class='row panel' id='summary-common'>
  <div class='large-4 columns'>
   <div id='filter-form' class='form-container'>
    {{try:}}{{=filter_form}}{{except:}}{{pass}}
   </div>
  </div>
  <div class='large-8 columns'>
   <h3 class='show-for-sr'>View the incidents on the map:</h3>
   {{try:}}{{for section in common:}}{{=section}}{{pass}}{{except:}}{{pass}}
   <div id='timeline-embed' style='width:100%; height:100px;'></div>
  </div>
 </div>
<hr>
<div id='summary-tabs'>
 <div id='summary-tab-headers'>
  {{try:}}{{=tabs}}{{except:}}{{pass}}
 </div>
 <div id='summary-sections'>
  {{try:}}{{for section in sections:}}{{=section}}{{pass}}{{except:}}{{pass}}
 </div>
</div>
</div>
{{include "dataTables.html"}}
{{include "dataLists.html"}}
{{s3.scripts.append("/%s/static/themes/WACOP/js/echarts.min.js" % appname)}}
{{s3.scripts.append("/%s/static/themes/WACOP/js/incident_summary.js" % appname)}}
