{{extend "layout.html"}}
{{=system_wide}}
<main role='main' class='main'>
 <div class='row'>
  <div role='complementary' class='callout event-parent'>
   <div class='callout-left'>
    <h1 class='title'>{{=event.name}}</h1>
    <!--<a href='#' class='button radius small'><i class='fa fa-share-alt'></i> Share Event</a>-->
    {{=bookmark_btn}}
   </div>
   <div class='callout-right meta'>
    <p>
     <span class='date-label'>Zero hour:</span> <span class='date'>{{=event.start_date}}</span>
     <span class='date-label'>Closed:</span> <span class='date'>{{=event.end_date}}</span>
     <span class='location adr'>{{=event.location}}</span>
    </p>
    <p>
     {{=event.incidents}}
     {{=event.resources}}
     {{=event.updates}}
    </p>
    <span class='label {{=event.status}}'>{{=event.status}}</span>
   </div>
  </div>
 </div>
 <div class='row'>
  <div class='small-12 columns'>
   <p>{{=event.desc or ""}}</p>
  </div>
 </div>
 <div class='row well'>
  <div class='small-12 columns'>
   {{=XML(map)}}
  </div>
 </div>
 <div class='row well'>
  <div class='medium-8 columns'>
   <h3>Incidents</h3>
   {{=event_incident_datatable}}
  </div>
  <div class='medium-4 columns'>
   <h3>Resources</h3>
   {{=event_team_datatable}}
  </div>
 </div>
<div class='row'>
 <div class='small-12 column'>
  <ul class='tabs tab-navigation' data-tab>
   <li class='tab-title active'><a href='#panel1'>Updates</a></li>
   <li class='tab-title'><a href='#panel2'>Directories</a></li>
   <li class='tab-title'><a href='#panel3'>Tasks</a></li>
  </ul>
  <div class='tabs-content'>
   <div class='content active' id='panel1'>
    <div class='row'>
     <div class='large-3 columns'>
      {{=create_post_button}}
      {{=filter_form}}
     </div>
     <div class='large-9 columns'>
      <ul class='dl' id='updates_datalist'>
       {{=updates_datalist}}
      </ul>
     </div>
    </div>
   </div>
   <section class='staff content' id='panel2'>
    <div class='row'>
     <ul class='large-3 columns tabs vertical' data-tab>
      <li class='tab-title active'><a href='#staff'>Staff</a></li>
      <li class='tab-title'><a href='#organisations'>Organizations</a></li>
     </ul>
     <div class='large-9 columns'>
      <div class='tabs-content'>
       <div class='row collapse prefix-radius content active' id='staff'>
        <div class='large-2 columns'>
         <label for='event_human_resource-search' class='prefix'>Search</label>
        </div>
        <div class='large-6 columns' id='dt-search-event_human_resource'></div>
        <div class='large-4 columns'>
         {{=create_event_human_resource_popup}}
        </div>
        <div id='dt-event_human_resource'>
         {{=event_human_resource_datatable}}
        </div>
       </div>
       <div class='row collapse prefix-radius content' id='organisations'>
        <div class='large-2 columns'>
         <label for='event_organisation-search' class='prefix'>Search</label>
        </div>
        <div class='large-6 columns' id='dt-search-event_organisation'></div>
        <div class='large-4 columns'>
         {{=create_event_organisation_popup}}
        </div>
        <div id='dt-event_organisation'>
         {{=event_organisation_datatable}}
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section class='tasks content' id='panel3'>
    <div class='row collapse prefix-radius'>
     <div class='large-2 columns'>
      <label for='project_task-search' class='prefix'>Search</label>
     </div>
     <div class='large-6 columns' id='dt-search-project_task'></div>
     <div class='large-4 columns'>
      {{=create_project_task_popup}}
     </div>
     <div id='dt-project_task'>
      {{=project_task_datatable}}
     </div>
    </div>
   </section>
  </div>
 </div>
</div>
</main>
{{include "dataLists.html"}}
{{include "dataTables.html"}}
{{s3.scripts.append("/%s/static/themes/WACOP/js/bookmarks.js" % appname)}}
