{{extend "layout.html"}}
{{=system_wide}}
<main role='main' class='main'>
 <div class='row'>
  <div class='small-9 columns'>
   <div class='row well'>
    <div id='ff' class='medium-4 columns'>
     {{=filter_form}}
    </div>
    <div id='map-here' class='medium-8 columns'>
    {{if _map:}}
     {{=XML(_map)}}
    {{pass}}
    </div>
   </div>
   <div class='row well'>
    <ul class='tabs tab-navigation' data-tab>
      <li class='tab-title active'><a href='#panel1'>Resources</a></li>
      <li class='tab-title'><a href='#panel2'>Reports</a></li>
    </ul>
    <div class='tabs-content'>
      <section class='content active' id='panel1'>
        <div class='row'>
          <div class='medium-12 columns'>
            {{=pr_group_datatable}}
          </div>
        </div>
      </section>
      <section class='content' id='panel2'>
        <div class='row'>
          <div class='medium-12 columns'>
            {{=pr_group_report}}
          </div>
        </div>
      </section>
    </div>
   </div>
  </div>
  <div class='small-3 columns'>
   <div class='panel clearfix'>
     <h3>Active Resources</h3>
    {{=event_team_datatable}}
   </div>
   <div class='rss-feed'>
     <!-- RSS Feed goes here -->
   </div>
  </div>
 </div>
</main>
{{include "dataTables.html"}}
{{s3.scripts.append("/%s/static/themes/WACOP/js/resize_map.js" % appname)}}
