<div class='row'>
 <div class='small-12 column'>
  <ul class='tabs tab-navigation' data-tab>
   <li class='tab-title active'><a href='#panel1'>Updates</a></li>
   <li class='tab-title'><a href='#panel2'>Staff</a></li>
   <li class='tab-title'><a href='#panel3'>Organizations</a></li>
   <li class='tab-title'><a href='#panel4'>Tasks</a></li>
  </ul>
  <div class='tabs-content'>

   <section class='content active' id='panel1'>
    <div class='row'>
     <div class='large-3 columns'>
      {{=create_post_button}}
      {{=filter_form}}
     </div>
     <div class='large-9 columns'>
       {{=updates_datalist}}
     </div>
    </div>
   </section>

   <section class='staff content' id='panel2'>
     <div class='row'>
       <div class='large-3 columns'>
         {{=create_event_human_resource_popup}}
         <div class='panel'>
           <div class='search-wrapper' id='dt-search-event_human_resource'>
             <span class='search-icon'><i class='fa fa-search'></i></span>
           </div>
         </div>
       </div>
       <div class='large-9 columns'>
         <div id='dt-event_human_resource'>
           {{=event_human_resource_datatable}}
         </div>
       </div>
     </div>
   </section>

   <section class='organization content' id='panel3'>
     <div class='row'>
       <div class='large-3 columns'>
         {{=create_event_organisation_popup}}
         <div class='panel'>
           <div class='search-wrapper' id='dt-search-event_organisation'>
             <span class='search-icon'><i class='fa fa-search'></i></span>
           </div>
         </div>
       </div>
       <div class='large-9 columns'>
         <div id='dt-event_organisation'>
           {{=event_organisation_datatable}}
         </div>
       </div>
     </div>
   </section>

   <section class='tasks content' id='panel4'>
     <div class='row'>
       <div class='large-3 columns'>
         {{=create_project_task_popup}}
         <div class='panel'>
           <!--
           <div class='search-wrapper' id='dt-search-project_task'>
             <span class='search-icon'><i class='fa fa-search'></i></span>
           </div>-->
           {{=project_task_filter_form}}
         </div>
       </div>
       <div class='large-9 columns'>
         <div id='dt-project_task'>
           {{=project_task_datatable}}
         </div>
       </div>
     </div>
   </section>
  </div>
 </div>
</div>
