<div class='row'>
 <div class='small-12 column'>
  <ul class='tabs tab-navigation' data-tab>
   <li class='tab-title active'><a href='#panel1'>Updates</a></li>
   <li class='tab-title'><a href='#panel2'>Directories</a></li>
   <li class='tab-title'><a href='#panel3'>Tasks</a></li>
  </ul>
  <div class='tabs-content'>
   <div class='content active' id='panel1'>
    <div class='row'>
     <div class='large-3 columns'>
      {{=create_post_button}}
      {{=filter_form}}
     </div>
     <div class='large-9 columns'>
      <ul class='dl' id='updates_datalist'>
       {{=updates_datalist}}
      </ul>
     </div>
    </div>
   </div>
   <section class='staff content' id='panel2'>
    <div class='row'>
     <ul class='large-3 columns tabs vertical' data-tab>
      <li class='tab-title active'><a href='#staff'>Staff</a></li>
      <li class='tab-title'><a href='#organisations'>Organizations</a></li>
     </ul>
     <div class='large-9 columns'>
      <div class='tabs-content'>
       <div class='row collapse prefix-radius content active' id='staff'>
        <div class='large-8 columns'>
            <div class='search-wrapper' id='dt-search-event_human_resource'>
              <span class='search-icon'><i class='fa fa-search'></i></span>
            </div>
        </div>
        <div class='large-4 columns'>
         {{=create_event_human_resource_popup}}
        </div>
        <div id='dt-event_human_resource'>
         {{=event_human_resource_datatable}}
        </div>
       </div>
       <div class='row collapse prefix-radius content' id='organisations'>
        <div class='large-8 columns'>
            <div class='search-wrapper' id='dt-search-event_organisation'>
              <span class='search-icon'><i class='fa fa-search'></i></span>
            </div>
        </div>
        <div class='large-4 columns'>
         {{=create_event_organisation_popup}}
        </div>
        <div id='dt-event_organisation'>
         {{=event_organisation_datatable}}
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section class='tasks content' id='panel3'>
    <div class='row collapse prefix-radius'>
        <div class='large-8 columns'>
            <div class='search-wrapper' id='dt-search-project_task'>
              <span class='search-icon'><i class='fa fa-search'></i></span>
            </div>
        </div>
     <div class='large-4 columns'>
      {{=create_project_task_popup}}
     </div>
     <div id='dt-project_task'>
      {{=project_task_datatable}}
     </div>
    </div>
   </section>
  </div>
 </div>
</div>