{{extend "layout.html"}}
<div id='home'>
<h2>Contact us</h2>
<h4>Sahana Software Foundation</h4>
If you feel that something is wrong or missing, you may report your problem online:
<ul>
    <li><a href='http://eden.sahanafoundation.org/newticket' target='_blank'>Log a new Ticket</a></li>
</ul>
Please read our:
<ul>
    <li><a href='http://eden.sahanafoundation.org/wiki/BugReportingGuidelines' target='_blank'>Bug Reporting Guidelines</a></li>
</ul>
You can also try to get:
<ul>
    <li><a class='link' target='_blank' href='http://eden.sahanafoundation.org/wiki/Chat' title='Chat'>{{=T("Live Help")}}</a>
</ul>
<p style='padding-top:20px;'>
<strong><i>You can change the contents of this page by editing views/default/contact.html</i></strong>
</p>
</div>


