{{extend "layout.html"}}
<div id="home">
{{if request.args(0) == "login":}}
 {{=H2(T("Login"))}}
 {{include "auth/_login.html"}}
{{elif request.args(0) == "register":}}
 {{=H2(T("Register"))}}
 {{include "auth/_register.html"}}
{{if session.s3.debug:}}
  {{if session.s3.cdn:}}
{{s3.scripts.append( "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js" )}}
  {{else:}}
{{s3.scripts.append( "%s/jquery.validate.js" % s3_script_dir )}}
  {{pass}}
 {{else:}}
  {{if session.s3.cdn:}}
{{s3.scripts.append( "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js" )}}
  {{else:}}
{{s3.scripts.append( "%s/jquery.validate.min.js" % s3_script_dir )}}
 {{pass}}
{{pass}}
{{elif request.args(0) == "profile":}}
 {{=H2(T("User Profile"))}}
 <div class="form-container">
 {{=form}}
 </div>
{{elif request.args(0) == "change_password":}}
 {{=H2(T("Change Password"))}}
 {{=form}}
{{if session.s3.debug:}}
  {{s3.scripts.append( "%s/jquery.pstrength.1.3.js" % s3_script_dir )}}
{{else:}}
  {{s3.scripts.append( "%s/jquery.pstrength.1.3.min.js" % s3_script_dir )}}
{{pass}}
{{s3.jquery_ready.append("$('.password:eq(1)').pstrength();")}}
{{elif request.args(0) == "reset_password":}}
 {{=H2(T("Reset Password"))}}
<div class="form-container">
 {{=form}}
</div>
{{elif request.args(0) == "retrieve_password":}}
 {{=H2(T("Retrieve Password"))}}
 <div class="form-container">
 {{=form}}
 </div>
{{pass}}
</div>
