{{extend "layout.html"}}
<h2>{{=response.title}}</h2>
{{youtube_id = settings.get_youtube_id()}}
{{try:}}
  {{youtube_id[0]["id"] #Test if it is a list of videos}}
  <ul id='video-table-of-contents'>
  {{for video in youtube_id:}}
    <li><a href='#{{=video["id"]}}'>{{=video["title"]}}</a></li>
  {{pass}}
  </ul>
  {{for video in youtube_id:}}
    <h3 id='{{=video["id"]}}' class='video-header'>{{=video["title"]}}</h3>
    <iframe width="960" height="720" src="//www.youtube.com/embed/{{=video["video_id"]}}" frameborder="0" allowfullscreen></iframe>
    <br/><br/>
  {{pass}}
{{except:}}
  <iframe width="960" height="720" src="//www.youtube.com/embed/{{=youtube_id}}" frameborder="0" allowfullscreen></iframe>
{{pass}}
</div>
