{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{% trans "View proposal" %} {{ proposal.id }} {% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% endif %}
{% endblock %}
  
{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        function upvote() {
            $.post("../add_support_vote/", {
                propid: {{ proposal.id }},
            });
         }
    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span11">
            <div id="proposal-wrapper">
                {% if perms.proposals.add_proposal %}
                <div id="tools">
                    <a href="{% url 'add-proposal' get_place.url %}"><img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add proposal' %}" title="{% trans 'Add proposal' %}"/></a> 
                    {% if perms.proposals.edit_proposal %}
                        <a href="{% url 'edit-proposal' get_place.url proposal.id %}"><img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/></a> 
                    {% endif %}
                    {% if perms.proposals.delete_proposal %}
                        <a href="{% url 'delete-proposal' get_place.url proposal.id %}"><img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/></a>
                    {% endif %}
                </div>
                {% endif %}
                <div id="votes">
                    <span style="font-size:30px;text-align:center;">
                        {{ proposal.support_votes }}
                    </span><br/>
                    <form id="ajaxform" enctype="" action="" method="post">{% csrf_token %}
                        <a href="javascript:upvote()" class="btn small">apoyar</a>
                    </form>
                </div>
                <!-- Here goes the voting button -->
                <div id="proposal">
                    <div class="title">{{ proposal.title }}</div>
                    <div class="message">{{ proposal.description|safe }}</div>
                    <div class="creator">{% trans "proposed by " %} {{ proposal.author }} {% trans " at " %} {{ proposal.pub_date }}</div>
                </div>
                <div style="clear:left;"></div>
            </div>
      
            <p>{% render_comment_list for proposal %}</p>
      
            <p>{% render_comment_form for proposal%}</p>
        </div>
        
        <div class="span5">
            <h4></h4>
        </div>
    </div>

{% endblock %}
