{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Add proposal" %}{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}
  <div class="grid_11">

    <div id="contenttitles">
      {% trans "Add proposal" %}
    </div>

    <form action="" method="post">{% csrf_token %}
      {{ form.non_field_errors }}

      <div class="fieldWrapper">
        {{ form.title.errors }}
        <label for="id_name">{% trans "Title" %}:</label>
        <p>{{ form.title }}</p>
        <p id="form_help_text">{{ form.title.help_text }}</p>
      </div>

      <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="id_description">{% trans "Description" %}:</label>
        <p>{{ form.description }}</p>
        {% wysiwyg_editor "id_description" %}
      </div>

      <div class="fieldWrapper">
        {{ form.latitude.errors }}
        <label for="id_logo">{% trans "Latitude" %} {% trans "(optional)" %}:</label>
        {{ form.latitude }}
      </div>

      <div class="fieldWrapper">
        {{ form.longitude.errors }}
        <label for="id_banner">{% trans "Longitude" %} {% trans "(optional)" %}:</label>
        {{ form.longitude }}
      </div>

      <div class="fieldWrapper">
        {{ form.tags.errors }}
        <label for="id_banner">{% trans "Tags" %} {% trans "(optional)" %}:</label>
        {{ form.tags }}
      </div>

      {{ form.space.as_hidden }}
      {{ form.author.as_hidden }}
      {{ form.support_votes.as_hidden }}

      <hr />
      <p class="buttons">
        <input type="submit" value="{% trans 'Create' %}" />
        <a href="../../" class="pagebutton">{% trans "Cancel" %}</a>
      </p>
    </form>
  </div>

  {% block rightcol %}
    <div class="grid_5">
      <div id="widget">
        {% if user.is_staff %}
            <h2>{% trans "Admins/moderators read this" %}</h2>
            <p class="instructions">{% trans "There are a lot more options in the proposals but they will appear only when you edit the proposal."%}</p>
        {% endif %}
        <h2>{% trans "How to add new proposals" %}</h2><br/>
        <ul class="instructions">
          <li><strong>{% trans "Title" %}</strong>: {% trans "Title resuming the proposal, be concise (50 characters)" %}</li>
          <li><strong>{% trans "Description" %}</strong>: {% trans "Describe here your proposal with detail. You can add images or any other content." %}</li>
          <li><strong>{% trans "Latitude/Longitude" %}</strong>: {% trans "You'll have to put this if you want to locate the proposal in a map." %}</li>
          <li><strong>{% trans "Tags" %}</strong>: {% trans "Relevant tags for the proposal, p.e. where the proposal is localted, what is related to it, etc." %}</li>
        </ul>
      </div>
    </div>
  {% endblock %}
{% endblock %}

