{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Add proposal" %}{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}
  <div class="grid_11">
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form.as_p }}

        <hr />
        <p class="buttons">
          <input type="submit" value="{% trans 'Save' %}" />
          <a href="../../" class="pagebutton">{% trans "Cancel" %}</a>
        </p>
    </form>
  </div>
{% endblock %}
