{{extend "layout.html"}}
<div id='home'>
<h1>{{=title}}</h1>
<div class='subscribe-button'>
{{fn = "alert" if current.auth.s3_logged_in() else "public"}}
  <a href='/{{=appname}}/cap/{{=fn}}.rss' target='_blank'><i class='fa fa-rss'></i>{{=T("RSS Feeds")}}</a>
</div>
<div class='large-3 columns'>
<fieldset>
 <legend>
  {{=T("Filter Options")}}
  <button id='alert-filter-form-show' class='toggle-text btn' type='button' style='display:inline-block'>{{=T("Show")}}</button>
  <button id='alert-filter-form-hide' class='toggle-text btn' type='button' style='display:none'>{{=T("Hide")}}</button>
 </legend>
 <div id='alert-filter-form' style='display:none'>
  {{=alert_filter_form}}
 <div>
</fieldset>
{{=cap_alert_datalist}}
</div>
<div class='large-6 columns'>
{{=_map}}
</div>
<div class='large-3 columns' id='newsfeed'>
<h3>{{=T("News Feeds")}}</h3>
{{#=news_filter_form}}
{{=cms_post_datalist}}
</div>
</div>
{{include "dataLists.html"}}
