{{extend "layout.html"}}
<div class='row'>
 <div class='small-12 columns'>
  {{try:}}{{=H2(title)}}{{except:}}{{pass}}
 </div>
</div>
{{try:}}{{rheader=rheader}}{{except:}}{{rheader=None}}{{pass}}
{{if rheader:}}
<div id='rheader' class='row'>
 <div class='small-12 columns'>
  {{=XML(rheader)}}
 </div>
</div>
{{pass}}
<div id='component' class='row'>
 <div class='small-12 columns'>
  {{include "key.html"}}
  <div class='form-container'>
   {{try:}}{{=form}}{{except:}}{{pass}}
  </div>
 </div>
</div>
{{if s3.rfooter:}}
<div id='rfooter' class='row'>
  <div class='small-12 columns'>
   {{=XML(s3.rfooter)}}
  </div>
</div>{{pass}}
