{{extend "layout.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<a href='{{=URL(f="export_csv")}}'>Export entire Database as CSV</a>{{=DIV( _class="tooltip", _title=T("Export Database as CSV") + "|" + T("This is the way to transfer data between machines as it maintains referential integrity."))}}
<p>&nbsp;</p>
<div class='form-container'>
Selective export:
<form id="exporter" action="/eden/module/resource?format=representation" method="GET">
    <table>
    <tr><td>Module:</td><td>
    <select id="module" name="module">
     <option value="org">Organization Registry</option>
     <option value="pr">Person Registry</option>
     <option value="cr">Shelter Registry</option>
     <option value="gis">Situation Awareness</option>
     <option value="budget">Budgetting</option>
    </select>
    </td></tr>
    <tr><td>Resource:</td><td>
    <select id="resource" name="resource">
     <option value="organisation">Organization</option>
     <option value="office">Office</option>
    </select>
    </td></tr>
    <tr><td>Format:</td><td>
    <select id="representation" name="representation">
     <option value="csv">CSV</option>
     <option value="json">JSON</option>
     <option value="xml">XML</option>
    </select>
    </td></tr>
    <tr><td></td><td>
    <input id="submit" type="submit" value="Download"/>
    </td></tr>
    </table>
</form>
</div>
<div id='results'></div>
{{include 'admin/resources.js'}}
<script type="text/javascript">//<![CDATA[
$(function() {
    $("input#submit").click(function() {
        // Replace Action
        top.location="{{=URL3(r=request)}}/"+$("#module").val()+"/"+$("#resource").val()+"?format="+$("#representation").val()
        return false;
    })
});
//]]></script>