{{extend "layout.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
Import multiple tables as CSV:{{=DIV( _class="tooltip", _title=T("Import multiple tables as CSV") + "|" + T("This is the way to transfer data between machines as it maintains referential integrity...duplicate data should be removed manually 1st!"))}}
<div class='form-container'>
<form id='multi' action='{{=URL(f='import_csv_data')}}' method='POST' enctype='multipart/form-data'>
<input type='file' name='multifile'/>
<input id='multisubmit' type='submit' value='Upload'/>
</form>
</div>
<p>&nbsp;</p>
<div class='form-container'>
Selective import:
<form id='poster' action='/eden/module/resource/create?format=representation' method='POST' enctype='multipart/form-data'>
    <table>
    <tr><td>Module:</td><td>
    <select id='module' name='module'>
     <option value='org'>Organization Registry</option>
     <option value='pr'>Person Registry</option>
     <option value='gis'>Mapping</option>
     <option value='cr'>Shelter Registry</option>
     <option value='budget'>Budgetting</option>
    </select>
    </td></tr>
    <tr><td>Resource:</td><td>
    <select id='resource' name='resource'>
     <option value='organisation'>Organization</option>
     <option value='office'>Office</option>
    </select>
    </td></tr>
    <tr><td>Format:</td><td>
    <select id='representation' name='representation'>
     <option value='csv'>CSV</option>
     <option value='json'>JSON</option>
    </select>
    </td></tr>
    <tr id='file'><td>File:</td><td>
    <input type='file' name='filename'/>
    </td></tr>
    <tr id='textarea'><td>Data:</td><td>
    <textarea name='data' cols='100'>paste text here...</textarea>
    </td></tr>
    <tr><td></td><td>
    <input id='submit' type='submit' value='Upload'/>
    </td></tr>
    </table>
</form>
</div>
{{include "admin/resources.js"}}
<script type="text/javascript">//<![CDATA[
$(function() {
    // Hide the textarea
    $('#textarea').hide();
    // When the Representation changes:
	$('#representation').change(function() {
        // What is the new representation?
        representation=$(this).val();
        if (representation=='csv') {
            // Hide the textarea
            $('#textarea').hide();
            // Show the file upload
            $('#file').show();
        } else if (representation=='json') {
            // Hide the file upload
            $('#file').hide();
            // Show the textarea
            $('#textarea').show();
        }
    })
    $('#submit').click(function() {
        // Set the Action URL
        $('#poster').attr('action','{{=URL3(r=request)}}/'+$('#module').val()+'/'+$('#resource').val()+'/create?format='+$('#representation').val());
        return true;
    })
});
//]]></script>
