{{extend "layout.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<div id='rheader'>
{{try:}}
 {{=rheader}}
{{except:}}
 {{pass}}
</div>
<div id='table-container'>
<div>
{{try:}}
 {{=H4(rmvtitle)}}
{{except:}}
{{pass}}
{{include "key.html"}}
<div class='form-container'>
{{try:}}
 {{=rmvform}}
{{except:}}
{{pass}}
</div>
</div>
<div>
{{try:}}
 {{=H4(addtitle)}}
{{except:}}
{{pass}}
{{include "key.html"}}
<div class='form-container'>
{{try:}}
 {{=addform}}
{{except:}}
{{pass}}
{{try:}}
 {{=DIV(P(help_txt, _style="font-size:80%;"))}}
{{except:}}
{{pass}}
</div>
</div>
<div>
<h4></h4>
{{try:}}
 {{=list_btn}}
{{except:}}
{{pass}}
{{try:}}
 {{=add_btn}}
{{except:}}
{{pass}}
<p>&nbsp;</p>
</div>
</div>
