{{extend "layout.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<div id='rheader'>
{{try:}}
 {{=rheader}}
{{except:}}
 {{pass}}
</div>
{{try:}}
 {{=H3(subtitle)}}
{{except:}}
{{pass}}
<div class='form-container'>
{{try:}}
 {{=form}}
{{except:}}
{{pass}}
</div>
<p>&nbsp;</p>
{{try:}}
 {{=list_btn}}
{{except:}}
{{pass}}
{{try:}}
 {{=delete_btn}}
{{except:}}
{{pass}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
    $('input[name="role_name"]').attr('size', 44);
    $('.tacl-tab').click(function() {
        $('#table-acls').show()
        $('#function-acls').hide()
        $('#controller-acls').hide()
    });
    $('.facl-tab').click(function() {
        $('#function-acls').show()
        $('#controller-acls').hide()
        $('#table-acls').hide()
    });
    $('.cacl-tab').click(function() {
        $('#controller-acls').show()
        $('#function-acls').hide()
        $('#table-acls').hide()
    });
    {{try:}}
        {{if acl=="table":}}
            $('#table-acls').show()
            $('#controller-acls').hide()
            $('#function-acls').hide()
        {{elif acl=="function":}}
            $('#function-acls').show()
            $('#controller-acls').hide()
            $('#table-acls').hide()
        {{pass}}
    {{except:}}
    {{pass}}
});
//]]></script>
