<!-- @ToDo: Merge these with the code in s3aaa.py and use S3SQLCustomForm to implement  --->
{{form.attributes["_id"] = "regform"}}
{{form[0].insert(8, TR(
	TD(
		LABEL("%s:" % T("Verify password"))
	, _class="w2p_fl"), 
	TD()
))}}
{{form[0].insert(9, TR(
	TD(
	 	INPUT(_name="password_two", _id="password_two", _type="password")
	, _class="w2p_fw"),
	TD(_class="w2p_fc")
))}}
{{if deployment_settings.get_auth_registration_requests_mobile_phone():}}
  {{form[0].insert(-8, TR(
	TD(
		LABEL("%s:" % T("Mobile Phone"))
	, _class="w2p_fl"), 
	TD()
  ))}}
  {{form[0].insert(-8, TR(
	TD(
	 	INPUT(_name="mobile", _id="mobile", _class="string")
	, _class="w2p_fw"),
	TD(_class="w2p_fc")
  ))}}
{{pass}}