{{extend "layout.html"}}
<h2>{{=T("Terms of Service")}}</h2>
<h3>Scope</h3> 
<p>By using the Sahana System you agree to these Terms of Service.</p>

<h3>Code of Conduct</h3>
<ul>
<li>Users must ensure that the content they post is accurate to the best of their knowledge and has been checked</li>
<li>Users must not post content which is critical or offensive to other users or stakeholders</li>
<li>Users must have the approval of their organisation to post content.</li>
</ul>
<p>Sahana Facilitators may choose to moderate and either ban any user or edit any content which they believe has breached this Code of Conduct.</p>

<h3>Data</h3>
<p>All data added to Sahana will be publicly available and can be freely shared, copied, distributed and adapted.</p>