{{extend "layout.html"}}
{{=H1(title)}}
{{=H3(subtitle)}}
{{P(T("Select the overlays for Assessments and Activities relating to each Need to identify the gap."))}}
{{=TABLE(TR( IMG(_src="/%s/static/img/gap_map_assess.gif" % request.application),T("Assessments:") ),
	     TR( IMG(_src="/%s/static/img/gap_map_act.gif" % request.application), T("Activities:") ),
	     TR( IMG(_src="/%s/static/img/gap_map_met.gif" % request.application), T("Activities matching Assessments:") ),
	  	 )}}
	  	 &nbsp
{{=XML(map)}}