{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The Project module can be used to record Project Information and generate Who's Doing What Where reports.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=A(T("Projects"), _href=URL(f="project"))}} - {{=T("wider area, longer term, usually contain multiple Activities")}}</li>
<li>{{=A(T("Activities"), _href=URL(f="activity"))}} - {{=T("1 location, shorter time, can contain multiple Tasks")}}</li>
<li>{{=A(T("Tasks"), _href=URL(f="task"))}} - {{=T("an individual/team to do in 1-2 days")}}</li>
<li>{{=A(T("Who is doing What Where"), _href=URL(f="activity", args="report"))}} - {{=T("Report")}}</li>
<!--<li>{{=A(T("Gap Analysis Report"), _href=URL(f="gap_report"))}}</li>
<li>{{=A(T("Gap Analysis Map"), _href=URL(f="gap_map"))}}</li>-->
</ul>
</div>
