// ============================================================================
// THEME SETTINGS (can use Foundation variables here)
// ============================================================================

// ============================================================================
// MENUS
// ============================================================================
// Side menu border and background colors
$side_bar_bgcolor: #EEEEEE;
//$side_bar_bgcolor_active: #e0e1e2;
//$side_bar_border_color: $primary-color;
$side_bar_divider_color: #d0d1d2;

// ============================================================================
// RHEADERS
// ============================================================================
// Active tab
//$rheader_tabs_bgcolor_active: #ffffff;
//$rheader_tabs_bgcolor_active_hover: #f1edec;
//$rheader_tabs_fgcolor_active: #666666;
//$rheader_tabs_fgcolor_active_hover: #666666;

// Inactive tabs
//$rheader_tabs_bgcolor_inactive: $button-bg-color;
//$rheader_tabs_bgcolor_inactive_hover: $button-bg-hover;
//$rheader_tabs_fgcolor_inactive: #ffffff;
//$rheader_tabs_fgcolor_inactive_hover: #ffffff;

// ============================================================================
// ACTION BUTTONS
// ============================================================================
// Action buttons defaults
//$action_btn_bgcolor: $button-bg-color;
//$action_btn_bgcolor_hover: $button-bg-hover;
//$action_btn_fgcolor: white;
//$action_btn_fgcolor_hover: white;

// Standard action button
//$action_btn_bgcolor_default: $action_btn_bgcolor;
//$action_btn_bgcolor_default_hover: $action_btn_bgcolor_hover;
//$action_btn_fgcolor_default: $action_btn_fgcolor;
//$action_btn_fgcolor_default_hover: $action_btn_fgcolor_hover;

// Debug action button (debug toolbar in footer)
//$action_btn_bgcolor_debug: #dddddd;
//$action_btn_bgcolor_debug_hover: #a0a0a0;
//$action_btn_fgcolor_debug: $action_btn_fgcolor;
//$action_btn_fgcolor_debug_hover: $action_btn_fgcolor_hover;

// Alert action button (e.g. delete-button)
//$action_btn_bgcolor_alert: $alert-color;
//$action_btn_bgcolor_alert_hover: $alert-button-bg-hover;
//$action_btn_fgcolor_alert: $action_btn_fgcolor;
//$action_btn_fgcolor_alert_hover: $action_btn_fgcolor_hover;

// Disabled action buttons
//$action_btn_bgcolor_disabled: rgba(192,192,192,0.25);
//$action_btn_fgcolor_disabled: $action_btn_fgcolor_hover;

// ============================================================================
// FORMS
// ============================================================================
// Form/Item Container
//$form_container_bgcolor: #fefefe;
//$item_container_controls_bgcolor: #fafafa;

// Form Labels
//$form_label_color: black;

// Form Errors
//$form_error_bgcolor: $alert-color;

// ============================================================================
// DATATABLES
// ============================================================================
// Border
//$datatables_border_color: #cccccc;

// Even/odd rows background
//$datatables_bgcolor_even: #ffffff;
//$datatables_bgcolor_odd: #f7f8f9;
//$datatables_bgcolor_even_highlight: #fafafa;
//$datatables_bgcolor_odd_highlight: #f0f1f2;

// Header and footer
//$datatables_bgcolor_foot: #f7f8f9;
//$datatables_bgcolor_head: #ffffff;

// ============================================================================
// WIDGETS
// ============================================================================
// Comment feeds
//$comments_feed_item_bgcolor: #f5f5f5;

// Anonymize-Button
//$anonymize_button_bgcolor: $alert-color;
//$anonymize_button_bgcolor_hover: $alert-button-bg-hover;

// ============================================================================
// OTHER PAGE ELEMENTS
// ============================================================================
// Alerts
//$alert_border_color: #b2b2b2;
//$alert_box_shadow_color: #aaaaa7;

// Render page titles with background color
$title_background: false;
//$title_bgcolor: #f7f8f9;

// Throbber style [sunflower|simple]
//$throbber_style: sunflower;

// Footer
//$footer_bgcolor: transparent;
$footer_fgcolor: #767676; // Contrast of 4.5: 1 for AA accessibility (https://webaim.org/resources/contrastchecker/)
//$footer_min_height: null;
//$footer_top_margin: 20px;

// END ============================================================================
