@charset "UTF-8";

#footer {
    text-align: right;
    border-top: #fff 1px solid;
    margin-bottom: 1rem;
}
#poweredby {
    margin-right: 0.5rem;
}
#poweredby a {
    color: #999999;
    text-decoration: none;
    font-size: 0.8rem;
    margin-left: 0.2rem;
}
