.hd {
    display: inline-block;
    padding-top: 12px;
    padding-left: 12px;
    height: 48px;
    width: 48px;
}
.hd:hover {
    border-radius: 100%;
    background-color: #f0f0f0;
}
.ha {
    height: 24px;
    width: 24px;
}
.hdp {
    display: inline-block;
    padding-top: 6px;
    padding-left: 6px;
    height: 48px;
    width: 48px;
}
.ip {
    border-radius: 100%;
    position: relative;
    bottom: 120px;
    vertical-align: inherit;
}