@charset "UTF-8";

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
    width: 1170px;
}

.carousel {
    line-height: 1;
    position: relative;
}

#title-image {
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@font-face {
    font-family: "NeoSans";
    src: url("../../fonts/NeoSans.otf") format("opentype");
}

.image-caption {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    margin-left: 52px;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 360px;
    width: 550px;
    z-index: 900;
}

.image-caption h1,
.image-caption p {
    color: #444444;
    font-family: NeoSans;
    font-weight: normal;
    margin: 0;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

a.btn.btn-register {
    margin-left: 10px;
    padding: 10px 30px;
    margin-top: 19px;
}

a.btn.btn-custom.btn-login {
    margin-top: 20px;
    padding: 10px 40px;
}

.btn-custom {
    background-color: hsl(201, 76%, 42%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d96d7", endColorstr="#1983bc");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#1d96d7), to(#1983bc));
    background-image: -moz-linear-gradient(top, #1d96d7, #1983bc);
    background-image: -ms-linear-gradient(top, #1d96d7, #1983bc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d96d7), color-stop(100%, #1983bc));
    background-image: -webkit-linear-gradient(top, #1d96d7, #1983bc);
    background-image: -o-linear-gradient(top, #1d96d7, #1983bc);
    background-image: linear-gradient(#1d96d7, #1983bc);
    border-color: #1983bc #1983bc hsl(201, 76%, 40.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
    -webkit-font-smoothing: antialiased;
}

#homepage-about h2 {
    font-size: 22px;
    font-weight: 300;
    margin-top: 23px;
    text-align: center;
    color: #222222;
    position: relative;
    line-height: 1;
}

p.quote.mb4 {
    margin-bottom: 0;
    color: #908d8d;
    font-size: 15px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -2px;
}

#what-they-do {
    padding-top: 20px;
    padding-bottom: 20px;
}

#what-they-do h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
    color: #4e4e4d;
    text-align: left!important;
}

#what-they-do .icon-bookmark-empty {
    color: #1c94d4;
}