@charset "UTF-8";

.main-content {
    background-color: #4374EF!important;
    min-height: 0!important;
}

.main-content #content {
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 0!important;
}

.container .caption {
    text-align: center;
    color: white;
    padding-top: 1.8rem;
}
.container .caption p {
    font-size: 1.4rem;
}

