// Top bar
$top_bar_bgcolor: #0C0E0F;
$top_bar_bgcolor_hover: #BDB6B0;
$top_bar_bgcolor_active: #73726F;
$top_bar_bgcolor_active_hover: #BDB6B0;

// Side menu
$side_nav_bgcolor: #BDB6B0;
$side_nav_fgcolor: #222222;
$side_nav_bgcolor_hover: #F1EDEC;
$side_nav_fgcolor_hover: #222222;
$side_nav_bgcolor_active: #73726F;
$side_nav_fgcolor_active: #FFFFFF;
$side_nav_color_section_divider: #ADA6A0;
$side_nav_color_divider_item: #FFFFFF;

// RHeader tabs
$rheader_tabs_fgcolor_inactive: #ffffff;
$rheader_tabs_fgcolor_inactive_hover: #ffffff;
$rheader_tabs_bgcolor_inactive: #2ba6cb;
$rheader_tabs_bgcolor_inactive_hover: #1f7994;
$rheader_tabs_fgcolor_active: #666666;
$rheader_tabs_fgcolor_active_hover: #666666;
$rheader_tabs_bgcolor_active: #ffffff;
$rheader_tabs_bgcolor_active_hover: #f1edec;

// Datatables
$datatables_bgcolor_odd: #F7F8F9;
$datatables_bgcolor_odd_highlight: #F0F1F2;
$datatables_bgcolor_even: #FFFFFF;
$datatables_bgcolor_even_highlight: #FAFAFA;
$datatables_border_color: #CCCCCC;
$datatables_bgcolor_head: #FFFFFF;
$datatables_bgcolor_foot: #F7F8F9;

// Action buttons
$action_btn_fgcolor_debug: #ffffff;
$action_btn_bgcolor_debug: #DDDDDD;
$action_btn_fgcolor_debug_hover: #ffffff;
$action_btn_bgcolor_debug_hover: #A0A0A0;
$action_btn_fgcolor_default: #ffffff;
$action_btn_bgcolor_default: #2ba6cb;
$action_btn_fgcolor_default_hover: #ffffff;
$action_btn_bgcolor_default_hover: #1f7994;
$action_btn_fgcolor_alert: #ffffff;
$action_btn_bgcolor_alert: #c60f13;
$action_btn_fgcolor_alert_hover: #ffffff;
$action_btn_bgcolor_alert_hover: #a20c10;
$action_btn_fgcolor_disabled: #ffffff;
$action_btn_bgcolor_disabled: #c0c0c0;

// Forms
$form_container_bgcolor: #fefefe;
$form_error_bgcolor: #c60f13;
$item_container_controls_bgcolor: #fafafa;

// Alerts
$alert_border_color: #B2B2B2;
$alert_box_shadow_color: #AAAAA7;
