/* Miscellaneous */

/* Homepage hacks */
#login_form,
#register_form,
#login_box {
    clear: none !important;
}
.button-home {
    width: 135px;
    padding-left: 1rem;
    padding-right: 1rem;
}
h4 {
    margin-bottom: 50px
}
#incident-report-btn {
    padding-top: 7px;
    padding-bottom: 7px;
}
.row.home-top {
    margin-top: 20px;
}