{{try:}}{{=H2(title, _class="summary")}}{{except:}}{{pass}}
<div id='summary-common'>
{{try:}}{{for section in common:}}{{=section}}{{pass}}{{except:}}{{pass}}
</div>
<div id='summary-tabs'>
 <div id='summary-tab-headers'>
  {{try:}}{{=tabs}}{{except:}}{{pass}}
 </div>
 <div id='summary-sections'>
  {{try:}}{{for section in sections:}}{{=section}}{{pass}}{{except:}}{{pass}}
 </div>
 <div id='filter-form' class='form-container'>
  <label id='filter-form-title'>
   {{=T("Filter")}}
  </label>
  {{try:}}{{=filter_form}}{{except:}}{{pass}}
 </div>
</div>
{{include "dataTables.html"}}
