{{try:}}{{=H2(title, _class="summary")}}{{except:}}{{pass}}
<div id='summary-common'>
{{try:}}{{for section in common:}}{{=section}}{{pass}}{{except:}}{{pass}}
</div>
<div id='summary-tabs'>
 <div id='summary-tab-headers'>
  {{try:}}{{=tabs}}{{except:}}{{pass}}
 </div>
 <div id='summary-sections'>
  {{try:}}{{for section in sections:}}{{=section}}{{pass}}{{except:}}{{pass}}
 </div>
 <div id='filter-form' class='form-container'>
  {{try:}}{{=filter_form}}{{except:}}{{pass}}
 </div>
</div>
{{if s3.debug:}}
{{s3.scripts.append("/%s/static/scripts/S3/s3.jquery.ui.pivottable.js" % appname)}}
{{s3.scripts.append("/%s/static/scripts/flot/jquery.flot.js" % appname)}}
{{s3.scripts.append("/%s/static/scripts/flot/jquery.flot.pie.js" % appname)}}
{{else:}}{{s3.scripts.append("/%s/static/scripts/S3/s3.pivotTables.min.js" % appname)}}{{pass}}
{{include "dataTables.html"}}
{{include "dataLists.html"}}
