{{try:}}{{=H2(A(title_list,
                _href = URL(args="summary")),
              " ",
              I(_class="icon-chevron-right"),
              " ",
              T("Update")
              )}}{{except:}}{{pass}}
<div id='rheader'>
{{try:}}{{=XML(rheader)}}
 </div>
 <div id='component'>
{{except:}}
</div>
<div>
 {{pass}}
{{try:}}{{=H3(subtitle)}}{{except:}}{{pass}}
{{try:}}{{=deduplicate}}{{except:}}{{pass}}
<div id='map'></div>
{{include "last_update.html"}}
{{include "key.html"}}
<div class='form-container'>
{{try:}}{{=form}}{{except:}}{{pass}}
 <a href='{{=URL(args=[r.id, "read"])}}' class='btn btn-danger cancel' type='button'>
  {{=T("Cancel")}}
 </a>
</div>
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
