<footer id='page-footer'>
 <div class='container'>
  <div class='row'>
   <div class='span3'></div>
   <div class='span3'></div>
   <div class='span3'></div>
   <div id='footer-partner-logos' class='span3 hide-on-mobile'>
    <p class='pull-right'><a target='_blank' href='http://eden.sahanafoundation.org' title='A Sahana Eden Site'><img src='/{{=appname}}/static/img/sahanasmall_05.png' width='92' height='41' style='vertical-align:middle' alt='{{=T("A Sahana Eden Site")}}' /></a></p>
   </div>
  </div>
 </div>
</footer>