<footer id='page-footer'>
 <div class='container'>
  <div id='footer-copyrights' class='clearfix pt4'>
   <p class='pull-left extra-small'>
    <img src='/{{=appname}}/static/img/S3menu_logo.png' width='30' height='28' style='vertical-align:middle' alt='{{=T("Powered by Sahana Eden")}}' />{{=T("Powered by")}} <a target='_blank' href='http://eden.sahanafoundation.org' title='Sahana Eden'>Sahana Eden</a>
   </p>
   <p class='pull-right extra-small hide-on-mobile'>{{=T("Built by")}} <a href="http://aidiq.com">AidIQ</a></p>
  </div>
 </div>
</footer>