<script type="text/javascript">//<![CDATA[
$(document).ready(function() {
    sync_show_row = function(id) {
        $('#' + id + '__row1').removeClass('hide');
        $('#' + id + '__row').removeClass('hide');
        val = $('#sync_job_repeat_interval').val();
        $('#intvstr').remove();
        if (val == 1) {
            intvstr = '{{=T("minutes")}}';
        } else if (val == 2) {
            intvstr = '{{=T("hours")}}';
        } else if (val == 3 ) {
            intvstr = '{{=T("days")}}';
        } else if (val == 4 ) {
            intvstr = '{{=T("weeks")}}';
        } else {
            return;
        }
        $('#sync_job_repeat_rate').after('<span id="intvstr">&nbsp;' + intvstr + '</span>');
    }
    sync_hide_row = function(id) {
        $('#' + id + '__row1').addClass('hide');
        $('#' + id + '__row').addClass('hide');
    }
    sync_toggle_rows = function() {
        val = $('#sync_job_repeat_interval').val();
        if (val in [1, 2, 3, 4]) {
            // time interval
            sync_show_row('sync_job_repeat_rate');
        } else {
            // once
            sync_hide_row('sync_job_repeat_rate');
        }
    }
    $('#sync_job_repeat_interval').change(sync_toggle_rows);
    sync_toggle_rows();
});
//]]></script>
