{% extends "base_2col.html" %}
{% load i18n %}

{% block title %}{% trans 'E-mail change processed' %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block nav-main %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block content %}
	<div class="notice">
		<h3>{% trans 'E-mail change processed' %}</h3>
		<p>{% trans "An e-mail has been sent to the new e-mail address to verify and activate it. Please access to your e-mail and complete this process following the instructions specified in the e-mail body" %}.</p>
	</div>
{% endblock %}

{% block content-related %}
  <div class="box">
    <h3>{% trans "Add e-mail" %}</h3>
    <p>{% trans "Insert the new e-mail address. An e-mail will be send to it for testing and confirmation" %}.</p>
  </div>
{% endblock %}
