{% extends "base_2col.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change for' %} {{ user }}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript">
	$(function() {
		$("#id_new_password1").focus();
		$("input[type='password']").addClass("text");
	});
</script>
{% endblock %}

{% block nav-main %}
{% include "userprofile/menu.html" %}
{% endblock %}

{% block content %}

{% if validlink %}

	<form action="" method="post" accept-charset="utf-8">
	<fieldset>
		<label for="id_new_password1">{% trans "New password" %}</label>
		<p>{{ form.new_password1 }}
			{% if form.new_password1.errors %}
				<span class="quiet red"><br />* {{ form.new_password1.errors|join:"; " }}</span>
			{% endif %}
		</p>
		<label for="id_new_password2">{% trans "Confirm password" %}</label>
		<p>{{ form.new_password2 }}
			{% if form.new_password2.errors %}
				<span class="quiet red"><br />* {{ form.new_password2.errors|join:"; " }}</span>
			{% endif %}
		</p>
		{% if form.non_field_errors %}
			<ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
		{% endif %}
	</fieldset>
	<p><input type="submit" value="{% trans 'Change' %}" /></p>
	</form>

{% else %}
  <div class="error">
		<h3>{% trans 'Password reset unsuccessful' %}</h3>
		<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
  </div>
{% endif %}
{% endblock %}

{% block content-related %}
	<div class="box">
		<h3>{% trans 'Password reset' %}</h3>
		<p>{% trans "Password reset utility page. Please enter your new password twice so we can verify you typed it in correctly" %}.</p>
	</div>
{% endblock %}

