// ============================================================================
// Styles for Menus
// ============================================================================
// VARIABLES

// Foundation variables used:
$side-nav-list-type: none !default;
$side-nav-list-position: inside !default;
$side-nav-link-color-hover: scale-color($side-nav-link-color, $lightness: 30%) !default;
$side-nav-link-bg-hover: hsla(0, 0, 0, .025) !default;

// Side menu border and background colors
// (Foundation side-nav has no background, this is added here)
$side_bar_bgcolor: #d7d8d9 !default;
$side_bar_bgcolor_active: #e0e1e2 !default;
$side_bar_border_color: #c0c1c2 !default;
$side_bar_divider_color: $side_bar_border_color !default;

// ============================================================================
// STYLES

/* Top bar */
.top-bar {
    &.expanded {
        width: 100%;
    }
    z-index: 1000;
    /* Menu logo */
    .logo {
        color: white;
        display: inline-block;
        font-size: 1.1rem;
        font-weight: bold;
        height: 35px;
        padding: 0.625rem 0.5rem 0 0.7rem;
        text-transform: uppercase;
    }
    .menu-toggle input {
        margin-right: 5px;
    }
    li.name {
        padding-top: 0.2rem;
    }
    .home-link {
        font-size: 1.375rem;
        color: white;
        padding: 0.5rem;
    }
}
.top-bar-section li.menu-home a {
    font-weight: bold !important;
    font-size: 1.4em !important;
    text-transform: capitalize !important;
}

/* Side Menu */
.sidebar {
    background: none repeat scroll 0 0 $side_bar_bgcolor;
    margin-top: 10px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.side-nav {
    li {
        list-style-type: $side-nav-list-type;
        list-style-position: $side-nav-list-position;
        line-height: 1.2;
        padding: 0;

        &.heading {
            margin-top: 0.125rem;

            &:not(:first-child) {
                border-top: 1px solid $side_bar_divider_color;
            }
        }
        &.active {
            & > a:first-child:not(.button) {
                font-weight: bold;
                background-color: $side_bar_bgcolor_active;
                &:hover {
                    color: $side-nav-link-color-hover;
                    background-color: $side-nav-link-bg-hover;
                }
            }
        }
    }
}

/* Page Header */
.main-title {
    .org-logo {
        vertical-align: top;
        display: inline-block;
        padding: 0.4rem 0.5rem 0.3rem 0;
    }
    .system-title {
        display: inline-block;
        .system-name {
            color: #333333;
            margin-bottom: 0;
        }
        .org-name {
            color: #999999;
            margin-bottom: 0.125rem;
            line-height: 1rem;
            margin-bottom: 0.5rem;
        }
    }
    .personal-menu-area {
        text-align: right;
    }
    .personal-menu {
        float: right;
        clear: right;
        padding-top: 0;
        margin-bottom: 0.125rem;
        li a {
            padding: 0 0.375rem;
        }
    }
    .language-selector {
        float: right;
        display: block;
        margin-top: 0.625rem;
        margin-bottom: 0.125rem;
    }

}
body.rtl .main-title {
    .personal-menu {
        float: left;
        clear: left;
    }
    .language-selector {
        float: left;
    }
}

// About Menu (in footer)
.about-menu {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}
body.rtl {
    .about-menu {
        text-align: right;
    }
}

// END ========================================================================
