// ============================================================================
// Styles for Menus
// ============================================================================
// VARIABLES

// ============================================================================
// STYLES

/* Top (Modules) Menu) */
.top-bar {
    // Menu logo
    .logo {
        display: inline-block;
        height: 35px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    a {
        color: $white;
        font-size: .8125rem;
    }
    a:hover {
        background: $lightblue;
    }
    .menu .active > a {
        color: $white;
        background: $charcoal;
    }
    .menu .active > a:hover {
        background: $lightblue;
    }
    .menu.dropdown {
        // Display over the Alerts (98)
        z-index: 100;
    }
}

/* Side (Options) Menu) */
aside.columns {
    font-size: .875rem;
    padding-left: 0.7em;
    padding-right: 0.6rem;
    a {
        background: #d7d8d9;
        color: #444;
    }
    a:hover {
        color: $white;
        background: $lightblue;
    }
    li.heading {
        margin-top: .125rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    li.heading:not(:first-child) {
        border-top: 1px solid #c0c1c2;
    }
    .menu .active > a {
        color: #444;
        background: #e0e1e2;
    }
    .menu .active > a:hover {
        color: $white;
        background: $lightblue;
    }
    .menu.nested {
        margin-left: 1.25rem;
    }
    nav {
        background: #d7d8d9;
        margin-top: 10px;
        padding-top: .25rem;
        padding-bottom: .25rem;
    }
}

// END ========================================================================
