// ============================================================================
// Styles for Datatables
// ============================================================================
// VARIABLES

// Foundation variables used:
//$primary-color
//$alert-color

// Border
$datatables_border_color: #cccccc !default;

// Even/odd rows background
$datatables_bgcolor_even: #ffffff !default;
$datatables_bgcolor_odd: #f7f8f9 !default;
$datatables_bgcolor_even_highlight: #fafafa !default;
$datatables_bgcolor_odd_highlight: #f0f1f2 !default;

// Header and footer
$datatables_bgcolor_foot: #f7f8f9 !default;
$datatables_bgcolor_head: #ffffff !default;

// ============================================================================
// STYLES

/* Datatables */
#table-container {
    margin-bottom: 1.5rem;
}
table.dataTable {
    thead th, th, td {
        border: 1px solid $datatables_border_color;
        padding: 0.2em 1.5em 0.2em 0.5em;
    }
    thead {
        th, td {
            background-color: $datatables_bgcolor_head;
        }
    }
    tbody {
        tr.even {
            background-color: $datatables_bgcolor_even;
            // Current sorting column:
            td.sorting_1 {
                background-color: $datatables_bgcolor_even_highlight;
            }
        }
        tr.odd {
            background-color: $datatables_bgcolor_odd;
            td {
                border-color: $datatables_border_color;
            }
            // Current sorting column:
            td.sorting_1 {
                background-color: $datatables_bgcolor_odd_highlight;
            }
        }
    }
    tfoot {
        th, td {
            background-color: $datatables_bgcolor_foot;
            border-top: 2px solid $datatables_border_color;
            padding: 0.5em;
        }

    }
    // Bulk-select
    .selected-action {
        margin: 5px 0 5px;
    }
    .bulk-select-options {
        font-size: 0.7rem;
        font-weight: normal;
        input[type=checkbox] {
            margin-bottom: 0.2rem;
            margin-right: 0.5rem;
            vertical-align: middle;
        }
    }
    input.bulkcheckbox[type=checkbox] {
        margin-top: 0.2rem;
    }
    .group {
        span.ui-icon {
            display: inline-block;
        }
        .group-indent {
            width: 10px;
        }
        .group-opened,
        .group-closed {
            padding: 0.2rem;
        }
        .group-collapse,
        .group-expand {
            cursor: pointer;
            float: right;
        }
    }

    &.dtr-inline.collapsed tbody td:first-child::before,
    &.dtr-inline.collapsed tbody th:first-child::before {
        top: 6px;
        background-color: $primary-color;
    }
    &.dtr-inline.collapsed tbody tr.parent td:first-child::before,
    &.dtr-inline.collapsed tbody tr.parent th:first-child::before {
        top: 6px;
        background-color: $alert-color;
    }
}

.dataTables_length {
    float: left !important;
    label {
        font-size: 0.75rem;
        white-space: nowrap;
        margin-right: 10em;
        margin-bottom: 0.3em;
    }
    select {
        height: auto;
        padding: 2px;
        font-size: 0.75rem;
    }
}
.dataTables_processing {
     padding: 14px 0 28px;
}
.dataTables_filter {
    text-align: left;
    font-size: 0.75rem;
    margin-right: 3rem;
    input[type="search"] {
        margin-left: 0.2rem;
    }
}

.dt-export-options {
    float: right;
    .list_formats {
        padding-top: 0;
        margin-left: 5px;
    }
    .dt-export {
        margin: 0 0.085rem;
    }
}
body.rtl {
    .dt-export-options,
    .list_formats div {
        float: left;
    }
    .dataTable .group {
        .group-collapse,
        .group-expand {
            float: left;
        }
    }
}
.empty {
    @include empty_section();
}

// TODO: move into separate file
.fc table,
.fc table tr {
    background: transparent;
}

// END ========================================================================
