// ============================================================================
// Styles for Widgets
// ============================================================================
// VARIABLES

// Foundation variables used:
//$alert-color
//$alert-button-bg-hover
//$body-font-family

// Comment feeds
$comments_feed_item_bgcolor: #f5f5f5 !default;

// Anonymize-Button
$anonymize_button_bgcolor: $alert-color !default;
$anonymize_button_bgcolor_hover: $alert-button-bg-hover !default;

// ============================================================================
// STYLES

/* jQuery UI widgets */
.ui-widget-header {
    background: none;
    border: 1px solid #ADA6A0;
    a {
        color: #222222 !important;
        border-color: #C7C7C7;
        margin-bottom: 0px;
        //background: none;
        font-weight: bold;
        text-decoration: none !important;
        font-size: 0.7em;
    }
}
.ui-widget-header.ui-slider-range {
    background: #cccccc;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border-color: #ADA6A0;
}
.ui-widget-content .ui-state-active.ui-slider-handle {
    background: #007fff;
    border: 1px solid #003eff;
}
.ui-multiselect-header {
    span.ui-icon {
        margin-top: 4px;
    }
}
.ui-multiselect-checkboxes li label input {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}
.ui-widget {
    font-family: $body-font-family;
}

/* List-Add Button */
#list-btn-add {
    float: right;
    margin-right: 0.35rem;
}

/* Summary tabs */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em;
}
#summary-tabs {
    margin-top: 10px;
    &.ui-widget-content {
        background: none;
        border: none;
    }
}
#summary-tab-headers {
    .ui-tabs-nav {
        border: none;
        margin: 0 10px;
    }
    a {
        border-color: #CCC;
    }
    .ui-tabs-active a {
        border-bottom: 1px solid white;
    }
    li {
        margin-right: 5px;
        box-shadow: none;
    }
}
#summary-sections {
    // Fit Summary Map Inside Summary Section
    .x-panel-body {
        border: none;
        border-radius: 4px;
    }
}

/* Date picker */
input.date.hasDatepicker {
    display: inline-block;
}
.ui-datepicker-trigger {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../img/bootstrap/calendar.gif");
    margin-left: 10px;
}
.ui-datepicker.ui-widget {
    z-index: 1000!important;
}

/* Range filter widgets */
.range-filter-label label {
    font-size: 1.0em;
}
.range-filter-widget {
    input.date-filter-input {
        width: auto;
        margin-right: 2px;
    }
    button.date-clear-btn {
        font-size: 0.85em;
        padding: 0.325em;
        margin-top: 0.5em;
    }
    .postfix.calendar-clear-btn {
        margin-left: -2px;
    }
}
.btn.date-clear-btn {
    font-size: 0.85em;
    padding: 0.325em;
    margin-top: 0.5em;
}
.calendar-widget-container {
    white-space: nowrap;
}
.postfix.calendar-clear-btn {
    cursor: pointer;
    .fa {
        color: #B0B0B0;
    }
    display: inline-block;
    margin-top: 2px;
    width: 1.2rem;
    vertical-align: top;
}

/* GroupedOptions widget */
.s3-groupedopts-label {
    float: none;
    margin-bottom: 0.3rem;
}
.s3-groupedopts-widget table {
    margin-left: 0;
    margin-bottom: 0.5rem;
}
table.s3-groupedopts-widget {
    td {
        white-space: nowrap;
        input.s3-groupedopts-option {
            vertical-align: text-top;
            margin: 0 0.3rem 0 0;
        }
        label {
            white-space: pre-wrap;
            margin: 0 0.5rem;
        }
    }
/*     border: 0; TODO make configurable */
    margin-bottom: 0;
}
div.s3-groupedopts-widget {
    .s3-groupedopts-item {
        display: inline-block;
        padding-top: 0.15rem;
    }
    input.s3-groupedopts-option {
        vertical-align: text-top;
        margin: 0 0.3rem 0 0;
    }
}

/* ImageCropWidget */
.imagecrop-btn {
    font-size: 1em;
    margin-left: 0.2em;
    padding: 0.3em;
}

/* Widget Intro-Wrapper */
.s3-widget-intro {
    max-width: 42rem;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

/* pr_Contacts widgets */
.pr-contacts-wrapper h3 {
  margin-top: 0.5rem;
  padding-bottom: 0 !important;
}
.pr-contacts-editable {
    input, select {
        min-height: 1.2rem;
        margin: 2px 0;
    }
    button {
        @include tiny_button_style();
        margin: 2px;
    }
}
.pr-contact-actions {
  margin-bottom: 0.5rem;
}
.pr-contact,
.pr-emergency-contact {
  padding: 0.5rem;
}
.pr-contact-priority,
.pr-contact-details {
    display: inline-block;
}
.pr-contact-subtitle {
  font-size: 0.8rem;
  font-style: italic;
}
.pr-contact-priority {
    border: thin solid #2ba6cb;
    border-radius: 2px;
    color: #2ba6cb;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0.25rem 1rem 0 0;
    padding: 0 0.25rem 0.125rem;
    vertical-align: top;
    input[type=submit] {
        color: black;
        line-height: 1.2rem;
        font-size: 0.8rem;
    }
}

/* Checkboxes Widget */
.controls .checkboxes-widget-s3 {
  display: inline-flex;
}

/* Comment feeds */
.comment-box {
    background: none repeat scroll 0 0 $comments_feed_item_bgcolor;
}

/* Text representation */
.text-body {
    white-space: pre-wrap;
}

/* Iframe Map (Location Represent links) TODO move into page or forms? */
#close-iframe-map {
    padding: 7px;
    margin-top: 5px;
}

/* Truncated Texts */
.s3-truncate-more,
.s3-truncate-less {
    font-style: italic;
}
.s3-truncate-more:before,
.s3-truncate-less:before {
    font-style: italic;
    content: "...";
}

/* AddPersonWidget */
.box_bottom {
    clear: left;
}
.ui-menu-item .pe-label {
    font-size: 0.7rem;
    color: #A0A0A0;
    vertical-align: super;
}

/* Anonymize-Widget */
form.anonymize-form,
.anonymize-success {
    padding: 1rem;
}
.anonymize-select,
.anonymize-confirm {
    margin-left: 1rem;
}
.anonymize-buttons {
    margin-top: 1rem;
}
.anonymize-btn {
    background-color: $anonymize_button_bgcolor;
    &:hover {
        background-color: $anonymize_button_bgcolor_hover;
    }
}
.s3-anonymize {
    display: inline-block;
    margin: 0.2rem;
}

/* Role Manager */
.rm-form {
    .controls {
        width: 100%;
    }
    .rm-assign .action-lnk,
    .rm-rules .action-lnk {
        display: inline-block;
        color: $primary-color;
        font-style: normal;
    }
    .rm-toggle-all {
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
    }
    .rm-assign {
        width: 80%;
        border-collapse: separate;
        border-spacing: 0;
        th {
            min-width: 10rem;
        }
        th:first-child {
            width: 25%;
        }
        td {
            padding: 0.5rem;
        }
        tfoot td {
            border-top: 1px solid #C0C0C0;
        }
        .rm-item-name,
        .rm-item-title {
            display: block;
        }
        .rm-item-title {
            font-size: 0.8rem;
            font-style: italic;
            color: #A0A0A0;
        }
        .rm-duplicate {
            td {
                border-top: 1px solid red;
                border-bottom: 1px solid red;
                &:first-child {
                    border-left: 1px solid red;
                }
                &:last-child {
                    border-right: 1px solid red;
                }
            }
        }
    }
    .rm-module-rules {
        width: 100%;
        .rm-module-header {
            cursor: pointer;
            background-color: #F0F0F0;
            div {
                margin-right: 0.3rem;
                display: inline-block;
            }
            .rm-module-toggle {
                width: 0.5rem;
            }
            .rm-module-prefix {
                width: 6.5rem;
            }
            .rm-module-numrules {
                font-weight: normal;
            }
        }
        &.hasrules .rm-module-header {
            background-color: #D0D0D0;
        }

        th, td {
            padding: 0.5rem;
        }

        .rm-default-rule td,
        .rm-default-permissions td {
            font-style: italic;
            color: #a0a0a0;
        }
        .rm-rule-target {
            width: 20%;
        }
    }
    input.rm-invalid {
        background-color: #FFA0A0;
    }
}
.rm-fixed,
.rm-hint {
    display: block;
    font-style: italic;
    font-size: 0.8rem;
    color: #AAAAAA;
}

/* Organizer */
.s3-organizer-popup {
    label {
        font-size: 0.7rem;
        font-weight: bold;
    }
    p {
        font-size: 0.8rem;
        font-weight: normal;
        margin-bottom: 0.3rem;
    }
    .action-btn {
        margin-left: 0;
        margin-right: 0.3rem;
    }
}
.s3-organizer-create {
    .action-btn {
        display: block;
    }
}

/* Consent Widget */
.consent-widget {
    border: 1px solid #E0E0E0;
    padding: 0.5rem 1rem;
    .consent-option {
        margin-top: 0.3rem;
    }
    .consent-explanation {
        white-space: pre-wrap;
        padding: 0.3rem 2rem;
        font-size: 0.8rem;
        font-style: italic;
        color: #7F7F7F;
    }
    .consent-title {
        font-weight: bold;
    }
    .consent-checkbox {
        vertical-align: bottom;
        margin-right: 0.5rem;
    }
    .req {
        padding: 0 0.2rem;
    }
    .req_key {
        font-size: 0.7rem;
        font-weight: normal;
        font-style: italic;
        margin: 0 0.5rem;
    }
}

/* Priority Representation */
.prio {
    padding: 0 4px;
    border: 1px solid black;
    text-align: center;
    white-space: pre;
    font-weight: normal;
}
.prio-red {
    color: white;
    background-color: #d10000;
}
.prio-blue {
    color: white;
    background-color: #10427b;
}
.prio-lightblue {
    background-color: #b7ddff;
}
.prio-grey {
    background-color: silver;
}

/* Weekly Hours Widget */
.wh-intro {
    max-width: 42rem;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}
.wh-raster {
    margin-top: 0.3rem;
    tr {
        border-bottom: 1px solid #ccc;
    }
    td {
        border-left: 1px solid #ccc;
        &.wh-tick {
            border-left-width: 2px;
        }
    }
    thead {
        td {
            min-width: 1.8rem;
            padding-right: 0.6rem !important;
            font-size: 0.6rem;
            font-weight: normal;
        }
    }
    tbody {
        td {
            &.wh-hour {
                text-align: center;
                font-weight: normal;
                &.wh-on {
                    color: darkgreen;
                }
            }
            &.wh-day {
                text-align: left;
                font-size: 0.7rem;
                padding: 0.2rem 0.4rem;
            }
        }
    }
    .wh-hour {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.wh-on {
            background-color: lightgreen;
        }
        &.wh-off {
            background-color: transparent;
        }
    }
}

/* Weekly Hours Representation */
.wh-schedule {
    list-style: none;
    white-space: pre;
    margin: 0;
    font-size: 0.7rem;
    .wh-dayname {
        width: 1.5rem;
        display: inline-block;
    }
    .wh-dayname::after {
        content: ":";
    }
}

// Overrides for right-to-left orientation
body.rtl {
    .ui-multiselect-header {
        .ui-multiselect-filter {
            direction: rtl;
            float: right;
            margin-right: 3px;
            margin-left: 10px;
        }
        ul li {
            float: right;
            padding: 0 3px 0 10px;
        }
        li.ui-multiselect-close {
            float: left;
            text-align: left;
            padding-left: 0;
        }
    }
    .range-filter-widget {
        input.date-filter-input {
            margin-right: 0;
            margin-left: 2px;
        }
    }
    #list-btn-add {
        float: left;
        margin-right: 0;
        margin-left: 0.35rem;
    }
    .rm-form {
        .rm-module-rules .rm-module-header div {
            margin-right: 0;
            margin-left: 0.3rem;
        }
        .rm-assign .rm-duplicate {
            td {
                &:first-child {
                    border-left: 0;
                    border-right: 1px solid red;
                }
                &:last-child {
                    border-right: 0;
                    border-left: 1px solid red;
                }
            }
        }
    }
}

// END ========================================================================
