// ============================================================================
// Styles for Widgets
// ============================================================================
// VARIABLES

// Foundation variables used:
//$alert-color
//$alert-button-bg-hover
//$body-font-family

// Comment feeds
$comments_feed_item_bgcolor: #f5f5f5 !default;

// Anonymize-Button
$anonymize_button_bgcolor: $alert-color !default;
$anonymize_button_bgcolor_hover: $alert-button-bg-hover !default;

// ============================================================================
// STYLES

/* jQuery UI widgets */
.ui-widget-header {
    background: none;
    border: 1px solid #ADA6A0;
    a {
        color: #222222 !important;
        border-color: #C7C7C7;
        margin-bottom: 0px;
        //background: none;
        font-weight: bold;
        text-decoration: none !important;
        font-size: 0.7em;
    }
    .ui-icon-check,
    .ui-icon-closethick {
        background: none;
        height: 0px;
        width: 0px;
    }
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border-color: #ADA6A0;
}
.ui-multiselect-checkboxes li label input {
    margin-left: 0.2rem;
    margin-right: 0.3rem;
}
.ui-widget {
    font-family: $body-font-family;
}

/* List-Add Button */
#list-btn-add {
    float: right;
    margin-right: 1rem;
}

body.rtl #list-btn-add {
    float: left;
    margin-left: 1rem;
    margin-right: 0;
}

/* Summary tabs */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em;
}
#summary-tabs {
    margin-top: 10px;
    &.ui-widget-content {
        background: none;
        border: none;
    }
}
#summary-tab-headers {
    .ui-tabs-nav {
        border: none;
        margin: 0 10px;
    }
    a {
        border-color: #CCC;
    }
    .ui-tabs-active a {
        border-bottom: 1px solid white;
    }
    li {
        margin-right: 5px;
        box-shadow: none;
    }
}
#summary-sections {
    // Fit Summary Map Inside Summary Section
    .x-panel-body {
        border: none;
        border-radius: 4px;
    }
}

/* Date picker */
input.date.hasDatepicker {
    display: inline-block;
}
.ui-datepicker-trigger {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../img/bootstrap/calendar.gif");
    margin-left: 10px;
}
.ui-datepicker.ui-widget {
    z-index: 1000!important;
}

/* Range filter widgets */
.range-filter-label label {
    font-size: 1.0em;
}
.range-filter-widget {
    input.date-filter-input {
        width: auto;
        margin-right: 2px;
    }
    button.date-clear-btn {
        font-size: 0.85em;
        padding: 0.325em;
        margin-top: 0.5em;
    }
    .postfix.calendar-clear-btn {
        margin-left: -2px;
    }
}
.btn.date-clear-btn {
    font-size: 0.85em;
    padding: 0.325em;
    margin-top: 0.5em;
}
.calendar-widget-container {
    white-space: nowrap;
}
.postfix.calendar-clear-btn {
    cursor: pointer;
    .fa {
        color: #B0B0B0;
    }
    display: inline-block;
    margin-top: 2px;
    width: 1.2rem;
    vertical-align: top;
}
body.rtl {
    .range-filter-widget {
        input.date-filter-input {
            margin-right: 0;
            margin-left: 2px;
        }
    }
}

/* GroupedOptions widget */
.s3-groupedopts-label {
    float: none;
    margin-bottom: 0.3rem;
}
.s3-groupedopts-widget table {
    margin-left: 0;
    margin-bottom: 0.5rem;
}
table.s3-groupedopts-widget {
    td {
        white-space: nowrap;
        input {
            vertical-align: text-top;
        }
        label {
            white-space: pre-wrap;
        }
    }
/*     border: 0; TODO make configurable */
    margin-bottom: 0;
}

/* ImageCropWidget */
.imagecrop-btn {
    font-size: 1em;
    margin-left: 0.2em;
    padding: 0.3em;
}

/* pr_Contacts widgets */
.pr-contacts-wrapper h3 {
  margin-top: 0.5rem;
  padding-bottom: 0 !important;
}
.pr-contact-actions {
  margin-bottom: 0.5rem;
}
.pr-contact,
.pr-emergency-contact {
  padding: 0.5rem;
}
.pr-contact-priority,
.pr-contact-details {
    display: inline-block;
}
.pr-contact-subtitle {
  font-size: 0.8rem;
  font-style: italic;
}
.pr-contact-priority {
    border: thin solid #2ba6cb;
    border-radius: 2px;
    color: #2ba6cb;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0.25rem 1rem 0 0;
    padding: 0 0.25rem 0.125rem;
    vertical-align: top;
    input[type=submit] {
        color: black;
        line-height: 1.2rem;
        font-size: 0.8rem;
    }
}

/* Checkboxes Widget */
.controls .checkboxes-widget-s3 {
  display: inline-flex;
}

/* Data Lists TODO move into separate file */
.dl {
    .dl-header {
        float: none;
        text-align: right;
    }
    .card_1_line {
        height: auto;
    }
    .empty_card-holder {
        text-align: center;
    }
    .dl-row {
        border: 0;
    }
    .dl-1-cols {
        width: 100%;
    }
}
.dl-item {
    .dropdown .caret {
        margin-left: 0.2rem;
        margin-top: 0.4rem;
    }
    .attachments {
        margin-right: 0.2rem;
    }
}
.card_1_line {
    margin-bottom: 0;
    overflow: hidden;
    height: auto;
}
.card_1_line, .card_manylines {
    color: #666;
    font-size: 0.7rem;
    padding: 0.05rem;
}

/* Profile TODO move into separate file */
h4.profile-sub-header {
    background-color: #EFEFEF;
    padding: 0.1rem 0.3rem;
    font-size: 1.2rem;
}
.profile-widget .icon-fullscreen {
  float: right;
  position: relative;
  right: 9px;
  top: 17px;
}
.profile .dl-header {
    display: none;
}

/* Comment feeds */
.comment-box {
    background: none repeat scroll 0 0 $comments_feed_item_bgcolor;
}

/* Text representation */
.text-body {
    white-space: pre-wrap;
}

/* Iframe Map (Location Represent links) TODO move into page or forms? */
#close-iframe-map {
    padding: 7px;
    margin-top: 5px;
}

/* Truncated Texts */
.s3-truncate-more,
.s3-truncate-less {
    font-style: italic;
}
.s3-truncate-more:before,
.s3-truncate-less:before {
    font-style: italic;
    content: "...";
}

/* S3SQLInlineLink read-only list representation */
ul.s3-inline-link {
    font-size: inherit;
}

/* AddPersonWidget */
.box_bottom {
    clear: left;
}
.ui-menu-item .pe-label {
    font-size: 0.7rem;
    color: #A0A0A0;
    vertical-align: super;
}

/* Anonymize-Widget */
form.anonymize-form,
.anonymize-success {
    padding: 1rem;
}
.anonymize-select,
.anonymize-confirm {
    margin-left: 1rem;
}
.anonymize-buttons {
    margin-top: 1rem;
}
.anonymize-btn {
    background-color: $anonymize_button_bgcolor;
    &:hover {
        background-color: $anonymize_button_bgcolor_hover;
    }
}
.s3-anonymize {
    display: inline-block;
}

/* Priority Representation */
.prio {
    padding: 0 4px;
    border: 1px solid black;
    text-align: center;
    white-space: pre;
    font-weight: normal;
}
.prio-red {
    color: white;
    background-color: #d10000;
}
.prio-blue {
    color: white;
    background-color: #10427b;
}
.prio-lightblue {
    background-color: #b7ddff;
}
.prio-grey {
    background-color: silver;
}

// END ========================================================================
