# Crontab - scheduled tasks
# NOTE FOR DEVELOPERS: 
# /cron/contab is NOT in the BZR repository, as this file will be changed 
# during deployments. 
# To for changes to be committed to trunk, please also edit:
# deployment-templates/cron/crontab

# Import data into database at startup (not used)
#@reboot web2py *applications/eden/cron/1st_run.py
# Collect Inbound SMS via Modem
#@reboot web2py *applications/eden/cron/sms_handler_modem.py
# Synchronisation
#@reboot web2py *sync/schedule_cron
# Deprecated by Scheduler
#0   *   *   *   *   web2py    *sync/sync_cron
# Send outgoing emails every 5 minutes
#*/5   *       *       *       *       web2py *msg/process_email
# Send outgoing SMS every 5 minutes
#*/5   *       *       *       *       web2py *msg/process_sms
# Send outgoing Twitter DMs/tweets every 5 minutes
#*   *       *       *       *         web2py *msg/process_twitter
# Collect incoming emails every 15 minutes
#*/15  *       *       *       *       web2py *applications/eden/cron/email_receive.py
# Collect the incoming subscribed tweets every 15 minutes
#*/15   *       *       *       *      web2py *msg/search_results
# Process Import Jobs (deprecated)
#*/5    *       *       *       *      web2py *applications/eden/cron/import_job_do_processing.py
#*/5    *       *       *       *      web2py *applications/eden/cron/import_job_do_import.py
# Poll RMS Feeds (Haiti-specific)
#*/5   *       *       *       *       web2py *applications/eden/cron/rms_sms2record.py
#*/5   *       *       *       *       web2py *applications/eden/cron/rms_tweet2request.py
# Send Subscription Messages
# Daily
# 0   0   *   *   *   web2py    *msg/subscription_updates/daily
# Weekly
# 0   0   *   *   1	  web2py    *msg/subscription_updates/weekly
# Monthly
# 0   0   1   *   *   web2py    *msg/subscription_updates/monthly
