/* Footer */
#footer {
    background-color: $lightblue;
    .columns {
        padding-top: 0.5rem;
        padding-bottom: 1rem;
    }

    // Footer contents
    color: #FFFFFF;
    text-align: center;
    .footer-logo {
        max-height: 83px;
    }
    .footer-icon {
        padding: 1rem;
    }
    .footer-text {
        font-size: 1rem;
    }

    // Debug buttons in footer - use action-button styles
    button.btn {
        @include tiny_button_style();
        margin-left: 2px;
        margin-right: 2px;
        color: $action_btn_fgcolor_debug;
        background: $action_btn_bgcolor_debug;
    }
    button.btn:hover {
        color: $action_btn_fgcolor_debug_hover;
        background: $action_btn_bgcolor_debug_hover;
    }
}

#poweredby {
    margin-right: 0.5rem;
    a {
        color: #999999;
        text-decoration: none;
        font-size: 0.8rem;
        margin-left: 0.2rem;
    }
}
