/* General forms */
form {
    font-size: 0.8em;
    .form-row {
        margin-top: 0.5rem !important;
        & > .columns {
            &:first-child {
                overflow: hidden;
            }
            & > label {
                font-weight: bold;
            }
        }
        & > a {
            margin-left: 0.625rem;
        }
    }
    label.inline {
        padding: 0;
    }
    .gis_loc_select_btn {
        font-size: 0.8em;
        i {
            font-size: 1.0em;
            margin-right: 4px;
        }
    }
    .error {
        display: block;
        padding: 0.375rem 0.5625rem 0.5625rem;
        margin-top: -1px;
        margin-bottom: 1rem;
        font-size: 0.75rem;
        font-style: italic;
        background: $form_error_bgcolor;
        color: white;
    }
    .date-clear-btn {
        font-size: 0.75rem;
        margin-left: 0.15rem !important;
    }
    .action-lnk {
        font-weight: normal;
        font-size: 0.75rem;
    }
    table.embeddedComponent {
        border: 1px solid #dddddd;
        border-collapse: separate;
        td {
            border: none;
            vertical-align: top;
        }
        .label-row td:empty {
            padding: 0;
        }
    }
    .inline-open-add {
        display: inline-block;
        margin-bottom: 1.25rem;
        margin-left: 0;
        margin-top: -1.25rem;
    }
    &.auth_login #submit_record__row {
        white-space: pre;
    }
}

/* General Widgets */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  height: 1.75rem;
  padding: 0.25rem;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select {
    width: auto !important;
    max-width: 100%;
}
textarea {
    resize: both;
    max-width: 100%;
}
/* Form and Item containers */
#last_update {
    float: none;
}
.form-container,
.item-container {
    form {
        background: $form_container_bgcolor;
        padding: 5px 10px;
    }
    width: auto;
    overflow: inherit;
    .controls {
        display: inline-block;
        &:not(.columns) {
            max-width: 100%;
        }
    }
}
.form-container {
    form {
        select,
        input.string:not(.date),
        textarea {
            margin: 0;
        }
        .ui-multiselect {
            max-width: 100%;
        }
        &:not(.filter-form):not(.auth_login):not(.auth_register) {
            input[type="text"]:not(.double):not(.datetimepicker):not(.date):not(.dms-input) {
                width: 20rem !important;
            }
        }
    }
}
.item-container .controls {
    background: $item_container_controls_bgcolor;
    padding: 0.35rem;
    min-height: 1.7rem;
}

/* Filter forms */
.filter-form {
    // MultiSelect/GroupedOpts widgets
    table tr,
    .ui-multiselect {
        max-width: 60%;
    }
    table.s3-groupedopts-widget {
        display: inline-block;
    }
    .inline-tooltip {
        padding-top: 0.2rem;
    }
}

/* Login/Registration box */
#login_form,
#register_form,
#login_box {
    clear: none !important;
}

/* Help Popup */
.inline-tooltip {
    display: inline-block;
    vertical-align: top;
    padding-left: 0.75rem;
    .tooltip,
    .tooltipbody,
    .stickytip,
    .ajaxtip {
        display: block;
        padding: 0;
        width: 60px;
    }
    .s3_add_resource_link {
        display: inline-block;
        margin: -3px 0 -3px 5px;
    }
}
