// ============================================================================
// THEME Imports and Mixins
// ============================================================================
// Foundation Settings for the THEME
@import '../settings';

// Foundation Mixins
$include-html-classes: false;
$include-html-global-classes: false;
@import "../../foundation/scss/components/global";
@import "../../foundation/scss/components/forms";

// THEME Config
@import 'theme/config';

// ============================================================================
// GLOBAL VARIABLES
// ============================================================================

// -- global variables and their defaults go here --

// ============================================================================
// MIXINS
// ============================================================================
// Tiny button style (e.g. action buttons)
@mixin tiny_button_style() {
    font-size: 0.6875rem;
    border: 0;
    line-height: 1;
    margin-bottom: inherit;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    text-decoration: none !important;
    display: inline-block;
}

// Empty-sections (data tables, data lists)
@mixin empty_section() {
    font-style: italic;
    font-size: 0.825rem;
}

// END ========================================================================
