/.bzr
/.bzrignore
/cache/*
/compiled/*
/cron/crontab
/databases/*
/errors/*
/models/000_config.py
/models/0000_update_check.py
/sessions/*
/uploads/*
/private/prepopulate/user/*
/static/scripts/tools/compiler.jar
/static/cache/*
/tests/selenium/results/*
/tests/selenium/scripts/diagTestResults.txt
/tests/selenium/server/selenium-server.jar
/tests/selenium/results/*
/tests/selenium/tests/*
/tests/unit/*.pdf
.DS_Store
/languages/*.po
*.ttf
.~lock.*.csv#
*.log
*.pyc
*.~*~
.directory
