/.bzr
/.bzrignore
/cache/*
/compiled/*
/databases/*
/errors/*
/indices/*
/models/000_config.py
/models/0000_update_check.py
/sessions/*
/uploads/*
/static/cache/*
/static/fonts/unifont.ttf
/static/scripts/tools/compiler.jar
/static/themes/SHARE/data/*
/tests/unit/*.pdf
.DS_Store
/languages/*.po
.~lock.*.csv#
*.log
*.pyc
*.~*~
.directory
.pythonhistory
.idea
.sass-cache
/yaml/*
# Ignore plugins
/modules/plugins/*
!/modules/plugins/__init__.py
!/modules/plugins/skeleton.py
