*.pyc
._*
.DS*
*.db
*.db-journal
*.ps
*.dvi
*.toc
*.log
*.aux
_build*
*~
.svn*
src/e_cidadania/uploads/*
src/e_cidadania/static/*
docs/build/*
.epio*
epio*
*.swp
*.shx
*.shp
*.qpj
*.prj
*.dbf
*.idea*
src/e_cidadania/build/*
develop-eggs
eggs
parts
bin
e_cidadania.egg-info
.installed.cfg
