{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Scenarios")}}</h2>
<p>{{=T("This module allows you to plan scenarios for both Exercises & Events. You can allocate appropriate Resources (Human, Assets & Facilities) so that these can be mobilized easily.")}}</p>
<ul>
<li><b><a href='{{=URL(c="scenario", f="scenario", args="create")}}'>{{=T("Create New Scenario")}}</a></b></li>
<li><b><a href='{{=URL(c="scenario", f="scenario")}}'>{{=T("List available Scenarios")}}</a></b></li>
<li><b><a href='{{=URL(c="event", f="event", args="create")}}'>{{=T("Create New Event")}}</a></b> using a scenario template</li>
<li><b><a href='{{=URL(c="event", f="event")}}'>{{=T("Manage Events")}}</a></b></li>
</ul>
</div>
