{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{{ news.title }}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% else %}
        <a href="/"><img src="{{ STATIC_URL }}/assets/logos/index.png" /></a>
    {% endif %}
{% endblock %}

{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% else %}
        <img src="{{ STATIC_URL }}/assets/banners/index.png" />
    {% endif %}
{% endblock %}

{% if get_place %}
    {% block space %}
        <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
    {% endblock %}
{% endif %}

{% block content %}

    <div class="row">
        <div class="span8">
            <h2 class="posttitle"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                {% if perms.news.change_post %}
                    <a href="{% url 'edit-site-post' news.id %}">
                        <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/>
                    </a>
                {% endif %}
                {% if perms.news.delete_post %}
                    <a href="{% url 'delete-site-post' news.id %}">
                        <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/>
                    </a>
                {% endif %}
            </h2>
            {% get_comment_count for news as comment_count %}
            <p class="postinfo">{% trans "Written by" %} {{ news.author }} {% trans "on" %} {{ news.pub_date }} | <a href="{{ news.get_absolute_url }}">{{ comment_count }} {% trans "comments" %}</a></p>
            {{ news.description|safe }}
            <div style="margin-bottom:30px;"></div>

            <p>{% render_comment_list for news %}</p>
            <p>{% render_comment_form for news %}</p>
        </div>
        <div class="span4">
            <h4>{% trans "Recent posts" %}</h4>
            <h4>{% trans "Related posts" %}</h4>
            <h4>{% trans "Share this post" %}</h4>
        </div>
    </div>

{% endblock %}

