# =============================================================================
# Add a list of CSV files to import into the system
#
# The list of import files is a comma separated list as follows:
#
#   prefix,tablename,csv file name,stylesheet
#
# The CSV file is assumed to be in the same directory as this file
# The style sheet is assumed to be in either of the following directories:
#     static/formats/s3csv/prefix/
#     static/formats/s3csv/
#
# For details on how to import data into the system see the following:
#     zzz_1st_run
#     s3import::S3BulkImporter
# =============================================================================
# Orgs
org,organisation,organisation.csv,organisation.xsl
# Users
*,import_user,users.csv
# Map Profiles
gis,config,gis_config.csv,config.xsl
# CAP
# -----------------------------------------------------------------------------
# Alerting Authority
# 
cap,alerting_authority,cap_alerting_authority.csv,alerting_authority.xsl
#
cap,warning_priority,cap_warning_priority.csv,warning_priority.xsl
#
# @note (nuwan) - the three files with demo templates should only load in the demo and not other templates
cap,alert,cap_alert.csv,alert.xsl
cap,info,cap_info.csv,info.xsl
cap,area,cap_area.csv,area.xsl
#
# @note (nuwan) - all the import_xml files should not load in other templates change to CSV to avoid this issue
*,import_xml,Myanmar_Flood_Multiple_Area.xml,cap,alert,cap
*,import_xml,Myanmar-Flood-MultiLanguage_MultipleArea.xml,cap,alert,cap
*,import_xml,Flood.xml,cap,alert,cap
*,import_xml,heavy_rain.xml,cap,alert,cap
*,import_xml,Homeland_Sec_Adv.xml,cap,alert,cap
*,import_xml,landslide.xml,cap,alert,cap
*,import_xml,Maldives-Tsunami-MultiLanguage.xml,cap,alert,cap
*,import_xml,Myanmar-Flood-MultiLanguage.xml,cap,alert,cap
*,import_xml,Myanmar-Tsunami-MultiLanguage.xml,cap,alert,cap
*,import_xml,Philippines-Flood-MultiLanguage.xml,cap,alert,cap
*,import_xml,Philippines-Tropical-Cyclone-MultiLanguage.xml,cap,alert,cap
*,import_xml,Philippines-Tsunami.xml,cap,alert,cap
*,import_xml,Severe_Thunderstorm_Warning.xml,cap,alert,cap
*,import_xml,TropicalCyclone20150806.xml,cap,alert,cap
*,import_xml,TropicalCyclone20150808.xml,cap,alert,cap
*,import_xml,tsunami.xml,cap,alert,cap
# RSS
msg,rss_channel,msg_rss_channel.csv,rss_channel.xsl
# Twitter
msg,twitter_channel,msg_twitter_channel.csv,twitter_channel.xsl
#
# -----------------------------------------------------------------------------
