{{extend "layout.html"}}
{{try:}}{{=H2(title)}}{{except:}}{{pass}}
<div id='rheader'>
{{try:}}
 {{=XML(rheader)}}
 </div>
 <div id='component'>
{{except:}}
</div>
{{pass}}
<div id='list-btn-add'>
{{try:}}{{=add_btn}}{{except:}}{{pass}}
</div>
{{try:}}{{=H3(subtitle)}}{{except:}}{{pass}}
{{try:}}{{=P(help)}}{{except:}}{{pass}}
<div id='map'></div>
<div id='table-container'>
{{try:}}{{=items}}{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
{{include "dataTables.html"}}
