{{extend "layout.html"}}

{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
{{try:}}
{{=s3db.ocr_buttons(r)}}
{{except:}}
{{pass}}
<div id='rheader'>
{{try:}}
 {{=XML(rheader)}}
 </div>
 <div id='component'>
{{except:}}
<div>
 {{pass}}
    {{include "key.html"}}
    {{try:}}
     {{=H3(subtitle)}}
    {{except:}}
    {{pass}}

{{try:}}
  <DIV id="survey_chart_download"/>
  {{=chartDownload}}
{{except:}}
  {{pass}}
  </DIV>
{{try:}}
  <DIV id="survey_chart"/>
  {{=chart}}
{{except:}}
  {{pass}}
  </DIV>


    <div class='form-container'>
    {{try:}}
     {{=form}}
    {{except:}}
    {{pass}}
    </div>
</div>

{{try:}}
  {{=XML(debug)}}
{{except:}}
  {{pass}}
