<div class='body-content-wrapper grid_12 alpha omega'>
 <div class='body-label-wrapper grid_12'>
  <span class='icon body-icon icon-doc'></span>
  <span class='body-label-text label-text'>{{try:}}{{=H2(title)}}{{except:}}{{pass}}</span>
  {{if "edit_btn" in buttons:}}
  <a class='edit-button medium' href='{{=buttons["edit_btn"].attributes["_href"]}}'></a>
  {{pass}}
 </div>
 <div class='line grid_12 alpha omega'></div>
<div id='rheader'>
{{try:}}{{=rheader}}
 </div>
  <div id='component'>
{{except:}}
  </div>
  <div>
 {{pass}}
 {{try:}}{{=H3(subtitle)}}{{except:}}{{pass}}
 <div>
  {{try:}}{{=deduplicate}}{{except:}}{{pass}}
  {{include "last_update.html"}}
 </div>
 {{try:}}
 {{include}}
 {{except:}}{{pass}}
 <div id='map'></div>
 <div class='item-container read'>
 {{try:}}{{=item}}{{except:}}{{pass}}
 </div>
 <div class='clear'></div>
{{try:}}{{buttons}}
 <div class='form-controller grid_4 prefix_4 suffix_4 alpha omega'>
 {{if "delete_btn" in buttons:}}
 <div id='pdetail-delete-button' class='grid_2'>
  <a class='delete-button medium' href='{{=buttons["delete_btn"].attributes["_href"]}}'></a>
 </div>
 {{pass}}
 </div>
{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
</div>