<div class='body-content-wrapper grid_12 alpha omega'>
 <div class='body-label-wrapper grid_12'>
  <span class='icon body-icon icon-doc'></span>
  <span class='body-label-text label-text'>{{try:}}{{=H2(title)}}{{except:}}{{pass}}</span>
 </div>
 <div class='line grid_12 alpha omega'></div>
<div id='rheader'>
{{try:}}{{=XML(rheader)}}
</div>
<div id='component'>
{{except:}}
</div>
<div>
{{pass}}
<div id='map'></div>
<div id='table-container'>
{{try:}}{{=items}}
</div>
{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
</div>
{{include "dataTables.html"}}