<div class='body-content-wrapper grid_12 alpha omega'>
 <div class='body-label-wrapper grid_12'>
  <span class='icon body-icon icon-doc'></span>
  <span class='body-label-text label-text'>{{try:}}{{=H2(title)}}{{except:}}{{pass}}</span>
 </div>
 <div class='line grid_12 alpha omega'></div>
<div id='rheader'>
{{try:}}{{=XML(rheader)}}
 </div>
 <div id='component'>
{{except:}}
</div>
<div>
 {{pass}}
{{try:}}{{=H3(subtitle)}}{{except:}}{{pass}}
<div>
{{try:}}{{=deduplicate}}{{except:}}{{pass}}
</div>
<div id='map'></div>
{{include "last_update.html"}}
{{include "key.html"}}
<div class='form-container update edit'>
{{try:}}{{=form}}{{except:}}{{pass}}
</div>
<div class='clear'></div>
{{try:}}{{buttons}}
<div class='form-controller grid_4 prefix_4 suffix_4 alpha omega'>
 {{if "delete_btn" in buttons:}}
 <div id='pdetail-delete-button' class='grid_2'>
  <a class='delete-button medium' href='{{=buttons["delete_btn"].attributes["_href"]}}'></a>
 </div>
 {{pass}}
</div>
{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
</div>