<div class='content'>
    <div id='iap'>ISDR Asia Partnership</div>
    <div id='adb'>
        <a title='ADB' href='http://www.adb.org' target='_blank'>
            <img src='/{{=appname}}/static/themes/DRRPP/img/adb_logo_small.png' alt='ADB' align='middle'/>  
        </a>
    </div>
    <div id='unisdr'>
        <a title='UN ISDR' href='http://www.unisdr.org' target='_blank'>
            <img src='/{{=appname}}/static/themes/DRRPP/img/unisdr_logo_small.png' alt='UN ISDR' align='middle'/>  
        </a>
    </div>
    <div id='adpc'>
        <a title='ADPC' href='http://www.adpc.net' target='_blank'>
            <img src='/{{=appname}}/static/themes/DRRPP/img/adpc_logo_small.gif' alt='ADPC' align='middle'/>  
        </a>
    </div>
   <div id='menu_bottom'>
      <ul>
        <li class='fleft'><a href='/{{=appname}}/default/index'><div class='hoverable'>Home</div></a></li>
        <li class='fleft'><a href='/{{=appname}}/default/index/about'><div class='hoverable'>About</div></a></li>
        <li class='fleft'><a href='/{{=appname}}/static/DRR_Portal_User_Manual.pdf'><div class='hoverable'>User Manual</div></a></li>
        <li class='fleft'><a href='/{{=appname}}/default/index/contact'><div class='hoverable'>Contact</div></a></li>
      </ul>
    </div>
    <div style='float:right;margin-right:20px'>
        <div style='display:inline-block; vertical-align:middle; padding-bottom:30px'>{{=T("Powered by ")}}</div>
        <a target='_blank' href='http://eden.sahanafoundation.org' title='{{=T("Powered by Sahana Eden")}}'>
            <img src='/{{=appname}}/static/img/sahanasmall_05.png' height='41' alt='{{=T("Powered by Sahana Eden")}}' />
        </a>
    </div>
</div>