<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{=T.accepted_language or "en"}}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{{try:}}{{=title}}{{except:}}{{=response.title or settings.get_system_name_short()}}{{pass}}</title>
{{if response.refresh:}}{{=XML(response.refresh)}}{{pass}}
<meta name="application-name" content="{{=appname}}" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
{{if "MSIE" in request.wsgi.environ.get("HTTP_USER_AGENT",[]):}}
<link href="/{{=appname}}/static/themes/DRRPP/font_ie.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{else:}}
<link href="/{{=appname}}/static/themes/DRRPP/font_other.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
<link rel="shortcut icon" href="/{{=appname}}/static/themes/DRRPP/favicon.ico" type="image/x-icon" />
<style type="text/css">
{{if s3.rtl:}}
 div{direction:rtl;}
{{else:}}
 body{direction:ltr;}
{{pass}}
</style>
{{if s3.debug:}}
 <link href="/{{=appname}}/static/scripts/ext/resources/css/ext-all.css" rel="stylesheet" type="text/css" />
 <link href="/{{=appname}}/static/scripts/ext/resources/css/xtheme-gray.css" rel="stylesheet" type="text/css" />	
 {{=s3base.s3_include_debug_css()}}
{{else:}}
 <link href="/{{=appname}}/static/scripts/ext/resources/css/ext-theme.min.css" rel="stylesheet" type="text/css" />
 {{# Built by /static/scripts/tools/build.sahana.py }}
 <link href="/{{=appname}}/static/themes/DRRPP/eden.min.css" rel="stylesheet" type="text/css" />
{{pass}}
{{for sheet in s3.external_stylesheets:}}
 <link href="{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
{{for sheet in s3.stylesheets:}}
 <link href="/{{=appname}}/static/styles/{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
{{include "scripts_top.html"}}
</head>
{{try:}}
 {{if r.representation == "popup":}}{{representation = "popup"}}
 {{elif r.representation == "iframe":}}{{representation = "iframe"}}
 {{else:}}{{representation = ""}}{{pass}}
{{except:}}{{representation = ""}}{{pass}}
{{if representation == "popup":}}
 <body>
 {{if s3.debug:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.js"]))}}
 {{else:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.min.js"]))}}{{pass}}
 {{if response.flash or response.confirmation:}}
  {{include "layout_popup.html"}}
 {{else:}}{{include}}{{pass}}
{{elif representation == "iframe":}}
 {{include "layout_iframe.html"}}
 {{include}}
{{else:}}
<body>
 <div id='header'>
  <a href='{{=URL(r=request, c="default", f="index")}}'><div id='logo'></div></a>
  <div id='strapline'>
    <h1>Sharing information on disaster risk reduction initiatives for effective coordination in Asia Pacific</h1>
  </div>
  <div id='menu_top'>{{=current.menu.top}}</div>
  {{if s3.cd_to_live_btn:}}
   {{=s3.cd_to_live_btn}}
  {{pass}}
</div>
</div>
<div id='menu_modules'>
 {{=current.menu.main}}
</div>
<div class='container'>
 <div class='header'></div>
  <div id='content' class='cf'>
   {{if response.error:}}<div class='error'>{{=response.error}}</div>{{pass}}
   {{if response.warning:}}<div class='warning'>{{=response.warning}}</div>{{pass}}
   {{if response.information:}}<div class='information'>{{=response.information}}</div>{{pass}}
   {{if response.confirmation:}}<div class='confirmation'>{{=response.confirmation}}</div>{{pass}}
   {{if response.flash:}}<div class='confirmation'>{{=response.flash}}</div>{{pass}}
   {{include}}
  </div>
  <div class='footer'></div>
</div>
<div id='footer'>
 {{include "../private/templates/DRRPP/views/footer.html"}}
 {{if s3.debug:}}{{=s3.toolbar()}}{{pass}}
</div>
{{pass}}
{{include "scripts.html"}}
</body>
</html>