figure {
  margin: 0;
  font-size: 0.8rem;
}

html {
  color: #212121;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a:not(.button) {
  color: #0071bc;
}

a:not(.button):focus {
  color: #3e94cf;
}

h1,
h2,
h3,
.panel h3 {
  font-family: 'Merriweather', serif;
  color: #112e51;
}

h3.small {
  font-size: 1em;
}

h1 .label,
h2 .label,
h3 .label,
h4 .label,
p .label {
  vertical-align: middle;
}

.item.bookmark {
  cursor: pointer;
}

/**
 * Forms
 */

fieldset {
  margin: 0.5625em 0;
  padding: 0.5625em;
}

/* Incident Profile page
#incident-profile table.s3-groupedopts-widget {
    border: 0;
}
#incident-profile .dl-header {
   display: none;
}

#content .incident-profile h3 {
    font-size: 1.6875rem;
    padding-bottom: 0;
}
*/
/* Map */
.x-toolbar table {
    width: auto;
}

/* Logo */
.name h1 {
  font-family: 'Verdana', sans-serif;
}

/*
.logo {
  height: 2em;
  width: auto;
  max-width: 10rem;
  margin-top: -0.25em;
}*/

/**
 * Callout Panel for Wrapping Events
 */

#content > .callout {
  margin-top: 1.5rem;
  background-color: #dce4ef;
  border-color: #8ba6ca;
}

#content > .callout hr {
  border-color: #8ba6ca;
  margin: 0.5em 0 1em 0;
}

#content > .callout h3,
#content > .callout ul li,
#content > .callout p:not(.callout-intro) {
  color: #5b616b;
  transition: color 125ms ease-in-out;
}

/* Override default theme */
#content > .callout h3 {
    font-size: 1.6875rem;
    padding-bottom: 0;
}

#content > .callout:hover h3,
#content > .callout:hover ul li,
#content > .callout:hover p:not(.callout-intro) {
  color: #323a45;
}

#content > .callout ul,
#content > .callout p {
  margin-bottom: 0.5em;
}

#content > .callout a:not(.button),
#content > .callout a:not(.button):visited {
  color: #4773aa;
}

#content > .callout .callout-intro {
  margin: -1.25em -1.25em 1.25em -1.25em;
  padding: 0.25em 0.25em 0.25em 1.25em;
  background-color: #8ba6ca;
  color: #fff;
}

#content > .callout .button.button-info {
  background-color: #4773aa;
  margin: 0.5em auto 0 0;
}

/**
 * Incident
 */

.incident {
  padding: 0;
}

.incident h3 > .button {
  position: relative;
  top: -0.5rem;
  padding-left: 4em;
}

.incident h3 > .button > [class*='fi-'] {
  font-size: 2em;
  position: absolute;
  margin-top: -0.25em;
  margin-left: -1.3em;
}

.incident-header {
  font-size: 0.8rem;
  color: #323a45;
  color: #fff;
}

.incident-header {
  margin: 0 !important;
  padding: 0.5em 0.75em 0.125em 0.75em;
  background-color: #5b616b;
}

.incident-header p,
.incident-header ul {
  margin-bottom: 0.35em;
}

.incident-header p,
.incident-header a {
  color: #fff;
}

.incident-header.active {
  background-color: #43AC6A;
}

.incident-header.inactive {
  background-color: #cf2a0e;
}

.incident-header.pending {
  background-color: #f08a24;
}

/* Share Button */
.incident-control .button.tiny.secondary,
.inline-list .button.tiny.secondary {
  margin: 0;
  background-color: #fff;
  padding: 0.275rem 1.25rem 0.3275rem 1.25rem;
}

.incident-content {
  padding: 1em;
}

.incident-content-summary {
  padding-left: 0;
}

.incident-content .large-8 {
  padding: 0;
}

.incident-content .large-4 {
  padding-right: 0;
}

.incident-labels {
  margin-bottom: 0.5rem;
}

.organization-logo img {
  max-width: 100%;
  width: 5rem;
  height: auto;
  padding-right: 0;
}

.incident-description {
  margin-top: 2em;
}

/**
 * Panel Wrap
 */

.panel-wrap {
  padding: 1rem;
  border: 1px solid #d6d7d9;
}

/**
 * Panel
 */

.panel {
  border: 0;
  background-color: #f1f1f1;
}

/**
 * News
 */

.news {
  margin: 5rem auto;
}

/**
 * Tables
 */

table {
  width: 100%;
}

table tr td {
  padding: 0.25rem 0.625rem;
}

/* jquery.dataTables.responsive.css uses + / - to expand the row
   - we want a caret instead
*/
table.dataTable tbody td:first-child,
table.dataTable thead th:first-child {
  display: none; /* Hide empty Actions column by default */
}
table.dataTable.dtr-inline.collapsed tbody td:first-child,
table.dataTable.dtr-inline.collapsed thead th:first-child {
  display: block;
}
table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
  color: inherit;
  background-color: inherit;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  font: normal normal normal 14px/1 FontAwesome;
  content: '\f0da'; /* fa-caret-right */
}
table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child:before {
  background-color: inherit;
  content: '\f0d7'; /* fa-caret-down */
}

/* Show Actions column on Group Browse & Staff Assign pages & Reports */
#custom-list-event_human_resource_wrapper table.dataTable tbody td:first-child,
#custom-list-event_human_resource_wrapper table.dataTable thead th:first-child,
#custom-list-event_organisation_wrapper table.dataTable tbody td:first-child,
#custom-list-event_organisation_wrapper table.dataTable thead th:first-child,
#custom-list-pr_forum_membership_wrapper table.dataTable tbody td:first-child,
#custom-list-pr_forum_membership_wrapper table.dataTable thead th:first-child,
div.pt-table table.dataTable tbody td:first-child,
div.pt-table table.dataTable thead th:first-child,
div.group-browse table.dataTable tbody td:first-child,
div.group-browse table.dataTable thead th:first-child,
body.assign table.dataTable tbody td:first-child,
body.assign table.dataTable thead th:first-child {
  display: block;
}
#custom-list-event_human_resource_wrapper thead th:first-child,
#custom-list-event_organisation_wrapper thead th:first-child,
#custom-list-pr_forum_membership_wrapper thead th:first-child,
div.pt-table table.dataTable thead th:first-child,
div.group-browse table.dataTable thead th:first-child,
body.assign table.dataTable thead th:first-child {
    border: 0;
}  


/**
 * Footer
 */

.footer {
  margin: 2rem 0 0 0;
}

/**
 * Incident Label Controls
 */

.incident-labels {
  display: inline-block;
}

.label-controls {
  display: inline-block;
  margin: 0 0 0 1rem;
  list-style: none;
}

.label-controls li {
  display: inline;
}

.label-controls a {
  position: relative;
  top: 0.125rem;
  margin-right: 0.5rem;
  color: #5b616b;
}

.label-controls a:hover {
  color: #3e94cf;
}

/* Compose Update */

.compose-update {
  background-color: #e2f3dc;
}

/* Updates */

.update-meta-text {
  font-size: 13px;
}
