/* line 429, ../../foundation/scss/components/_global.scss */
meta.foundation-version {
  font-family: "/{{VERSION}}/";
}

/* line 433, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 438, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 443, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em;
}

/* line 448, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em;
}

/* line 453, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em;
}

/* line 458, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em;
}

/* line 463, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em;
}

/* line 468, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em;
}

/* line 473, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em;
}

/* line 478, ../../foundation/scss/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* Top bar */
/* line 2, ../scss/custom/_menus.scss */
.top-bar {
  z-index: 1000;
}
/* line 4, ../scss/custom/_menus.scss */
.top-bar .title-area .logo {
  height: 2em;
  margin-top: 0.125em;
  max-width: 10rem;
  width: auto;
}
/* line 12, ../scss/custom/_menus.scss */
.top-bar .menu-toggle input {
  margin-right: 5px;
}
/* line 15, ../scss/custom/_menus.scss */
.top-bar li.name {
  padding-top: 0.2rem;
}
/* line 18, ../scss/custom/_menus.scss */
.top-bar .home-link {
  font-size: 1.375rem;
  color: white;
  padding: 0.5rem;
}

/* line 25, ../scss/custom/_menus.scss */
.top-bar-section li.menu-home a {
  font-weight: bold !important;
  font-size: 1.4em !important;
  text-transform: capitalize !important;
}
/* line 30, ../scss/custom/_menus.scss */
.top-bar-section li.active:not(.has-form) a:not(.button) span {
  border-bottom: 2px solid #CC0000;
}

@media only screen and (min-width: 825px) {
  /* line 38, ../scss/custom/_menus.scss */
  .top-bar select {
    position: static;
    top: 0;
    padding-bottom: 0;
    padding-right: 0.6rem;
    padding-top: 0;
  }
}
/* Side Menu */
/* line 49, ../scss/custom/_menus.scss */
.sidebar {
  background: none repeat scroll 0 0 #F3F3F3;
  margin-top: 10px;
  padding-top: 0.25rem;
}

/* line 55, ../scss/custom/_menus.scss */
.side-nav li {
  line-height: 1.2;
  list-style-type: none;
  list-style-position: inside;
  /*  margin: 0;*/
  padding: 0;
}

/* line 62, ../scss/custom/_menus.scss */
.side-nav li.heading:not(:first-child) {
  border-top: 1px solid #EAEAEA;
}

/* line 65, ../scss/custom/_menus.scss */
.side-nav li.heading {
  margin-top: 0.125rem;
}

/* line 68, ../scss/custom/_menus.scss */
.side-nav li.active > a:first-child:not(.button) {
  font-weight: bold;
  color: #444444;
  background-color: #E0E0E0;
}

/* line 31, ../scss/custom/_incident.scss */
p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  color: #4A4A4A;
  letter-spacing: 0.01438rem;
  font-weight: normal;
}

/* line 42, ../scss/custom/_incident.scss */
html .tabs dd.active > a,
html .tabs .tab-title.active > a {
  background-color: transparent;
  border-bottom-color: inherit;
  font-weight: bold;
}
/* line 47, ../scss/custom/_incident.scss */
html .tabs dd > a,
html .tabs .tab-title > a {
  background-color: transparent;
  border-bottom: 4px solid transparent;
  padding: 0;
  margin: 1rem 2rem 1rem 0;
}
/* line 52, ../scss/custom/_incident.scss */
html .tabs dd > a:hover,
html .tabs .tab-title > a:hover {
  background-color: transparent;
  border-bottom-color: inherit;
}

/* line 67, ../scss/custom/_incident.scss */
.button.expanded {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

/* line 74, ../scss/custom/_incident.scss */
label,
.meta {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.625rem;
  color: #4A4A4A;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 26, ../scss/custom/_incident.scss */
label p, label ul, label h1, label h2, label h3, label h4, label h5, label h6,
.meta p,
.meta ul,
.meta h1,
.meta h2,
.meta h3,
.meta h4,
.meta h5,
.meta h6 {
  font-size: inherit;
}

/* line 79, ../scss/custom/_incident.scss */
main.main {
  margin: 0 0.625rem;
}

/* line 87, ../scss/custom/_incident.scss */
.event-callout {
  border-style: none;
  border-width: 0;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #cddbeb;
  color: #333333;
  border-top: 4px solid #4D7EB9;
}
/* line 237, ../../foundation/scss/components/_global.scss */
.event-callout:before, .event-callout:after {
  content: " ";
  display: table;
}
/* line 238, ../../foundation/scss/components/_global.scss */
.event-callout:after {
  clear: both;
}
/* line 61, ../../foundation/scss/components/_panels.scss */
.event-callout > :first-child {
  margin-top: 0;
}
/* line 62, ../../foundation/scss/components/_panels.scss */
.event-callout > :last-child {
  margin-bottom: 0;
}
/* line 67, ../../foundation/scss/components/_panels.scss */
.event-callout h1, .event-callout h2, .event-callout h3, .event-callout h4, .event-callout h5, .event-callout h6, .event-callout p, .event-callout li, .event-callout dl {
  color: #333333;
}
/* line 74, ../../foundation/scss/components/_panels.scss */
.event-callout h1, .event-callout h2, .event-callout h3, .event-callout h4, .event-callout h5, .event-callout h6 {
  line-height: 1;
  margin-bottom: 0.625rem;
}
/* line 76, ../../foundation/scss/components/_panels.scss */
.event-callout h1.subheader, .event-callout h2.subheader, .event-callout h3.subheader, .event-callout h4.subheader, .event-callout h5.subheader, .event-callout h6.subheader {
  line-height: 1.4;
}
/* line 91, ../scss/custom/_incident.scss */
.event-callout .title.left {
  margin-right: .25em;
}

/* line 97, ../scss/custom/_incident.scss */
.meta-container p {
  margin-bottom: 0.625rem;
}

/* line 102, ../scss/custom/_incident.scss */
.meta-label {
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin-bottom: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25rem 0.5rem 0.25rem;
  font-size: 0.6875rem;
  background-color: #4D7EB9;
  color: #FFFFFF;
}
/* line 104, ../scss/custom/_incident.scss */
.meta-label.active {
  background-color: #4DB988;
}

/* line 120, ../scss/custom/_incident.scss */
.info-bar {
  background-color: #4B4B4B;
  color: white;
  padding: 0 1.25rem;
}
/* line 237, ../../foundation/scss/components/_global.scss */
.info-bar:before, .info-bar:after {
  content: " ";
  display: table;
}
/* line 238, ../../foundation/scss/components/_global.scss */
.info-bar:after {
  clear: both;
}
/* line 123, ../scss/custom/_incident.scss */
.info-bar.active {
  background-color: #5BBA89;
}
/* line 129, ../scss/custom/_incident.scss */
.info-bar a {
  color: white;
}
/* line 136, ../scss/custom/_incident.scss */
.info-bar ul {
  margin: 0;
  line-height: 2;
}
/* line 139, ../scss/custom/_incident.scss */
.info-bar ul > li {
  display: inline-block;
  list-style: none;
  margin-left: 0.75rem;
}
/* line 144, ../scss/custom/_incident.scss */
.info-bar ul:first-child > li:first-child {
  margin-left: 0;
}
/* line 147, ../scss/custom/_incident.scss */
.info-bar ul:first-child > li.icon:first-child {
  margin-left: -0.625rem;
}
/* line 150, ../scss/custom/_incident.scss */
.info-bar ul .title {
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 156, ../scss/custom/_incident.scss */
.info-bar ul .borders {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-width: 0 1px;
  padding: 0 0.75rem;
}
/* line 161, ../scss/custom/_incident.scss */
.info-bar ul .borders + .borders {
  margin-left: -1pt;
  border-left: none;
}

/* line 169, ../scss/custom/_incident.scss */
.incident-body {
  border-style: none;
  border-width: 0;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #EFEFEF;
  color: #333333;
}
/* line 61, ../../foundation/scss/components/_panels.scss */
.incident-body > :first-child {
  margin-top: 0;
}
/* line 62, ../../foundation/scss/components/_panels.scss */
.incident-body > :last-child {
  margin-bottom: 0;
}
/* line 67, ../../foundation/scss/components/_panels.scss */
.incident-body h1, .incident-body h2, .incident-body h3, .incident-body h4, .incident-body h5, .incident-body h6, .incident-body p, .incident-body li, .incident-body dl {
  color: #333333;
}
/* line 74, ../../foundation/scss/components/_panels.scss */
.incident-body h1, .incident-body h2, .incident-body h3, .incident-body h4, .incident-body h5, .incident-body h6 {
  line-height: 1;
  margin-bottom: 0.625rem;
}
/* line 76, ../../foundation/scss/components/_panels.scss */
.incident-body h1.subheader, .incident-body h2.subheader, .incident-body h3.subheader, .incident-body h4.subheader, .incident-body h5.subheader, .incident-body h6.subheader {
  line-height: 1.4;
}

/* line 174, ../scss/custom/_incident.scss */
.incident-summary .title {
  font-weight: bold;
}
/* line 177, ../scss/custom/_incident.scss */
.incident-summary .tags {
  display: inline;
  margin: 0 0 0 18px;
}
/* line 180, ../scss/custom/_incident.scss */
.incident-summary .tags .tag {
  display: inline;
  font-weight: bold;
  list-style: none;
}
/* line 184, ../scss/custom/_incident.scss */
.incident-summary .tags .tag::after {
  content: ",";
}
/* line 187, ../scss/custom/_incident.scss */
.incident-summary .tags .tag:last-child::after {
  content: "";
}

/* line 194, ../scss/custom/_incident.scss */
.incident-data {
  border-style: none;
  border-width: 0;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  background: #DDDDDD;
  color: #333333;
}
/* line 61, ../../foundation/scss/components/_panels.scss */
.incident-data > :first-child {
  margin-top: 0;
}
/* line 62, ../../foundation/scss/components/_panels.scss */
.incident-data > :last-child {
  margin-bottom: 0;
}
/* line 67, ../../foundation/scss/components/_panels.scss */
.incident-data h1, .incident-data h2, .incident-data h3, .incident-data h4, .incident-data h5, .incident-data h6, .incident-data p, .incident-data li, .incident-data dl {
  color: #333333;
}
/* line 74, ../../foundation/scss/components/_panels.scss */
.incident-data h1, .incident-data h2, .incident-data h3, .incident-data h4, .incident-data h5, .incident-data h6 {
  line-height: 1;
  margin-bottom: 0.625rem;
}
/* line 76, ../../foundation/scss/components/_panels.scss */
.incident-data h1.subheader, .incident-data h2.subheader, .incident-data h3.subheader, .incident-data h4.subheader, .incident-data h5.subheader, .incident-data h6.subheader {
  line-height: 1.4;
}
/* line 196, ../scss/custom/_incident.scss */
.incident-data p {
  font-size: 1.25rem;
  font-weight: bold;
}

/* line 203, ../scss/custom/_incident.scss */
.incident-resources .dataTables_paginate {
  float: none;
  text-align: center;
}
/* line 206, ../scss/custom/_incident.scss */
.incident-resources .dataTables_paginate .pagination {
  display: inline-block;
  margin-bottom: 0;
}
/* line 212, ../scss/custom/_incident.scss */
.incident-resources table.dataTable {
  background: transparent;
  border: none;
}
/* line 215, ../scss/custom/_incident.scss */
.incident-resources table.dataTable thead {
  background: transparent;
  border: none;
}
/* line 218, ../scss/custom/_incident.scss */
.incident-resources table.dataTable thead th {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.625rem;
  color: #4A4A4A;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  font-weight: normal;
  border: none;
  text-align: left;
}
/* line 26, ../scss/custom/_incident.scss */
.incident-resources table.dataTable thead th p, .incident-resources table.dataTable thead th ul, .incident-resources table.dataTable thead th h1, .incident-resources table.dataTable thead th h2, .incident-resources table.dataTable thead th h3, .incident-resources table.dataTable thead th h4, .incident-resources table.dataTable thead th h5, .incident-resources table.dataTable thead th h6 {
  font-size: inherit;
}
/* line 225, ../scss/custom/_incident.scss */
.incident-resources table.dataTable tbody tr.odd {
  background-color: #DDDDDD;
}
/* line 228, ../scss/custom/_incident.scss */
.incident-resources table.dataTable tbody tr.even {
  background-color: #FFFFFF;
}
/* line 233, ../scss/custom/_incident.scss */
.incident-resources table.dataTable tbody tr.even td,
.incident-resources table.dataTable tbody tr.odd td {
  background-color: transparent;
  border: none;
}
/* line 241, ../scss/custom/_incident.scss */
.incident-resources table td:nth-child(3),
.incident-resources table th:nth-child(3) {
  display: none;
}

/* line 245, ../scss/custom/_incident.scss */
.incident-map {
  width: 100%;
  height: 500px;
}

/* line 263, ../scss/custom/_incident.scss */
ul.dl {
  list-style: none;
  margin-left: 0;
}

/* line 269, ../scss/custom/_incident.scss */
.dl .dl-row {
  border: none;
  list-style: none;
}
/* line 274, ../scss/custom/_incident.scss */
.dl .dl-row > .dl-item {
  background-color: #FFFFFF;
}
/* line 276, ../scss/custom/_incident.scss */
.dl .dl-row > .dl-item .dl-row > .dl-item {
  background-color: #EEEEEE;
  margin-bottom: 1.25rem;
}
/* line 281, ../scss/custom/_incident.scss */
.dl .dl-item {
  float: left;
  padding: 0;
  width: 100%;
}
/* line 287, ../scss/custom/_incident.scss */
.dl .dl-item .dl-body {
  padding: 1.25rem;
}
/* line 290, ../scss/custom/_incident.scss */
.dl .dl-item footer {
  padding: 0 1.25rem;
}
/* line 294, ../scss/custom/_incident.scss */
.dl .dl-more,
.dl .dl-meta {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 0.625rem;
  color: #4A4A4A;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  font-weight: normal;
}
/* line 26, ../scss/custom/_incident.scss */
.dl .dl-more p, .dl .dl-more ul, .dl .dl-more h1, .dl .dl-more h2, .dl .dl-more h3, .dl .dl-more h4, .dl .dl-more h5, .dl .dl-more h6,
.dl .dl-meta p,
.dl .dl-meta ul,
.dl .dl-meta h1,
.dl .dl-meta h2,
.dl .dl-meta h3,
.dl .dl-meta h4,
.dl .dl-meta h5,
.dl .dl-meta h6 {
  font-size: inherit;
}
/* line 298, ../scss/custom/_incident.scss */
.dl .dl-more::before {
  content: ">>";
}
/* line 303, ../scss/custom/_incident.scss */
.dl .dl-priority::before {
  content: "";
  color: #4B4B4B;
  display: inline-block;
  font-size: small;
  font-weight: bold;
  text-align: center;
  width: 20px;
  line-height: 20px;
}
/* line 313, ../scss/custom/_incident.scss */
.dl .dl-priority.dl-icon-post::before {
  content: "D";
  background-color: #7EB94D;
  border-radius: 30px;
}
/* line 318, ../scss/custom/_incident.scss */
.dl .dl-priority.dl-icon-alert::before {
  content: "I";
  background-color: #E5AA07;
}
/* line 322, ../scss/custom/_incident.scss */
.dl .dl-priority.dl-icon-rep::before {
  content: "!";
  background-color: #FF5959;
}

/*
input
label
radio buttons
drop down
table row
tag
*/
/*
search input
input w/ clear button
info bar
card header
location card
meta data
add tag
sortable table
pagination
*/
/* line 362, ../scss/custom/_incident.scss */
.ui-widget.tagit {
  padding: 0 0.125rem;
  border-radius: 0;
  border-color: #CCC;
}
/* line 366, ../scss/custom/_incident.scss */
.ui-widget.tagit li {
  display: block;
  float: left;
  margin: 2px 5px 2px 0;
}
/* line 371, ../scss/custom/_incident.scss */
.ui-widget.tagit .tagit-choice {
  border: none;
  background: #DDDDDD;
  padding: 0 1.125rem 0 0.375rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}
/* line 379, ../scss/custom/_incident.scss */
.ui-widget.tagit .tagit-new {
  padding: 0;
}
/* line 381, ../scss/custom/_incident.scss */
.ui-widget.tagit .tagit-new input {
  font-size: 0.75rem;
  height: 1.1875rem;
}

/*
search filter
new comment
incident card
resource panel
incident post
*/
