{{extend "layout.html"}}
<div id='home'>
<h2>User Guide</h2>
<b>Athewaas (Kashmir Flood Coordination System) </b>is a platform created after the 2014 floods in Kashmir to-
<br/><br/>
<ul>
  <li>Help all NGO's and indivisuals working on flood relief and recoverymanage their operations better</li>
  <li>Facilitate coordination and collaboration</li>
  <li>Allow common people to submit requests</li>
</ul>
 For user guide,
 <a href="https://docs.google.com/a/iquasar.com/file/d/0B2Oza2Pxxyw6Qi1qMV93Xy1kWU0/edit">
 click here</a>
</div>