{{extend "layout.html"}}
<style>body{background:none;}</style>
<div id='myCarousel' class='carousel slide'>
 <ol class='carousel-indicators'>
  <li data-target='#myCarousel' data-slide-to='0' class='active'></li>
  <li data-target='#myCarousel' data-slide-to='1'></li>
  <li data-target='#myCarousel' data-slide-to='2'></li>
 </ol>
 <div class='carousel-inner'>
  <div class='active item'><img src='/{{=appname}}/static/themes/{{=response.s3.theme}}/img/521792.jpg' alt='' /></div>
  <div class='item'><img src='/{{=appname}}/static/themes/{{=response.s3.theme}}/img/482470-car.jpg' alt='' /></div>
  <div class='item'><img src='/{{=appname}}/static/themes/{{=response.s3.theme}}/img/442014.jpg' alt='' /></div>
 </div>
 <div class='carousel-caption'>
  <h1>{{=T("Monitoring and improving disaster management")}}<br></h1>
  <p>{{=T("Monitoring and improving disaster response and preparedness in Timor-Leste.")}}</p>
  <a href='/{{=appname}}/default/user/login' class='btn btn-custom btn-login'><i class='icon-signin'></i> {{=T("LOGIN")}} </a></p>
 </div>
</div>
<section id='homepage-about'>
 <div class='container'>
  <div class='row'>
   <div class='span4 first_stl'>
    <div>
     <img src='/{{=appname}}/static/themes/{{=response.s3.theme}}/img/413751-circle1.png' class='img-circle home-circle-img'>
    </div>
    <h2>{{=T("Monitoring")}}</h2>
    <p class='quote mb4'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
   </div>
   <div class='span4 stl'>
    <div>
     <img src='/{{=appname}}/static/themes/{{=response.s3.theme}}/img/482470-circle1.png' class='img-circle home-circle-img'>
    </div>
    <h2>{{=T("Preparedness")}}</h2>
    <p class='quote mb4'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>		
   </div>			
   <div class='span4 stl'>
    <div>
     <img src='/{{=appname}}/static/themes/{{=response.s3.theme}}/img/442014-circle1.png' class='img-circle home-circle-img'>
    </div>
    <h2>{{=T("Response")}}</h2>
    <p class='quote mb4'>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
   </div>
  </div>
 </div>	
</section>
<section id='what-they-do' class='st'>
 <div class='container'>
  <div class='row'>
   <div class='span6'>
    <h2><i class='icon-bookmark-empty'></i> {{=T("What we do")}}</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
   </div>
   <div class='span6'>
    <br /> <!--this is just temporary until we decide what actually goes here-->
    <br />
    <br />
    <br />
    <br />
    <img src='/{{=appname}}/static/themes/{{=response.s3.theme}}/img/map_tl.png'>
   </div>
  </div>
 </div>
</section>
<section id='homepage-layer' class='st'>
 <div class='container'>   
  <div class='row'>
   <div class='span6'>
    <h2><i class='icon-calendar'></i> {{=T("Latest Events")}}</h2>
    {{=events}}
   </div>
   <div class='span6'>
    <h2><i class='icon-bullhorn'></i> {{=T("Latest Updates")}}</h2>
    {{=news}}
   </div>
  </div>  
 </div>
</section>