{{extend "layout.html"}}
<h2>{{=title}}</h2>
<h3>Ministry of Social Solidarity</h3>
<h4><a href='http://www.mss.gov.tl' target='_blank'>http://www.mss.gov.tl</a></h4>
<p></p>
<h3>Timor-Leste National Historical Disaster Damage and Loss Inventory (Disinventar)</h3>
<h4><a href='http://disastermonitoring.mss.gov.tl' target='_blank'>http://disastermonitoring.mss.gov.tl</a></h4>
<p></p>
<h3>United Nations Development Program</h3>
<h4><a href='http://www.tl.undp.org' target='_blank'>http://www.tl.undp.org</a></h4>
<p></p>
