<html>
    <head>
        {{include "jquery.html"}}


<script><!--

function DataPurchaseManager(view_URL) {
    var data_manager = this
    var purchase_link = $('#purchase_link')
    var fixed_size = $('#fixed_size')
    data_manager.url_parts = []
   
    data_manager.update_price = function () {
        var url_parts = data_manager.url_parts = []
        $('#data_spec_table tr input:checked').each(
            function (index, element) {
                url_parts.push(
                    $(element).data('value')
                )
            }
        )
        if (url_parts.length) {
            var spec = (
                '?spec='+('['+url_parts.join(',')+']')
            )
            var src = view_URL+spec
            purchase_link.attr('href', view_URL+'_download'+spec)
            purchase_link.html('Download')
        }
        $('#total').html('Total: Nrs '+url_parts.length * 1000)
        show_status()
    }
    
    data_manager.addDataPurchaseSpec = function (data_url, data_name) {
        var table_row = $(document.createElement('tr'))
        var id = $('#data_spec_table tr input').length
        var table_row_id = 'table_row'+id
        var table_checkbox = $(document.createElement('input')).attr({
            id: table_row_id,
            type: 'checkbox',
            checked: true
        }).click(function () {
            data_manager.update_price()
        })
        table_checkbox.data('value', data_url)
        
        table_row.append($('<td>').append(table_checkbox))
        table_row.append($('<td>').html(data_name))
        table_row.append($('<td>').html('Nrs 1000'))
        
        $('#data_spec_table').append(table_row)
        data_manager.update_price()
    }
    
    data_manager.removeDataPurchaseSpec = function (data_url) {
        // unimplemented, the user may close the window 
        // to clear the datas
    }
    
    function show_status() {
        window.document.title = (
            'Climate Data Purchase: '+data_manager.url_parts.length+' item(s)'
        )
    }
    show_status()
    $('#checkout').click(function () { 
        alert("At this point the user will be redirected to a payment gateway. Once they have paid, they can download the data from the site. Their purchases and searches will be logged in the site. \nQuestions:\n1. Can they download only once or as many times as they like? \n2. What happens if they purchase the same data twice or data that overlaps? (The system can't easily track this). \n3. CSV and NetCDF downloads will be available. What is the best NetCDF format? ")}
        )
}

-->
        </script>
    </head>
    
    <bod>
                  
        <div id="controls"
            style="text-align:center;"
        >
            <h2>Data shopping list</h2>
        
            <table id="data_spec_table" style="width:100%; background:#EEE;">
                <tr style="border-bottom:1px solid white">
                    <th>Buy</th><th>Dataset</th><th>Price</th>
                </tr>
            </table>
            <a id="purchase_link"></a><br />
            <h3 id="total">Total: </h3>
            <button id="checkout">Checkout (proceed to payment gateway)</button><br />
            <span>
                Please note this is a demo/test system.<br />
                Prices are not in any way accurate.<br />
                Payment gateway is not currently integrated.<br />
                Styling is basic so as not to distract from usability testing.
            </span>
        </div>
    </body>
</html>