.inline-throbber {
    background-image: url(../../img/sunflower_fade_indicator.gif);
}
.loading {
    background: url(../../img/sunflower_spin_throbber.gif) center no-repeat !important;
}
.throbber,
.layer_throbber,
.map_loader {
    background-image: url(../../img/sunflower_spin_throbber.gif);
}
#logo {
	width: 55px;
	position: relative;
	top: -19px;
}
#feed-control span {
	color: #676767;
	font-size: 11px;
	margin: 10px;
	padding: 4px;
}

.s3_add_resource_link {
    float: left;
    margin: -8px 0 -8px 5px;
}

/* 'Interested' Option 
   (Members for Tasks) */
#assign-role.as_div {
    margin: 0.3em 0 0 1.1em;
    outline: 0 none;
}
#project_task_role.as_div {
    left: 0.8em;
    position: relative;
    top: 0.2em;
}
#sub-assign-container {
    left: 6.2em;
    position: relative;
}
#create-new-role > a {
    left: 8.2em;
    position: relative;
    top: 0.6em;
}
#assign-container {
    height: 50px;
    outline: 0;
}

/* Sunflower Throbber */
.s3-twitter-throbber {
    background-image: url(../../img/sunflower_spin_throbber.gif);
    background-repeat: no-repeat;
}
