{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "E-Cidadania Index" %}{% endblock %}
{% block logo %}<a href="/"><img src="/{{ MEDIA_URL }}spaces/logos/logo_index.png"/></a>{% endblock %}
{% block banner %}<img src="/{{ MEDIA_URL }}spaces/banners/banner_index.png"/>{% endblock %}

{% block menubar %}
{% endblock %}

{% block content %}

  {% block leftcol%}
  {% endblock %}
  
  {% block centercol %}
    <div id="centercol">
      <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}    
        <p><input type="submit" value="Continue &rarr;" /></p>
      </form>
    </div>
  {% endblock %}
  
  
  {% block rightcol %}
  {% endblock %}

{% endblock %}
