{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ get_place.name|capfirst }} - {% trans "Index" %}{% endblock %}
{% block logo %}<img src="/{{MEDIA_URL}}{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="/{{MEDIA_URL}}{{ get_place.banner }}">{% endblock %}

{% block menu%}
{% endblock %}

{% block content %}

  {% block leftcol %}
    <div id="leftcol">
    
        {% if get_place.mod_docs %}
          <h2>Documentos</h2>
          <ul>
            {% for doc in documents %}
              <li><a href="/{{ MEDIA_URL }}{{ doc.docfile }}">{{ doc.title }}</a></li>
            {% endfor %}
          </ul>
          <hr></hr>
        {% endif %}
        
        {% if get_place.mod_cal %}
          <h2>Calendario</h2>
          <p>El calendario está activado</p>
        {% endif %}

    </div>
  {% endblock %}

  {% block centercol %}
    <div id="centercol">
      
      <h1>Datos de prueba</h1>
      Nombre: {{ get_place.name }}<br/>
      Descripcion: {{ get_place.description }}<br/>
      Calendario activado: {{ get_place.mod_cal }}<br/>
      Documentos activado: {{ get_place.mod_docs }}<br/>
      Noticias activado: {{ get_place.mod_news }}<br/>
      Debate activado: {{ get_place.mod_debate }}<br/>
      Propuestas activado: {{ get_place.mod_proposals }}<br/>
      Este espacio fue creado el: {{ get_place.date }}<br/>
      Este espacio fue creado por: {{ get_place.author }}<br/>
    </div>
  {% endblock %}

{% endblock %}

{% block footer %}
  <p>Entidades que participan:</p> {% for e in entities %} {{e.name}} - {% endfor %}
{% endblock %}
