{% extends "base.html" %}
{% load i18n %}

{% block content %}

Nombre: {{ get_place.name }}<br/>
Logo: <img src="/{{MEDIA_URL}}{{ get_place.logo }}" /><br/>
Banner: <img src="/{{MEDIA_URL}}{{ get_place.banner }}" /><br/>
Descripcion: {{ get_place.description }}
Entidades: {% for entities in %}

{% endblock %}


Nombre: {{ get_place.name }}<br/>
Logo: <img src="/{{MEDIA_URL}}{{ get_place.logo }}" /><br/>
Banner: <img src="/{{MEDIA_URL}}{{ get_place.banner }}" /><br/>
Descripcion: {{ get_place.description }}

E
