<div class='row'>
 <div class="large-4 large-offset-1 medium-6 columns">
   <img class="footer-logo" src="{{=URL(c="static", f="themes", args=["MAVC", "img", "image_mtp_logo_footer.png"])}}"></img>
   <span class="footer-icon"><i class="fa fa-plus"></i></span>
   <img class="footer-logo" src="{{=URL(c="static", f="themes", args=["MAVC", "img", "image_bayanihan.png"])}}"></img>
 </div>
 <div class="text-left large-4 large-offset-1 medium-6 columns end">
   <p class="footer-text">
     Map the Philippines helps citizens, NGOs, business
     and government work better together. By working
     in real-time and sharing data on the UN
     Sustainable Development Goals, we help make more
     informed decisions about our communities.
   </p>
 </div>
</div>
