{{extend "layout.html"}}
<div class='container'>
<div class='row carousel'>
 <div id='title-image'>
  <img src='{{=URL(c="static", f="themes", args=["MAVC", "img", "frontpage.jpg"])}}'/>
 </div>
 <div class='image-caption'>
  {{if not auth.is_logged_in():}}
  <p>
   <a href='/{{=appname}}/default/user/login' class='btn btn-custom btn-login'><i class='icon-signin'></i> {{=T("LOGIN")}} </a>
   {{if settings.get_security_self_registration():}}
   <a href='/{{=appname}}/default/user/register' class='btn btn-register'><i class='icon-pencil'></i> {{=T("REGISTER")}} </a>
   {{pass}}
  </p>{{pass}}
 </div>
</div>
</div>