<tr class='date_summary'>
<td>{{=details[0][0]}}</td>
<td>
<img id={{="%s-%s-plus" % (report, details[0][0].replace(" ", "-"))}}
     src="/eden/static/img/icon_blue_plus15px.png"
     onclick="showStuff('{{=report}}',
                        '{{=details[0][0].replace(' ','-')}}'
                        ,'{{=cnt}}'
                        );
    return true;"
<img id={{="%s-%s-minus" % (report, details[0][0].replace(" ", "-"))}}
     src="/eden/static/img/icon_blue_minus15px.png"
     style="display: none;"
     onclick="hideStuff('{{=report}}',
                        '{{=details[0][0].replace(" ", "-")}}'
                        ,'{{=cnt}}'
                        );
    return true;"
</td>
{{for i in range(7):}}
	<td>{{=details[i+1]}}</td>
{{pass}}
<td><b>{{=details[8]}}</b></td>
</tr>