{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Snapshot Report")}}</h2>
<h3>{{=T("Level 1")}}:</h3>
<ul>
<li>{{=T("Green")}}: {{=level1.green}}</li>
<li>{{=T("Yellow")}}: {{=level1.yellow}}</li>
<li>{{=T("Red")}}: {{=level1.red}}</li>
<li>{{=T("Total")}}: {{=level1.total}}</li>
</ul>
<h3>{{=T("Level 2")}}:</h3>
<ul>
<li>{{=T("Green")}}: {{=level2.green}}</li>
<li>{{=T("Yellow")}}: {{=level2.yellow}}</li>
<li>{{=T("Red")}}: {{=level2.red}}</li>
<li>{{=T("Total")}}: {{=level2.total}}</li>
</ul>
</div>
