/* Stuff which is SAMBRO-specific */

.dl-header {
    display: none;
}
legend button {
    margin: 0;
}
#cap_alert_datalist {
    overflow-x: auto;
}
.subscribe-button {
    float: right;
    margin-top: -3rem;
    margin-right: 0.8rem;
}
.tiny.button {
    font-size: 1rem;
}
