# =============================================================================
# Add a list of CSV files to import into the system
#
# The list of import files is a comma separated list as follows:
#
#   prefix,tablename,csv file name,stylesheet
#
# The CSV file is assumed to be in the same directory as this file
# The style sheet is assumed to be in either of the following directories:
#     static/formats/s3csv/prefix/
#     static/formats/s3csv/
#
# For details on how to import data into the system see the following:
#     zzz_1st_run
#     s3import::S3BulkImporter
# =============================================================================
# Roles
*,import_role,auth_roles.csv
# GIS
*,import_remote_csv,,"http://eden.sahanafoundation.org/downloads/US_L0.zip",gis,location,location.xsl
gis,location,locations/US/US_L1.csv,location.xsl
# Using NYC as L2, not Counties
#gis,location,locations/US/US_L2.csv,location.xsl
gis,location,locations/US/NYC_City_as_L2.csv,location.xsl
# Using Zipcodes instead
#gis,location,locations/US/NYC_L4.csv,location.xsl
#  Markers
gis,marker,default/gis_marker.csv,marker.xsl
# Config
gis,config,gis_config.csv,config.xsl
gis,hierarchy,gis_hierarchy.csv,hierarchy.xsl
#  Layers
gis,layer_feature,gis_layer_feature.csv,layer_feature.xsl
gis,layer_config,default/gis_layer_openstreetmap.csv,layer_openstreetmap.xsl
gis,layer_config,gis_layer_openstreetmap.csv,layer_openstreetmap.xsl
gis,layer_config,default/gis_layer_openweathermap.csv,layer_openweathermap.xsl
gis,layer_config,default/gis_layer_bing.csv,layer_bing.xsl
gis,layer_config,default/gis_layer_google.csv,layer_google.xsl
gis,layer_config,gis_layer_google.csv,layer_google.xsl
gis,layer_config,default/gis_layer_wms.csv,layer_wms.xsl
gis,layer_config,default/gis_layer_tms.csv,layer_tms.xsl
#gis,layer_georss,default/gis_layer_georss.csv,layer_georss.xsl
gis,layer_config,default/gis_layer_coordinate.csv,layer_coordinate.xsl
# -----------------------------------------------------------------------------
cms,series,cms_series.csv,series.xsl
cms,post,default/cms_post.csv,post.xsl
cms,post,cms_post.csv,post.xsl
# -----------------------------------------------------------------------------
org,sector,default/org_sector.csv,sector.xsl
org,organisation_type,organisation_type.csv,organisation_type.xsl
org,facility_type,facility_type.csv,facility_type.xsl
org,group_membership_status,org_group_membership_status.csv,group_membership_status.xsl
org,office_type,default/office_type.csv,office_type.xsl
org,service,org_service.csv,service.xsl
#event,event_type,default/event_type.csv,event_type.xsl
#event,incident_type,default/incident_type.csv,incident_type.xsl
#supply,catalog_item,catalog_item.csv,catalog_item.xsl
#req,summary_option,req_summary_option.csv,summary_option.xsl
hrm,skill,hrm_skill.csv,skill.xsl
##hrm,skill,default/DrivingSkillList.csv,skill.xsl
##hrm,skill,default/LanguageSkillList.csv,skill.xsl
#hrm,competency_rating,default/DefaultSkillCompetency.csv,competency_rating.xsl
##hrm,competency_rating,default/LanguageCompetency.csv,competency_rating.xsl
#hrm,certificate,default/certificate.csv,certificate.xsl
#event,incident_type,default/incident_type.csv,incident_type.xsl
#project,status,default/project_status.csv,status.xsl
#project,activity_type,default/project_activity_type.csv,activity_type.xsl
#project,hazard,default/project_hazard.csv,hazard.xsl
#project,theme,default/project_theme.csv,theme.xsl
#project,beneficiary_type,default/project_beneficiary_type.csv,beneficiary_type.xsl
#cr,shelter_type,default/shelter_type.csv,shelter_type.xsl
# -----------------------------------------------------------------------------
# Survey (Canvassing)
# Add the survey templates
#survey,question_list,sandySIquestionnaire.csv,question_list.xsl
# -----------------------------------------------------------------------------
# Dummy Data
# Users
*,import_user,auth_user.csv
# -----------------------------------------------------------------------------
org,group,org_group.csv,group.xsl
org,organisation,organisation.csv,organisation.xsl
org,group_membership,org_group_membership.csv,group_membership.xsl
org,facility,facility.csv,facility.xsl
# -----------------------------------------------------------------------------
#req,req,req.csv,req.xsl
#req,req_item,req_item.csv,req_item.xsl
#req,req_skill,req_skill.csv,req_skill.xsl
# -----------------------------------------------------------------------------
# Survey (Canvassing)
# Add the completed responses to the various templates
#survey,complete,SICanvasData.csv,complete.xsl
# END -------------------------------------------------------------------------