/* ThemeRoller override style sheet for jQuery Calendars Picker v2.0.0. */
.calendars-popup .ui-datepicker {
        display: block;
}
#ui-datepicker-div,
.ui-datepicker-inline {
        min-width: 17em;
/*         font-size: 75%; */
        font-size: 0.75rem;
}
#ui-datepicker-div {
        z-index: 100;
}
.ui-datepicker-inline {
        float: left;
}
.ui-datepicker-rtl {
        direction: rtl;
}
#ui-datepicker-div a,
.ui-datepicker-inline a {
        text-decoration: none;
}
.ui-datepicker-prompt {
        height: 1.5em;
        padding-top: 0.25em;
        text-align: center;
}
button.ui-datepicker-cmd {
        height: 2em;
}
.ui-datepicker-cmd-clear {
        float: left;
        margin-left: 0.25em;
}
.ui-datepicker-cmd-close {
        float: right;
        margin-right: 0.25em;
}
.ui-datepicker-cmd-prev {
        position: static;
        float: left;
/*         width: 30%; */
        width: auto;
        height: auto;
        margin-left: 1%;
}
.ui-datepicker-cmd-next {
        position: static;
        float: right;
/*         width: 30%; */
        width: auto;
        height: auto;
        margin-right: 1%;
/*         text-align: right; */
}
.ui-datepicker-cmd-current,
.ui-datepicker-cmd-today {
        float: left;
        width: 37%;
        text-align: center;
}
.ui-datepicker-month-nav {
        float: left;
        text-align: center;
}
.ui-datepicker-month-nav div {
        float: left;
        width: 12.5%;
        margin: 1%;
        padding: 1%;
}
.ui-datepicker-month-nav span {
        color: #888;
}
.ui-datepicker-row-break {
        width: 100%;
        font-size: 100%;
}
.ui-datepicker-group {
        float: left;
        min-width: 17em;
}
.ui-datepicker-group .ui-datepicker-header {
/*         height: 1.5em; */
        height: auto;
        text-align: center;
}
.ui-datepicker select,
.ui-datepicker-inline select {
        width: auto;
/*         height: 1.66em; */
        margin: 0;
        border: none;
        font-weight: bold;
}
.ui-datepicker th {
        padding: 0.5em 0.3em;
}
.ui-datepicker td,
.ui-datepicker td a,
.ui-datepicker td span {
        border: 1px solid transparent;
        text-align: center;
}
.ui-datepicker-status {
        padding: 0.25em 0em;
        text-align: center;
}
.ui-datepicker .ui-helper-clearfix {
        clear: both;
}
.ui-widget-header a,
.ui-widget-header select {
	color: #222222; /* Set (.ui-widget-header a) colour from theme here */
}
.ui-widget-header a:hover {
	background-color: #dadada; /* Set (.ui-state-hover) colours from theme here */
	color: #212121;
}
.ui-widget-header select,
.ui-widget-header option {
	background-color: #cccccc; /* Set (.ui-widget-header) background colour from theme here */
}
.ui-state-highlight a {
	color: #363636; /* Set (.ui-state-highlight) colour from theme here */
}
