{{extend "layout.html"}}
<div id='home'>
{{try:}}
<h1>{{=title}}</h1>
{{except:}}
{{pass}}
<div class='panel'>
  <p>{{=T("The Sahana Disaster Management Platform can manage Community Emergency Response Team (CERT) volunteers, their trainings and certificates and allows you to create maps and send messages.")}}</p>
</div>
<div id='home_menu' class='row'>
 {{for menu in menus:}}
  <div class='large-3 columns'>
    <a href='{{=URL(c=menu["module"], f=menu["function"], args=menu.get("args",None))}}'>
     <h2><i class='fa fa-{{=menu["icon"]}} menu'></i></h2>
     <h2>{{=menu["title"]}}</h2>
    </a>
    <div class='menu_buttons'>
      {{for button in menu["buttons"]:}}
       <a href='{{=URL(c=button.get("controller", menu["module"]), f=button.get("function", menu["function"]), args=button["args"])}}' class='button small secondary {{=button["args"]}}'>
        <i class='fa fa-{{=button["icon"]}}'></i> {{=button["label"]}}</a>
      {{pass}}
    </div>
    <p>{{=menu["description"]}}</p>
  </div>
 {{pass}}
</div>
