{{T = current.T}}
{{try:}}{{=page_url}}{{except:}}{{pass}}
{{if new is not None:}}
{{new_title=T("The following Alert has been added") if new == 1 else T("The following %(number)s Alerts have been added") % dict(number=new)}}
{{=XML(new_title)}}:
{{for record in new_records:}}
 {{new_alert_record=dict(record)}}
{{new_alert_message = T("""%(Status)s %(MessageType)s effective for %(AreaDescription)s! 
A %(Priority)s priority %(EventType)s alert issued by %(SenderName)s
Headline: %(Headline)s
Message: %(Identifier)s from %(Source)s sent at %(Date)s is a %(Status)s, %(Scope)s  %(MessageType)s - %(Restriction)s
This %(Severity)s %(Category)s event is %(Urgency)s and is %(Certainty)s
Description: %(Description)s
Response Type: %(ResponseType)s
Instruction(s): %(Instruction)s
Alert is effective: %(Effective)s
Alert expire on: %(Expires)s
For more details use the following sources:
Web: %(URL)s
Call: %(Contact)s""")% dict(Status=new_alert_record["Status"], MessageType=new_alert_record["Message Type"], AreaDescription=new_alert_record["Area Description"],\
Priority=new_alert_record["Priority"], EventType=new_alert_record["Event"], SenderName=new_alert_record["Sender's name"], Headline=new_alert_record["Headline"],\
Identifier=new_alert_record["Identifier"], Source=new_alert_record["Source"], Date=new_alert_record["Date"], Scope=new_alert_record["Scope"],\
Restriction=new_alert_record["Restriction"],Severity=new_alert_record["Severity"], Category=new_alert_record["Category"], Urgency=new_alert_record["Urgency"],\
Certainty=new_alert_record["Certainty"], Description=new_alert_record["Description"], ResponseType=new_alert_record["Response type"],\
Instruction=new_alert_record["Instruction"], Effective=new_alert_record["Effective"], Expires=new_alert_record["Expires at"],\
URL=new_alert_record["URL"], Contact=new_alert_record["Contact information"])}}
{{=XML(new_alert_message)}}{{pass}}{{pass}}
{{if upd is not None:}}
{{upd_title=T("The following Alert has been updated") if upd == 1 else T("The following %(number)s Alerts have been updated") % dict(number=upd)}}
{{=XML(upd_title)}}:
{{for record in upd_records:}}
 {{updated_alert_record=dict(record)}}
{{updated_alert_message = T("""%(Status)s %(MessageType)s effective for %(AreaDescription)s! 
A %(Priority)s priority %(EventType)s alert issued by %(SenderName)s
Headline: %(Headline)s
Message: %(Identifier)s from %(Source)s sent at %(Date)s is a %(Status)s, %(Scope)s %(MessageType)s - %(Restriction)s
This %(Severity)s %(Category)s event is %(Urgency)s and is %(Certainty)s
Description: %(Description)s
Response Type: %(ResponseType)s
Instruction(s): %(Instruction)s
Alert is effective: %(Effective)s
Alert expire on: %(Expires)s
For more details use the following sources:
Web: %(URL)s
Call: %(Contact)s""")% dict(Status=updated_alert_record["Status"], MessageType=updated_alert_record["Message Type"], AreaDescription=updated_alert_record["Area Description"],\
Priority=updated_alert_record["Priority"], EventType=updated_alert_record["Event"], SenderName=updated_alert_record["Sender's name"], Headline=updated_alert_record["Headline"],\
Identifier=updated_alert_record["Identifier"], Source=updated_alert_record["Source"], Date=updated_alert_record["Date"], Scope=updated_alert_record["Scope"],\
Restriction=updated_alert_record["Restriction"],Severity=updated_alert_record["Severity"], Category=updated_alert_record["Category"], Urgency=updated_alert_record["Urgency"],\
Certainty=updated_alert_record["Certainty"], Description=updated_alert_record["Description"], ResponseType=updated_alert_record["Response type"],\
Instruction=updated_alert_record["Instruction"], Effective=updated_alert_record["Effective"], Expires=updated_alert_record["Expires at"],\
URL=updated_alert_record["URL"], Contact=updated_alert_record["Contact information"])}}
{{=XML(updated_alert_message)}}{{pass}}{{pass}}
