<div class='row'>
 <div class='small-12 columns'>
  {{try:}}{{=H2(title)}}{{except:}}{{pass}}
  {{try:}}{{=s3db.ocr_buttons(r)}}{{except:}}{{pass}}
 </div>
</div>
<div id='rheader' class='row'>
 <div class='small-12 columns'>
  {{try:}}{{=XML(rheader)}}
 </div>
</div>
<div id='component' class='row'>
{{except:}}
 </div>
</div>
<div class='row'>
{{pass}}
 <div class='small-12 columns'>
  {{include "key.html"}}
  <div class='form-container'>
   {{try:}}{{=form}}{{except:}}{{pass}}
  </div>
 </div>
</div>
