{{try:}}{{=H2(title)}}{{except:}}{{pass}}
<div id='rheader'>
{{try:}}{{=rheader}}
 </div>
  <div id='component'>
{{except:}}
  </div>
  <div>
 {{pass}}
	{{try:}}{{=H3(subtitle)}}{{except:}}{{pass}}
	{{try:}}{{=delete_btn}}{{except:}}{{pass}}
	{{include "last_update.html"}}
	{{try:}}{{include}}
    {{except:}}{{pass}}
	{{try:}}
	 <p>
	 {{=buttons["edit_btn"]}}
	 </p>
	{{except:}}{{pass}}
	<div id='map'></div>
	<div class='item-container'>
	{{try:}}{{=item}}{{except:}}{{pass}}
	</div>
	{{try:}}{{=buttons["list_btn"]}}{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
