<div class='row'>
 <div class='small-12 columns'>
  {{try:}}{{=H2(title)}}{{except:}}{{pass}}
 </div>
</div>
{{try:}}{{rheader=rheader}}
<div id='rheader' class='row'>
 <div class='small-12 columns'>
  {{=XML(rheader)}}
 </div>
</div>
<div id='component' class='row'>
{{except:}}
<div class='row'>
{{pass}}
 
<div class='small-12 columns'>
  <!-- Input Form-->
  {{try:}}{{form=form}}{{except:}}{{form=None}}{{pass}}
  {{if form:}}
  <div class='row'>

   <div class="small-12 columns">
    {{try:}}{{=H3(addtitle)}}{{except:}}{{pass}}
    {{try:}}{{=addheader}}{{except:}}{{pass}}
    {{include "key.html"}}
    <div class='form-container'>
    {{try:}}
      <link href="/{{=appname}}/static/styles/S3/dsform.css" rel="stylesheet" type="text/css" />
      {{=form}}
    {{except:}}{{pass}}
    </div>
   </div>
  </div>
  {{pass}}

  <!-- Filter Form-->
  <div class='row'>
   <div class='medium-9 large-8 medium-pull-3 large-pull-4 columns'>
    {{try:}}{{if list_filter_form:}}
    <div id='list-filter' class='form-container'>
     {{=list_filter_form}}
    </div>
    {{pass}}
    {{except:}}{{pass}}
   </div>
   
   <!-- Table -->
  <div class='row'>
   {{try:}}{{items=items}}
   <div id='dstable-container' class='small-12 columns'>
    {{=items}}
     <link href="/{{=appname}}/static/styles/S3/dstable.css" rel="stylesheet" type="text/css" />
   </div>
   {{except:}}{{pass}}
  </div>
 </div>
</div>
{{if s3.rfooter:}}
<div id='rfooter' class='row'>
 <div class='small-12 columns'>
  {{=XML(s3.rfooter)}}
 </div>
</div>{{pass}}
