{{try:}}{{=H2(title)}}
{{except:}}{{pass}}
<div id='rheader'>
{{try:}}{{=XML(rheader)}}
 </div>
 <div id='component'>
{{except:}}
</div>
<div>
{{pass}}
<div id='list-btn-add'>
{{try:}}{{=add_btn}}
{{except:}}{{pass}}
</div>
{{try:}}{{=H3(subtitle)}}
{{except:}}{{pass}}
<div id='map'></div>
<div id='table-container'>
{{include "formats.html"}}
{{try:}}{{=items}}
{{except:}}{{pass}}
</div>
{{if response.s3.rfooter:}}
  <div id='rfooter'>
    {{=XML(response.s3.rfooter)}}
  </div>
{{pass}}
{{include "dataTables.html"}}
