{{try:}}{{=H2(title)}}{{except:}}{{pass}}
{{try:}}{{=s3db.ocr_buttons(r)}}{{except:}}{{pass}}
<div id='rheader'>
{{try:}}{{=XML(rheader)}}
</div>
<div id='component'>
{{except:}}
</div>
<div>
{{pass}}
<div id='map'></div>
<div id='list-btn-add'>
{{try:}}{{=showadd_btn}}{{hide_listadd=True}}
{{except:}}{{hide_listadd=False}}{{pass}}
</div>
<div id='list-add'>
{{try:}}{{=H3(addtitle)}}{{except:}}{{pass}}
{{try:}}{{=addheader}}{{except:}}{{pass}}
{{include "key.html"}}
<div class='form-container'>
{{try:}}{{=form}}{{except:}}{{pass}}
</div>
</div>
{{try:}}{{items = items}}
<div id='table-container'>
{{=items}}
</div>
{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
{{include "dataTables.html"}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
{{if r.http == "POST" or not hide_listadd:}}
 $('#list-add').show()
 $('#show-add-btn').hide()
{{else:}}
 $('#show-add-btn').click(function(){
  $('#list-add').show()
  $('#show-add-btn').hide()
 });
{{pass}}
});
//]]></script>