 <FORM id='searchform' method='get' enctype='multipart/form-data' action='{{=URL(r=request)}}'>
  <B>{{=T("Search")}}</B>: <INPUT size=30 id='searchbox' class='ac_input' type='text' autocomplete='off'/><input type='button' id='search' value='{{=T("Details")}}'/>
 </FORM>
<script type="text/javascript">//<![CDATA[
$(function() {
    $('#searchbox').autocomplete('{{=URL(args="search", vars={"format":"json", "filter":"~", "field":extra or main})}}', {
        matchContains: true,
        dataType: 'json',
        parse: function(data) {
            var rows = new Array();
            for(var i=0; i<data.length; i++){
                rows[i] = { data:data[i], value:data[i].id, result:data[i].id };
            }
            return rows;
        },
        formatItem: function(row, i, n) {
            {{if extra:}}
            return row.id + ': ' + row.{{=main}} + ' - ' + row.{{=extra}};
            {{else:}}
            return row.id + ': ' + row.{{=main}};
            {{pass}}
		}
    });
    $('input#search').click(function() {
        // Set the Action URL
        $('form#searchform').attr('action','{{=URL(r=request)}}/'+$('input#searchbox').val());
        event.default();
        return false;
    })
});
//]]></script>
