{{if s3.debug:}}
{{if s3.cdn:}}
{{s3.scripts.append("http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.js")}}
{{else:}}
{{s3.scripts.append("/%s/static/scripts/d3/d3.js" % appname)}}
{{pass}}
{{else:}}
{{if s3.cdn:}}
{{s3.scripts.append("http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js")}}
{{else:}}
{{s3.scripts.append("/%s/static/scripts/d3/d3.min.js" % appname)}}
{{pass}}
{{pass}}
{{s3.scripts.append("/%s/static/scripts/S3/s3.jquery.ui.timeplot.js" % appname)}}
{{try:}}{{=H2(title)}}{{except:}}{{pass}}
<div id='rheader'>
{{try:}}{{=XML(rheader)}}{{except:}}{{pass}}
</div>
<div id='table-container'>
{{try:}}{{=form}}{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
