<div>
 <div class='tp-container' {{try:}}id='{{=widget_id}}{{except:}}{{pass}}'>
  <!-- Form -->
  <div class='tp-form-container form-container'>
   {{try:}}{{=form}}{{except:}}{{pass}}
  </div>
  <!-- Throbber -->
  <div class='tp-throbber inline-throbber'></div>
  <!-- Chart Container -->
  <div class='tp-chart-container'>
   <div>
    <div class='tp-chart-controls'></div>
    <div class='tp-chart-contents'>
     <div class='tp-chart'></div>
   </div>
  </div>
  <!-- Empty-Section -->
  <div class='tp-empty'>
   {{try:}}{{=empty}}{{except:}}{{pass}}
  </div>
 </div>
</div>
