{{if s3.debug:}}
{{if s3.cdn:}}
<!-- For Sites Hosted on the Public Internet, using Cachefly CDN's version of ExtJS may provide better performance -->
<link href="http://extjs.cachefly.net/ext-3.4.0/resources/css/ext-all.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="http://extjs.cachefly.net/ext-3.4.0/resources/css/xtheme-gray.css" rel="stylesheet" type="text/css" charset="utf-8" />
<script src="http://extjs.cachefly.net/ext-3.4.0/adapter/jquery/ext-jquery-adapter-debug.js" type="text/javascript"></script>
<script src="http://extjs.cachefly.net/ext-3.4.0/ext-all-debug.js" type="text/javascript"></script>
<script src="http://extjs.cachefly.net/ext-3.4.0/src/locale/ext-lang-{{=s3.language}}.js" type="text/javascript"></script>
{{else:}}
<link href="/{{=appname}}/static/scripts/ext/resources/css/ext-all.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="/{{=appname}}/static/scripts/ext/resources/css/xtheme-gray.css" rel="stylesheet" type="text/css" charset="utf-8" />
<script src="/{{=appname}}/static/scripts/ext/adapter/jquery/ext-jquery-adapter-debug.js" type="text/javascript"></script>
<script src="/{{=appname}}/static/scripts/ext/ext-all-debug.js" type="text/javascript"></script>
<script src="/{{=appname}}/static/scripts/ext/src/locale/ext-lang-{{=s3.language}}.js" type="text/javascript"></script>
{{pass}}
{{else:}}
{{if s3.cdn:}}
<!-- For Sites Hosted on the Public Internet, using Cachefly CDN's version of ExtJS may provide better performance -->
<link href="http://extjs.cachefly.net/ext-3.4.0/resources/css/ext-all.css" rel="stylesheet" type="text/css" charset="utf-8" />
<link href="http://extjs.cachefly.net/ext-3.4.0/resources/css/xtheme-gray.css" rel="stylesheet" type="text/css" charset="utf-8" />
<script src="http://extjs.cachefly.net/ext-3.4.0/adapter/jquery/ext-jquery-adapter.js" type="text/javascript"></script>
<script src="http://extjs.cachefly.net/ext-3.4.0/ext-all.js" type="text/javascript"></script>
<script src="http://extjs.cachefly.net/ext-3.4.0/src/locale/ext-lang-{{=s3.language}}.js" type="text/javascript"></script>
{{else:}}
<link href="/{{=appname}}/static/scripts/ext/resources/css/ext-theme.min.css" rel="stylesheet" type="text/css" charset="utf-8" />
<script src="/{{=appname}}/static/scripts/ext/adapter/jquery/ext-jquery-adapter.js" type="text/javascript"></script>
<script src="/{{=appname}}/static/scripts/ext/ext-all.js" type="text/javascript"></script>
<script src="/{{=appname}}/static/scripts/ext/src/locale/ext-lang-{{=s3.language}}.js" type="text/javascript"></script>
{{pass}}
{{pass}}
