{{if not response.s3.no_formats:}}
<div id='list_formats'>
<a href="{{=response.s3.formats.pdf or r.url(representation="pdf")}}" title="{{=T("Export in PDF format")}}"><img src="/{{=request.application}}/static/img/pdficon_small.gif"/></a>
<a href="{{=response.s3.formats.xls or r.url(representation="xls")}}" title="{{=T("Export in XLS format")}}"><img src="/{{=request.application}}/static/img/icon-xls.png"/></a>
<a href="{{=response.s3.formats.rss or r.url(representation="rss")}}" title="{{=T("Export in RSS format")}}"><img src="/{{=request.application}}/static/img/RSS_16.png"/></a>
{{if "kml" in response.s3.formats:}}
    <a href="{{=response.s3.formats.kml}}" title="{{=T("Export in KML format")}}"><img src="/{{=request.application}}/static/img/kml_icon.png"/></a>
{{elif ("location_id" in r.table) or ("site_id" in r.table) or (r.component and (("location_id" in r.component.table) or ("site_id" in r.component.table))):}}
    <a href="{{=r.url(representation="kml")}}" title="{{=T("Export in KML format")}}"><img src="/{{=request.application}}/static/img/kml_icon.png"/></a>
{{pass}}
{{if "map" in response.s3.formats:}}
    <a href="{{=response.s3.formats.map}}" title="{{=T("Show on map")}}"><img src="/{{=request.application}}/static/img/map_icon.png"/></a>
{{pass}}
</div>
{{pass}}
