{{extend 'layout.html'}}
{{=BEAUTIFY(response._vars)}}
<button onclick="document.location='{{=URL(a="admin", c="default", f="design", args=appname)}}'">admin</button>
<button onclick="$('#request').slideToggle()">request</button>
<button onclick="$('#session').slideToggle()">session</button>
<button onclick="$('#response').slideToggle()">response</button>
<div class='hide' id="request"><h2>request</h2>{{=BEAUTIFY(request)}}</div>
<div class='hide' id="session"><h2>session</h2>{{=BEAUTIFY(session)}}</div>
<div class='hide' id="response"><h2>response</h2>{{=BEAUTIFY(response)}}</div>
<script>$('.hide').hide();</script>
