<body onload='iframeResizePipe()'>
<iframe id='helpframe' src='' height='0' width='0' frameborder='0'></iframe>
<script type="text/javascript">
function iframeResizePipe(){
 {{#From http://stackoverflow.com/questions/153152/resizing-an-iframe-based-on-content}}
 {{#Whats the page height?}}
 var height=document.body.scrollHeight
 {{#Going to 'pipe' the data to the parent through the helpframe..}}
 var pipe=document.getElementById('helpframe')
 {{#Cachebuster a precaution here to stop browser caching interfering}}{{from s3.s3utils import URL2}}
 pipe.src='{{=URL2(r=request, c="static")}}/helper.html?height='+height+'&cacheb='+Math.random()
}
</script>