{{extend "layout.html"}}
{{try:}}{{=H2(title)}}
{{except:}}{{pass}}
{{include "formats.html"}}
<div id='table-container'>
<!-- Ext will render table here -->
</div>
<link rel="stylesheet" type="text/css" href="/{{=appname}}/static/styles/S3/restful.css" />
<link rel="stylesheet" type="text/css" href="/{{=appname}}/static/styles/S3/silk.css" />
{{include 'extEditorGrid.html'}}
<script type="text/javascript">//<![CDATA[
Ext.onReady(function(){
    Ext.QuickTips.init();
    {{include "extlistcreate.js"}}
});
//]]></script>
