{{if response.error:}}<div class='error'>{{=response.error}}</div>{{pass}}
{{if response.warning:}}<div class='warning'>{{=response.warning}}</div>{{pass}}
{{if response.information:}}<div class='information'>{{=response.information}}</div>{{pass}}
{{if response.confirmation:}}<div class='confirmation'>{{=response.confirmation}}</div>{{pass}}
{{if response.flash:}}<div class='confirmation'>{{=response.flash}}</div>{{pass}}
{{try:}}{{=B(title)}}<br />
{{except:}}{{pass}}
{{try:}}{{=details_btn}}
{{except:}}{{pass}}
<div id='plain'>
{{try:}}{{=item}}
{{except:}}{{pass}}
</div>