<div id="social_media_share" style="float:right; clear:both">
<span id="twitter">
<a href="https://twitter.com/share" class="twitter-share-button" data-related="sahanafoss" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){js=d.createElement(s);js.id=id;
js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);
}}(document,"script","twitter-wjs");</script>
</span>

<span id="facebook" style="position:relative;top:-6px">
<a name="fb_share" type="button"></a> 
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript">
</script>
</span>
</div>