{{extend "layout.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<div id='rheader'>
{{try:}}
 {{=rheader}}
 </div>
  <div id='component'>
{{except:}}
  <div>
 {{pass}}
	{{try:}}
	 {{=H3(subtitle)}}
	{{except:}}
	{{pass}}
	<div id='map'></div>
	<div class='item-container'>
	{{try:}}
	 {{=item}}
	{{except:}}
	{{pass}}
    <p>{{=T("To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.")}}</p>
	</div>
	{{try:}}
	 {{=list_btn}}
	{{except:}}
	{{pass}}
	{{if response.s3.rfooter:}}
	<div id='rfooter'>
	 {{=XML(response.s3.rfooter)}}
	</div>
	{{pass}}
</div>
<script>
 // Need to be available before response.s3.scripts
 var Timeline_ajax_url = '/{{=request.application}}/static/scripts/simile/ajax/simile-ajax-api.js';
 var Timeline_urlPrefix = '/{{=request.application}}/static/scripts/simile/timeline/';
 var Timeline_parameters = 'bundle=true';
</script>