/*** General ***/
html {font-size:100.01%;}
body {font-size:75%;color:#000;background:#63594d;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;color:#111;}
h1 {font-size:2em;color:#000;}
h2 {font-size:1.5em;margin-bottom:0.75em;color:#000;line-height:1.1em;text-transform:uppercase;}
h3 {font-size:1.3em;line-height:1;margin-bottom:0.5em;color:#891735;}
h4 {font-size:1.1em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#0065A6;text-decoration:none;}
p a{color:#eb033b;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:0em;}
table {
    margin-bottom: 1.4em;
    /*display: block;*/
    overflow: auto;
}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tfoot {font-style:italic;}
caption {background:#eee;}

/*** Layout/Sections ***/
/* Main Sections */
#container {
    background: #fff;
    width: 1024px;
    margin:0 auto;
}
#header {
    position: relative;
    /* z-index: 99999999999; We don't want to override the Fullscreen Map */
    z-index: 999;
    height: 132px;
    background: #f4edd4;
}
#wrapper{overflow:hidden;}
#single-col,
#right-col,
#left-col{background:#fff;}
#single-col{position:relative;clear:both;}
#right-col{
    /*width: 788px;
    padding: 15px 50px 0 15px;*/
    width: 823px;
    padding: 15px 15px 0 15px;
    border-left: 1px #9c9c9c solid;
}
#left-col{
    width: 170px;
    padding-top: 15px;
}
#right-col,#left-col{
    float: left;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
#footer {
    clear: both;
    height: 62px;
    margin: 0;
    padding-left: 60px;
    background: #f4edd4;
    border-top: 1px solid #9c9c9c;
}

/*** Header ***/
#header > div {float:left;}
#header #society-icon{width:60px;}
#header #logo{width:600px;height:90px;border:1px solid #9c9c9c; border-width:0 1px 0 1px; }
#header #personal-menu{width:359px}
#header #logo h1{float:left;}
#header #logo a{display:block;margin:20px 0 0 15px;background:url(../../img/ifrc/logo.png) no-repeat;width:425px;height:64px;text-indent:-99999px;}
#header #logo #region{float:left;margin:34px 0 0 10px;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#891735;}
#header #logo #region.big{font-size:1.7em;line-height:1.20em;}
#header #logo #region.small{font-size:1.25em;}

#header #personal-menu {padding:1px;font-size:0.9em;}
#header #personal-menu ul{float:right;}
#header #personal-menu li {float:left;list-style:none;padding:5px 7px 0px; border-left:1px #000 solid;}
#header #personal-menu li:first-child {border-left:0px #fff solid;}
#header #personal-menu a {color:#000; font-size:0.9em;}
#header #personal-menu a:hover {color:#891735;}
#header #personal-menu p {clear:both;color:#891735;margin:0px;padding:0px 15px;}
#header #personal-menu .username {color:#891735;padding:0px 25px 3px 15px;}
#header:after {
    position: absolute;
    top: 132px;
    content: " ";
    display: block;
    height: 20px;
    width: 1024px;
    background: url(../../img/ifrc/header_shadow.png) repeat-x;
}

div#searchbox{position:absolute; right:15px; bottom:0;padding:10px 0;}
#searchbox div{float:left;}

#searchbox .text-search{width:110px;border: 1px solid #CCC;margin:0;padding:0;}
#searchbox select{height:20px;background:#fff;border:0;}

/*** Navigation ***/

/*Main Navigation*/
#nav{clear:both;float:left;width:964px;height:40px;margin:0 0 0 60px;padding:0px;border-top:1px solid #9c9c9c;}
#nav > li{position:relative;float:left;list-style:none;padding: 0;border-right:1px solid #9c9c9c;}
#nav > li:first-child{border-left:1px solid #9c9c9c;}
#nav > li > a{display:block;min-width:50px;background:#fcf9ed;padding:12px 10px 10px 10px;font-size:1em;font-weight:bold;color:#000;text-transform:uppercase;text-decoration:none;}
#nav > li > a:hover{border-top:2px solid #dc032e;padding-top:10px}
#nav .highlight{background:#891735;color:#fff;}

#nav li .sub-menu{display:none;position:absolute;width:150px;list-style:none;margin:0; padding:0;background:#fff;border:1px solid #d6d4d1;z-index:999999;}
#nav li .sub-menu li{padding:5px 0;border-bottom:1px solid #dbcca8;}
#nav li .sub-menu li a{display:block;margin:0 0;padding:0 10px;font-size:0.9em; color:#590f12;}
#nav li .sub-menu li a:hover{color:#dc032e;}

/*Secondary Navigation*/
/*
#side-col .menu{margin-top:10px;list-style:none;}
#side-col .menu li{padding:5px 0;}
#side-col .menu a{display:block;position:relative;font-size: 1.05em; font-weight:bold; color:#000; line-height:1em;}
#side-col .menu a:hover{color:#dc032e;}
#side-col .menu li > a.highlight{color:#891735;}
#side-col .menu .highlight:after{content:url(../../img/ifrc/sidenav_tab.png);position:absolute;top:-3px;right:-20px;}
#side-col .menu li .acitem a.highlight:after{content:"";}
#side-col .menu .acitem{margin:0px;padding:0 10px;list-style:none;}
#side-col .menu .acitem li{padding:3px 0;}
#side-col .menu .acitem a{font-size:0.9em;font-weight:normal;}
*/

/*Breadcrumbs*/
/*
#breadcrumbs{overflow:auto;margin-bottom:40px;padding:0;font-size:0.9em;list-style:none;border-bottom:1px #000 dashed;}
#breadcrumbs li {float:left;margin:0;padding-right:10px; }
#breadcrumbs li a{color:#000;}
#breadcrumbs li a:hover{color:#891735;}
#breadcrumbs li a:after{content:"»";font-size:1.5em;color:#000;padding-left:5px;}

#breadcrumbs .end{color:#891735;}
#breadcrumbs .end:after{content:"";}
*/

/*Skip Navigation*/
a.skipnavigation {position: absolute; left: -10000px; }
a.skipnavigation:focus, a.skipnavigation:active { position: static; left: 0; }

/***Typography***/

#content.left > h2{margin-bottom:20px;font-size:2.5em;font-weight:normal;text-transform:capitalize;}
#content.left a {color:#891735;}
#content.left a:hover{color:#dc032e;}


/***Tables***/
table td,table th{border-right:1px #9C9C9C dashed; border-bottom:2px #fff solid;line-height:1.25em;}
table th, table th label{vertical-align:bottom;padding-top:20px;color:#590f12;font-weight:bold;}
table td{padding:10px;vertical-align:top;}
table td:first-child{background:#fff;}
table tr td:last-child, table tr th:last-child{border-right:0px #9C9C9C dashed;}
table tr.odd td{background:#f1e8cb;}
table tr.even td{background:#fff;}
table tr td.white-cell,table tr th.white-cell{background:#fff;border-right:0px #9C9C9C dashed;}
table tr th.edit-delete-col{width:50px;background:url(../../img/ifrc/edit_delete.png) no-repeat bottom; text-indent:-99999px;}
table td .num_volunteers{color:#D80541;}
table td .date{display:block;font-weight:bold;}
table td .time{display:block;}
table td input[type="text"],table td select{background:#fff;font-size:0.9em;border:1px solid #ccc;}
.edit-button{float:left;margin-right:5px;display:block;background:url(../../img/ifrc/table_controls.png) 0 0;width:20px;height:30px;text-indent:-99999px;}
.delete-button{float:left;display:block;background:url(../../img/ifrc/table_controls.png) -22px 0;width:20px;height:30px;text-indent:-99999px;}
.table-bar{overflow:hidden;margin-top:20px;border-bottom:1px solid #9c9c9c;}
.table-bar p{margin-bottom:0;}
.table-bar select{margin:0 10px;}

/***Buttons***/

.red-button{float:left;display:block;height: 36px;margin:0 24px 25px 0;padding-right: 30px;text-decoration: none;background:url(../../img/ifrc/button_plus_end.png) no-repeat scroll top right;}
.red-button span{display:block;line-height: 36px;padding: 2px 15px 5px 18px;font-size:1.25em;font-weight:bold;color:#fff;background:url(../../img/ifrc/button_red_start.png) no-repeat;}

/***Pagination***/

.pagination{}
.pagination > div,.pagination > ul,.pagination li{float:left;}
.pagination ul{list-style:none; margin:0 10px 20px 5px;padding:0px;}
.pagination li{border-left:1px #590f12 solid;padding:0 5px;}
.pagination li:first-child{border-left:0px #ccc solid;}
.pagination li a{padding:3px;}
.pagination div a{display:block; width:19px; height:18px; margin-right:5px;background-image:url(../../img/ifrc/pagination-control.png);background-repeat:no-repeat;text-indent:-99999px;}
#content.left .pagination .highlight{font-weight:bold; color:#dc032e;}
.pagination .first-button{}
.pagination .prev-button{background-position:-20px 0;}
.pagination .next-button{background-position:-40px 0;}
.pagination .last-button{background-position:-60px 0;}

/***Footer ***/
#footer .footer-nav{
    float: left;
    /*border-left: 1px solid #9c9c9c;*/
    height: 20px;
    margin: 0 0 0 15px;
    padding: 15px;
    font-size: 0.9em;
}
#footer .footer-nav li{float:left;padding:0px 5px;list-style:none;border-left:1px #000 solid;}
#footer .footer-nav li a{color:#000;}
#footer .footer-nav li a:hover {color:#891735;}
#footer .footer-nav li:first-child{border-left:0px #000 solid;}

/*** Form Elements ***/
/*label {font-weight:normal;}*/
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
/*input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0;height:19px;border:1px solid #ccc;font-size:1em;padding:0 5px;color:#000;}*/
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input[type=checkbox]:focus, input.text:focus, input.title:focus, textarea:focus,select:focus {border-color:#666;}
select {border-width:0px;border-style:solid;}
input[type=submit],input[type=reset]{cursor:pointer;}

input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}

.submit-search{display:block;width:22px; height:21px;background:url(../../img/ifrc/search_but.png) no-repeat;text-indent:-99999px;}

/*** Home Page ***/

#news-window{
    overflow: hidden;
    position: absolute;
    z-index: 999;
    background: url(../../img/ifrc/news_window_bg.png);
    width: 190px;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-right: 1px solid #989793;
    border-bottom: 1px solid #989793;
}
#news-window h2{margin-top:5px;}
#news-window ul{list-style:none;margin:0px;padding:0px;}
#news-window .more-info,#news-window .open-window{display:block;padding-bottom:10px;float:right;color:#DC032E;font-style:italics;}
#news-window li {margin:0 0 10px 0;padding:5px 0 30px 0px;border-bottom:1px solid #DBCCA8;}
#news-window li h3 {clear:both;font-size:1em;line-height:1.25em;}
#news-window li h3 a{color:#891735;}
#news-window .close-window{display:block;background:url(../../img/ifrc/close_but.png) no-repeat;width:10px;height:10px;text-indent:-99999px;}
#news-window .open-window{display:none;margin-top:6px;}

#map-home{
    display: block;
    background: url(../../img/ifrc/map_bg.jpg) no-repeat;
    width: 1024px;
    height: 411px;
}
#map-home .map-tip{position:absolute;bottom:20px;left:35px;font-size:1em;}
#map-home .map-tip:before{position:relative;top:6px;left:-1px;content:url(../../img/ifrc/maptip_start.png);}
#map-home .map-tip:after{position:relative;top:6px;right:-5px;content:url(../../img/ifrc/maptip_end.png);}

/*** Map ***/
.marker {
    position: absolute;
    /* z-index: 1000; */ /* Don't want to go above the dropdown menus! */
}
.marker a{display:block;width:5px; height:5px;padding:5px;background:url(../../img/ifrc/map_marker.png) center no-repeat;}
.marker-window{display:none;position:absolute;width:200px;padding:0 10px 1px 5px;background:#dc032e;font-size:0.9em;color:#fff;border-bottom:2px solid #63594d;}
.marker-window.left{top:17px;right:35px;}
.marker-window.right{top:18px;left:37px;}
.marker-window span{float:left;display:block;}
.marker-plus{position:absolute;width:28px; height:30px;}
.left .marker-plus{top:-11px;right:-28px;background:url(../../img/ifrc/map_marker_plus_right.png) no-repeat;}
.right .marker-plus{top:-11px;left:-28px;background:url(../../img/ifrc/map_marker_plus_left.png) no-repeat;}

.map-click {
    display: block;
    cursor: pointer;
    position: relative;
    width:1024px;
    height: 394px;
    text-indent:-9999px;
}

/*** Dashboard ***/
#dashboard {
    position: relative;
    margin: 0px;
    padding: 0;
    border-right: 1px solid #9c9c9c;
}
#dashboard li{position:relative;margin:0;padding:0;background:#fcf9ed;list-style:none;float:left;border-right:1px solid #9c9c9c;}
#dashboard li:first-child{border-left:1px solid #9c9c9c;}
#dashboard li a {
    display: block;
    width: 115px;
    height: 160px;
    padding: 15px;
}
#dashboard li a:hover{background:url(../../img/ifrc/dashboard_hover.png) repeat-x;}
#dashboard li h2 {
    font-size: 1.4em;
    margin-bottom: 0;
}
#dashboard li p{color:#891735;line-height:1.25em;}
#dashboard li img {
    position: absolute;
    bottom: 20px;
}
#dashboard:before {
    position: absolute;
    top: -14px;
    /*left: -59px;*/
    content: " ";
    display: block;
    height: 40px;
    width: 1024px;
    background: url(../../img/ifrc/dashboard_shadow.png) repeat-x;
}

/* #sub-dashboard {position:relative;width:810px;margin:50px 0 0-15px;padding:0;} */
#sub-dashboard > li {
    position: relative;
    /*width: 229px;*/
    width: 240px;
    height: 210px;
    padding: 20px;
    list-style: none;
    float:left;
    border-left: 1px solid #9c9c9c;
    background: #fcf9ed
}
#sub-dashboard > li:first-child{border-left:0px solid #9c9c9c;}
#sub-dashboard > li a{}
#sub-dashboard > li h2{margin-bottom:0;}
#sub-dashboard > li p{color:#891735;line-height:1.25em;}
#sub-dashboard > li img{position:absolute; bottom:30px; left:auto;right:auto;}
#sub-dashboard > li ul{margin:0; padding:0;list-style:none;}
#sub-dashboard > li ul li{padding-left:10px;font-size:0.9em;background:url(../../img/ifrc/bullet-triangle.png) no-repeat 0px 4px;}
#sub-dashboard > li ul li a{color:#590f12;}
#sub-dashboard:before {
    position: absolute;
    top: -14px;
    left: 0;
    content: " ";
    display: block;
    height: 20px;
    /*width: 810px;*/
    width: 845px;
    background: url(../../img/ifrc/dashboard_shadow.png) repeat-x;
}


/*** Misc ***/
.small{font-size:.75em !important;}

hr {border-width:0px;border-bottom:1px #ccc dashed;color:#b5b5b5;clear:both;float:none;height:1px;margin:10px 0}
hr.space {background:#fff;color:#fff;visibility:hidden;}

.red{color:#dc032e;}
.marron{color:#891735;}

/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom: 1;
}
