{{extend "layout.html"}}
<div id='home'>
 <div class='row'>
  <div class='small-12 columns' id='intro'>
   <h1>{{=T("A platform that manages")}}</h1>
   <h1>{{=T("RELIEF SUPPLIES & RELATED INFORMATION")}}</h1>
   {{=needs_btn}}
  </div>
 </div>
 <div class='row'>
  <div class='small-12 columns' id='current-needs'>
   <h1>{{=T("Current Needs & Commitments at a glance")}}</h1>
   <div class='row'>
     <div class='small-12 medium-4 columns'>
       <h6>Needs by Status</h6>
       <div class='homepage-chart' data-type='piechart' data-source='/{{=appname}}/static/themes/SHARE/data/needs_by_status.json' data-legend='off' data-url='/{{=appname}}/req/need_line/summary' data-items='~.status__belongs'></div>
     </div>
     <div class='small-12 medium-4 columns'>
       <h6>Needs by District</h6>
       <div class='homepage-chart' data-type='multibarchart' data-source='/{{=appname}}/static/themes/SHARE/data/needs_by_district.json' data-controls='off' data-url='/{{=appname}}/req/need_line/summary' data-items='~.location_id$L2__belongs' data-series='~.status__belongs'></div>
     </div>
     <div class='small-12 medium-4 columns'>
       <h6>People Affected</h6>
	   <h6>(by categories as defined by organisations at data collection)</h6>
       <div class='homepage-chart' data-type='barchart' data-source='/{{=appname}}/static/themes/SHARE/data/people_affected.json' data-url='/{{=appname}}/req/need_line/summary' data-items='~.parameter_id__belongs'></div>
     </div>
   </div>
  </div>
 </div>
 <div class='row' data-equalizer>
  <div class='medium-6 columns' id='about-platform' data-equalizer-watch>
   <img alt='Logo' class='logo' src='/{{=appname}}/static/themes/SHARE/img/logo_small.png'>
   <h1>{{=T("About the 'ShaReHub' platform")}}</h1>
   <p>A real-time humanitarian needs and responses coordination mapping platform used by the Humanitarian Country Team (HCT) during a disaster.</p>
   {{=about_btn}}
  </div>
  <div class='medium-6 columns' id='active-events' data-equalizer-watch>
   <h1>{{=T("Recent Updates")}}</h1>
   {{=recent_updates}}
  </div>
 </div>
 <div class='row'>
  <div class='small-12 columns' id='resources'>
   <h1>{{=T("Resources")}}</h1>
   <ul>
    <li><a href='http://www.nbro.gov.lk/index.php?option=com_content&view=article&id=25&Itemid=179&lang=en' target='_blank'>National Building and Research Organisation - Landslide Warnings</a></li>
    <li><a href='http://www.irrigation.gov.lk/index.php?option=com_gmapfp&view=gmapfp&layout=categorie&catid=126&id_perso=0&Itemid=222&lang=en' target='_blank'>Department of Irrigation - River Water Levels</a></li>
    <li><a href='http://www.dmc.gov.lk/index.php?option=com_dmcreports&view=reports&Itemid=273&report_type_id=1&lang=en' target='_blank'>Disaster Management Centre - Situation Reports</a></li>
   </ul>
  </div>
 </div>
</div>
