@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */
/* @ToDo: Move to bootstrap/menu.css */

.navbar .nav > li > a.brand > img {
    width: 29px;
    height: 30px;
}
.navbar .nav > li > a.brand  {
    padding: 8px 5px;
    /* Override Bootstrap */
    margin: 0;
}
.navbar .nav > li > a  {
    padding: 12px;
    font-size: 18px;
    height: 22px;
}

.navbar .nav.pull-right > li > a {
    font-family: 'Open Sans','Lucida Grande','Lucida Sans',sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: lowercase;
}

/* Side Menu (S3OptionsMenu) */

#subnav {
    padding: 15px;
}
#subnav div a {
    font-family: 'LeagueGothicRegular','Arial Narrow','Lucida Grande','Lucida Sans',Arial,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    color: #222222;
}
#subnav div a:hover {
    color: #0085bf;
}
#subnav .submenu {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}
#subnav .submenu li {
    font-size: 12px;
    line-height: 1.2em;
    margin-bottom: .5em;
}