{{extend "layout.html"}}
<p>Copy Ticket to new:</p>
<a class="action-btn colorboxrt" href="{{=URL(c="msg", f="compose", vars=dict(format="popup"))}}" title="Create Alert" target="top">{{=T("Alert")}}</a>
<a class="action-btn colorboxrt" href="{{=URL(c="mpr", f="person", args="create", vars=dict(format="popup"))}}" title="Create Missing Person Report" target="top">{{=T("Missing Persons Report")}}</a>
<a class="action-btn colorboxrt" href="{{=URL(c="rms", f="req", args="create", vars=dict(format="popup"))}}" title="Create Request" target="top">{{=T("Request")}}</a>
<a class="action-btn colorboxrt" href="{{=URL(c="irs", f="ireport", args="create", vars=dict(format="popup"))}}" title="Create Incident Report" target="top">{{=T("Incident Report")}}</a>
<a class="action-btn colorboxrt" href="{{=URL(c="vol", f="project", args="create", vars=dict(format="popup"))}}" title="Create Volunteer Project" target="top">{{=T("Volunteer Project")}}</a>
<p>&nbsp;</p>
{{include "_update.html"}}
<script type="text/javascript">//<![CDATA[
$(document).ready(function(){
    $(".colorboxrt").click(function(){
        // Open New windows as popup Colorboxes
        $.fn.colorbox({iframe:true, width:"80%", height:"80%", href:this.href, title:this.title, onComplete:function(){
            // Read data from all the Parent Form fields
            var allInputs = self.parent.$(':input');
            var i = 0;
            for (i=0;i<=allInputs.length;i++){
                // Copy these to the main message or comments field
                // tbc
                allInputs[i];
            }
            //var field1 = self.parent.$('input').val();
            //msg_compose: #msg_log_message
            //$('#msg_log_message').val(field1);
            //mpr_person: #pr_person_comments
            //rms_req: #rms_req_message
            //irs_ireport: #irs_ireport_comments
            //vol_project: #project_project_description
        }});
        // Prevent normal window from opening
        return false;
    });
});
//]]></script>