{{extend "layout.html"}}
<div id='news-window'>
    <!--<a href='#' class='close-window right'>Close Window</a>
    <a href='#' class='open-window right'>View News</a>-->
    <h2>News</h2>
    <ul>
        <li>
            <h3><a href='https://docs.google.com/spreadsheet/viewform?formkey=dDk1RzJEZkVtQjJNZ0pYTFNWOWlxT2c6MQ'>RMS Simulation Exercise Feedback.</a></h3>
            <!--<h3><a href=''>RMS Community Call 18 Jan 4 a.m. UTC - contact Eero Pykalainen for details.</a></h3>-->
            <!--<a href='' class='more-info'>More information &raquo;</a>-->
        </li>
        <li>
            <h3><a href='https://docs.google.com/a/aidiq.com/spreadsheet/viewform?formkey=dGI5Wjk1YnFmYWhTMVctUjNMbk41dkE6MQ'>RMS Feedback.</a></h3>
            <!--<h3><a href=''>2nd RMS workshop 29 Feb to 2 March in Kuala Lumpur.</a></h3>-->
            <!--<a href='' class='more-info'>More information &raquo;</a>-->
        </li>
    </ul>
</div>
{{=map}}