{{extend "layout.html"}}{{theme=response.s3.theme}}
<style>body{background:none;}div.container.main-container{width:100%!important;padding-left:0;}
@media(min-width:1200px){div.container.main-container{width:1200px!important;}}</style>
<div id='myCarousel' class='carousel slide'>
 <!--<ol class='carousel-indicators'>
  <li data-target='#myCarousel' data-slide-to='0' class='active'></li>
  <li data-target='#myCarousel' data-slide-to='1'></li>
  <li data-target='#myCarousel' data-slide-to='2'></li.
 </ol>-->
 <div class='carousel-inner'>
  <div class='active item'><img src='/{{=appname}}/static/themes/{{=theme}}/img/haiyan.jpg' alt='' /></div>
  <!--<div class='item'><img src='/{{=appname}}/static/themes/{{=theme}}/img/482470-car.jpg' alt='' /></div>
  <div class='item'><img src='/{{=appname}}/static/themes/{{=theme}}/img/442014.jpg' alt='' /></div>-->
 </div>
 <div class='carousel-caption'>
  <h1>{{=settings.get_system_name()}}<br></h1>
  <p>{{=T("Improving disaster prevention, preparedness and response in Philippines.")}}</p>
  {{if not auth.is_logged_in():}}
  <p>
   <a href='/{{=appname}}/default/user/login' class='btn btn-custom btn-login'><i class='icon-signin'></i> {{=T("LOGIN")}} </a>
   {{if settings.get_security_self_registration():}}
    <a href='/{{=appname}}/default/user/register' class='btn btn-register'><i class='icon-pencil'></i> {{=T("REGISTER")}} </a>
   {{pass}}
  </p>{{pass}}
 </div>
</div>
<section id='homepage-about'>
 <div class='container'>
  <div class='row'>
   <div class='span4 first_stl'>
    <h2><a href='/{{=appname}}/req/req/create'><i class='icon-flag'></i> {{=T("Make a Request")}}</a></li></h2>
    <p class='quote mb4'>{{=T("Phone the call center to make a Request for anything, including goods or volunteers.")}}</p>
   </div>
   <div class='span4 stl'>
    <h2><a href='/{{=appname}}/req/req/datalist'><i class='icon-truck'></i> {{=T("Donate in Kind")}}</a></li></h2>
    <p class='quote mb4'>{{=T("Donations can be matched to Requests.")}}</p>
   </div>
   <div class='span4 stl'>
    <h2><a href='/{{=appname}}/org/organisation/datalist?needs.money=True'><i class='icon-dollar'></i> {{=T("Money")}}</a></li></h2>
    <p class='quote mb4'>{{=T("Donating money is the best way to provide support as relief agencies can then use this flexibly.")}}</p>
   </div>
  </div>
 </div>
</section>
<section id='what-they-do' class='st'>
 <div class='container'>
  <div class='row'>
   <div class='span6'>
    <h2><i class='icon-bookmark-empty'></i> {{=T("What we do")}}</h2>
    <p>{{=what_we_do}}</p>
   </div>
   <div class='span6'>
    <br />
    <br />
    <img src='/{{=appname}}/static/themes/{{=theme}}/img/map_ph.png'>
   </div>
  </div>
 </div>
</section>
<section id='homepage-layer' class='st'>
 <div class='container'>
  <div class='row'>
   <div class='span6'>
    <a href='/{{=appname}}/req/req/datalist'>
     <h2><i class='icon-flag'></i> {{=T("Latest Requests")}}</h2>
    </a>
    {{=latest_reqs}}
   </div>
   <div class='span6'>
    <a href='/{{=appname}}/req/commit/datalist'>
     <h2><i class='icon-truck'></i> {{=T("Latest Donations")}}</h2>
    </a>
    {{=latest_offers}}
   </div>
  </div>  
 </div>
</section>
{{include "dataLists.html"}}