{{extend "layout.html"}}
{{include "pr/person_dedup_table.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<p> &nbsp 
<h3>{{=T("Person De-duplicator")}}</h3>
<UL>
<LI>{{=T("Person 1, Person 2 are the potentially duplicate records")}}
<LI>{{=T("Match percentage indicates the % match between these two records")}}
<LI>{{=T("Resolve link brings up a new screen which helps to resolve these duplicate records and update the database.")}}
</UL>
</p>
<div id='table-container'>
{{try:}}
 {{=items}}
{{except:}}
{{pass}}
</div>
