{{extend "layout.html"}}
{{include "pr/person_dedup_table.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<table>
<tr><td><b><center>{{=T("RECORD A")}}</center></b></td>
<td><b><center>{{=T("RECORD B")}}</center></b></td></tr>
<tr>
<td>{{=form1}}</td>
<td>{{=form2}}</td></tr>
</table>

<script type="text/javascript">//<![CDATA[
// Function to get URL variables
function getUrlVars() {
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for (var i = 0; i < hashes.length; i++) {
        var hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

// Function to make AJAX requests to update new record and delete old record
function makeRequest(xml, url, newRec, old) {
    var xmler = (new XMLSerializer()).serializeToString(xml);
    $.ajax({
            type: 'PUT',
            url: url,
            data : xmler,
            dataType : 'xml',
            processData : 'false',
            contentType: 'text/xml',
            success: function(res){
                alert('{{=T("Record Saved")}}');
            }
            });
    var newUrl = '{{=URL(c='pr',f='delete_person')}}';
    var dataVar = 'new=' + newRec  + '&old=' + old;
    alert('{{=T("The duplicate record will be deleted")}}');
    $.ajax({
        type: 'POST',
        url: newUrl,
        data: dataVar,
        success: function(msg){
            alert(msg);
            window.close();
            // write code here to close the window
        }
    });
}

$(document).ready(function(){
    $('#pr_person_id__row').remove();
    $('#pr_person_id__row').remove();
    $('table tr td').each(function(){
        // Make it look uniform on all browsers
        this.style.height = '25px';
    });

    // Operations done when form1 is submitted
    $('#form1').submit(function(event){
        var url = this.action + '.xml'
        var str = this.id + ' :input'
        var $inputs = $('#form1 :input');
        var values = {};
        $inputs.each(function() {
            // Associative array of form elements names and values
            values[this.name] = $(this).val();
        });
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'xml',
            success: function(xml){
                $(xml).find('data').each(function() {
                    var name = $(this).attr('field');
                    var value = $(this).text();
                    $(this).text(values[name]);
                });
                var newRec = getUrlVars()['perID1'];
                var old = getUrlVars()['perID2'];
                makeRequest(xml, url, newRec, old);
            }
        });
        
       event.preventDefault(); 
    });


    // Function to run on submission of form2
    $('#form2').submit(function(event) {
        var url = this.action + '.xml'
        var str = this.id + ' :input'
        var $inputs = $('#form2 :input');
        var values = {};
        $inputs.each(function() {
            // Associative arrays containing name value pairs of form elements
            values[this.name] = $(this).val();
        });
        $.ajax({     // To get the XML format to be used for posting data to server
            type: 'GET',
            url: url,
            dataType: 'xml',
            success: function(xml){
                $(xml).find('data').each(function() {      // Procedure to iterate over one data block after another from the XML
                    name = $(this).attr('field')
                    value = $(this).text();
                    $(this).text(values[name]);
                });
                newRec = getUrlVars()['perID2'];
                old = getUrlVars()['perID1'];
                makeRequest(xml, url, newRec, old);
            }
        });
        // Prevent default behavior
        event.preventDefault();
    });


    $('.leftArrows').live('click', function() {
        var answer;
        var number = this.id.substring(0, 2);   // Switching based on first two nos of the id
        switch(number) {
            case '2L':
                answer = $('input[id="pr_person_pe_label"]').last().val();
                $('input[id="pr_person_pe_label"]').first().val(answer);
                $('input[id="pr_person_pe_label"]').last().val('');
                break;
            case '3L':  
                answer = $('input[id="pr_person_missing"]').last().attr('checked');
                if (answer == true) {
                    $('input[id="pr_person_missing"]').first().attr('checked', true);
                    $('input[id="pr_person_missing"]').last().attr('checked', false);
                    $('input[id="pr_person_missing"]').first().val(true); 
                } else {
                    $('input[id="pr_person_missing"]').first().attr('checked', false);
                    $('input[id="pr_person_missing"]').first().val(false); 
                }
                break;
            case '4L':
                answer = $('input[id="pr_person_first_name"]').last().val();
                $('input[id="pr_person_first_name"]').first().val(answer);
                $('input[id="pr_person_first_name"]').last().val('');
                break;
            case '5L':
                answer = $('input[id="pr_person_middle_name"]').last().val();
                $('input[id="pr_person_middle_name"]').first().val(answer);
                $('input[id="pr_person_middle_name"]').last().val('');
                break;
            case '6L':
                answer = $('input[id="pr_person_last_name"]').last().val();
                $('input[id="pr_person_last_name"]').first().val(answer);
                $('input[id="pr_person_last_name"]').last().val('');
                break;
            case '7L':
                answer = $('input[id="pr_person_preferred_name"]').last().val();
                $('input[id="pr_person_preferred_name"]').first().val(answer);
                $('input[id="pr_person_preferred_name"]').last().val('');
                break;
            case '8L':
                answer = $('input[id="pr_person_local_name"]').last().val();
                $('input[id="pr_person_local_name"]').first().val(answer);
                $('input[id="pr_person_local_name"]').last().val('');
                break;
            case '9L':
                answer = $('select[id="pr_person_gender"]').last().val();
                $('select[id="pr_person_gender"]').first().val(answer);
                $('select[id="pr_person_gender"]').last().val('');
                break;
            case '10':
                answer = $('select[id="pr_person_age_group"]').last().val();
                $('select[id="pr_person_age_group"]').first().val(answer);
                $('select[id="pr_person_age_group"]').last().val('');
                break;
            case '11':
                answer = $('input[id="pr_person_date_of_birth"]').last().val();
                $('input[id="pr_person_date_of_birth"]').first().val(answer);
                $('input[id="pr_person_date_of_birth"]').last().val('');
                break;
            case '12':
                answer = $('select[id="pr_person_nationality"]').last().val();
                $('select[id="pr_person_nationality"]').first().val(answer);
                $('select[id="pr_person_nationality"]').last().val('');
                break;
            case '13':
                answer = $('select[id="pr_person_country"]').last().val();
                $('select[id="pr_person_country"]').first().val(answer);
                $('select[id="pr_person_country"]').last().val('')
                break;
            case '14':
                answer = $('select[id="pr_person_religion"]').last().val();
                $('select[id="pr_person_religion"]').first().val(answer);
                $('select[id="pr_person_religion"]').last().val('');
                break;
            case '15':
                answer = $('select[id="pr_person_marital_status"]').last().val();
                $('select[id="pr_person_marital_status"]').first().val(answer);
                $('select[id="pr_person_marital_status"]').last().val('');
                break;
            case '16':
                answer = $('input[id="pr_person_occupation"]').last().val();
                $('input[id="pr_person_occupation"]').first().val(answer);
                $('input[id="pr_person_occupation"]').last().val('');
                break;
            case '17':
                answer = $('select[id="pr_person_tags"]').last().val();
                $('select[id="pr_person_tags"]').first().val(answer);
                $('select[id="pr_person_tags"]').last().val('');
                break;
            case '18':
                answer = $('textarea[id="pr_person_comments"]').last().val();
                $('textarea[id="pr_person_comments"]').first().val(answer);
                $('textarea[id="pr_person_comments"]').last().val('');
                break;
            default:
        }
    });
    $('.rightArrows').live('click', function(){
        var answer;
        var number = this.id.substring(0, 2);
        switch(number) {
            case '2R':
                answer = $('input[id="pr_person_pe_label"]').first().val();
                $('input[id="pr_person_pe_label"]').last().val(answer);
                $('input[id="pr_person_pe_label"]').first().val('');
                break;
            case '3R':
                answer = $('input[id="pr_person_missing"]').first().attr('checked');
                if (answer == true) {
                    $('input[id="pr_person_missing"]').last().attr('checked', true);
                    $('input[id="pr_person_missing"]').first().attr('checked', false);
                    $('input[id="pr_person_missing"]').last().val(true);
                } else {
                    $('input[id="pr_person_missing"]').last().attr('checked', false);
                    $('input[id="pr_person_missing"]').last().val(false);
                }
                break;
            case '4R':
                answer = $('input[id="pr_person_first_name"]').first().val();
                $('input[id="pr_person_first_name"]').last().val(answer);
                $('input[id="pr_person_first_name"]').first().val('');
                break;
            case '5R':
                answer = $('input[id="pr_person_middle_name"]').first().val();
                $('input[id="pr_person_middle_name"]').last().val(answer);
                $('input[id="pr_person_middle_name"]').first().val('');
                break;
            case '6R':
                answer = $('input[id="pr_person_last_name"]').first().val();
                $('input[id="pr_person_last_name"]').last().val(answer);
                $('input[id="pr_person_last_name"]').first().val('');
                break;
            case '7R':
                answer = $('input[id="pr_person_preferred_name"]').first().val();
                $('input[id="pr_person_preferred_name"]').last().val(answer);
                $('input[id="pr_person_preferred_name"]').first().val('');
                break;
            case '8R':
                answer = $('input[id="pr_person_local_name"]').first().val();
                $('input[id="pr_person_local_name"]').last().val(answer);
                $('input[id="pr_person_local_name"]').first().val('');
                break;
            case '9R':
                answer = $('select[id="pr_person_gender"]').first().val();
                $('select[id="pr_person_gender"]').last().val(answer);
                $('select[id="pr_person_gender"]').first().val('');
                break;
            case '10':
                answer = $('select[id="pr_person_age_group"]').first().val();
                $('select[id="pr_person_age_group"]').last().val(answer);
                $('select[id="pr_person_age_group"]').first().val('');
                break;
            case '11':
                answer = $('input[id="pr_person_date_of_birth"]').first().val();
                $('input[id="pr_person_date_of_birth"]').last().val(answer);
                $('input[id="pr_person_date_of_birth"]').first().val('');
                break;
            case '12':
                answer = $('select[id="pr_person_nationality"]').first().val();
                $('select[id="pr_person_nationality"]').last().val(answer);
                $('select[id="pr_person_nationality"]').first().val('');
                break;
            case '13':
                answer = $('select[id="pr_person_country"]').first().val();
                $('select[id="pr_person_country"]').last().val(answer);
                $('select[id="pr_person_country"]').first().val('');
                break;
            case '14':
                answer = $('select[id="pr_person_religion"]').first().val();
                $('select[id="pr_person_religion"]').last().val(answer);
                $('select[id="pr_person_religion"]').first().val('');
                break;
            case '15':
                answer = $('select[id="pr_person_marital_status"]').first().val();
                $('select[id="pr_person_marital_status"]').last().val(answer);
                $('select[id="pr_person_marital_status"]').first().val('');
                break;
            case '16':
                answer = $('input[id="pr_person_occupation"]').first().val();
                $('input[id="pr_person_occupation"]').last().val(answer);
                $('input[id="pr_person_occupation"]').first().val('');
                break;
            case '17':
                answer = $('select[id="pr_person_tags"]').first().val();
                $('select[id="pr_person_tags"]').last().val(answer);
                $('select[id="pr_person_tags"]').first().val('');
                break;
            case '18':
                answer = $('textarea[id="pr_person_comments"]').first().val();
                $('textarea[id="pr_person_comments"]').last().val(answer);
                $('textarea[id="pr_person_comments"]').first().val('');
                break;
            default:
        }
    });
});
//]]></script>
