
@charset "UTF-8";
.swidth {
    width: 100%;
}
.colmask {
    clear: both;
    float: left;
    margin-top: 42px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}
.col3left {
    float: left;
    position: relative;
    width: 33%;
}
.col3mid, .col3right {
    float: right;
    position: relative;
    width: 33%;
}
.col2left {
    float: left;
    position: relative;
    width: 49%;
}
.col2right {
    float: right;
    position: relative;
    width: 49%;
}
.col1, .col2, .col3 {
    overflow: hidden;
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
	padding-top:10px;
}
.fullpage {
    background: none repeat 0 0 rgb(255, 255, 255);
    overflow: visible;
    padding-top: 1px;
}
.fullpage .col1 {
    min-width: auto%;
    width: 99%;
}
.aside {
    float: left;
    width: 200px;
}
.rightside {
	width:auto;
}