@charset "UTF-8";

/*
    Side Menu (S3OptionsMenu)
    - functionality
*/

#menu_options {
    overflow: auto;
}

#subnav li,
#subnav ul li {
    list-style: none;
    clear: both;
}

#subnav div a {
    display: block;
    color: white;
    text-decoration: none;
}

#subnav ul li a {
    display: block;
    text-decoration: none;
}