@charset "UTF-8";

/*
 * Non-semantic helper classes
 */

/* for image replacement */
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hide {
    display: none;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

.mini {
    font-size: 80%;
}
.wide {
    width: 100%;
}

/* CSS floats */
.fleft {
    float: left !important;
}
.fright {
    float: right !important;
}
/* Clears - unused currently
.cboth {
    clear: both;
}
.cleft {
    clear: left;
}
.cright {
    clear: right;
} */
/* Text aligns */
.tacenter {
    text-align: center !important;
}
.taleft {
    text-align: left !important;
}
.taright {
    text-align: right !important;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.cf:before,
.cf:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}
.cf:after {
    clear: both;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.cf {
    zoom: 1;
}

/* Hides from IE-mac */
* html .cf {
    height: 1%;
}
