/* line 429, ../../foundation/scss/components/_global.scss */
meta.foundation-version {
  font-family: "/{{VERSION}}/";
}

/* line 433, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 438, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 443, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em;
}

/* line 448, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em;
}

/* line 453, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em;
}

/* line 458, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em;
}

/* line 463, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em;
}

/* line 468, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em;
}

/* line 473, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em;
}

/* line 478, ../../foundation/scss/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* Throbber style */
/* line 31, ../scss/theme/_page.scss */
.inline-throbber {
  background-image: url(../../img/sunflower_fade_indicator.gif);
}

/* line 34, ../scss/theme/_page.scss */
.throbber,
.layer_throbber,
.map_loader {
  background-image: url(../../img/sunflower_spin_throbber.gif);
}

/* line 39, ../scss/theme/_page.scss */
.loading {
  background: url(../../img/sunflower_spin_throbber.gif) center no-repeat !important;
}

/* Inline Sahana logo */
/* line 45, ../scss/theme/_page.scss */
.sahana-logo {
  background: url(../../img/S3menu_logo.png) left top no-repeat;
  text-shadow: none;
  padding: 0;
  margin-left: 5px;
  margin-top: 10px;
  width: 35px;
  height: 28px;
  display: inline-block;
}

/* Alerts */
/* line 57, ../scss/theme/_page.scss */
.alert.alert-error,
.alert.alert-info,
.alert.alert-warning,
.alert.alert-success {
  border: 1px solid #b2b2b2;
  box-shadow: 0 1px 1px #aaaaa7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 8px 35px 8px 14px;
  position: relative;
  width: auto;
  z-index: 98;
  border-radius: 4px;
}

/* Red indicators */
/* line 74, ../scss/theme/_page.scss */
.error,
.expired,
.req,
.req_key {
  color: #c60f13;
  font-weight: bold;
}

/* line 81, ../scss/theme/_page.scss */
.req_key {
  font-size: 0.75rem;
}

/* Logged-in User Indicators */
/* line 86, ../scss/theme/_page.scss */
.username {
  color: #666666;
  padding: 0.5rem 0;
  padding-right: 0.5rem;
  font-size: 0.7rem;
}
/* line 91, ../scss/theme/_page.scss */
.username i.icon, .username i.fa {
  padding-left: 0.2rem;
  padding-right: 0;
}

/* line 97, ../scss/theme/_page.scss */
body.rtl .username {
  padding-left: 0.5rem;
  padding-right: 0;
  float: left;
}
/* line 100, ../scss/theme/_page.scss */
body.rtl .username i.icon, body.rtl .username i.fa {
  padding-left: 0;
  padding-right: 0.2rem;
}

/* Page Sections */
/* line 109, ../scss/theme/_page.scss */
.form-container form,
#datalist-filter-form,
#datatable-filter-form,
#summary-filter-form,
#summary-sections,
.thumbnail {
  border: 1px solid #CCC;
}

/* line 117, ../scss/theme/_page.scss */
.widget-container #list-btn-add {
  margin-bottom: 0;
  position: relative;
  top: 1.0rem;
}

/* line 122, ../scss/theme/_page.scss */
#component {
  float: none;
}

/* line 125, ../scss/theme/_page.scss */
.map_home {
  margin: 0;
  margin-top: 0.5rem;
}

/* Global Main Content Styles */
/* line 133, ../scss/theme/_page.scss */
#content a.help:link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
/* line 138, ../scss/theme/_page.scss */
#content a.help:hover {
  background-color: #336699;
  text-decoration: underline;
}
/* line 142, ../scss/theme/_page.scss */
#content a.help:visited {
  font-weight: normal;
  color: #666;
}
/* line 147, ../scss/theme/_page.scss */
#content h1,
#content h2 {
  font-size: 1.3em;
  font-weight: bolder;
  background-color: #F7F8F9;
  padding: 0.35rem;
}
/* line 156, ../scss/theme/_page.scss */
#content h2 {
  margin-top: 10px;
  padding-left: 0.7rem;
}
/* line 162, ../scss/theme/_page.scss */
#content h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
}

/* Footer */
/* line 169, ../scss/theme/_page.scss */
#footer {
  background: transparent;
  padding-top: 20px;
  border-top: 1px solid #F0F0F0;
  margin-top: 20px;
  margin-bottom: 1rem;
}

/* line 179, ../scss/theme/_page.scss */
#poweredby {
  margin-right: 0.5rem;
  text-align: right;
}
/* line 182, ../scss/theme/_page.scss */
#poweredby a {
  color: #999;
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

/* line 190, ../scss/theme/_page.scss */
body.rtl #poweredby {
  text-align: left;
}

/* line 196, ../scss/theme/_page.scss */
.sub-nav.about-menu {
  color: #999;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 198, ../scss/theme/_page.scss */
.sub-nav.about-menu a {
  color: #999;
}

/* line 206, ../scss/theme/_page.scss */
body.rtl .about-menu {
  text-align: right;
}

/* General forms */
/* line 22, ../scss/theme/_forms.scss */
form {
  font-size: 0.8rem;
}
/* line 24, ../scss/theme/_forms.scss */
form .form-row {
  margin-top: 0.5rem !important;
}
/* line 26, ../scss/theme/_forms.scss */
form .form-row .button {
  margin-right: 0.5rem;
}
/* line 28, ../scss/theme/_forms.scss */
form .form-row .button i.fa {
  margin-right: 0.3rem;
}
/* line 33, ../scss/theme/_forms.scss */
form .form-row > .columns:first-child {
  overflow: hidden;
}
/* line 36, ../scss/theme/_forms.scss */
form .form-row > .columns > label {
  font-weight: bold;
}
/* line 40, ../scss/theme/_forms.scss */
form .form-row > a {
  margin-left: 0.625rem;
}
/* line 43, ../scss/theme/_forms.scss */
form .form-row select {
  min-width: 4rem;
}
/* line 46, ../scss/theme/_forms.scss */
form .form-row .controls span.postfix {
  height: 1.75rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
/* line 50, ../scss/theme/_forms.scss */
form .form-row .controls span.postfix .fa {
  line-height: inherit;
}
/* line 54, ../scss/theme/_forms.scss */
form .form-row > .s3-hierarchy-widget {
  display: inline-block;
  vertical-align: middle;
}
/* line 58, ../scss/theme/_forms.scss */
form .form-row .inline-component {
  overflow: auto;
}
/* line 62, ../scss/theme/_forms.scss */
form .jstree-anchor {
  font-size: 0.9rem;
}
/* line 65, ../scss/theme/_forms.scss */
form label.inline {
  padding: 0;
}
/* line 68, ../scss/theme/_forms.scss */
form .gis_loc_select_btn {
  font-size: 0.8em;
}
/* line 70, ../scss/theme/_forms.scss */
form .gis_loc_select_btn i {
  font-size: 1.0em;
  margin-right: 4px;
}
/* line 75, ../scss/theme/_forms.scss */
form .error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-style: italic;
  background: #c60f13;
  color: white;
}
/* line 85, ../scss/theme/_forms.scss */
form .date-clear-btn {
  font-size: 0.75rem;
  margin-left: 0.15rem !important;
}
/* line 89, ../scss/theme/_forms.scss */
form .action-lnk {
  font-weight: normal;
  font-size: 0.75rem;
}
/* line 95, ../scss/theme/_forms.scss */
form table.embeddedComponent {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border: 1px solid #dddddd;
  border-collapse: separate;
}
/* line 101, ../scss/theme/_forms.scss */
form table.embeddedComponent td {
  border: none;
  padding-bottom: 0.05rem;
  padding-top: 0.15rem;
  vertical-align: top;
}
/* line 109, ../scss/theme/_forms.scss */
form table.embeddedComponent.subform-vertical .add-row td, form table.embeddedComponent.subform-vertical .edit-row td {
  border-top: 1px solid #dddddd;
}
/* line 111, ../scss/theme/_forms.scss */
form table.embeddedComponent.subform-vertical .add-row td.subform-action, form table.embeddedComponent.subform-vertical .edit-row td.subform-action {
  vertical-align: bottom;
}
/* line 118, ../scss/theme/_forms.scss */
form table.embeddedComponent .label-row td {
  border-bottom: 1px solid #dddddd;
}
/* line 120, ../scss/theme/_forms.scss */
form table.embeddedComponent .label-row td:empty {
  padding: 0;
}
/* line 124, ../scss/theme/_forms.scss */
form table.embeddedComponent .label-row label {
  color: black;
}
/* line 129, ../scss/theme/_forms.scss */
form table.embeddedComponent tr.inline-form input,
form table.embeddedComponent tr.inline-form .btn.date-clear-btn,
form table.embeddedComponent tr.inline-form .postfix.calendar-clear-btn {
  margin-top: 0;
}
/* line 134, ../scss/theme/_forms.scss */
form table.embeddedComponent tr.inline-form.single td:only-child {
  padding: 0;
}
/* line 136, ../scss/theme/_forms.scss */
form table.embeddedComponent tr.inline-form.single td:only-child div.form-row {
  padding: 0 0.2rem 0.2rem;
}
/* line 140, ../scss/theme/_forms.scss */
form table.embeddedComponent tr.inline-form select {
  max-width: 18rem;
}
/* line 143, ../scss/theme/_forms.scss */
form table.embeddedComponent tr.inline-form .s3_inline_add_resource_link {
  padding: 0.1rem;
}
/* line 149, ../scss/theme/_forms.scss */
form table.embeddedComponent tr.inline-form .zoom img,
form table.embeddedComponent tr.read-row .zoom img {
  max-height: 8rem;
}
/* line 154, ../scss/theme/_forms.scss */
form .inline-open-add {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 0;
}
/* line 161, ../scss/theme/_forms.scss */
form.auth_login #submit_record__row {
  white-space: pre;
}

/* S3SQLInlineLink read-only list representation */
/* line 167, ../scss/theme/_forms.scss */
ul.s3-inline-link {
  font-size: inherit;
}

/* General Widgets */
/* line 172, ../scss/theme/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  height: 1.75rem;
  padding: 0.25rem;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}

/* line 193, ../scss/theme/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select {
  width: auto !important;
  max-width: 100%;
}

/* line 210, ../scss/theme/_forms.scss */
textarea {
  resize: both;
  max-width: 100%;
}

/* line 214, ../scss/theme/_forms.scss */
input.datetimepicker {
  max-width: 8rem;
}

/* line 217, ../scss/theme/_forms.scss */
select {
  padding-right: 1rem !important;
}

/* Form and Item containers */
/* line 222, ../scss/theme/_forms.scss */
#last_update,
#markDuplicate {
  float: none;
  clear: none;
  text-align: right;
}

/* line 229, ../scss/theme/_forms.scss */
body.rtl #last_update,
body.rtl #markDuplicate {
  text-align: left;
}

/* line 234, ../scss/theme/_forms.scss */
.form-container,
.item-container {
  width: auto;
  overflow: inherit;
}
/* line 236, ../scss/theme/_forms.scss */
.form-container form,
.item-container form {
  background: #fefefe;
  padding: 5px 10px;
}
/* line 239, ../scss/theme/_forms.scss */
.form-container form tr td,
.item-container form tr td {
  padding: 0.1875rem;
}
/* line 242, ../scss/theme/_forms.scss */
.form-container form .embeddedComponent td,
.item-container form .embeddedComponent td {
  padding-right: 0.5625rem;
}
/* line 248, ../scss/theme/_forms.scss */
.form-container .controls,
.item-container .controls {
  display: inline-block;
}
/* line 250, ../scss/theme/_forms.scss */
.form-container .controls:not(.columns),
.item-container .controls:not(.columns) {
  max-width: 100%;
}

/* line 255, ../scss/theme/_forms.scss */
.form-container {
  margin-top: 0.125rem;
  margin-bottom: 0.875rem;
}
/* line 259, ../scss/theme/_forms.scss */
.form-container form select,
.form-container form input.string:not(.date),
.form-container form textarea {
  margin: 0;
}
/* line 264, ../scss/theme/_forms.scss */
.form-container form .ui-multiselect {
  max-width: 100%;
}
/* line 268, ../scss/theme/_forms.scss */
.form-container form:not(.filter-form):not(.auth_login):not(.auth_register) input[type="text"]:not(.double):not(.datetimepicker):not(.date):not(.hours):not(.dms-input) {
  width: 20rem !important;
}

/* line 275, ../scss/theme/_forms.scss */
.item-container .controls {
  background: #fafafa;
  padding: 0.35rem;
  min-height: 1.7rem;
}

/* Filter Forms & Report Options */
/* line 285, ../scss/theme/_forms.scss */
.filter-form table tr,
.filter-form .ui-multiselect,
.report-options table tr,
.report-options .ui-multiselect {
  max-width: 60%;
}
/* line 289, ../scss/theme/_forms.scss */
.filter-form table.s3-groupedopts-widget,
.report-options table.s3-groupedopts-widget {
  display: inline-block;
}
/* line 292, ../scss/theme/_forms.scss */
.filter-form .inline-tooltip,
.report-options .inline-tooltip {
  padding-top: 0.2rem;
}
/* line 295, ../scss/theme/_forms.scss */
.filter-form label.inline,
.report-options label.inline {
  line-height: normal;
  padding-top: 0.2rem;
}

/* Login/Registration box */
/* line 302, ../scss/theme/_forms.scss */
#login_form,
#register_form,
#login_box {
  clear: none !important;
}

/* Help Popup */
/* line 309, ../scss/theme/_forms.scss */
.inline-tooltip {
  display: inline-block;
  vertical-align: top;
  padding-left: 0.75rem;
}
/* line 313, ../scss/theme/_forms.scss */
.inline-tooltip .tooltip,
.inline-tooltip .tooltipbody,
.inline-tooltip .stickytip,
.inline-tooltip .ajaxtip {
  display: block;
  padding: 0;
  width: 60px;
}
/* line 321, ../scss/theme/_forms.scss */
.inline-tooltip .s3_add_resource_link {
  display: inline-block;
  margin: -3px 0 -3px 5px;
}

/* Rheader */
/* line 26, ../scss/theme/_rheader.scss */
#rheader {
  width: 100%;
}
/* line 30, ../scss/theme/_rheader.scss */
#rheader a.th {
  margin-right: 10px;
}
/* line 31, ../scss/theme/_rheader.scss */
#rheader a.th img {
  height: 60px;
}
/* line 36, ../scss/theme/_rheader.scss */
#rheader .rheader-avatar {
  clear: none;
  display: inline;
  float: none;
  margin-right: 1rem;
  padding: 0;
  vertical-align: text-top;
}
/* line 44, ../scss/theme/_rheader.scss */
#rheader table {
  display: inline;
  margin-bottom: 10px;
  border: none;
}
/* line 48, ../scss/theme/_rheader.scss */
#rheader table tr {
  background: none;
}

/* Rheader Tabs */
/* line 55, ../scss/theme/_rheader.scss */
div.tabs {
  display: block;
  clear: none;
  height: 1.9rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0;
  line-height: 1.3rem;
  text-align: left;
  border-bottom: 1px solid #2ba6cb;
}
/* line 71, ../scss/theme/_rheader.scss */
div.tabs span {
  float: left;
  display: inline;
  position: relative;
  margin: 0.2rem 0.2rem 0 0;
  padding: 0.1rem 0.3rem 0.1rem;
  border-radius: 3px 3px 0 0;
}
/* line 82, ../scss/theme/_rheader.scss */
div.tabs span a {
  color: #ffffff !important;
  text-decoration: none !important;
  background: transparent !important;
}
/* line 86, ../scss/theme/_rheader.scss */
div.tabs span a:hover {
  background: transparent !important;
}
/* line 92, ../scss/theme/_rheader.scss */
div.tabs span.tab_here {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.2rem 0.35rem 0 0;
  padding: 0.1rem 0.4rem 0.1rem;
  background: #ffffff;
  border-color: #2ba6cb;
  border-style: solid;
  border-width: 0.125rem 2px 0.0625rem 3px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}
/* line 110, ../scss/theme/_rheader.scss */
div.tabs span.tab_here:hover {
  background-color: #f1edec;
}
/* line 113, ../scss/theme/_rheader.scss */
div.tabs span.tab_here a {
  color: #666666 !important;
}
/* line 115, ../scss/theme/_rheader.scss */
div.tabs span.tab_here a:hover {
  color: #666666 !important;
}
/* line 122, ../scss/theme/_rheader.scss */
div.tabs span.tab_last, div.tabs span.tab_other {
  font-size: 0.9rem;
  margin: 0.35rem 0.2rem 0 0;
  padding: 0.1rem 0.3rem 0;
  background-color: #2ba6cb;
  border-color: #2ba6cb;
  border-width: 0.0625rem 1px 0.0625rem 2px;
  border-style: solid;
}
/* line 136, ../scss/theme/_rheader.scss */
div.tabs span.tab_last:hover, div.tabs span.tab_other:hover {
  background-color: #2285a2;
  border-color: #2285a2;
}
/* line 140, ../scss/theme/_rheader.scss */
div.tabs span.tab_last a, div.tabs span.tab_other a {
  color: #ffffff !important;
}
/* line 142, ../scss/theme/_rheader.scss */
div.tabs span.tab_last a:hover, div.tabs span.tab_other a:hover {
  color: #ffffff !important;
}

/* Action buttons */
/* line 45, ../scss/theme/_buttons.scss */
.action-btn,
.delete-btn-ajax,
.delete-btn,
.selected-action {
  font-size: 0.6875rem;
  border: 0;
  line-height: 1;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
}
/* line 50, ../scss/theme/_buttons.scss */
.action-btn[disabled], .action-btn[disabled]:hover,
.delete-btn-ajax[disabled],
.delete-btn-ajax[disabled]:hover,
.delete-btn[disabled],
.delete-btn[disabled]:hover,
.selected-action[disabled],
.selected-action[disabled]:hover {
  color: white;
  background-color: #c0c0c0;
}

/* Default action buttons */
/* line 58, ../scss/theme/_buttons.scss */
.action-btn,
.selected-action {
  background-color: #2ba6cb;
  color: white !important;
}
/* line 62, ../scss/theme/_buttons.scss */
.action-btn:hover,
.selected-action:hover {
  background-color: #2285a2;
  color: white !important;
}

/* Alert-style action buttons (e.g. delete) */
/* line 69, ../scss/theme/_buttons.scss */
.delete-btn-ajax,
.delete-btn {
  background-color: #c60f13;
  color: white !important;
}
/* line 73, ../scss/theme/_buttons.scss */
.delete-btn-ajax:hover,
.delete-btn:hover {
  background-color: #9e0c0f !important;
  color: white !important;
}

/* Cancel button */
/* line 80, ../scss/theme/_buttons.scss */
.cancel-form-btn {
  padding: 0.9375rem;
}

/* line 83, ../scss/theme/_buttons.scss */
.cancel-form-btn:hover {
  color: white;
  background-color: #2ba6cb;
}

/* Full screen map button */
/* line 89, ../scss/theme/_buttons.scss */
.map_home .gis_fullscreen_map-btn {
  font-weight: normal;
  font-size: 0.8rem;
  padding: 0.2rem;
}

/* Action buttons in datatables */
/* line 98, ../scss/theme/_buttons.scss */
.dataTable .action-btn,
.dataTable .selected-action {
  color: white;
}
/* line 102, ../scss/theme/_buttons.scss */
.dataTable .delete-btn,
.dataTable .delete-btn-ajax {
  color: white;
}
/* line 106, ../scss/theme/_buttons.scss */
.dataTable td.actions {
  white-space: nowrap;
}

/* Debug buttons in footer */
/* line 113, ../scss/theme/_buttons.scss */
#footer button.btn {
  font-size: 0.6875rem;
  border: 0;
  line-height: 1;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  background: #dddddd;
}
/* line 120, ../scss/theme/_buttons.scss */
#footer button.btn:hover {
  color: white;
  background: #a0a0a0;
}

/* Caret */
/* line 127, ../scss/theme/_buttons.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/* Top bar */
/* line 23, ../scss/theme/_menus.scss */
.top-bar {
  z-index: 1000;
  /* Menu logo */
}
/* line 24, ../scss/theme/_menus.scss */
.top-bar.expanded {
  width: 100%;
}
/* line 29, ../scss/theme/_menus.scss */
.top-bar .logo {
  color: white;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  height: 35px;
  padding: 0.625rem 0.5rem 0 0.7rem;
  text-transform: uppercase;
}
/* line 38, ../scss/theme/_menus.scss */
.top-bar .menu-toggle input {
  margin-right: 5px;
}
/* line 41, ../scss/theme/_menus.scss */
.top-bar li.name {
  padding-top: 0.2rem;
}
/* line 44, ../scss/theme/_menus.scss */
.top-bar .home-link {
  font-size: 1.375rem;
  color: white;
  padding: 0.5rem;
}

/* line 50, ../scss/theme/_menus.scss */
.top-bar-section li.menu-home a {
  font-weight: bold !important;
  font-size: 1.4em !important;
  text-transform: capitalize !important;
}

/* Side Menu */
/* line 57, ../scss/theme/_menus.scss */
.sidebar {
  background: none repeat scroll 0 0 #d7d8d9;
  margin-top: 10px;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* line 64, ../scss/theme/_menus.scss */
.side-nav li {
  list-style-type: none;
  list-style-position: inside;
  line-height: 1.2;
  padding: 0;
}
/* line 70, ../scss/theme/_menus.scss */
.side-nav li.heading {
  margin-top: 0.125rem;
}
/* line 73, ../scss/theme/_menus.scss */
.side-nav li.heading:not(:first-child) {
  border-top: 1px solid #c0c1c2;
}
/* line 78, ../scss/theme/_menus.scss */
.side-nav li.active > a:first-child:not(.button) {
  font-weight: bold;
  background-color: #e0e1e2;
}
/* line 81, ../scss/theme/_menus.scss */
.side-nav li.active > a:first-child:not(.button):hover {
  color: #FFFFFF;
  background-color: #2ba6cb;
}

/* Page Header */
/* line 92, ../scss/theme/_menus.scss */
.main-title .org-logo {
  vertical-align: top;
  display: inline-block;
  padding: 0.4rem 0.8rem 0.3rem 0;
}
/* line 97, ../scss/theme/_menus.scss */
.main-title .system-title {
  display: inline-block;
}
/* line 99, ../scss/theme/_menus.scss */
.main-title .system-title .system-name {
  color: #333333;
}
/* line 102, ../scss/theme/_menus.scss */
.main-title .system-title .org-name {
  color: #999999;
  line-height: 1rem;
}
/* line 106, ../scss/theme/_menus.scss */
.main-title .system-title h5:first-child, .main-title .system-title h6:first-child {
  margin: 0.3rem 0 0.125rem;
}
/* line 110, ../scss/theme/_menus.scss */
.main-title .personal-menu-area {
  text-align: right;
}
/* line 113, ../scss/theme/_menus.scss */
.main-title .personal-menu {
  float: right;
  clear: right;
  padding-top: 0;
  margin-bottom: 0.125rem;
}
/* line 118, ../scss/theme/_menus.scss */
.main-title .personal-menu li a {
  padding: 0 0.375rem;
}
/* line 122, ../scss/theme/_menus.scss */
.main-title .language-selector {
  float: right;
  display: block;
  margin-top: 0.625rem;
  margin-bottom: 0.125rem;
}

/* line 131, ../scss/theme/_menus.scss */
body.rtl .main-title .personal-menu {
  float: left;
  clear: left;
}
/* line 135, ../scss/theme/_menus.scss */
body.rtl .main-title .language-selector {
  float: left;
}

/* Datatables */
/* line 27, ../scss/theme/_tables.scss */
#table-container {
  margin-bottom: 1.5rem;
}

/* line 31, ../scss/theme/_tables.scss */
table.dataTable thead th, table.dataTable th, table.dataTable td {
  border: 1px solid #cccccc;
  padding: 0.2em 1.5em 0.2em 0.5em;
}
/* line 36, ../scss/theme/_tables.scss */
table.dataTable thead th, table.dataTable thead td {
  background-color: #ffffff;
}
/* line 41, ../scss/theme/_tables.scss */
table.dataTable tbody tr.even {
  background-color: #ffffff;
}
/* line 44, ../scss/theme/_tables.scss */
table.dataTable tbody tr.even td.sorting_1 {
  background-color: #fafafa;
}
/* line 48, ../scss/theme/_tables.scss */
table.dataTable tbody tr.odd {
  background-color: #f7f8f9;
}
/* line 50, ../scss/theme/_tables.scss */
table.dataTable tbody tr.odd td {
  border-color: #cccccc;
}
/* line 54, ../scss/theme/_tables.scss */
table.dataTable tbody tr.odd td.sorting_1 {
  background-color: #f0f1f2;
}
/* line 60, ../scss/theme/_tables.scss */
table.dataTable tfoot th, table.dataTable tfoot td {
  background-color: #f7f8f9;
  border-top: 2px solid #cccccc;
  padding: 0.5em;
}
/* line 68, ../scss/theme/_tables.scss */
table.dataTable .selected-action {
  margin: 5px 0 5px;
}
/* line 71, ../scss/theme/_tables.scss */
table.dataTable #bulk_select_options input[type=checkbox] {
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
/* line 76, ../scss/theme/_tables.scss */
table.dataTable input.bulkcheckbox[type=checkbox] {
  margin-top: 0.2rem;
}
/* line 80, ../scss/theme/_tables.scss */
table.dataTable.dtr-inline.collapsed tbody td:first-child::before, table.dataTable.dtr-inline.collapsed tbody th:first-child::before {
  top: 6px;
  background-color: #2ba6cb;
}
/* line 85, ../scss/theme/_tables.scss */
table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child::before, table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child::before {
  top: 6px;
  background-color: #c60f13;
}

/* line 92, ../scss/theme/_tables.scss */
.dataTables_length {
  float: left !important;
}
/* line 94, ../scss/theme/_tables.scss */
.dataTables_length label {
  font-size: 0.75rem;
  white-space: nowrap;
  margin-right: 10em;
  margin-bottom: 0.3em;
}
/* line 100, ../scss/theme/_tables.scss */
.dataTables_length select {
  height: auto;
  padding: 2px;
  font-size: 0.75rem;
}

/* line 106, ../scss/theme/_tables.scss */
.dataTables_processing {
  padding: 14px 0 28px;
}

/* line 109, ../scss/theme/_tables.scss */
.dataTables_filter {
  text-align: left;
  font-size: 0.75rem;
  margin-right: 3rem;
}
/* line 113, ../scss/theme/_tables.scss */
.dataTables_filter input[type="search"] {
  margin-left: 0.2rem;
}

/* line 118, ../scss/theme/_tables.scss */
.dt-export-options {
  float: right;
}
/* line 120, ../scss/theme/_tables.scss */
.dt-export-options .list_formats {
  padding-top: 0;
  margin-left: 5px;
}
/* line 124, ../scss/theme/_tables.scss */
.dt-export-options .dt-export {
  margin: 0 0.085rem;
}

/* line 129, ../scss/theme/_tables.scss */
body.rtl .dt-export-options,
body.rtl .list_formats div {
  float: left;
}

/* line 134, ../scss/theme/_tables.scss */
.empty {
  font-style: italic;
  font-size: 0.825rem;
}

/* Data Lists */
/* line 13, ../scss/theme/_datalists.scss */
.dl .dl-1-cols {
  width: 100%;
}
/* line 16, ../scss/theme/_datalists.scss */
.dl .dl-header {
  float: none;
  text-align: right;
}
/* line 20, ../scss/theme/_datalists.scss */
.dl .dl-row {
  border: 0;
}
/* line 24, ../scss/theme/_datalists.scss */
.dl .dl-item .dropdown .caret {
  margin-left: 0.2rem;
  margin-top: 0.4rem;
}
/* line 28, ../scss/theme/_datalists.scss */
.dl .dl-item .attachments {
  margin-right: 0.2rem;
}

/* line 34, ../scss/theme/_datalists.scss */
body.rtl .dl .dl-header {
  text-align: left;
}
/* line 38, ../scss/theme/_datalists.scss */
body.rtl .dl .dl-item .dropdown .caret {
  margin-left: 0;
  margin-right: 0.2rem;
}
/* line 42, ../scss/theme/_datalists.scss */
body.rtl .dl .dl-item .attachments {
  margin-right: 0;
  margin-left: 0.2rem;
}

/* line 49, ../scss/theme/_datalists.scss */
.dl-empty {
  font-style: italic;
  font-size: 0.825rem;
}

/* line 52, ../scss/theme/_datalists.scss */
.dl-exports.list_formats {
  padding: 0;
}

/* line 55, ../scss/theme/_datalists.scss */
.card_1_line, .card_manylines {
  color: #666;
  font-size: 0.7rem;
  padding: 0.05rem;
}

/* line 60, ../scss/theme/_datalists.scss */
.card_1_line {
  height: auto;
  margin-bottom: 0;
  overflow: hidden;
}

/* Profile */
/* line 12, ../scss/theme/_profile.scss */
h4.profile-sub-header {
  background-color: #efefef;
  padding: 0.1rem 0.3rem;
  font-size: 1.2rem;
}

/* line 17, ../scss/theme/_profile.scss */
.profile-widget .icon-fullscreen {
  float: right;
  position: relative;
  right: 9px;
  top: 17px;
}

/* line 23, ../scss/theme/_profile.scss */
.profile .dl-header {
  display: none;
}

/* line 26, ../scss/theme/_profile.scss */
.empty_card-holder {
  text-align: center;
}

/* jQuery UI widgets */
/* line 22, ../scss/theme/_widgets.scss */
.ui-widget-header {
  background: none;
  border: 1px solid #ADA6A0;
}
/* line 25, ../scss/theme/_widgets.scss */
.ui-widget-header a {
  color: #222222 !important;
  border-color: #C7C7C7;
  margin-bottom: 0px;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 0.7em;
}
/* line 34, ../scss/theme/_widgets.scss */
.ui-widget-header .ui-icon-check,
.ui-widget-header .ui-icon-closethick {
  background: none;
  height: 0px;
  width: 0px;
}

/* line 41, ../scss/theme/_widgets.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border-color: #ADA6A0;
}

/* line 46, ../scss/theme/_widgets.scss */
.ui-multiselect-checkboxes li label input {
  margin-left: 0.2rem;
  margin-right: 0.3rem;
}

/* line 50, ../scss/theme/_widgets.scss */
.ui-widget {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

/* List-Add Button */
/* line 55, ../scss/theme/_widgets.scss */
#list-btn-add {
  float: right;
  margin-right: 1rem;
}

/* line 60, ../scss/theme/_widgets.scss */
body.rtl #list-btn-add {
  float: left;
  margin-left: 1rem;
  margin-right: 0;
}

/* Summary tabs */
/* line 67, ../scss/theme/_widgets.scss */
.ui-tabs .ui-tabs-panel {
  padding: 0.5em;
}

/* line 70, ../scss/theme/_widgets.scss */
#summary-tabs {
  margin-top: 10px;
}
/* line 72, ../scss/theme/_widgets.scss */
#summary-tabs.ui-widget-content {
  background: none;
  border: none;
}

/* line 78, ../scss/theme/_widgets.scss */
#summary-tab-headers .ui-tabs-nav {
  border: none;
  margin: 0 10px;
}
/* line 82, ../scss/theme/_widgets.scss */
#summary-tab-headers a {
  border-color: #CCC;
}
/* line 85, ../scss/theme/_widgets.scss */
#summary-tab-headers .ui-tabs-active a {
  border-bottom: 1px solid white;
}
/* line 88, ../scss/theme/_widgets.scss */
#summary-tab-headers li {
  margin-right: 5px;
  box-shadow: none;
}

/* line 95, ../scss/theme/_widgets.scss */
#summary-sections .x-panel-body {
  border: none;
  border-radius: 4px;
}

/* Date picker */
/* line 102, ../scss/theme/_widgets.scss */
input.date.hasDatepicker {
  display: inline-block;
}

/* line 105, ../scss/theme/_widgets.scss */
.ui-datepicker-trigger {
  background-color: transparent;
  background-image: url("../../img/bootstrap/calendar.gif");
  margin-left: 10px;
}

/* line 110, ../scss/theme/_widgets.scss */
.ui-datepicker.ui-widget {
  z-index: 1000 !important;
}

/* Range filter widgets */
/* line 115, ../scss/theme/_widgets.scss */
.range-filter-label label {
  font-size: 1.0em;
}

/* line 119, ../scss/theme/_widgets.scss */
.range-filter-widget input.date-filter-input {
  width: auto;
  margin-right: 2px;
}
/* line 123, ../scss/theme/_widgets.scss */
.range-filter-widget button.date-clear-btn {
  font-size: 0.85em;
  padding: 0.325em;
  margin-top: 0.5em;
}
/* line 128, ../scss/theme/_widgets.scss */
.range-filter-widget .postfix.calendar-clear-btn {
  margin-left: -2px;
}

/* line 132, ../scss/theme/_widgets.scss */
.btn.date-clear-btn {
  font-size: 0.85em;
  padding: 0.325em;
  margin-top: 0.5em;
}

/* line 137, ../scss/theme/_widgets.scss */
.calendar-widget-container {
  white-space: nowrap;
}

/* line 140, ../scss/theme/_widgets.scss */
.postfix.calendar-clear-btn {
  cursor: pointer;
  display: inline-block;
  margin-top: 2px;
  width: 1.2rem;
  vertical-align: top;
}
/* line 142, ../scss/theme/_widgets.scss */
.postfix.calendar-clear-btn .fa {
  color: #B0B0B0;
}

/* line 152, ../scss/theme/_widgets.scss */
body.rtl .range-filter-widget input.date-filter-input {
  margin-right: 0;
  margin-left: 2px;
}

/* GroupedOptions widget */
/* line 160, ../scss/theme/_widgets.scss */
.s3-groupedopts-label {
  float: none;
  margin-bottom: 0.3rem;
}

/* line 164, ../scss/theme/_widgets.scss */
.s3-groupedopts-widget table {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

/* line 168, ../scss/theme/_widgets.scss */
table.s3-groupedopts-widget {
  /*     border: 0; TODO make configurable */
  margin-bottom: 0;
}
/* line 169, ../scss/theme/_widgets.scss */
table.s3-groupedopts-widget td {
  white-space: nowrap;
}
/* line 171, ../scss/theme/_widgets.scss */
table.s3-groupedopts-widget td input {
  vertical-align: text-top;
}
/* line 174, ../scss/theme/_widgets.scss */
table.s3-groupedopts-widget td label {
  white-space: pre-wrap;
}

/* line 182, ../scss/theme/_widgets.scss */
div.s3-groupedopts-widget .s3-groupedopts-item {
  display: inline-block;
  padding-top: 0.15rem;
}
/* line 186, ../scss/theme/_widgets.scss */
div.s3-groupedopts-widget input.s3-groupedopts-option {
  margin-top: 0;
}

/* ImageCropWidget */
/* line 192, ../scss/theme/_widgets.scss */
.imagecrop-btn {
  font-size: 1em;
  margin-left: 0.2em;
  padding: 0.3em;
}

/* pr_Contacts widgets */
/* line 199, ../scss/theme/_widgets.scss */
.pr-contacts-wrapper h3 {
  margin-top: 0.5rem;
  padding-bottom: 0 !important;
}

/* line 203, ../scss/theme/_widgets.scss */
.pr-contact-actions {
  margin-bottom: 0.5rem;
}

/* line 206, ../scss/theme/_widgets.scss */
.pr-contact,
.pr-emergency-contact {
  padding: 0.5rem;
}

/* line 210, ../scss/theme/_widgets.scss */
.pr-contact-priority,
.pr-contact-details {
  display: inline-block;
}

/* line 214, ../scss/theme/_widgets.scss */
.pr-contact-subtitle {
  font-size: 0.8rem;
  font-style: italic;
}

/* line 218, ../scss/theme/_widgets.scss */
.pr-contact-priority {
  border: thin solid #2ba6cb;
  border-radius: 2px;
  color: #2ba6cb;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0.25rem 1rem 0 0;
  padding: 0 0.25rem 0.125rem;
  vertical-align: top;
}
/* line 227, ../scss/theme/_widgets.scss */
.pr-contact-priority input[type=submit] {
  color: black;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

/* Checkboxes Widget */
/* line 235, ../scss/theme/_widgets.scss */
.controls .checkboxes-widget-s3 {
  display: inline-flex;
}

/* Comment feeds */
/* line 240, ../scss/theme/_widgets.scss */
.comment-box {
  background: none repeat scroll 0 0 #f5f5f5;
}

/* Text representation */
/* line 245, ../scss/theme/_widgets.scss */
.text-body {
  white-space: pre-wrap;
}

/* Iframe Map (Location Represent links) TODO move into page or forms? */
/* line 250, ../scss/theme/_widgets.scss */
#close-iframe-map {
  padding: 7px;
  margin-top: 5px;
}

/* Truncated Texts */
/* line 256, ../scss/theme/_widgets.scss */
.s3-truncate-more,
.s3-truncate-less {
  font-style: italic;
}

/* line 260, ../scss/theme/_widgets.scss */
.s3-truncate-more:before,
.s3-truncate-less:before {
  font-style: italic;
  content: "...";
}

/* AddPersonWidget */
/* line 267, ../scss/theme/_widgets.scss */
.box_bottom {
  clear: left;
}

/* line 270, ../scss/theme/_widgets.scss */
.ui-menu-item .pe-label {
  font-size: 0.7rem;
  color: #A0A0A0;
  vertical-align: super;
}

/* Anonymize-Widget */
/* line 277, ../scss/theme/_widgets.scss */
form.anonymize-form,
.anonymize-success {
  padding: 1rem;
}

/* line 281, ../scss/theme/_widgets.scss */
.anonymize-select,
.anonymize-confirm {
  margin-left: 1rem;
}

/* line 285, ../scss/theme/_widgets.scss */
.anonymize-buttons {
  margin-top: 1rem;
}

/* line 288, ../scss/theme/_widgets.scss */
.anonymize-btn {
  background-color: #c60f13;
}
/* line 290, ../scss/theme/_widgets.scss */
.anonymize-btn:hover {
  background-color: #9e0c0f;
}

/* line 294, ../scss/theme/_widgets.scss */
.s3-anonymize {
  display: inline-block;
}

/* Priority Representation */
/* line 299, ../scss/theme/_widgets.scss */
.prio {
  padding: 0 4px;
  border: 1px solid black;
  text-align: center;
  white-space: pre;
  font-weight: normal;
}

/* line 306, ../scss/theme/_widgets.scss */
.prio-red {
  color: white;
  background-color: #d10000;
}

/* line 310, ../scss/theme/_widgets.scss */
.prio-blue {
  color: white;
  background-color: #10427b;
}

/* line 314, ../scss/theme/_widgets.scss */
.prio-lightblue {
  background-color: #b7ddff;
}

/* line 317, ../scss/theme/_widgets.scss */
.prio-grey {
  background-color: silver;
}
