@charset "UTF-8";

/* Form Layout Styles */
form label {
    cursor: pointer;
}
p.legend {
    margin-bottom: 1em;
}
p.legend em {
    color: #c00;
    font-style: normal;
}
.form-container {
    width: 100%;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 15px;
}
.form-container form {
    padding: 5px;
    background-color: #fff;
    border: #eee 1px solid;
    background-color: #fbfbfb;
}
.form-container p {
    margin: 0.5em 0 0 0;
}
.form-container form p {
    margin: 0;
}
.form-container form p.note {
    font-style: italic;
    margin-left: 18em;
    font-size: 80%;
    color: #666;
}
.form-container form input,
.form-container form button,
.form-container form select,
.form-container form textarea {
    padding: 2px;
    margin: 2px 0 2px 0;
}
.form-container form input.string,
.form-container form textarea  {
    width: 500px;
}
#login_form form table,
#register_form form table {
    width: 95%;
}
#login_form input.string,
#register_form input.string {
    width: 95%;
}
.form-container form input[type="checkbox"],
.form-container form input[type="radio"] {
    margin: 2px 5px;
}
.form-container form fieldset {
    margin: 0 0 10px 0;
    padding: 10px;
    border: #ddd 1px solid;
    background-color: #fff;
}
.form-container form legend {
    font-weight: bold;
    color: #666;
}
.form-container form td.w2p_fl,
.item-container form td.w2p_fl {
    font-weight: bold;
    /* background-color: #ffc; */
}
.form-container form tr td,
.item-container form tr td {
    padding: 3px 0 0 3px;
}
.form-container .controlset label,
.form-container .controlset input {
    display: inline;
    float: none;
}
.form-container .controlset div {
    margin-left: 15em;
}
.form-container .buttonrow {
    margin-left: 180px;
}

/* Styling for Inline Components */
table.embeddedComponent {
    border: 1px solid #B3B3B3;
}
form table.embeddedComponent td {
    padding: 0 5px;
    border: solid #B3B3B3;
    border-width: 0 0 1px 0;
    text-align: left;
}
table.embeddedComponent tr.label-row td {
    color: #B3B3B3;
}
.form-container form .embeddedComponent input.string,
.form-container form .embeddedComponent  textarea  {
    width: auto;
}

.inline-throbber {
    background-image: url(../../img/indicator.gif);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.inline-add {
    background-image: url(../../img/crud/add.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 23px;
}
.inline-cnc {
    background-image: url(../../img/crud/cancel.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.inline-edt {
    background-image: url(../../img/crud/edit.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
}
.inline-rdy {
    background-image: url(../../img/crud/apply.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.inline-rmv {
    background-image: url(../../img/crud/remove.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 23px;
}

.s3_inline_add_resource_link a {
    margin-left: 2px;
    padding-left: 2px;
}

/* Filter Forms */
#filter-form {
    margin: 0;
}

/* Summary Page */
#summary-filter-form {
    margin: 0;
}
#summary-sections #map{
    padding: 0;
}

/* ========================================================================= */

textarea.comments {
    height: 50px;
}
textarea.richtext {
    height: 100px;
}

/* Used to diplay the list-add with the list-add-btn */
#list-btn-add {
    margin-bottom: 10px;
/*     float: left; */
}
/*#list-btn-add + h3 {
    clear: both;
}*/
#list-add {
    display: none;
}

/* Tabular data view */
#table-container {
   display: block;
   width: 100%;
   /* We want the scroll in the table not the wrapper
   overflow: auto; */
   /* Bring in line with export formats */
   margin-top: -1px;
   min-width: 640px;
}
.dataTable thead th {
/* datatables fixed headers must not be transparent, however those aren't used currently & this removes the Sorting Icons
    background: no-repeat scroll right center #F0F3F4;*/
    border: 1px solid #ccc;
    border-bottom: 1px solid black;
}

#table-container th,
.fixedHeader th {
    text-align: center;
    border: 1px solid #ccc;
}
#table-container th.rtotal {
    border-left: 2px solid #aaa;
}
#table-container tr.even td {
    border: 1px solid #ccc;
    padding: 4px 10px;
}
#table-container tr.odd td {
    border: 1px solid #ccc;
    padding: 4px 10px;
}
#table-container tr.odd td.rtotal,
#table-container tr.even td.rtotal {
    border-left: 2px solid #AAAAAA;
}
#table-container tr.totals_row {
    border-top: 2px solid #AAAAAA;
}
#table-container td.totals_header {
    font-weight: bold;
}

.list_formats {
    float: right;
    padding-top: 5px;
}
.list_formats div {
    padding: 1px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    float: right;
    background-repeat: no-repeat;
}
.export_have {
    background-image: url(../../img/have_16.png);
}
.export_kml {
    background-image: url(../../img/kml_icon.png);
}
.export_map {
    background-image: url(../../img/map_icon.png);
}
.export_pdf {
    background-image: url(../../img/pdficon_small.gif);
}
.export_rss {
    background-image: url(../../img/RSS_16.png);
}
.export_xls {
    background-image: url(../../img/icon-xls.png);
}
.export_xml {
    background-image: url(../../img/icon-xml.png);
}
/* msg_list_empty */
.empty {
    margin-top: 30px;
}

/* dataTables Styling */
div .dataTable_table {
    /* Scroll the table not the wrapper */
    overflow: auto;
    clear: both;
}
.dataTable {
    width: 100%;
}
.dataTable tr td {
    vertical-align: top;
}
.dataTable.group {
	background-color: #ddd;
	border: 1px solid #aaa;
}
.dataTable tr.level_1{
	background-color: #999;
    color: #DDEEFF;
}
.dataTable tr.level_1 a{
    color: #DDEEFF;
}
.dataTable tr.activeRow.level_1 {
	background-color: #1D70CF;
}
.dataTable tr.level_2{
	background-color: #ddd;
    color: #248;
}
.dataTable tr.level_2 a{
    color: #248;
}
.dataTable tr.activeRow.level_2{
	background-color: #528DD1;
}

.dataTables_filter {
    width: auto;
    float: left !important;
    margin-bottom: 4px;
}
.dataTables_processing {
	float: left;
	margin-left: 10px;
}
.dataTables_info  {
	width: auto;
    float: right !important;
    clear: none !important;
    margin: 7px 0 4px 10px;
}
.dataTables_length {
    float: right !important;
    margin-bottom:4px;
}
.dataTables_paginate {
	float: left;
    margin: 4px 0 4px 0;
}
.paging_full_numbers {
	width: auto;
}
a.paginate_button,
a.paginate_active {
    text-decoration: none;
}
.sorting_disabled {
    background: no-repeat scroll right center transparent;
}
.dataTable .row_selected td {
	background-color: #ddd;
	border: 1px solid #aaa;
}

.dataTable tr.dtalert .action-btn,
.dataTable tr.dtalert .delete-btn {
	background-color: #D0D004;
	color: #444420;
}
.dataTable tr.dtalert .action-btn:hover,
.dataTable tr.dtalert .delete-btn:hover {
    text-decoration: none;
    color: #222;
    background-color: #EEED04;
    border-right: 1px solid #4589ce;
    border-bottom: 1px solid #4589ce;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px 4px 2px 4px;
}
.dataTable tr.dtdisable {
    text-shadow: #CCC 1px 1px 1px;
	color: #888;
}
.dataTable tr.even.row_selected td { background-color: #60F6AD; }
.dataTable tr.even.row_selected td.sorting_1 { background-color: #40FA8D; }
table.display tr.odd.row_selected td { background-color: #40FA8D; }
table.display tr.odd.row_selected td.sorting_1 { background-color: #20F0AD; }

.dataTable tr.odd.dtalert { background-color: #FFFFC0; }
.dataTable tr.odd.dtalert td.sorting_1 { background-color: #FFFFB0; }
.dataTable tr.odd.dtalert td.sorting_2 { background-color: #FFFFA0; }
.dataTable tr.odd.dtalert td.sorting_3 { background-color: #FFFF90; }
.dataTable tr.even.dtalert { background-color: #FFFFA0; }
.dataTable tr.even.dtalert td.sorting_1 { background-color: #FFFF90; }
.dataTable tr.even.dtalert td.sorting_2 { background-color: #FFFF80; }
.dataTable tr.even.dtalert td.sorting_3 { background-color: #FFFF70; }

.dataTable tr.odd.dtwarning { background-color: #FFD9D9; }
.dataTable tr.odd.dtwarning td.sorting_1 { background-color: #FFB6B6; }
.dataTable tr.odd.dtwarning td.sorting_2 {	background-color: #FFA6A6; }
.dataTable tr.odd.dtwarning td.sorting_3 { background-color: #FF9696; }
.dataTable tr.even.dtwarning { background-color: #FFA6A6; }
.dataTable tr.even.dtwarning td.sorting_1 { background-color: #FF8383; }
.dataTable tr.even.dtwarning td.sorting_2 { background-color: #FF7373; }
.dataTable tr.even.dtwarning td.sorting_3 { background-color: #FF6363; }
.dataTable tr.dtwarning .action-btn,
.dataTable tr.dtwarning .delete-btn{
	background-color: #D07060;
	color: #431;
    text-shadow: #FFF 0px 0px 0px;
}
.dataTable tr.dtwarning .action-btn:hover,
.dataTable tr.dtwarning .delete-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #bb3377;
    border-right: 1px solid #4589ce;
    border-bottom: 1px solid #4589ce;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 2px 4px 2px 4px;
}

.dataTable-btn {
	background-color: #ddd;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}
.dataTable-btn:hover {
	background-color: #EFEFEF;
}

table.importItem {
    display: none;
}

/* Pivot Tables */
.pivot-table-contents {
    overflow: auto;
}

/* Data Lists */
#dl-container {
    clear: left;
}
div.dl {
    border-bottom: 1px solid #aaa;
}
.dl-header {
    float: right;
    padding: 3px;
}
.dl-row {
    clear: both;
    padding: 0;
    border-top: 1px solid #aaa;
}
.dl-item {
    float: left;
    padding: 3px 5px 3px 5px;
}
.dl-row.even,
.dl-row.even .dl-item {
    background-color: white;
}
.dl-row.odd,
.dl-row.odd .dl-item {
    background-color: #E2E4FF;
}
.dl-1-cols {
    /* Wide as possible for display on small screens */
    width: 98%;
}
.dl-2-cols {
    width: 48%;
}
.dl-3-cols {
    width: 31%;
}

.dl-field {
    clear: left;
}
.dl-field-label {
    margin-right: 10px;
    font-weight: bold;
}
.dl-field-value {
}
.infscr-loading {
    float: left;
    clear: left;
}

/* Display view */
.item-container {
    width: 100%;
    overflow: auto;
    margin: 5px 0 5px 0;
}

/* Default text for INPUT fields */
.default-text {
    color: #a1a1a1;
    font-style: italic;
}

ul.ui-autocomplete {
    z-index: 9999 !important;
}

/* Embedded Map */
#map {
    width: 100%;
    overflow: auto;
}

/* Required Field indicator */
.req {
    color: red;
    font-weight: bold;
}

/* For Key - ugly! */
.red {
    color: red;
}

/* Help Popup */
.tooltip,
.tooltipbody,
.stickytip,
.ajaxtip {
    position: static;
    text-transform: uppercase;
    height: 20px;
    width: 50px;
    background-image: url(../../img/help_off.gif);
}
.tooltip span,
.tooltipbody span,
.stickytip span,
.ajaxtip span {
    display:none;
}
.tooltip:hover,
.tooltipbody:hover,
.stickytip:hover,
.ajaxtip:hover {
    background-color: transparent;
    height: 20px;
    width: 50px;
    background-image: url(../../img/help_on.gif);
}

/* Form Popup */
body.popup {
    min-width: auto;
    height: auto;
}
#popup {
    background: #fff;
    width: 725px;
}
.loading {
    background: url(../../img/ajax-loader.gif) center no-repeat !important;
}

/* Message Flash styles */
#_statusbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 7000;
}
.confirmation {
    color: #070;
    font-weight: bold;
    text-align: center;
    border: #070 1px solid;
    background: url(../../img/dialog-confirmation.png) #e5ffe5 no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.confirmation p em {
    color: #070;
}
.error {
    color: #c00;
    font-weight: bold;
    text-align: center;
    border: #c00 1px solid;
    background: url(../../img/dialog-error.png) #ffe5e5 no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.error p em {
    color: #c00;
}
.information {
    color: #748d8e;
    font-weight: bold;
    text-align: center;
    border: #9ed8d7 1px solid;
    background: url(../../img/dialog-information.png) #ecfdff no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.information p em {
    color: #748d8e;
}
.warning {
    color: #c00;
    font-weight: bold;
    text-align: center;
    border: #fc6 1px solid;
    background: url(../../img/dialog-warning.png) #ffc no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.warning p em {
    color: #c00;
}

/* Throbber */
/* Used by Autocompletes, map popups, map toolbar, dropdown widgets */
.throbber,
.layer_throbber,
.map_loader {
    background-image: url(../../img/ajax-loader.gif);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
}
.throbber {
    margin-bottom: -16px;
    padding: 0 0 0 10px;
}

/* Resource Header */
#rheader {
    margin-bottom: 0.75em;
}
#rheader th,
#rheader td {
    text-align: left;
    padding: 1px 5px 1px 5px;
}
#rheader th {
    font-weight: bold;
}

/* Tabs */
div.tabs {
    width: 100%;
    clear: left;
	height: 1.5em;
    padding: 8px 0 2px 0;
    margin: 5px 0 0 0;
    text-align: left;
    border-bottom: 1px solid #3286e2;
}
div.tabs span {
    float: left;
    border-radius: 3px 3px 0 0;
}
span.tab_last,
span.tab_other {
    background: #3286e2;
    border-color: #3286e2;
    border-width: 2px 1px 0 3px;
    border-style: solid;
    margin-right: 3px;
    padding-right: 3px;
}
div.tabs span a {
    color: #ffffff;
    text-decoration: none;
}
/* To overlap component border */
div.tabs span.tab_here {
	display: inline;
    position: relative;
    bottom: 0;
    background: #f0f3f4;
    border-width: 2px 2px 0 3px;
    border-style: solid;
    border-color: #6699cc;
    padding: 1px 6px 0 5px;
    margin-right: 5px;
    font-weight: bold;
}
form div.tabs span.tab_here {
    background: #ffffff;
    border-bottom: 2px solid #ffffff;
}
div.tabs span.tab_here a {
    color: #006699;
}
span.tab_last a:hover,
span.tab_other a:hover {
    color: #ffffff;
    background: transparent;
}
span.tab_last:hover,
span.tab_other:hover {
    background: #164b8b;
    border-color: #164b8b;
}
span.tab_prev_active {
    border: 1px solid #6699cc;
    color: #006699;
    border-bottom: 0;
}
span.tab_next_active {
    border: 1px solid #6699cc;
    color: #006699;
    border-bottom: 0;
}
span.tab_prev_inactive {
    border: 1px solid #bbb;
    color: #bbb;
    border-bottom: 0;
}
span.tab_next_inactive {
    border: 1px solid #bbb;
    color: #bbb;
    border-bottom: 0;
}
span.tab_prev_active a,
span.tab_next_active a {
    color: #006699;
    text-decoration: None;
}
span.tab_prev_inactive a,
span.tab_next_inactive a {
    color: #bbb;
    text-decoration: None;
}

/* Component */
#component {
    float: left;
    width: 100%;
/*    overflow: auto; */
}

/* Resource Footer */
#rfooter {
	padding: 15px 0;
	clear: both;
}

/* Last Update Meta-data */
#last_update {
    text-align: right;
    font-style: italic;
    font-size: 80%;
    color: #666;
    float: right;
    clear: right;
}

.authorinfo {
    font-style: italic;
    font-size: 80%;
    color: #666;
}

/* Action Buttons */
.action-btn,
.delete-btn-ajax,
.delete-btn {
    cursor: pointer;
    line-height: 1.5;
    text-decoration: none;
    color: #ffffff;
    background-color: #3286e2;
    border: 1px solid #4c95e6;
    border-bottom: 2px solid #164b8b;
    border-top: 1px solid #5f9eeb;
    padding: 2px 4px 2px 4px;
    margin: 2px;
    z-index: 500;
    white-space: nowrap;
    border-radius: 2px;
}
.action-btn:hover,
.delete-btn-ajax:hover,
.delete-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #164b8b;
}
#delete-btn {
    margin-bottom: 8px;
}
#markDuplicate {
    float: right;
    clear: right;
    padding-bottom: 8px;
}
.cancel-btn {
    padding-left: 10px;
}
.action-lnk {
    font-size: 85%;
    margin-left: 15px;
    cursor: pointer;
}
.action-lnk:first-child {
    margin-left: 0;
}

.sublabels {
    font-size: 85%;
}

/* Expand section button */
.plus {
    position: static;
    height: 16px;
    width: 16px;
    background-image: url(../../img/icon_blue_plus15px.png);
}
.minus {
    position: static;
    height: 16px;
    width: 16px;
    background-image: url(../../img/icon_blue_minus15px.png);
}
.expand {
    /*position: static;*/
    height: 16px;
    width: 16px;
    float: left;
    background-image: url(../../img/jquery-ui/ui-icons_222222_256x240.png);
    background-position: -64px -16px;
}
.expanded {
    background-image: url(../../img/jquery-ui/ui-icons_222222_256x240.png);
    background-position: -32px -16px;
    white-space: nowrap;
}

/* Embed Widget */
#select_from_registry_row td {
   padding: 8px;
}
tr.box_top {
   border-top: #bbb 1px solid;
   border-left: #bbb 1px solid;
   border-right: #bbb 1px solid;
   background: #F0F3F4;
}
tr.box_middle {
   border-left: #bbb 1px solid;
   border-right: #bbb 1px solid;
   background: #F0F3F4;
}
tr.box_bottom {
   border-bottom: #bbb 1px solid;
   border-left: #bbb 1px solid;
   border-right: #bbb 1px solid;
   background: #F0F3F4;
}

/* Subheadings */
td.subheading {
    padding-top: 10px !important;
    padding-bottom: 5px;
    border-bottom: thin solid #bbb;
    font-weight: bold;
}
tr.after_subheading td {
    padding-top: 10px !important;
}

select[disabled='disabled'],
input[disabled='disabled'] {
    /* A lighter background so the text is more readable */
    background: #eee;
    color: #333;
    /* Make the cursor not change to editable */
    cursor: default;
}

/* Grow Input */
li input + a {
    text-decoration: none;
}

.rfilter {
    float: left;
    padding: 10px 20px 10px 10px;
    /*margin-bottom: 20px;*/
}

/* Comments */
#comments {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
#comments ul, ol {
    padding-left: 20px;
    list-style: none outside none;
}
#comments li {
    padding: 10px 0 0;
}
#comments li a.jcollapsible:hover {
    background: none;
}
#comments div.comment-text ul {
    list-style: disc outside none;
}
#comments div.comment-text ol {
    list-style: decimal outside none;
}
#comments div.comment-text li {
    padding: 0;
}
/* Over-ride Ext! */
#comments em {
    font-style: italic;
}
#comments strong {
    font-weight: bold;
}
#comment-form {
    width: 390px;
    border: 1px #9C9C9C dashed;
    padding: 5px;
    margin-top: 5px;
}
.avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    float: left;
    height: 55px;
    padding: 4px;
    width: 55px;
}

/* HRM RHeader */
.hrm_avatar {
    float: left;
    clear: right;
    padding-bottom: 5px;
    padding-right: 10px;
}
.comment-box {
    overflow: hidden;
    padding: 15px 0;
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    overflow: hidden;
    padding: 10px;
    margin-left: 15px;
}
.comment-text {
    padding: 0 0 0 20px;
    float: left;
}
.comment-header {
    margin: 0 0 10px 0;
}
.comment-footer {
    clear: left;
}
.comment-date {
    font-size: 11px;
    margin: 0 0 10px 0;
}

/* Popup text for represents of Long text fields */
.showall {
    display: none;
    position: absolute;
    border-style: solid;
    background-color: #ffffcc;
    padding: 5px;
    margin: 0 20px 0 -50px;
}

/* Drag and Drop */
#template_sections {
    margin-right: 10px;
}
#template_sections li,
#master_sections li {
    list-style: none;
}
.ui-droppable {
    padding-bottom: 25px;
}
li.ui-draggable:hover,
li.ui-draggable-dragging {
    cursor: pointer;
    list-style: none;
    padding: 3px;
    border: solid 1px #BBBBBB;
    background: none repeat scroll 0 0 #CFDDE7;
}

/* Ext button (e.g. on Bulk Upload form */
#show-dialog-btn {
    border: 1px solid #efefef;
    margin: 10px;
    padding: 10px;
}

/* Request (req) Application */
.req_status_none {
    color: red;
    font-weight: bold;
}
.req_status_partial {
    color: darkorange;
    font-weight: bold;
}
.req_status_complete {
    color: green;
    font-weight: bold;
}

/* Contacts */
.contacts-wrapper {
    width: 500px;
}

.contacts-wrapper p {
   margin-bottom: 0.8em;
}
.contacts-wrapper div.margin {
   margin-bottom: 10px;
}

.contacts-wrapper .contact.saving .editBtn,
.contacts-wrapper .contact.edit .editBtn {
    display: none;
}

/* GIS */
/* Except here */
ul.x-tab-strip,
ul.x-tree-node-ct,
ul.x-tree-root-ct {
    list-style: none outside none;
}

/* Search Form */
.search_select_letter_label,
.s3-grouped-checkboxes-widget-label,
.s3-groupedopts-label {
    margin: 10px 0 0 7px;
    padding-left: 20px;
    height: 16px;
    width: 16px;
    background: url(../../img/icon_blue_plus15px.png) no-repeat;
    cursor: pointer;
}
.search_select_letter_label.expanded,
.s3-grouped-checkboxes-widget-label.expanded,
.s3-groupedopts-label.expanded {
    height: 16px;
    width: 16px;
    background: url(../../img/icon_blue_minus15px.png) no-repeat;
}

.search_select_letter_widget,
.s3-grouped-checkboxes-widget .s3-checkboxes-widget,
.s3-groupedopts-widget table {
    margin-left: 2em;
}

.form-container form fieldset .search_select_letter_widget label,
.form-container form fieldset  .s3-checkboxes-widget label,
.form-container form fieldset  .s3-groupedopts-widget label {
    white-space: nowrap;
    text-align: left;
}
.s3-groupedopts-widget label {
    margin-left: 5px;
}
.s3-groupedopts-widget tr > td {
    padding-top: 5px;
    padding-right: 10px;
}
/* Checkboxes with title attributes */
/*
.checkbox-tooltip {
    border-bottom: 1px dotted black;
}
.checkbox-tooltip:after {
    content: " ?";
}
*/
/* when S3SearchOptionsWidget has nothing to show */
.no-options-available {
    color: #aaa;
    font-style: italic;
}

.checkboxes-widget-s3 input,
.s3-checkboxes-widget input,
.s3-groupedopts-widget input
{
    float: left;
}
.s3-checkboxes-widget-filter input {
    vertical-align: middle;
}

.range-filter-label {
    font-size: 85%;
}
.range-filter-field {
    float: left;
}

.filter-form td,
.search_form td,
#filter_options td {
    border-top: 1px solid #D9D9D9;
}
.filter-form tr:first-child > td,
.search_form tr:first-child > td,
#filter_options tr:first-child > td {
    border-top: 0;
}
.filter-form table.s3-checkboxes-widget td,
.filter-form table.s3-groupedopts-widget td,
.search_form table.s3-checkboxes-widget td,
.search_form table.s3searchminmaxwidget td,
#filter_options table.s3-checkboxes-widget td,
#filter_options table.s3searchminmaxwidget td {
    border-top: 0;
}

.widget-org-hierarchy-menu {
    overflow:auto;
    height:10em;
    width:36em;
    position:relative;
}
.widget-org-hierarchy-menu .ui-menu {
    position:absolute;
    top:0;
    bottom:0;
    overflow:auto;
    width:32em;
}
.widget-org-hierarchy-menu .ui-menu a {
    cursor: pointer;
}

.widget-org-hierarchy-crumbs {
    list-style: none;
}
.widget-org-hierarchy-crumbs li {
    display: inline;
    cursor: pointer;
}
.widget-org-hierarchy-crumbs li:after {
    content: " > ";
}
.widget-org-hierarchy-crumbs li a {
    text-decoration: none;
}
.widget-org-hierarchy-crumbs li.selected a {
    text-decoration: none;
    border-bottom: 1px dashed black;
}

table.report td {
    min-width: 40px;
    padding-right: 16px;
    white-space: nowrap;
}
table.report .report-cell-value,
table.report .pt-cell-value {
    float: left;
}
table.report .report-cell-zoom,
table.report .pt-cell-zoom {
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 5px;
    background: url(../../img/silk/magnifier_zoom_in.png) no-repeat top right;
    cursor: pointer;
}
table.report .report-cell-records,
table.report .pt-cell-records {
    clear: left;
}
table.report .report-cell-zoom.opened,
table.report .pt-cell-zoom.opened {
    background-image: url(../../img/silk/magnifier_zoom_out.png);
}

.form-container form button.ui-datepicker-trigger {
	background-image: url(../../img/jquery-ui/calendar.gif);
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    margin-left: 3px;
    /* Make it not like a button */
    border: 0;
    padding: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.resizable-textarea .grippie {
    /*-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;*/
    background: url(../../img/grippie.png) no-repeat scroll center 2px #EEEEEE;
    border-color: #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 0 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

/* Translation Functionality */
.translation_module_table {
    width: 55%;
}

/* Project Task */
textarea#project_task_description {
	height: 200px;
}
/* Project Task Time Inline Form */
select#sub_defaulttime_defaulttime_person_id_edit_none {
    width: 150px;
}
input#sub_defaulttime_defaulttime_hours_edit_none {
    width: 60px;
}
