{{extend "layout.html"}}
<div id='home'>
 <div class='row'>
{{=H2(title)}}
 </div>
 <div class='row'>
  <div class='columns medium-8'>
   {{=shipments}}
  </div>
  <div class='columns medium-4'>
   {{=notifications}}
  </div>
 </div>
 <div class='row'>
  <div class='columns medium-8'>
   {{=capacity}}
  </div>
  <div class='columns medium-4'>
   <div class='row'>
   {{=H3("KPI")}}
   {{=kpi}}
   </div>
   <div class='row'>
   {{=H3(T("Preparedness Checklist"))}}
   {{=checklist}}
   </div>
  </div>
 </div>
</div>
