@charset "UTF-8";

/* Footer */

#footer {
    margin: 0 auto;
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    border-top: #fff 1px solid;
}
#socialmedia_share {
    float: left;
    margin-top: 7px;
    margin-left: 20px;
    style: block;
}
.socialmedia_element {
    float: left;
    margin-right: 8px;
}
#poweredby {
    float: right;
    margin-right: 20px;
}
#poweredby a {
    color: #2A485D;
    text-decoration: none;

}
/* Twitter bugfix */
#twttrHubFrame {
    left: -9999em;
}
