@charset "UTF-8";

/*
    Side Menu (S3OptionsMenu)
    - style
*/

#menu_options {
    background: #e7ebed;
    /*border: 1px solid #bbb;*/
    margin: 6px 0 0 0;
    border-radius: 0 5px 5px 0;
}

#subnav div a {
    background: #37404c;
    padding: 5px;
    font-size: 1.05em;
    font-weight: bold;
}
#subnav div a:hover{
    background: #112038;
    color: white;
}

#subnav ul li {
    border-bottom: 1px solid #b4c0c7;
}
#subnav ul li a {
    padding: 2px 2px 3px 10px;
}