@charset "UTF-8";

/*
    Side Menu (S3OptionsMenu)
    - style
*/

.side-nav ul {
    list-style-type: none;
    list-style-position: inside;
}
.side-nav li a:not(.button) {
    padding-left: 8px;
    padding-right: 8px;
}
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
    color: #2ba6cb;
    background: #e7ebed;
    padding-left: 10px;
}
.side-nav li.active > a:first-child:not(.button) {
    color: #2ba6cb;
    background: #e7ebed;
}
.side-nav li.divider {
    border-top: 1px solid;
    height: 0;
    padding: 0;
    list-style: none;
    border-top-color: white;
}
.sidebar {
    background: none repeat scroll 0 0 #FAFAFA;
    margin-top: 10px;
}

.side-nav .heading {
    text-transform: uppercase;
    border-top: 1px solid #EEEEEE;
    margin-top: 5px;
}
