@charset "UTF-8";

/* Logo in Menu */
.S3menulogo {
    background: url(../../img/S3menu_logo.png) left top no-repeat;
    text-shadow: none;
    padding: none;
    margin-left: 5px;
    margin-top: 10px;
    width: 35px;
    height: 28px;
    display: inline-block;
}

/* Links should ALWAYS be unvisited */
#contents a:not(.action-btn):not(.delete-btn) {
    color: #039;
    text-decoration: underline;
    outline: 0;
}
#contents a:hover:not(.action-btn):not(.delete-btn) {
    color: #c00;
    text-decoration: none;
    background-color: #ffffcc;
    outline: 0;
}
#contents a:active:not(.action-btn):not(.delete-btn),
#contents a:focus:not(.action-btn):not(.delete-btn) {
    outline: 0;
}

#contents a.help,
#contents a:link.help {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
#contents a:hover.help {
    background-color: #336699;
    text-decoration: underline;
}
#contents a:visited.help {
    font-weight: normal;
    color: #666;
}

.filter-form table tr,
.filter-form .ui-multiselect {
    max-width: 60%;
}