<div class="row sahana-help">
 <div class="large-12 columns">
  <div class="row">
   <div class="large-4 medium-4 small-12 columns left">
     <a class="button small footer-link" href="http://eden.sahanafoundation.org/wiki/" target="_blank">{{=ICON("book")}}Sahana Eden Wiki</a>
    </div>
    <div class="large-4 medium-4 small-12 columns left">
     <a class="button small footer-link" href="https://groups.google.com/forum/#!forum/sahana-eden" target="_blank">{{=ICON("envelope-alt")}}Sahana Eden Mailing List</a>
    </div>
    <div class="large-4 medium-4 small-12 columns left">
     <a class="button small footer-link" href="http://eden.sahanafoundation.org/wiki/Chat" target="_blank">{{=ICON("comment-alt")}}Community Chat</a>
    </div>
    </div>
 </div>
</div>
