{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Upload new document" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span8">
            <h3>{% trans "Upload new document" %}</h3>
            
            <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
      
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
                
                <div class="clearfix {% if form.title.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.title.label }}</label> 
                    <div class="input"> 
                        {{ form.title }}
                        <span class="help-inline">
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.title.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.docfile.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.docfile.label }}</label> 
                    <div class="input"> 
                        {{ form.docfile }}
                        <span class="help-inline">
                            {% if form.docfile.errors %}
                                {% for error in form.docfile.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.docfile.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
        
                {{ form.space.as_hidden }}
                {{ form.author.as_hidden }}
                
                <hr />
                <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Go back" %}</a>
                <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Upload' %}" />

            </form>
        </div>
        <div class="span4">
            <h4>{% trans "What can I upload?"%}</h2>
            <ul class="instructions">
                <li><strong>{% trans "Allowed formats" %}:</strong> {% trans "PDF, ODT, DOC, TXT, RTF, etc. Audio and video are not allowed."%}</li>
                <li><strong>{% trans "Maximum size" %}:</strong> {% trans "Allowed size is 25MB"%}</li>
            </ul>
        </div>
    </div>

{% endblock %}

