{% extends "base.html" %}
{% load i18n %}

{% comment %}
The way to validate in this form if it is an edit or an add request is to
validate the title field. If it's True, it means that it's populated, therefore
we're editing the form.
{% endcomment %}

{% block title %}
{% if form.title.value %}
{% trans "Edit document" %} {{ form.title.value }}
{% else %}
{% trans "Upload a new documenta" %}
{% endif %}
{% endblock %}

{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
<a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        {% if form.title.value %}
        <h3>{% trans "Edit document" %} {{ form.title.value }}</h3>
        {% else %}
        <h3>{% trans "Upload new document" %}</h3>
        {% endif %}
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span class="help-inline">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}

            <div class="control-group {% if form.title.errors %}error{% endif%}">
                <label>{{ form.title.label }}</label>
                <div class="controls">
                    <div class="input-append">
                        {{ form.title }}
                        <span class="add-on"><a href="#" rel="tooltip" title="{{ form.title.help_text }}"><i class="icon-question-sign"></i></a></span>
                    </div>
                    {% if form.title.errors %}
                    <p class="help-block">
                        {% for error in form.title.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group {% if form.docfile.errors %}error{% endif%}">
                <label>{{ form.docfile.label }} <a href="#" rel="tooltip" title="{{ form.docfile.help_text }}"><i class="icon-question-sign"></i></a></label>
                <div class="controls">
                    {{ form.docfile }}
                    {% if form.docfile.errors %}
                    <p class="help-block">
                        {% for error in form.docfile.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>

            {% if request.user.is_staff %}
            <hr>
            <h3>{% trans "Staff members options" %}</h3>
            <div class="control-group {% if form.space.errors %}error{% endif%}">
                <label>{{ form.space.label }}</label>
                <div class="controls">
                    <div class="input-prepend">
                        {{ form.space }}
                        <span class="add-on"><a href="#" rel="tooltip" title="{{ form.space.help_text }}"><i class="icon-question-sign"></i></a></span>
                    </div>
                    {% if form.space.errors %}
                    <p class="help-block">
                        {% for error in form.space.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group {% if form.author.errors %}error{% endif%}">
                <label>{{ form.author.label }}</label>
                <div class="controls">
                    <div class="input-prepend">
                        {{ form.author }}
                        <span class="add-on"><a href="#" rel="tooltip" title="{{ form.author.help_text }}"><i class="icon-question-sign"></i></a></span>
                    </div>
                    {% if form.author.errors %}
                    <p class="help-block">
                        {% for error in form.author.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
            <hr />
            <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Go back" %}</a>
            <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Upload' %}" />

        </form>
    </div>
</div>

{% endblock %}

