{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "View event" %} {{ proposal.id }} {% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span8">
            <h3>{% trans "View event" %}</h3>

            {% if request.user in get_place.admins.all or request.user in get_place.mods.all %}
                {% if perms.spaces.edit_event %}
                    <div id="tools">
                        <a href="{% url 'edit-event' get_place.url event.id %}">Edit</a> |
                        {% if perms.spaces.delete_event %}
                            <a href="{% url 'delete-event' get_place.url event.id %}">Delete</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}

            <h1>{{ event.title }}</h1><br />
            <p>{{ event.location }}, {{ event.event_date }} - {{ event.event_type}}</p><br /><br />

            <p>{{ event.description|safe }}</p><br /><br />
            
            <p>{% trans "Attendees" %}:
                {% for attendant in event.user.all %}
                    <a href="{% url 'profile_public' attendant.username %}">
                        {% if attendant.get_profile.name %}
                            {{ attendant.get_profile.name }}
                        {% else %}
                            {{ attendant.username }}
                        {% endif %}
                    </a>
                {% endfor %}
            </p>
        </div>
        
        <div class="span4">
            <p>This is empty!</p>
        </div>
    </div>

{% endblock %}
