{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Create new event" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span8">
            <h3>{% trans "Create new event" %}</h3>
            
            <form enctype="" action="" method="post">{% csrf_token %}
        
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
                
                <div class="clearfix {% if form.title.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.title.label }}</label> 
                    <div class="input"> 
                        {{ form.title }}
                        <span class="help-inline">
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.title.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.description.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.description.label }}</label> 
                    <div class="input"> 
                        {{ form.description }}
                        {% wysiwyg_editor "id_description" %}
                        <span class="help-inline">
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.description.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.location.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.location.label }}</label> 
                    <div class="input"> 
                        {{ form.location }}
                        <span class="help-inline">
                            {% if form.location.errors %}
                                {% for error in form.location.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.location.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.event_type.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.event_type.label }}</label> 
                    <div class="input"> 
                        {{ form.event_type }}
                        <span class="help-inline">
                            {% if form.event_type.errors %}
                                {% for error in form.event_type.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.event_type.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.event_date.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.event_date.label }}</label> 
                    <div class="input">
                        <input type="text" name="event_date" id="datepicker" class="hasDatePicker">
                        <span class="help-inline">
                            {% if form.event_date.errors %}
                                {% for error in form.event_date.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.event_date.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.user.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.user.label }}</label> 
                    <div class="input">
                        {{ form.user }}
                        <span class="help-inline">
                            {% if form.user.errors %}
                                {% for error in form.user.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.user.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                {{ form.space.as_hidden }}
                {{ form.event_author.as_hidden }}

                <hr />
                <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Cancel" %}</a>
                <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Create' %}" />

            </form>
        </div>
        
        <div class="span4">
            <h4>{% trans "How do events work?"%}</h4>
            <ul class="instructions">
                <li><strong>{% trans "Title" %}:</strong> {% trans "A descriptive title of the event. Be concise."%}</li>
                <li><strong>{% trans "Description" %}:</strong> {% trans "A short resume of the points treated in the event." %}</li>
                <li><strong>{% trans "Location" %}:</strong> {% trans "Where does the event took place." %}</li>
                <li><strong>{% trans "event type" %}:</strong> {% trans "Type of event."%}</li>
                <li><strong>{% trans "event date" %}:</strong> {% trans "Date when the event took place."%}</li>
            </ul>
        </div>
    </div>

{% endblock %}

