{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% comment %}
The way to validate in this form if it is an edit or an add request is to
validate the title field. If it's True, it means that it's populated, therefore
we're editing the form. Remember that this tempalte shows the help_text
automatically if found in the data models.
{% endcomment %}

{% block title %}
    {% if form.title.value %}
        {% trans "Edit event" %} {{ form.title.value }}
    {% else %}
        {% trans "Create a new event" %}
    {% endif %}
{% endblock %}

{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
<a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}
<style type="text/css">
        #map img { 
            max-width: none;  
        }   
</style>

<div class="row">
    <div class="span12">
        {% if form.title.value %}
            <h3>{% trans "Edit event" %} {{ form.title.value }}</h3>
        {% else %}
            <h3>{% trans "Create a new event" %}</h3>
        {% endif %}

        <form class="form-horizontal" enctype="" action="" method="post">{% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <span class="help-inline">{{ error|escape }}</span>
                {% endfor %}
            {% endif %}

            <div class="control-group {% if form.title.errors %}error{% endif%}">
                <label class="control-label">{{ form.title.label }}</label>
                <div class="controls">
                    <div class="input-append">
                        {{ form.title }}
                        {% if form.title.help_text %}
                            <span class="add-on"><a href="#" rel="tooltip" title="{{ form.title.help_text }}"><i class="icon-question-sign"></i></a></span>
                        {% endif %}
                    </div>
                    {% if form.title.errors %}
                        <p class="help-block">
                            {% for error in form.title.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group {% if form.event_date.errors %}error{% endif%}">
                <label class="control-label">{{ form.event_date.label }}</label>
                <div class="controls">
                    <div class="input-append">
                        {% if form.title.value %}
                            {{ form.event_date }}
                        {% else %}
                            <input type="text" name="event_date" id="datepicker" class="hasDatePicker notranslate">
                        {% endif %}
                        {% if form.event_date.help_text %}
                            <span class="add-on"><a href="#" rel="tooltip" title="{{ form.event_date.help_text }}"><i class="icon-question-sign"></i></a></span>
                        {% endif %}
                    </div>
                    {% if form.event_date.errors %}
                    <p class="help-block">
                        {% for error in form.event_date.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group {% if form.description.errors %}error{% endif%}">
                <label class="control-label">{{ form.description.label }}</label>
                <div class="controls">
                    <div class="input-prepend">
                        {{ form.description }}
                        {% wysiwyg_editor "id_description" %}
                        {% if form.description.help_text %}
                            <span class="add-on"><a href="#" rel="tooltip" title="{{ form.description.help_text }}"><i class="icon-question-sign"></i></a></span>
                        {% endif %}
                    </div>
                    {% if form.description.errors %}
                        <p class="help-block">
                            {% for error in form.description.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group {% if form.location.errors %}error{% endif%}">
                <label class="control-label">{{ form.location.label }}</label>
                <div class="controls">
                    <div class="input-prepend">
                        {{ form.location }}
                        {% if form.location.help_text %}
                            <span class="add-on"><a href="#" rel="tooltip" title="{{ form.location.help_text }}"><i class="icon-question-sign"></i></a></span>
                        {% endif %}
                    </div>
                    {% if form.location.errors %}
                    <p class="help-block">
                        {% for error in form.location.errors %}
                        {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>

            <div class="control-group {% if form.user.errors %}error{% endif%}">
                <label class="control-label">{{ form.user.label }}</label>
                <div class="controls">
                    <div class="input-prepend">
                        {{ form.user }}
                        {% if form.user.help_text %}
                            <span class="add-on"><a href="#" rel="tooltip" title="{{ form.user.help_text }}"><i class="icon-question-sign"></i></a></span>
                        {% endif %}
                    </div>
                    {% if form.user.errors %}
                    <p class="help-block">
                        {% for error in form.user.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
            </div>

            {% trans "If you want to add location information please click 'Show map'" %}:        
            <a id="showmap" class="btn btn-default" style="margin-bottom:15px;">{% trans "Show map" %}</a>
            <div id="map" style="width:900px;height:500px;border:1px solid #AAA;" class="hidden" data-show="no"></div>

            <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/map_tools.js"></script>   
            <script type="text/javascript">clickMap();startMap();toggleMap();</script> 

            {% if user_is_admin %}
                <hr>
                <h3>{% trans "Staff members options" %}</h3>

                <div class="control-group {% if form.space.errors %}error{% endif%}">
                    <label class="control-label">{{ form.space.label }}</label>
                    <div class="controls">
                        <div class="input-prepend">
                            {{ form.space }}
                            {% if form.space.help_text %}
                                <span class="add-on"><a href="#" rel="tooltip" title="{{ form.space.help_text }}"><i class="icon-question-sign"></i></a></span>
                            {% endif %}
                        </div>
                        {% if form.space.errors %}
                            <p class="help-block">
                                {% for error in form.space.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>

                <div class="control-group {% if form.event_author.errors %}error{% endif%}">
                   <label class="control-label">{{ form.event_author.label }}</label>
                    <div class="controls">
                        <div class="input-prepend">
                            {{ form.event_author }}
                            {% if form.event_author.help_text %}
                                <span class="add-on"><a href="#" rel="tooltip" title="{{ form.event_author.help_text }}"><i class="icon-question-sign"></i></a></span>
                            {% endif %}
                        </div>
                        {% if form.event_author.errors %}
                            <p class="help-block">
                                {% for error in form.event_author.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group {% if form.latitude.errors %}error{% endif %} hidden">
                   <label class="control-label">{{ form.latitude.label }}</label>
                    <div class="controls">
                         <div class="input-append">
                             {{ form.latitude }}
                             {% if form.latitude.help_text %}
                                 <span class="add-on"><a href="#" rel="tooltip" title="{{ form.latitude.help_text }}"><i class="icon-question-sign"></i></a></span>
                             {% endif %}
                         </div>
                         {% if form.latitude.errors %}
                             {% for error in form.latitude.errors %}
                                {{ error|escape }}
                             {% endfor %}
                         {% endif %}
                    </div>
                </div>

                <div class="control-group {% if form.longitude.errors %}error{% endif %} hidden">
                   <label class="control-label">{{ form.longitude.label }}</label>
                    <div class="controls">
                        <div class="input-append">
                            {{ form.longitude }}
                            {% if form.longitude.help_text %}
                                <span class="add-on"><a href="#" rel="tooltip" title="{{ form.longitude.help_text }}"><i class="icon-question-sign"></i></a></span>
                            {% endif %}
                        </div>
                        {% if form.longitude.errors %}
                            {% for error in form.longitude.errors %}
                               {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

            {% endif %}

            <hr />
            <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Cancel" %}</a>
            <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Create' %}" />

        </form>
    </div>
</div>
</br>
{% endblock %}

