{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{{ get_place.name }} - {% trans "Index" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui-datepicker-{{ LANGUAGE_CODE }}.js"></script>
    <script type="text/javascript">
        $.datepicker.setDefaults({
            onSelect: function(dateText) {
                var date = $(this).datepicker("getDate");
                var month = date.getMonth() + 1;
                var year = date.getFullYear();
                window.location = "calendar/" + year + "/" + month + "/";
            }
        });
        $( "#datepicker" ).datepicker( $.datepicker.regional[ "{{ LANGUAGE_CODE }}" ] );
    </script>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <ul class="nav nav-tabs">
                <li class="e"><a href="#overview" data-toggle="tab">{% trans "Overview" %}</a></li>
                {% if get_place.mod_news %}
                    <li><a href="#news" data-toggle="tab">{% trans "News" %}</a></li>
                {% endif %}
                {% if get_place.mod_debate %}
                    <li><a href="#debates" data-toggle="tab">{% trans "Debates" %}</a></li>
                {% endif %}
                {% if get_place.mod_proposals %}
                    <li><a href="#proposals" data-toggle="tab">{% trans "Proposals" %}</a></li>
                {% endif %}
                {% if get_place.mod_docs %}
                    <li><a href="#docs" data-toggle="tab">{% trans "Documents" %}</a></li>
                {% endif %}
                {% if get_place.mod_cal %}
                    <li><a href="#events" data-toggle="tab">{% trans "Events" %}</a></li>
                {% endif %}
                {% if get_place.mod_voting %}
                    <li><a href="#voting" data-toggle="tab">{% trans "Voting" %}</a></li>
                {% endif %}
                <li class="pull-right">
                    <a href="{% url 'space-feed' get_place.url %}"><i class="icon-rss" style="font-size:16px;"></i> RSS</a>
                </li>
                {% if user_is_admin %}
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Administration" %} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if perms.news.add_post %}
                                <li><a href="{% url 'add-post' get_place.url %}" title="{% trans 'Add new post' %}">
                                    <i class="icon-plus" style="font-size:16px;"></i> {% trans 'Add new post' %}
                                </a></li>
                            {% endif %}
                            <li class="divider"></li>
                            {% if perms.spaces.change_space %}
                                <li><a href="{% url 'edit-space' get_place.url %}" title="{% trans 'Edit space' %}">
                                    <i class="icon-edit" style="font-size:16px;"></i> {% trans 'Edit space' %}
                                </a></li>
                                <li><a href="{% url 'edit-roles' get_place.url %}" title="{% trans 'Edit user roles' %}">
                                    <i class="icon-edit" style="font-size:16px;"></i> {% trans 'Edit user roles' %}
                                </a></li>
                                {% if perms.spaces.delete_space %}
                                <li><a href="{% url 'delete-space' get_place.url %}" title="{% trans 'Delete space' %}">
                                    <i class="icon-trash" style="font-size:16px;"></i> {% trans 'Delete space' %}
                                </a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'add_fields' get_place.url %}" title="{% trans 'Add form field'%}">
                                    <i class="icon-plus" style="font-size:16px;"></i> {% trans 'Add form fields '%}
                                </a></li>
                                <li><a href="{% url 'delete_fields' get_place.url %}" title="{% trans 'Delete form field'%}">
                                    <i class="icon-trash" style="font-size:16px;"></i> {% trans 'Delete form field '%}
                                </a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                </ul>
                <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="overview">
                    <div class="row">
                        <div class="span8">
                            {% if get_place.description %}
                                <p><strong>{% trans "Description:" %}</strong> {{ get_place.description|removetags:'p'|safe }}</p>
                            {% endif %}
                            <p><strong>{% trans "Current status:" %}</strong> Not implemented</p>
                            <p><strong><a href="#myModal" role="button" data-toggle="modal">{% trans "Participants:" %}</a></strong> {{ get_place.users.count|add:get_place.admins.count|add:get_place.mods.count }}</p>
                            <div class="modal hide fade" id="myModal">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                    <h3>{% trans "Participants for" %} {{ get_place.name }}</h3>
                                </div>
                                <div class="modal-body">
                                    <p>{% trans "Administrators:" %} {{ get_place.admins.count }}</p>
                                    <p>{% trans "Moderators:" %} {{ get_place.mods.count }}</p>
                                    <p>{% trans "Users:" %} {{ get_place.users.count }}</p>
                                </div>
                            </div>
                            <hr />
                            <h4>{% trans "Recent activity" %}</h4>
                            
                            {% if get_place.mod_news %}
                                <h6>{% trans "News"%}</h6>
                                <ul class="unstyled">
                                    {% for news in publication|slice:":3" %}
                                        <li><a href="{% url 'profile_public' news.author %}">{{ news.author }}</a> {% trans "posted" %} <a href="{{ news.get_absolute_url }}">{{ news.title }}</a> {% trans "on" %} {{ news.pub_date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "Nothing published yet." %}</li>
                                    {% endfor %}
                                    {% if publication %}
                                        <li><a href="{% url 'list-space-news' get_place.url %}">{% trans "more..." %}</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}

                            {% if get_place.mod_debate %}
                                <h6>{% trans "Debates" %}</h6>
                                <ul class="unstyled">
                                    {% for debate in debates|slice:":3" %}
                                        <li><a href="{% url 'profile_public' debate.author %}">{{ debate.author }}</a> {% trans "created debate" %} <a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a> {% trans "on" %} {{ debate.date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "No debates started." %}</li>
                                    {% endfor %}
                                    {% if debates %}
                                        <li><a href="{% url 'list-debates' get_place.url %}">{% trans "more..." %}</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %} 

                            {% if get_place.mod_proposals %}
                                <h6>{% trans "Proposals" %}</h6>
                                <ul class="unstyled">
                                    {% for proposal in proposals|slice:":3" %}
                                        <li><a href="{% url 'profile_public' proposal.author %}">{{ proposal.author }}</a> {% trans "proposed" %} <a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a> {% trans "on" %} {{ proposal.pub_date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "No proposals available." %}</li>
                                    {% endfor %}
                                    {% if proposals %}
                                        <li><a href="{% url 'list-proposals' get_place.url %}">{% trans "more..." %}</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            
                            {% if get_place.mod_cal %}
                                <h6>{% trans "Events" %}</h6>
                                <ul class="unstyled">
                                    {% for m in event|slice:":3" %}
                                        <li><a href="{{ m.get_absolute_url }}">{{ m.title }}</a> {% trans "on" %} {{ m.event_date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "No events registered." %}</li>
                                    {% endfor %}
                                    {% if event %}
                                        <li><a href="{% url 'list-events' get_place.url %}">{% trans "View all events" %}</a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            {% if get_place.mod_voting %}
                                <h6>{% trans "Polls" %}</h6>
                                <ul class="unstyled">
                                    {% for p in polls|slice:":3" %}
                                        <li><a href="{% url 'view-poll' get_place.url p.id %}">{{ p.question }}</a> {% trans "on" %} {{ p.pub_date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "No events registered." %}</li>
                                    {% endfor %}
                                </ul>
                                <h6>{% trans "Votings" %}</h6>
                                <ul class="unstyled">
                                    {% for v in votings %}
                                        <li><a href="#">{{ v.title }}</a> {% trans "on" %} {{ p.pub_date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "There are no votings." %}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="span4 space-sidebar">
                            <h4>{% trans "Next events" %}</h4>
                            <ul class="unstyled">
                                {% for m in event %}
                                    <li><a href="{{ m.get_absolute_url }}">{{ m.title }}</a></li>
                                {% empty %}
                                    <li>{% trans "There are no events." %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% if get_place.mod_voting %}
                <div class="tab-pane" id="voting">
                    <div class="row">
                        <div class="span8">
                            <h4>{% trans "Polls" %}</h4>
                            <ul class="unstyled">
                                {% for poll in polls %}
                                    <li><a href="{% url 'view-poll' get_place.url poll.id %}">{{ poll.question }}</a>
                                        {% if user_is_admin %}
                                            {% if perms.voting.change_poll %}
                                                <a href="{% url 'edit-poll' get_place.url poll.id %}" title="{% trans 'Edit' %}">
                                                    <i class="icon-edit" style="font-size:16px;"></i>
                                                </a>
                                            {% endif %}
                                            {% if perms.voting.delete_poll %}
                                                <a href="{% url 'delete-poll' get_place.url poll.id %}" title="{% trans 'Delete' %}">
                                                    <i class="icon-trash" style="font-size:16px;"></i>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                        <a href="{% url 'view-result' get_place.url poll.id %}" title="{% trans 'Results' %}">
                                            <i class="icon-tasks" style="font-size:16px;"></i>
                                        </a>
                                    </li>
                                {% empty %}
                                    <li>{% trans "There are no polls at this moment." %}</li>
                                {% endfor %}
                            </ul>

                            <h4>{% trans "Voting" %}</h4>
                            <ul class="unstyled">
                                {% for voting in votings %}    
                                    <li><a href="{% url 'view-voting' get_place.url voting.id %}">{{ voting.title }}</a></li>
                                    {% if user_is_admin %}
                                       {% if perms.voting.change_voting %}
                                            <a href="{% url 'edit-voting' get_place.url voting.id %}" title="{% trans 'Edit' %}">
                                                <i class="icon-edit" style="font-size:16px;"></i>
                                            </a>
                                        {% endif %}
                                        {% if perms.voting.delete_voting %}
                                            <a href="{% url 'delete-voting' get_place.url voting.id %}" title="{% trans 'Delete' %}">
                                                <i class="icon-trash" style="font-size:16px;"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %} 
                                {% empty %}
                                    <li>{% trans "There are no votings at this moment." %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="span4 space-sidebar">
                            {% if user_is_admin %}
                                <h4>{% trans "Administration" %}</h4>
                                {% if perms.voting.add_poll %}
                                    <ul class="unstyled">
                                        <li><i class="icon-plus" style="font-size:16px;"></i> <a href="{% url 'add-poll' get_place.url %}" title="{% trans 'Add new poll' %}">
                                        {% trans 'Add new poll' %}
                                        </a></li>
                                    </ul>
                                {% endif %}
                                {% if perms.voting.add_voting %}
                                    <ul class="unstyled">
                                        <li><i class="icon-plus" style="font-size:16px;"></i> <a href="{% url 'add-voting' get_place.url %}" title="{% trans 'Add new voting process' %}">
                                        {% trans 'Add new voting process' %}
                                        </a></li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                            <ul class="unstyled">
                                <h4>{% trans "Actions" %}</h4>
                                <li><a href="{% url 'list-polls' get_place.url %}">{% trans "List polls" %}</a></li>
                                <li><a href="{% url 'list-votings' get_place.url %}">{% trans "List voting" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span8">

                        </div>
                        <div class="span4">
 
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% if get_place.mod_news %}
                <div class="tab-pane" id="news">
                    <div class="row">
                        <div class="span8">
                            {% for news in publication %}
                                <h3 class="posttitle"><a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                                    {% if user_is_admin %}
                                        {% if perms.news.change_post %}
                                            <a href="{% url 'edit-post' get_place.url news.id %}" title="{% trans 'Edit post' %}">
                                                <i class="icon-edit" style="font-size:16px;"></i>
                                            </a>
                                        {% endif %}
                                        {% if perms.news.delete_post %}
                                            <a href="{% url 'delete-post' get_place.url news.id %}" title="{% trans 'Delete post' %}">
                                                <i class="icon-trash" style="font-size:16px;"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </h2>
                                {% get_comment_count for news as comment_count %}
                                <p class="postinfo">{% trans "Written by" %} {{ news.author }} {% trans "on" %} {{ news.pub_date }} | {% if news.views %}{{ news.views }} {% trans "views" %} |{% endif %} <a href="{{ news.get_absolute_url }}">{{ comment_count }} {% trans "comments" %}</a></p>
                                {{ news.description|safe }}
                                <div style="margin-bottom:30px;"></div>
                            {% empty %}
                                <ul class="unstyled">
                                    <li>{% trans "There are no news for this space." %}</li>
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="span4 space-sidebar">
                            {% if user_is_admin %}
                                {% if perms.news.add_post %}
                                    <h4>{% trans "Administration" %}</h4>
                                    <ul class="unstyled">
                                        <li><a href="{% url 'add-post' get_place.url %}" title="{% trans 'Add new post' %}">
                                            <i class="icon-plus" style="font-size:16px;"></i> {% trans 'Add new post' %}
                                        </a></li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                            <h4>{% trans "Most viewed" %}</h4>
                                {% for p in mostviewed %}
                                    <ul class="unstyled">
                                        <li><a href="{% url 'view-post' get_place.url p.id %}">{{ p.title }}</a></li>
                                    </ul>
                                {% endfor %}
                            <h4>{% trans "Most commented" %}</h4>
                                {% for c in mostcommented %}
                                    <ul class="unstyled">
                                        <li><a href="{% url 'view-post' get_place.url c.id %}">{{ c.title }}</a></li>
                                    </ul>
                                {% endfor %}
                            <h4>{% trans "View monthly archive" %}</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-space-news' get_place.url %}">{% trans "News archive" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% if get_place.mod_debate %}
                <div class="tab-pane" id="debates">
                    <div class="row">
                        <div class="span8">
                            <h4>{% trans "Active debates" %}</h4>
                            <ul class="unstyled">
                                {% for debate in debates %}
                                    {% if debate.is_active %}
                                        <li><a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a>
                                            <a href="{% url 'edit-debate' get_place.url debate.id %}" title="{% trans 'Edit debate' %}">
                                            <i class="icon-edit" style="font-size:16px;"></i></a>
                                            <a href="{% url 'delete-debate' get_place.url debate.id %}" title="{% trans 'Delete debate' %}">
                                            <i class="icon-trash" style="font-size:16px;"></i></a>
                                    {% endif %}
                                {% empty %}
                                    <li>{% trans "No debates started." %}</li>
                                {% endfor %}
                            </ul>
                            <h4>{% trans "Closed debates" %}</h4>
                            <ul class="unstyled">
                                {% for debate in debates %}
                                    {% if not debate.is_active %}
                                        <li><a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a></li>
                                    {% endif %}
                                {% empty %}
                                    <li>{% trans "No debates closed yet."  %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="span4">
                            {% if user_is_admin %}
                                <h4>{% trans "Administration" %}</h4>
                                <ul class="unstyled">
                                    {% if perms.debate.add_debate %}
                                        <li><a href="{% url 'add-debate' get_place.url %}" title="{% trans 'Add debate' %}">
                                            <i class="icon-plus" style="font-size:16px;"></i> {% trans "Add debate" %}
                                        </a></li>
                                    {% endif %}
                                    {% comment %}
                                    {% if perms.debate.change_debate %}
                                        <li><a href="{% url 'edit-debate' get_place.url debate.id %}" title="{% trans 'Edit debate' %}">
                                            <i class="icon-edit" style="font-size:16px;"></i> {% trans 'Edit debate' %}
                                        </a></li>
                                    {% endif %}
                                    {% if perms.debate.delete_debate %}
                                        <li><a href="{% url 'delete-debate' get_place.url %}" title="{% trans 'Delete debate' %}">
                                            <i class="icon-trash" style="font-size:16px;"></i>
                                        </a></li>
                                    {% endif %}
                                    {% endcomment %}
                                </ul>
                            {% endif %}
                            <h4>{% trans "Actions" %}</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-debates' get_place.url %}">{% trans "View all debates" %}</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% if get_place.mod_proposals %}
                <div class="tab-pane" id="proposals">
                    <div class="row">
                        <div class="span8">
                            <h4>{% trans "New proposals" %}</h4>
                            <ul class="unstyled">
                                {% for proposal in proposals %}
                                    {% if not proposal.merged %}
                                        <li><a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a>
                                            {% trans "by" %} {{ proposal.author }} {% if proposal.proposalset %}
                                            {% trans "on" %} <a href="{{ proposal.proposalset.get_absolute_url }}">{{ proposal.proposalset }}</a> {% endif %}
                                            {% trans "at" %} {{ proposal.pub_date|date:"d F Y" }}
                                            {% if perms.proposals.change_proposal %}
                                                <a href="{% url 'edit-proposal' get_place.url proposal.id %}" title="{% trans 'Edit proposal' %}">
                                                    <i class="icon-edit" style="font-size:16px;"></i>
                                                </a>
                                            {% endif %}
                                            {% if perms.debate.delete_debate %}
                                                <a href="{% url 'delete-proposal' get_place.url proposal.id %}" title="{% trans 'Delete proposal' %}">
                                                    <i class="icon-trash" style="font-size:16px;"></i>
                                                </a>
                                            {% endif %}
                                            </li>
                                    {% endif %}        
                                {% empty %}
                                    <li>{% trans "No proposals available." %}</li>
                                {% endfor %}
                            </ul>
                            <h4>{% trans "New proposal sets" %}</h4>
                            <ul class="unstyled">
                                {% for proposalset in proposalsets %}
                                    <li><a href="{{ proposalset.get_absolute_url }}">{{ proposalset.name }}</a> {% trans "by" %} {{ proposalset.author }} {% trans "at" %} {{ proposalset.pub_date|date:"d F Y"}}</li>
                                {% empty %}
                                    <li>{% trans "No proposal sets available."%}</li>
                                {% endfor %}
                            </ul>
                            <h4>{% trans "Merged proposals" %}</h4>
                            <ul class="unstyled">
                                {% for proposal in proposals %}
                                    {% if proposal.merged  %}
                                        <li><a href="{{ proposal.get_absolute_url}}">{{ proposal.title }}</a> {% trans "by" %} {{ proposal.author }} {% trans "on" %} <a href="{{ proposal.proposalset.get_absolute_url }}">{{ proposalset }}</a> {% trans "at" %} {{ proposal.pub_date|date:"d F Y"}}</li>
                                    {% endif %}
                                {% empty %}
                                        <li>{% trans "No merged proposals" %}</li>
                                {% endfor %}
                            </ul>
                            <h4>{% trans "Most commented" %}</h4>
                            <ul class='unstyled'>
                                {% for proposal in mostcommentedproposal %}
                                    {% for most_proposal in proposal %}
                                        <li><a href="{{ most_proposal.get_absolute_url}}">{{ most_proposal.title }}</a> {% trans "by"%} {{ most_proposal.author }} {% trans "on" %} <a href="{{ most_proposal.proposalset.get_absolute_url }}">{{ proposalset }}</a> {% trans     "at" %} {{ most_proposal.pub_date|date:"d F Y"}}</li>
                                    {% endfor %}
                                    {% empty %}
                                        <li>{% trans "No proposal sets available."%}</li>
                                {% endfor %} 
                            </ul>
                            <h4>{% trans "Highlighted proposals" %}</h4>
                            <ul class="unstyle">
                                {% for p in highlightedproposal %}
                                {% for h_proposal in p %}
                                <li><a href="{{ h_proposal.get_absolute_url}}">{{ h_proposal.title }}</a> {% trans "by"%} {{ h_proposal.author }} {% trans "on" %} <a href="{{ h_proposal.proposalset.get_absolute_url }}">{{ proposalset }}</a> {% trans "at" %} {{ h_proposal.pub_date|date:"d F Y"}}</li>
        
                                {% endfor %}
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="span4">
                            {% if user_is_admin %}
                                <h4>{% trans "Administration" %}</h4>
                                <ul class="unstyled">
                                    {% if perms.proposalsets.add_proposalset %}
                                        <li>
                                            <a href="{% url 'add-proposalset' get_place.url %}" title="{% trans 'Add proposal set' %}">
                                                <i class="icon-plus" style="font-size:16px;"></i> {% trans "Add proposal set" %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                                <ul class="unstyled">
                                    {% if perms.proposals.add_proposal %}
                                        <li>
                                            <a href="{% url 'select_set' get_place.url %}" title="{% trans 'Add new proposal' %}">
                                                <i class="icon-plus" style="font-size:16px;"></i> {% trans 'Add new proposal' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                                <ul class="unstyled">
                                    {% if perms.proposals.add_proposalset %}
                                        <li>
                                            <a href="{% url 'merge_proposal' get_place.url %}" title="{% trans 'Merge proposal' %}">
                                                <i class="icon-plus" style="font-size:16px;"></i> {% trans "Create merged proposal" %}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            <h4>{% trans "Actions" %}</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-proposals' get_place.url %}">{% trans "View all proposals" %}</a></li>
                                <li><a href="{% url 'list-proposalset' get_place.url %}">{% trans "View all proposal sets" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% if get_place.mod_docs %}
                <div class="tab-pane" id="docs">
                    <div class="row">
                        <div class="span8">
                            <ul class="unstyled">
                                {% for doc in documents %}
                                    <li><a href="{{ doc.docfile.url }}">{{ doc.title }} ({{ doc.get_file_ext }}, {{ doc.get_file_size }})</a>
                                    {% if perms.spaces.change_document %}
                                        <a href="{% url 'edit-document' get_place.url doc.id %}" title="{% trans 'Edit document' %}">
                                            <i class="icon-edit" style="font-size:16px;"></i>
                                        </a>
                                    {% endif %}
                                    {% if perms.spaces.delete_document %}
                                        <a href="{% url 'delete-document' get_place.url doc.id %}" title="{% trans 'Delete document' %}">
                                            <i class="icon-trash" style="font-size:16px;"></i>
                                        </a>
                                    {% endif %}
                                    </li>
                                {% empty %}
                                    <li>{% trans "No documents or files available." %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="span4">
                            {% if user_is_admin %}
                                <h4>{% trans "Administration" %}</h4>
                                <ul class="unstyled">
                                    {% if perms.spaces.add_document %}
                                        <li><a href="{% url 'add-document' get_place.url %}" title="{% trans 'Add new document' %}">
                                                <i class="icon-plus" style="font-size:16px;"></i> {% trans "Add documents"%}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            <h4>{% trans "Actions" %}</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-documents' get_place.url %}">{% trans "View all documents" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="tab-pane" id="events">
                    <div class="row">
                        <div class="span8">
                            <h4>{% trans "Next events" %}</h4>
                            <ul class="unstyled">
                                {% for e in event %}
                                    {% if not e.is_due %}
                                        <li><a href="{% url 'view-event' get_place.url e.id %}">{{ e.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <h4>{% trans "Past events" %}</h4>
                            <ul class="unstyled">
                                {% for e in event %}
                                    {% if e.is_due %}
                                        <li><a href="{% url 'view-event' get_place.url e.id %}">{{ e.title }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="span4">
                            <div class="alert fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {% trans "<strong>Hey!</strong> You can click on a day to see a bigger calendar with the events." %}
                            </div>
                            <div id="datepicker"></div>
                            {% if user_is_admin %}
                                <h4>{% trans "Administration" %}</h4>
                                <ul class="unstyled">
                                    {% if perms.spaces.add_event %}
                                        <li><a href="{% url 'add-event' get_place.url %}" title="{% trans 'Add new event' %}">
                                            <i class="icon-plus" style="font-size:16px;"></i> {% trans "Add event"%}
                                        </a></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            <h4>{% trans "Actions" %}</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-events' get_place.url %}">{% trans "View all events" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div class="row">
        <div class="span12">
            <h4>{% trans "Share" %}</h4>
                <!-- Facebook -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                </script>
                <div style="float:left;" class="fb-like" data-href="http://ecidadania.org" data-send="false" data-layout="box_count" data-width="85" data-show-faces="false"></div>
                <!-- End Facebook -->                
                
                <!-- Google Plus -->
                <g:plusone size="tall" href="http://ecidadania.org"></g:plusone>
                <script type="text/javascript">
                    window.___gcfg = {lang: 'es'};

                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
                <!-- End Google Plus -->
                
                <!-- LinkedIn -->
                <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/Share" data-url="http://ecidadania.org" data-counter="top"></script>
                <!-- End LinkedIn -->
                
                <!-- Identi.ca -->
                <div id="identishare" style="vertical-align: bottom;"></div>
                <script type="text/javascript" src="http://www.tildehash.com/identishare.php?style2&title='e-cidadania open source e-democracy platform'" defer="defer"></script>
                <!-- End Identi.ca -->

                <!-- Twitter -->
                <a href="https://twitter.com/ecidadaniafloss" class="twitter-share-button" date-url="http://ecidadania.org" data-counturl="http://ecidadania.org" data-count="vertical" data-lang="es">{% trans "Tweet" %}</a>
                <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
                <!-- End Twitter -->
                
                <!-- Tuenti -->
                <script type="text/javascript" src="http://widgets.tuenti.com/widgets.js"></script>
                <a href="http://www.tuenti.com/share" class="tuenti-share-button" icon-style="light" share-url="http://ecidadania.org"></a>
                <!-- End Tuenti -->
                
                <a href="rss/"><img src="{{ STATIC_URL }}/assets/logos/rss_logo.png" alt="Feed RSS"/>RSS de este espacio</a>
        </div>
    </div>
    {% endcomment %}
</br></br>
{% endblock %}

{% block footerimg %}
    {% for e in entities %}
        {% if e.logo %}
            <a href="{{ e.website }}"><img src="{{ MEDIA_URL }}/{{ e.logo }}" alt="Logo"/></a>
            {% else %}
                {% if e.website %}
                    <a href="{{ e.website }}">{{ e.name }}</a> -
                {% else %}
                    {{ e.name }} -
                {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% for p in page %}
        <a href="/{{ p.uri }}" title="{{ p.name }}">{{ p.name }}</a><br /> |
    {% endfor %}
{% endblock %}
