{{extend "layout.html"}}
<div class="row home-top">
 <div class="small-5 small-offset-1 columns">
  {{if AUTHENTICATED not in session.s3.roles:}}
  <div id='login_box' class='menu_box'>
   <div id='login_form' {{if self_registration and not registered and not login_form.errors:}}class='hide'{{pass}}>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
   {{if self_registration:}}
    <div id='register_form' {{if registered or login_form.errors:}}class='hide'{{pass}}>
     {{=register_div}}
     {{include "auth/_register.html"}}
    </div>
   {{pass}}
  </div>
  {{else:}}
  <div class="menu_box">
   <h4>Welcome to EVASS!</h4>
   <div class="button-bar">
    <ul class="button-group">
     <!--<li><a class="button button-home" href=#>Projects</a></li>-->
     {{try:}}{{=events_btn}}{{except:}}{{pass}}
    </ul>
   </div>
   <div class="button-bar">
    <ul class="button-group">
     {{try:}}{{=shelters_btn}}{{except:}}{{pass}}
     {{try:}}{{=evacuees_btn}}{{except:}}{{pass}}
    </ul>
   </div>
   <div class="button-bar">
    <ul class="button-group">
     {{try:}}{{=pr_btn}}{{except:}}{{pass}}
     {{try:}}{{=staff_btn}}{{except:}}{{pass}}
     {{try:}}{{=volunteers_btn}}{{except:}}{{pass}}
    </ul>
   </div>
  </div>
  {{pass}}
 </div>
 <div class="small-5 columns end">
  <div id='title-image'>
   <div>
    <img src="{{=URL(c="static", f="themes", args=["EVASS", "img", "main001.jpg"])}}" alt="slide 1" />
   </div>
   <div>
    <img src="{{=URL(c="static", f="themes", args=["EVASS", "img", "main003.jpg"])}}" alt="slide 1" />
   </div>
   <div>
    <img src="{{=URL(c="static", f="themes", args=["EVASS", "img", "main004.jpg"])}}" alt="slide 1" />
   </div>
  </div>
 </div>
</div>
<div class="row home-middle">
 <!--<div class="medium-7 medium-offset-1 columns">-->
 <div class="panel">
  {{if settings.frontpage.rss:}}
  <p>
   <div id='feed-control'>
    <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">{{=T("Loading")}}...</span>
   </div>        
  </p>
  {{pass}}
 </div>
</div>
