//body {
//    @include background_size(cover);
//}

/* Alerts */
.alert.alert-error,
.alert.alert-info,
.alert.alert-warning,
.alert.alert-success {
    border: 1px solid $alert_border_color;
    box-shadow: 0 1px 1px $alert_box_shadow_color;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    position: relative;
    min-width: 445px;
    width: auto;
    z-index: 999;
    border-radius: 4px;
}

/* Sections */
.form-container,
#datalist-filter-form,
#datatable-filter-form,
#summary-filter-form,
#summary-sections,
// #datatable_wrapper,
#pivottable,
.thumbnail {
    border: 1px solid #CCC;
}

/* Links should ALWAYS be unvisited */
#content {
    a:not(.action-btn):not(.delete-btn) {
        color: #039;
        text-decoration: underline;
        outline: 0;
    }
    a:hover:not(.action-btn):not(.delete-btn) {
        color: #c00;
        text-decoration: none;
        background-color: #ffffcc;
        outline: 0;
    }
    a:active:not(.action-btn):not(.delete-btn),
    a:focus:not(.action-btn):not(.delete-btn) {
        outline: 0;
    }
    a.help,
    a:link.help {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
    a:hover.help {
        background-color: #336699;
        text-decoration: underline;
    }
    a:visited.help {
        font-weight: normal;
        color: #666;
    }
    h1,
    h2 {
        font-size: 1.3em;
        font-weight: bolder;
        background: #F7F8F9;
        padding: 5px 5px 5px 5px;
    }
    h2 {
        margin-top: 10px;
        padding-left: 10px;
    }
}
