{{extend "layout.html"}}{{theme=response.s3.theme}}
<div id="home">
  <h2 align="center">{{=T("Deployment Tool")}}</h2>
  <p style="text-align:center">
  {{=T("The deployment tool allows you to deploy and configure instance of Sahana Eden remotely while giving you the flexibility to customize your build")}}
  </p>
  <div style="text-align: center">
    <a href="{{=URL('deployment')}}" class="action-btn">{{=T("Deploy Eden")}}</a>
  </div>
  <!-- <div style="text-align: center">
    <a onclick="jQuery('#progressbar').progressbar({value: 37})" class="action-btn">{{=T("Schedule Test Task")}}</a>
  </div>
  -->
  <div style="text-align: center">
    <a href="{{=URL('schedule_test_task')}}" class="action-btn">{{=T("Schedule Test Task")}}</a>
  </div>
  <div id="progressbar"</div>
</div>
