div.popup{ width:182px; }
#browseOtherRegions ul li label{ width:70px; }
.ui-selectmenu-item-icon, .ui-icon { margin-left:-18px; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a, .ui-selectmenu-hasIcon .ui-selectmenu-status{ margin-left:20px; }
#drawerSpacer{ height:80px; }
#drawerInside{ top:-30px; margin-bottom:-30px; }
.indicatorRange .medianDot{ top:1px; }
#indicator{ margin-left:11px; }
#chartLabel1{ margin-left:29px; }
div.firstCell, mark{ padding-left:12px; }
.action a.reviewButton, .action a.closeReviewButton, .action a.viewButton{ color:#333; background: transparent url("img/report_ViewdocumentPng8.png") no-repeat 9px 6px; }
.action a.reviewButton:hover, .action a.closeReviewButton:hover, .action a.viewButton:hover{ color:#c47a21; background: transparent url("img/report_ViewdocumentOverPng8.png") no-repeat 9px 6px; }
td div.approveButton{ margin:10px 9px 27px 6px; }
#analysisTimeline .ui-slider-handle{ margin-top:-4px; }
.lowLabel, .highLabel, .noDataLabel{ margin:0; padding:0; line-height:10px; }
.redsquare, .orangesquare, .yellowsquare, .greensquare, .darkgreensquare{ margin-bottom:0; }
.analysisKey h4{ padding-bottom:0; margin-bottom:0; line-height:10px; }
#topbar{ overflow:hidden; }