{{extend "layout.html"}}
<div class='row'>
 <div class='medium-12 columns'>
  {{=item1}}
  {{=item2}}
  {{=item3}}
 </div>
</div>
<div class='row'>
 <div class='large-6 medium-6 small-12 columns'>
  <div class='panel radius'>
   {{if auth.s3_logged_in():}}<a href='/{{=appname}}/default/person'>
   {{else:}}<a href='/{{=appname}}/default/index/register?donor=1'>{{pass}}
    <img src='/{{=appname}}/static/themes/CCC/img/gift.png'/>
    <span class='service-link'>REGISTER A DONATION</span>
   </a>
  </div>
 </div>
</div>
