<div class='row'>
  <div class='medium-2 small-4 columns'>
    {{=current.menu.about}}
  </div>
  <div class='medium-6 small-8 columns'>
    <div class='medium5 columns'><img src='/{{=appname}}/static/themes/CCC/img/BRC.png'></div>
    <div class='medium5 columns padc'><img src='/{{=appname}}/static/themes/CCC/img/carlisle.png'></div>
    <div class='medium5 columns'><img src='/{{=appname}}/static/themes/CCC/img/CCC.png'></div>
    <div class='medium5 columns'><img src='/{{=appname}}/static/themes/CCC/img/CRF.png'></div>
    <div class='medium5 columns'><img src='/{{=appname}}/static/themes/CCC/img/LotteryFund.png'></div>
  </div>
  <div class='medium-4 columns hide-for-small'>
    <p id='strapline'>Making connections when they matter the most</p>
  </div>
</div>
