{{extend "layout.html"}}
<div class='row'>
 <div class='medium-12 columns'>
 {{=item}}
 </div>
</div>
<div class='row'>
 <div class='large-6 medium-6 small-12 columns'>
  <div class='panel radius'>
   <a href='/{{=appname}}/default/index/volunteer'>
    <img src='/{{=appname}}/static/themes/CCC/img/volunteer.png'/>
    <span class='service-link'>I WISH TO VOLUNTEER</span>
   </a>
  </div>
 </div>
 <div class='large-6 medium-6 small-12 columns end'>
  <div class='panel radius'>
   <a href='/{{=appname}}/default/index/donate'>
    <img src='/{{=appname}}/static/themes/CCC/img/gift.png'/>
    <span class='service-link'>I WOULD LIKE TO DONATE ITEMS</span>
   </a>
  </div>
 </div>
</div>
