{{extend "layout.html"}}
<div class='row'>
 <div class='medium-12 columns'>
 {{=item}}
 </div>
</div>
<div class='row'>
 <div class='large-8 medium-8 small-12 columns'>
  <div class='callout'>
   <a href='/{{=appname}}/default/index/volunteer'>
    <img src='/{{=appname}}/static/themes/CCC/img/volunteer.svg'/>
    <span class='service-link'>I WOULD LIKE TO REGISTER AS A VOLUNTEER OR ORGANISATION</span>
   </a>
  </div>
 </div>
</div>
<div class='row'>
 <div class='large-8 medium-8 small-12 columns'>
  <div class='callout'>
   <a href='https://www.cumbriafoundation.org/2020/03/17/community-foundation-launches-cumbria-covid-19-response-fund/' target='_blank'>
    <img src='/{{=appname}}/static/themes/CCC/img/donate_money.svg'/>
    <span class='service-link'>I WOULD LIKE TO DONATE MONEY</span>
   </a>
  </div>
 </div>
</div>
<!--
<div class='row'>
 <div class='large-8 medium-8 small-12 columns'>
  <div class='callout'>
   <a href='/{{=appname}}/default/index/donate'>
    <img src='/{{=appname}}/static/themes/CCC/img/donate_items.svg'/>
    <span class='service-link'>I WOULD LIKE TO DONATE ITEMS OR BUSINESS SERVICES</span>
   </a>
  </div>
 </div>
</div>-->
