{{extend "layout.html"}}
<div class='row'>
 <div class='medium-12 columns'>
  {{=item1}}
 </div>
</div>
<div class='row'>
 <div class='large-6 medium-6 small-12 columns'>
  <div class='panel radius'>
   <a href='https://reserves.redcross.org.uk' target='_blank'>
    <img src='/{{=appname}}/static/themes/CCC/img/ICRC.png'/>
    <span class='service-link'>VOLUNTEER WITH THE RED CROSS</span>
   </a>
  </div>
 </div>
</div>
<div class='row'>
 <div class='medium-12 columns'>
  {{=item2}}
 </div>
</div>
<div class='row'>
 <div class='large-6 medium-6 small-12 columns'>
  <div class='panel radius'>
   <a href='/{{=appname}}/default/index/register'>
    <img src='/{{=appname}}/static/themes/CCC/img/volunteer.png'/>
    <span class='service-link'>REGISTER AS A VOLUNTEER</span>
   </a>
  </div>
 </div>
</div>
<div class='row'>
 <div class='medium-12 columns'>
  <p>If you are an established group from outside of Cumbria but wish to offer support as a group please use the link below to register:</p>
 </div>
</div>
<div class='row'>
 <div class='large-6 medium-6 small-12 columns'>
  <div class='panel radius'>
   <a href='/{{=appname}}/default/index/register?vol_group=1'>
    <img src='/{{=appname}}/static/themes/CCC/img/volunteer.png'/>
    <span class='service-link'>REGISTER AS A VOLUNTEER GROUP</span>
   </a>
  </div>
 </div>
</div>
<div class='row'>
 <div class='medium-12 columns'>
  {{=item3}}
 </div>
</div>
