{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
{{if auth.s3_logged_in():}}
<div>
{{=H5(T("Search here for a person record in order to:"))}}
<ul style="margin-left: 40px;">
    <li>{{=T("Register them as a volunteer")}}</li>
    <li>{{=T("View and/or update their details")}}</li>
</ul>
</div>
{{else:}}
<div>
    {{=H5(T("You must be logged in to register volunteers."))}}
    &nbsp;
    {{=A(T("Login"), _href="/%s/default/user/login?_next=/%s/vol/index" % (request.application, request.application), _class="action-btn")}}
</div>
{{pass}}
<div style="margin:20px auto; width:96%; max-width:1000px;" >
    <div style="width:100%; float:left;">
        {{=H4(T("Find a Person Record"))}}
        {{try:}}{{=form}}{{except:pass}}
        <div><br /></div>
        <div id='table-container'>
            {{try:}}
            {{=items}}
            {{except:}}
            {{pass}}
        </div>
        {{include "dataTables.html"}}
    </div>
</div>
</div>