# =============================================================================
# Add a list of CSV files to import into the system
#
# The list of import files is a comma separated list as follows:
#
#   prefix,tablename,csv file name,stylesheet
#
# The CSV file is assumed to be in the same directory as this file
# The style sheet is assumed to be in either of the following directories:
#     static/formats/s3csv/prefix/
#     static/formats/s3csv/
#
# For details on how to import data into the system see the following:
#     zzz_1st_run
#     s3import::S3BulkImporter
# =============================================================================
# Roles
*,import_role,auth_roles.csv
# -----------------------------------------------------------------------------
# Consent Tracking
auth,processing_type,auth_processing_type.csv,processing_type.xsl
auth,consent_option,auth_consent_option.csv,consent_option.xsl
# -----------------------------------------------------------------------------
# CMS
cms,post,cms_post.csv,post.xsl
# -----------------------------------------------------------------------------
# GIS
#  Markers
#gis,marker,default/gis_marker.csv,marker.xsl
gis,marker,gis_marker.csv,marker.xsl
# Config
gis,config,gis_config.csv,config.xsl
gis,hierarchy,default/gis_hierarchy.csv,hierarchy.xsl
#  Layers
#gis,layer_feature,default/gis_layer_feature.csv,layer_feature.xsl
gis,layer_feature,gis_layer_feature.csv,layer_feature.xsl
gis,layer_config,default/gis_layer_openstreetmap.csv,layer_openstreetmap.xsl
gis,layer_config,default/gis_layer_openweathermap.csv,layer_openweathermap.xsl
gis,layer_config,default/gis_layer_bing.csv,layer_bing.xsl
gis,layer_config,default/gis_layer_google.csv,layer_google.xsl
gis,layer_config,default/gis_layer_wms.csv,layer_wms.xsl
gis,layer_config,gis_layer_wms.csv,layer_wms.xsl
gis,layer_config,default/gis_layer_tms.csv,layer_tms.xsl
gis,layer_geojson,default/gis_layer_geojson.csv,layer_geojson.xsl
gis,layer_georss,default/gis_layer_georss.csv,layer_georss.xsl
gis,layer_config,default/gis_layer_coordinate.csv,layer_coordinate.xsl
# -----------------------------------------------------------------------------
org,sector,default/org_sector.csv,sector.xsl
org,organisation_type,org_organisation_type.csv,organisation_type.xsl
org,office_type,org_office_type.csv,office_type.xsl
org,service,org_service.csv,service.xsl
org,group,org_group.csv,group.xsl
org,organisation,org_organisation.csv,organisation.xsl
*,import_image,org_logos.csv,org_organisation,name,logo
# org,office,org_office.csv,office.xsl
org,facility_type,org_facility_type.csv,facility_type.xsl
org,service_mode,org_service_mode.csv,service_mode.xsl
org,booking_mode,org_booking_mode.csv,booking_mode.xsl
# -----------------------------------------------------------------------------
# Warehouse Types and Default Warehouse
inv,warehouse_type,inv_warehouse_type.csv,warehouse_type.xsl
inv,warehouse,inv_warehouse.csv,warehouse.xsl
# -----------------------------------------------------------------------------
# Supply item category
supply,item_category,supply_item_category.csv,item_category.xsl
# -----------------------------------------------------------------------------
# Project
project,project,project_project.csv,project.xsl
# -----------------------------------------------------------------------------
# Voucher Programs
fin,voucher_program,fin_voucher_program.csv,voucher_program.xsl
# -----------------------------------------------------------------------------
# Diseases
disease,disease,disease_disease.csv,disease.xsl
# =============================================================================
