// ============================================================================
// Styles for Data Lists (Card Lists)
// ============================================================================
// VARIABLES

// -- none --

// ============================================================================
// STYLES

/* Data Lists */
.dl {
    .dl-1-cols {
        width: 100%;
    }
    .dl-header {
        float: none;
        text-align: right;
    }
    .dl-row {
        border: 0;
    }
    .dl-item {
        .dropdown .caret {
            margin-left: 0.2rem;
            margin-top: 0.4rem;
        }
        .attachments {
            margin-right: 0.2rem;
        }
    }
}
body.rtl .dl {
    .dl-header {
        text-align: left;
    }
    .dl-item {
        .dropdown .caret {
            margin-left: 0;
            margin-right: 0.2rem;
        }
        .attachments {
            margin-right: 0;
            margin-left: 0.2rem;
        }
    }
}

.dl-empty {
    @include empty_section();
}
.dl-exports.list_formats {
    padding: 0;
}
.card_1_line, .card_manylines {
    color: #666;
    font-size: 0.7rem;
    padding: 0.05rem;
}
.card_1_line {
    height: auto;
    margin-bottom: 0;
    overflow: hidden;
}

// END ========================================================================
