<p id="dswd">
© 1998-2012, Department of Social Welfare and Development<br/>
Constitution Hills, Batasan Pambansa Complex, Quezon City, Philippines<br/>
Tel. (632)931-81-01 to 07
</p>
<p id="poweredby">
 <img src='/{{=appname}}/static/img/S3menu_logo.png' width='30' height='28' style='vertical-align: middle;' alt='{{=T("Powered by Sahana Eden")}}' /><a target='_blank' href='http://eden.sahanafoundation.org' title='{{=T("Powered by Sahana Eden")}}'>{{=T("Powered by Sahana Eden")}}</a>
</p>
<div class="cf"></div>

