@charset "UTF-8";

@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome3-webfont.eot?v=3.2.1');
  src: url('../../fonts/fontawesome3-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../../fonts/fontawesome3-webfont.woff?v=3.2.1') format('woff'), url('../../fonts/fontawesome3-webfont.ttf?v=3.2.1') format('truetype'), url('../../fonts/fontawesome3-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* Map */
.icon-map-marker:before {
  content: "\f041";
}
.icon-globe:before {
  /* Used for Locations */
  content: "\f0ac";
}

/* Contacts */
.icon-envelope-alt:before {
  /* Used for Email fields & 'Send' action */
  content: "\f003";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-phone:before {
  content: "\f095";
}
.icon-rss:before {
  content: "\f09e";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-star:before {
  content: "\f005";
}
.icon-twitter:before {
  content: "\f099";
}

/* General */
.icon-bar-chart:before {
  /* Used for Reports/Charts */
  content: "\f080";
}
.icon-bookmark:before {
  /* Used to show that there is already a bookmark, & allow it's removal */
  content: "\f02e";
}
.icon-bookmark-empty:before {
  /* Used to show that there is not yet a bookmark, & allow it's addition */
  content: "\f097";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-calendar:before {
  /* Used for Planned Events & Date fields */
  content: "\f073";
}
.icon-certificate:before {
  content: "\f0a3";
}
.icon-check:before {
  content: "\f046";
}
.icon-check-empty:before {
  content: "\f096";
}
.icon-circle:before {
  content: "\f111";
}
.icon-cog:before {
  content: "\f013";
}
.icon-cogs:before {
  /* Used for Admin menu */
  content: "\f085";
}
.icon-comment-alt:before {
  /* Used for Language Menu & Comments */
  content: "\f0e5";
}
.icon-edit:before {
  /* Used for 'Edit' action */
  content: "\f044";
}
.icon-external-link:before {
  /* Used for 'Link to Mission' action */
  content: "\f08e";
}
.icon-file-alt:before {
  /* Used for 'Open' action (Read-only) & 'Documents' menu */
  content: "\f016";
}
.icon-filter:before {
  /* Used for Saved Filters */
  content: "\f0b0";
}
.icon-flag:before {
  /* Used for Requests */
  content: "\f024";
}
.icon-fullscreen:before {
  content: "\f0b2";
}
.icon-home:before {
  /* Used for Sites */
  content: "\f015";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-list:before {
  content: "\f03a";
}
.icon-lock:before {
  /* Used for 'Change Password' */
  content: "\f023";
}
.icon-off:before {
  /* Used for 'Logout' */
  content: "\f011";
}
.icon-ok:before {
  /* used for AddPersonWidget2 */
  content: "\f00c";
}
.icon-paperclip:before,
.icon-paper-clip:before {
  /* Used for Attachments */
  content: "\f0c6";
}
.icon-plus-sign:before {
  content: "\f055";
}
.icon-remove:before {
  /* used for AddPersonWidget2 */
  content: "\f00d";
}
.icon-signin:before {
  /* Used for Login */
  content: "\f090";
}
.icon-sitemap:before {
  /* Used for Organisations */
  content: "\f0e8";
}
.icon-table:before {
  /* Used for Table view */
  content: "\f0ce";
}
.icon-tag:before {
  /* Used for Codes */
  content: "\f02b";
}
.icon-tags:before {
  /* Used for Sectors */
  content: "\f02c";
}
.icon-tasks:before {
  /* Used for Tasks & Demographics */
  content: "\f0ae";
}
.icon-time:before {
  /* Used for Hours fields */
  content: "\f017";
}
.icon-trash:before {
  /* Used for 'Delete' action */
  content: "\f014";
}
.icon-truck:before {
  /* Used for Commits (& Resource Inventory) */
  content: "\f0d1";
}
.icon-user:before {
  /* Used for User Profile */
  content: "\f007";
}
.icon-book:before {
  /* Used for HRM profile */
  content: "\f02d";
}
.icon-wrench:before {
  /* Used for Resource Inventory */
  content: "\f0ad";
}
.icon-caret-down:before {
  /* Used for filter forms, profile update form and AddPersonWidget2 deduplicator */
  content: "\f0d7";
}
.icon-caret-up:before {
  /* Used for filter forms and profile update form */
  content: "\f0d8";
}
