/* Top bar */
.top-bar {
    .title-area {
        .logo {
            height: 2em;
            margin-top: 0.125em;
            max-width: 10rem;
            width: auto;
        }
    }
    z-index: 1000;
    .menu-toggle input {
        margin-right: 5px;
    }
    li.name {
        padding-top: 0.2rem;
    }
    .home-link {
        font-size: 1.375rem;
        color: white;
        padding: 0.5rem;
    }
}
.top-bar-section {
    li.menu-home a {
        font-weight: bold !important;
        font-size: 1.4em !important;
        text-transform: capitalize !important;
    }
    li.active:not(.has-form) a:not(.button) span {
        border-bottom: 2px solid $rcred;
    }
}

// Top Bar styles intended for screen sizes above the breakpoint.
@media #{$topbar-media-query} {
    .top-bar {
        select {
            position: static;
            top: 0;
            padding-bottom: 0;
            padding-right: 0.6rem;
            padding-top: 0;
        }
    }
}

/* Side Menu */
.sidebar {
  background: none repeat scroll 0 0 #F3F3F3;
  margin-top: 10px;
  padding-top: 0.25rem;
}

.side-nav li {
  line-height: 1.2;
  list-style-type: none;
  list-style-position: inside;
/*  margin: 0;*/
  padding: 0;
}
.side-nav li.heading:not(:first-child) {
  border-top: 1px solid #EAEAEA;
}
.side-nav li.heading {
  margin-top: 0.125rem;
}
.side-nav li.active > a:first-child:not(.button) {
  font-weight: bold;
  color: #444444;
  background-color: #E0E0E0;
}

