header {
    padding-top: 5px;
    padding-bottom: 5px;
}
.service-link {
    margin-left: 1.25rem;
    font-size: 1.2rem;
}

div.subheading {
    border-top: thin solid #bbb;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px !important;
    padding-bottom: 5px;
}

/*
#auth_user_convictions {
    float: left;
}
#auth_user_convictions div,*/
#auth_user_dbs div,
#auth_user_delivery div,
#auth_user_faith_requirements div,
#auth_user_travel div,
#auth_user_significant_physical div,
#auth_user_some_physical div,
#auth_user_little_physical div,
#auth_user_workplace div,
#hrm_human_resource_sub_reserve_value div,
/*#org_organisation_sub_apply_value div,*/
#org_organisation_sub_visible_value div,
/*#pr_person_sub_convictions_value div,*/
#pr_person_sub_dbs_value div,
#pr_person_sub_delivery_value div,
#pr_person_sub_reserve_value div,
#pr_person_sub_travel_value div,
#pr_person_sub_faith_requirements_value div,
#pr_person_sub_other_vol_value div,
#pr_person_sub_significant_physical_value div,
#pr_person_sub_some_physical_value div,
#pr_person_sub_little_physical_value div,
#pr_person_sub_workplace_value div {
    float: right;
}
/*#auth_user_convictions div:first-child,*/
#auth_user_dbs div:first-child,
#auth_user_delivery div:first-child,
#auth_user_faith_requirements div:first-child,
#auth_user_travel div:first-child,
#auth_user_significant_physical div:first-child,
#auth_user_some_physical div:first-child,
#auth_user_little_physical div:first-child,
#auth_user_workplace div:first-child,
#hrm_human_resource_sub_reserve div:first-child,
/*#org_organisation_sub_apply_value div:first-child,*/
#org_organisation_sub_visible_value div:first-child,
/*#pr_person_sub_convictions_value div:first-child,*/
#pr_person_sub_dbs_value div:first-child,
#pr_person_sub_delivery_value div:first-child,
#pr_person_sub_reserve_value div:first-child,
#pr_person_sub_travel_value div:first-child,
#pr_person_sub_faith_requirements_value div:first-child,
#pr_person_sub_other_vol_value div:first-child,
#pr_person_sub_significant_physical_value div:first-child,
#pr_person_sub_some_physical_value div:first-child,
#pr_person_sub_little_physical_value div:first-child,
#pr_person_sub_workplace_value div:first-child {
    float: left;
}
/*
#auth_user_convictions + div {
    float: right;
}*/

#login_next .anonymize-btn {
    /*font-size: 1rem;
    padding: 1rem 2rem 1.0625rem 2rem;*/
    font-size: 0.8125rem;
    padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
}

/* Accessibility now handled by Foundation with support from what-input
button:focus-visible,
.button:focus-visible,
.sub-nav li a:focus-visible,
.top-bar-section li:not(.has-form) a:not(.button):focus-visible,
.top-bar-section ul li:focus-visible,
.top-bar-section ul li a:focus-visible,
.top-bar-section ul li > a:focus-visible,
.top-bar-section ul li:hover:not(.has-form) > a:focus-visible,
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button):focus-visible,
input:not([type]):focus-visible,
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="date"]:focus-visible,
input[type="datetime"]:focus-visible,
input[type="datetime-local"]:focus-visible,
input[type="month"]:focus-visible,
input[type="week"]:focus-visible,
input[type="email"]:focus-visible,
input[type="number"]:focus-visible,
input[type="search"]:focus-visible,
input[type="tel"]:focus-visible,
input[type="time"]:focus-visible,
input[type="url"]:focus-visible,
input[type="color"]:focus-visible,
textarea:focus-visible {
    background-color: #d1e6f1;
    color: #000;
}
 */