{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ES" xml:lang="es-ES">
	<head>
		<title>{% block title %}404 - Not Found{% endblock %}</title>
		<link rel="shortcut icon" href="/{{ MEDIA_URL }}assets/favicon.ico" type="image/ico"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="Description" content="Site description"/>
		<meta name="Robots" content="all"/>
		
		<style type="text/css">
		  #message {
		    font-family: arial;
		    font-size: 2em;
		    color: #2d2d2d;
		    text-shadow: #888 -1px 1px 3px;
		    position: absolute;
		    height: 300px;
		    width: 500px;
		    padding: 20px;
		    left: 50%;
		    top: 50%;
		    margin-left: -250px;
		    margin-top: -200px;
		    -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border: 1px solid #2d2d2d;
		  }
		 #message h1 {
		  text-align: right;
		 }
		</style>
	</head>
	<body>
	  <div id="message">
	    <h1>404</h1>
	    <p>{% trans "A ninja stole this page. But you can always go to the home." %}</p>
	  </div>
  </body>
</html

