{% extends "base.html" %}
{% load i18n %}

{% block title %}404 - Not Found{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            <h1>{% trans "Nooo...!" %}</h1><br />
            <h1 style="font-size:12em;text-align:center;">404</h1><br /><br />
            <h6 style="text-align:center;">{% trans "The page you're looking for does not exist." %}</h6>
            <h6 style="text-align:center;">{% trans "May it be abstract?"%}</h6>
        </div>
    </div>
{% endblock %}
