{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ES" xml:lang="es-ES">
	<head>
		<title>{% block title %}Title{% endblock %}</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css"/>
		<link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/ico"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="Description" content="Site description"/>
		<meta name="Robots" content="all"/>
		<script src="/static/js/jquery.js" type="text/javascript"></script>
		<script src="/static/js/dropdown.js" type="text/javascript"></script>
	</head>
	<body>
	    <div id="topbar">
	    <div id="userbar">
	        {% if user.is_authenticated %}
	            <ul class="topnav">  
                    <li><a href="/accounts/messages">{% trans "Messages" %}</a> | </li>  
                    <li><a href="/none">{% trans "Language" %}</a>| </li>
                    <li>
                        <a href="/accounts/profile">
	                    {% if user.first_name %}
	                        {{ user.first_name }} {{ user.last_name }}
	                    {% else %}
	                        {{ user.username }}
	                    {% endif %}
	                    </a>
	                    <ul class="subnav">
	                        <li><a href="/accounts/profile/edit">{% trans "Edit profile" %}</li>
	                        <li><a href="/accounts/logout">{% trans "Logout" %}</li>
	                    </ul>
	                </li>
	            </ul>
            {% else %}
                <ul class="topnav">
                    <li><a href="/accounts/login">{% trans "Login" %}</a></li>
                    <li><a href="/accounts/register">{% trans "Register" %}</a></li>  
                    <li><a href="/none">{% trans "Language" %}</a></li>
	            </ul>
	        {% endif %}
	    </div>
	    </div>
	    {% block header %}
	        <div id="logo">
	        </div>
	        <div id="banner">
	        </div>
	    {% endblock %}
	    
	    {% block rightcol %}
	    {% endblock %}
	    
	    {% block leftcol %}
	    {% endblock %}
	    
	    {% block content %}
	    {% endblock %}
	    <div id="footer">
	        <p>e-cidadania é una ferramenta online de software libre creada pola cooperativa Cidadanía para o emprego libre de quen queira.<p>
	        <p>Código: Oscar Carballal Prego<p>
	    </div>
	</body>
</html>
