{% load i18n %}
{% load cache %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-ES" xml:lang="es-ES">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<!-- Load CSS -->
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/bootstrap.min.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/ui.notify.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/smoothness/jquery-ui-1.8.13.custom.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/bootstrap-wysihtml5.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/font-awesome.css" media="screen" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/css/screen.css"/>
		<link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}/css/debate.css"/>
		<link href='http://fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
		<!-- End load CSS -->
		<link rel="shortcut icon" href="{{ STATIC_URL }}/assets/favicon.ico" type="image/ico"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="Description" content="e-cidadania es una plataforma de democracia participativa"/>
		<meta name="Robots" content="all"/>
		<!-- Load JavaScript -->
        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
		<script src="http://www.google.com/jsapi?key=ABQIAAAATqrYeRgzMa92HeAJ337iJhRWlTAuTwYT79cviOHriikXgTyaXRSApoqdJPf4dwJKYRnFn_s4iABNkg" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}/js/advanced.js"></script>
		<script src="{{ STATIC_URL }}/js/wysihtml5-0.4.0pre.min.js"></script>
		<script type="text/javascript">
			google.load("jquery", "1.7.1", {uncompressed:false});
			google.load("jqueryui", "1.8.16", {uncompressed:false});
		</script>
		<script src="{{ STATIC_URL }}/js/bootstrap-wysihtml5.js"></script>
    	<!-- End load JavaScript -->
       	{% block extrajs %}
       	{% endblock %}
	</head>
	<body>

        {# {% get_current_language as LANGUAGE_CODE %} #}
    
        {# {% cache 500 base_cache_block_1 LANGUAGE_CODE request.user.username %} #}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    {% block space %}
                        <a class="brand" style="font-family:Arial;" href="/">
                            {% if debug_mode %}
                                <img style="margin-top:-12px;margin-bottom:-10px;position:relative;" src="{{ STATIC_URL }}assets/icons/debug.png"/>
                            {% else %}
                                <img style="margin-top:-12px;margin-bottom:-10px;position:relative;" src="{{ STATIC_URL }}assets/icons/beta.png"/>
                            {% endif %}
                            <span style="margin-left:-20px;">e-</span><strong>cidadania</strong>
                        </a>
                    {% endblock %}
                    {% include "menu.html" %}
                </div>
            </div>
        </div>
        {# {% endcache %} #}
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert fade in {% if message.tags %}alert-{{ message.tags }}{% endif %}" style="margin-top:40px;">
                    <a class="close" data-dismiss="alert" href="#">x</a>
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    
        <div id="jsnotify">
            <div class="hidden" id="basic-template">
                <a class="ui-notify-cross ui-notify-close" href="#">x</a>
                <div style="float:left;margin:0 10px 0 0"><img src="{{ STATIC_URL }}assets/icons/#{icon}" alt="warning" /></div>
                <h1>#{title}</h1>
                <p>#{text}</p>
            </div>
        </div>
    
        <div class="container">
            <div>
                <div class="row">
                    <div class="span12">
                        {% block header %}
                            <div id="logo">
	                            {% block logo %}
	                                <a href="/"><img src="{{ STATIC_URL }}assets/logos/index.png"/></a>
	                            {% endblock %}
	                        </div>
            
 	                        <div id="banner">
	                            {% block banner %}
		                            <img src="{{ STATIC_URL }}assets/banners/index.png"/>
 	                            {% endblock %}
	                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
            
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

        </div>

        {% block freewidth %}
        {% endblock %}
        
	    <div class="row mainfooter">
	        <div style="padding: 0px 10px 0px 10px;">
	            (c) 2011-{% now "Y" %} <a href="http://ecidadania.org">e-cidadania</a> |
                <a href="http://docs.ecidadania.org">Help</a> |
                <a href="http://code.ecidadania.org">Developers</a> |
                <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#101;&#99;&#105;&#100;&#97;&#100;&#97;&#110;&#105;&#97;&#46;&#111;&#114;&#103;">Contact</a> |
                Terms of use
                <div style="float:right;margin-bottom:-5px;">
                    <a href="http://twitter.com/ecidadaniafloss"><i style="font-size: 24px;" class="icon-twitter"></i> </a>
                    <a href="https://www.facebook.com/pages/e-cidadania/220162834676928"><i style="font-size: 24px;margin-left:10px;" class="icon-facebook"></i> </a>
                    <a href="https://plus.google.com/u/1/b/102485470041693312794/102485470041693312794"><i style="font-size: 24px;margin-left:10px;" class="icon-google-plus"></i> </a>
                </div>
                {% block extrainfo %}
                {% endblock %}
            </div>
        </div>
		
		<!-- Load JavaScript -->
        <script src="{{ STATIC_URL }}/js/bootstrap.min.js" type="text/javascript"></script>
		<script src="{{ STATIC_URL }}/js/site.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}/js/jquery.notify.min.js" type="text/javascript"></script>
		<script type="text/javascript">
    	    $(document).ready(function(){
                $(".alert").alert();
                $("[rel=tooltip]").tooltip();
            });
		</script>
    	<!-- End load JavaScript -->
    	
	</body>
</html>

