{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "e-cidadania" %}{% endblock %}

{% block content %}

{% block centercol %}
  <div id="centercol">

    <div>
      <p><span class="introtitle">e-cidadania</span> democracias participativas 2.0</p><br /><br />
      <p class="intro">e-cidadania es una herramienta de democracia participativa para
         ciudadanos. Tiene sistema de debates, propuestas, versionado de
         documentos, creación de espacios específicos para cada cliente,
         así como otras muchas funciones pero mejor pruébalo tú mismo.
      </p>
      <br /><span style="margin-left: 35%;"><img src="/{{ MEDIA_URL }}assets/sep.png"/></span><br />
    </div>

    {% if user.is_staff %}
    <div id="tools">
      <a href="{{ request.path}}news/add/">{% trans "Add news" %}</a>
    </div>
    {% endif %}
    
    {% for news in publication %}
      {% if news.post_pub_index %}
        <div class="post">
          {% if user.is_staff %}
            <div id="tools">
              {% comment %}¡¡CAREFUL!! This does not work{% endcomment %}
              <a href="edit/">{% trans "Edit" %}</a> | 
              <a href="delete/">{% trans "Delete" %}</a>
            </div>
          {% endif %}
          <h1>{{ news.post_title }}</h1>
          <p>{{ news.post_message }}</p>
          <p>{% trans "Written by" %} {{ news.post_author }} {% trans "on" %} {{ news.post_pubdate }}</p>
        </div>
      {% endif %}
    {% empty %}
      <div class="post">
        <p>{% trans "Nothing published yet." %}</p>
      </div>
    {% endfor%}
  </div>
{% endblock %}


{% block rightcol%}
  <div id="rightcol">

    <div id="widget">
      <p><span style="font-size: 23px;">¿Qué puedes hacer con e-cidadania?</span> <strong>Descúbrelo</strong></p>
    </div>

    <div id="widget">
      <p><a href="/spaces/add">{% trans "Create your own space" %}</a> {% trans "inside e-cidadania" %}</p>
    </div>

    <div id="widget">
      <h4>{% trans "Spaces list" %}</h4><br />
        <form method="post" action="/spaces/go/">{% csrf_token %}
          <select name="spaces">
            {% for space in spaces %}
              <option>{{ space.name }}</option>
            {% empty %}
              <option>{% trans "No spaces" %}</option>
            {% endfor %}
          </select>
          <input type="submit" value="{% trans 'Go' %}" />
        </form>
    </div>

    <div id="widget">
      <h4>{% trans "Recently updated spaces" %}</h4>
    </div>

    <div id="widget">
      <h4>Compartir</h4><br />
      <img src="/{{ MEDIA_URL }}assets/logos/rss_logo.png" alt="Feed RSS"/>
      <a href="http://www.facebook.com/cidadania.coop"><img src="/{{ MEDIA_URL }}assets/logos/facebook_logo.png" alt="Facebook"/></a>
      <a href="http://www.twitter.com/ecidadaniafloss"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-b.png" alt="Seguir a ecidadaniafloss en Twitter"/></a>
      <a href="http://identi.ca/ecidadania"><img src="/{{ MEDIA_URL }}assets/logos/identica_logo.png" alt="Compartir en Identi.ca"/></a>
    </div>

    <div id="widget">
      <p>{% trans "e-cidadania development" %}</p>
      <p>{% trans "Do you want to help?" %} <a href="http://dev.e-cidadania.org">{% trans "Access" %}</a></p>
    </div>

  </div>
{% endblock %}

{% endblock %}

{% block footer %}
<p>{% trans "Main page footer" %}</p><br /><br />
{% endblock %}

