/* Local Settings */

/*
    IFRC Corporate Red #ee3224
    FedNet Blue #00447C
    Communities Green #5c3160
    News and Events Yellow #e5b53b
    Resources and Services Chocolate #7a1600
    Warm Grey #786a65
*/

.navbar-inner {
    background: #786a65;
}
.navbar .nav > li > a {
    border-left: 0;
}

#datatable tbody tr.odd {
    /* Boxes Cream 2 */
    background-color: #f1e3c5;
}
table.dataTable tr.odd {
    background-color: #f1e3c5;
}
#datatable tbody tr.odd td.sorting_1 {
    /* Boxes Cream 1
    background-color: #ddbe7e; */
    background-color: rgba(221, 190, 126, 0.35);
}
#datatable tbody tr.even td.sorting_1 {
    background-color: rgba(221, 190, 126, 0.17);
}
#datatable_paginate span a.paginate_active {
    background-color: #f1e3c5;
}

#page-footer #footer-copyrights {
    border-top: 0;
}

/* Make this look like Tabs */
.pt-container {
    /*border-radius: 4px;*/
    background: url("../../img/bootstrap/jquery-ui/ui-bg_glass_75_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
    margin-top: 5px;
}

/* Make this look like Report Options */
.form-container form legend {
    border: 0 none !important;
    font-size: 14px;
    margin-bottom: 0;
    line-height: normal;
}

/* Hide options & load artefacts */
#filter-form,
#summary-1-totals,
label[for='summary-1-totals'],
.pt-chart-contents,
.pt-empty,
.pt-form-container,
.pt-submit,
.pt-table-contents,
.pt-form .toggle-text {
    display: none;
}
.pt-hide-table {
    display: none !important;
}
