// ============================================================================
// Styles for Theme-specific Elements and Layouts
// ============================================================================
// VARIABLES

// -- variables and their defaults go here --

// ============================================================================
// STYLES

/* Case Rheader Flags */
.overdue {
    color: red;
}
.invalid-case {
    border: 1px solid red;
    color: red;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.9rem;
    margin-bottom: 0.25rem;
    padding: 0.1rem 0.2rem;
    text-transform: uppercase;
}
.direct-contact-hint {
    border: 1px solid #4488AA;
    color: #4488AA;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.9rem;
    margin-bottom: 0.25rem;
    padding: 0.1rem 0.2rem;
    text-transform: uppercase;
}

/* Check-in/check-out UI */
.checkpoint-advise {
    background: #fff0f0 none repeat scroll 0 0;
    border: 2px solid red;
    margin-bottom: 1rem;
    padding: 0.6rem;
    p {
        white-space: pre-wrap;
    }
}
.checkpoint-person {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.check-in-warning {
    color: red;
    font-weight: bold;
    margin-left: 0.5rem;
    i {
        margin-right: 0.3rem;
    }
}
#site_check_in_info__row .controls {
    width: 100%;
}
#site_check_in_status__row .controls {
    padding-top: 0.3rem;
    width: 100%;
}
#check-in-form {
    .status-label {
        font-size: 0.9rem;
    }
    .status-message {
        font-size: 0.9rem;
        font-weight: bold;
    }
    .person-details {
        font-size: 1rem;
    }
}
.clear-btn {
    cursor: pointer;
    .fa {
        color: #b0b0b0;
    }
}

/* Event Registration UI */
.event-bottom .username {
    padding: 0;
}
.event-top {
    margin-top: 0.3rem!important;
}
.event-type-header {
    text-align: right;
}
body.rtl {
    .event-type-header {
        text-align: left;
    }
}
.event-type-setting {
    color: #afafaf;
    font-size: 0.9rem;
    margin-left: 0.8rem;
    vertical-align: text-top;
}
.event-type-toggle {
    cursor: pointer;
}
.event-registration-blocked {
    background-color: #ffaaaa;
    color: black;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.6rem;
}
.event-type-name {
    font-size: 1.1rem;
    padding: 0.3rem;
}
.event-type-name.placeholder {
    font-size: 0.8rem;
    background-color: #fff0f0;
    border: 2px solid red;
}
.profile-picture {
    margin: 1rem 0;
}
.controls.has-flaginfo,
.controls.has-details {
    width: 100%;
    table {
        width: 100%;
        border: none;
    }
}

// Payment Registration Specifics
.payment-amount {
    color: darkgreen;
    font-size: 1.2rem;
    font-weight: bold;
}
#payment-form {
    #allowance_date__row,
    #allowance_comments__row {
        display: none;
    }
}

// Food Registration Specifics
#case_event_family__row .controls {
    width: 100%;
}
#family-members {
    width: 100%;
    border-collapse: collapse;
    div.member-show-picture {
        height: 2.7rem;
    }
    .member-id {
        color: #808080;
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }
    .member-message {
        margin: 0;
        color: #e0767a;
        font-size: 0.8rem;
        font-style: normal;
        .columns {
            padding: 0;
        }
    }
    .family-member {
        td {
            border-bottom: 1px solid #e0e0e0;
            background-color: white;
        }
        &.member-blocked td {
            background-color: #f6f6f6;
            .member-id, .member-name {
                color: #b0b0b0;
            }
        }
    }
    .family-all {
        td {
            background-color: #f0f8f6;
            color: #505050;
            font-style: italic;
            height: 2.7rem;
        }
    }
    button.member-show-picture.showing {
        border: 1px solid black;
    }
}
.member-caption {
    padding: 0.2rem 0;
    font-size: 1rem;
}

/* Dashboard */
.dashboard-action {
    margin-bottom: 1.0rem;
}
.dbstats {
    td {
        text-align: right;
        padding-right: 2rem;
    }
    tr > td:first-child {
        text-align: left;
        padding-left: 2rem;
    }
    .dbstats-total td,
    .dbstats-extra td {
        &:first-child {
            padding-left: 0.7rem;
        }
    }
    .dbstats-total {
        font-weight: bold;
    }
    .dbstats-extra td,
    .dbstats-sub td {
        font-style: italic;
        font-size: 0.8rem;
        line-height: 50%;
        color: #aaa;
    }
}

/* Response Theme Selector */
#dvr_response_action_response_theme_ids__row,
#sub-defaultresponse_action {
    .ui-multiselect.ui-widget {
        width: 28rem!important;
        max-width: 100%;
    }
}
.ui-multiselect-menu {
    max-width: 100%;
    width: auto!important;
}

.dvr-response-action-theme {
    font-size: 0.8rem;
    h6 {
        font-size: 0.9rem;
        font-weight: bold;
        color: black;
        margin: 0;
    }
    .text-body {
        margin: 0.125rem 0.25rem 0.5rem 0.25rem;
    }
}
.main-title .system-title .org-name {
    font-size: 0.8rem;
    text-transform: uppercase;
}

#hrm_delegation_inline_notifications__row {
    display: none;
}
.notification {
    .notify-toggle {
        vertical-align: middle;
        margin-top: 0!important;
        margin-bottom: 0.2rem!important;
    }
    .preview-toggles {
        margin-top: 0.3rem;
        .preview-toggle.action-lnk {
            margin-left: 0.2rem;
        }
    }
}
.preview-widget {
    .highlight-sub {
        border-bottom: dotted 0.5px #C0C0C0;
        cursor: help;
    }
    .highlight-miss {
        background-color: #F4D48A;
    }
    p.preview {
        font-size: 0.9rem;
        font-weight: normal;
        line-height: 1.6;
        margin-bottom: 1.25rem;
        text-rendering: optimizeLegibility;
        white-space: pre-wrap;
        max-width: 40rem;
        padding: 0.5rem;
        background-color: #F4F4F4;
    }
    h6.preview {
        font-size: 0.9rem;
        color: #550000;
        max-width: 40rem;
        background-color: #F4F4F4;
        padding: 0.5rem;
    }
}
.register-intro {
    max-width: 60rem;
    padding: 1rem;
    border: 1px solid #EEE;
    background-color: #ec9;
}
.auth_register,
.result-register {
    .subheading,
    .consent-widget,
    .controls {
        max-width: 48rem;
    }
    padding: 1rem!important;
}
.registration-form {
    position: relative;
    max-width: 60rem;
    margin: 1rem auto;
}
.sub-label {
    font-weight: normal;
    font-size: 0.8rem;
    font-style: italic;
    color: #7f7f7f;
    padding-top: 0.2rem;
}

.avcomments {
    font-size: 0.7rem;
}

.org-account-list {
    border: 1px solid #eee;
    padding: 1rem;
    ul li {
        font-size: 0.8rem;
        color: #666;
    }
    h4 {
        font-size: 1rem;
        font-weight: bold;
        color: #333;
    }
}

.action-btn.organizer-switch {
    margin-bottom: -1.2em;
}
.organizer-alternatives {
    .action-btn {
        margin: 0.5rem 0 1rem 0;
    }
    .organizer-intro {
        font-size: 0.8rem;
        margin: 0.5rem 0 1rem 0;
        padding: 0.2rem 0.7rem;
        background: #ffdeb8;
    }
}

.status-reason {
    font-size: 0.725rem;
    padding: 0.3rem;
    color: #e10000;
    border: 1px solid #e10000;
    font-style: italic;
    white-space: pre-wrap;
    background: #ffe1e3;
}

.record-integrity-ok {
    color: #008600;
    i {
        padding: 0 0.2rem;
    }
}
.record-integrity-broken {
    color: #aa0000;
    animation: blinker 0.7s step-start 4;
    i {
        padding: 0 0.2rem;
    }
}

.service-list {
    font-size: 0.8rem;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
.approve-form {
    select {
        margin: 0;
    }
}
.approve-workflow {
    &.workflow-red {
        color: #c42626;
    }
    &.workflow-amber {
        color: #ec8d27;
    }
    &.workflow-green {
        color: green;
    }
    &.workflow-advice {
        border: 1px solid #c42626;
        background-color: #ffdede;
        padding: 0.3rem 0.7rem;
    }
    .fa {
        margin-right: 0.2rem;
    }
    margin-left: 0.5rem;
}

.text-body.cms-item-body {
    background-color: #FFF8E6;
    padding: 0.7rem;
    max-width: 48rem;
}

.form-row .cwa-details,
.form-row .cwa-qrcode {
    display: inline-block;
    vertical-align: top;
}
.form-row .cwa-details {
    table {
        border: none;
        margin-right: 2.5rem;
        tr td {
            padding: 0.5rem;
            &.cwa-data {
                font-weight: bold;
            }
        }
    }
}
.form-row .cwa-qrcode {
    margin: 1px solid black;
    padding-bottom: 0.2rem;
    .cwa-qrcode-title {
        width: 100%;
        text-align: center;
    }
}
.charge-warn {
    color: $alert-color;
    font-weight: bold;
    i.fa {
        margin-left: 0.2rem;
    }
}
.free-hint {
    color: #C0C0C0;
}
#site-intro p {
    margin-top: 3rem;
    font-size: 0.9rem;
    white-space: pre-wrap;
    line-height: 1rem;
    border: 2px solid #668b99;
    padding: 0.8rem;
}

// END ========================================================================
