/* Icons */
.ucce {
  color: #AFAEAE;
}
.ucce:hover {
  color: #00AAA0; /* $persian-green */
}

a.no-link {
  color: #222;
}
a.no-link:hover {
  color: #00AAA0; /* $persian-green */
}
a.no-link:hover .ucce {
  color: #00AAA0; /* $persian-green */
}
a.no-link:hover label {
  color: #00AAA0; /* $persian-green */
}

/* Top Bar */
.top-bar {
  margin-top: 10px;
}
.top-bar .title-area {
  margin-left: 15px;
}
/*.top-bar .dropdown {
  border-radius: 10px;
  clip-path: ellipse(50% 50% at 50% 50%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
nav.top-bar section.top-bar-section ul.dropdown li:last-child a {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}*/
.top-bar-section ul.dropdown li >  a:not(.button) {
  /* We don't use label elements in our dropdowns */
  font-size: 0.85rem;
  font-weight: bold;
  /*padding-top: 0;
  padding-bottom: 0; */
}

/* Side Bar */
.icon-bar .ucce {
  font-size: 32px;
}

/* Homepage */
.homepage h1 {
  font-size: 2.5em;
  font-weight: bold;
}
.homepage h2 {
  font-size: 1.75em;
  font-weight: bold;
}
.panel {
  box-shadow: 1px 1px #EEEEEE;
  border-radius: 10px;
}

/* Datalists */
div.dl {
  border: 0;
}
.search-wrapper {
  position: relative;
}
.search-icon {
  /*font-size: 24px;*/
  position: absolute;
  padding-left: 0.75rem;
  padding-top: 0.65rem;
  left: 0;
  top: 0;
}
.search-icon .fa {
  color: #AFAEAE;
  line-height: inherit;
}
input[type="text"].text-filter {
  height: 2.3125rem;
  padding-left: 1.875rem !important;
  width: 100% !important;
  border-color: #EEEEEE;
  box-shadow: 1px 1px #EEEEEE;
}
#list-btn-add.fleft {
  margin-left: 1.35rem;
}
#dl-container {
  margin-left: 1.35rem;
  padding-right: 1.35rem;
}
.add-btn .ucce {
  color: #FF7A5A; /* $coral */
  font-size: 24px;
  margin-right: 5px;
}
.add-btn span {
  font-weight: bold;
}

/* Projects dataList */
.project-card {
  border-radius: 10px;
  box-shadow: 2px 2px #EEEEEE;
}
.card-footer {
  border-radius: 0 0 10px 10px;
}
.project-survey-card {
  text-align: center;
  margin: 8px;
  height: 200px;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  box-shadow: 1px 1px #EEEEEE;
}
.project-survey-card .ucce {
  font-size: 24px;
  margin: 2px;
}
.project-survey-card .ucce-plus {
  color: #FF7A5A; /* $coral */
  font-size: 32px;
  padding-top: 40px;
}
.project-survey-card .switch {
  margin-top: 1rem;
  margin-left: 0.8rem;
}

/* Reports */
.report-container {
  margin: 1.35rem;
  padding: 1.35rem;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  box-shadow: 3px 3px #EEEEEE;
}
.report-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #AFAEAE; /* $darkgray */
}
.report-card {
  border-radius: 10px;
  border: 1px solid #EEEEEE;
  box-shadow: 2px 2px #EEEEEE;
  margin-bottom: 15px;
}
.report-card .card-header {
  margin: 0;
}
.report-content {
  padding: 10px;
}
.report-content table {
  margin-top: 10px;
}
.report-content .columns table {
  margin-top: 0;
}
.report-content td {
  border-right: 8px solid white;
  min-width: 120px;
}
.graph-container {
  margin-top: 10px;
}
.heatmap-container {
  margin-top: 10px;
  max-height: 320px; /* .ol-unselectable inside this goes larger, but is influenced by this */
}
/*
.scale-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 20px;
}
.scale {
  background-image: linear-gradient(to right, #00AAA0, #f00); /* $persian-green to red */
/*  height: 50px;
}*/
/* Has no effect:
.nv-zeroLine {
  border: 10px solid #535353;
} */
.tick text.icon {
  font-family: "ucce-icons";
}
#edit-filters-btn {
  margin-top: 0.5rem;
}

/* Report Filters page */
.report-filter-container {
  margin-left: 1.35rem;
}
input.inline {
  margin-top: 0.75rem;
}
label.inline-ucce {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

/* Template Editor */
.survey-item {
  float: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px #EEEEEE;
}

#survey-droppable {
  border: 1px solid #AFAEAE;
  height: 400px;
  left: 100%;
  right: 100%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px #EEEEEE;
}

#survey-droppable > span {
  color: #AFAEAE;
  position: relative;
  display: inline-block;
  top: 50%;
}

.section-break {
  color: #AFAEAE;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.section-break > span {
  position: relative;
  display: inline-block;
}

.section-break > span:before,
.section-break > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #AFAEAE;
}

.section-break > span:before {
  right: 100%;
  margin-right: 15px;
}

.section-break > span:after {
  left: 100%;
  margin-left: 15px;
}

.preview-empty {
  background-color: #eee;
  border: 1px dotted #999;
  height: 80px;
  width: 80px;
}

#content h2.fleft {
  padding-left: 0;
}

.translate-from {
  background-color: #ddd;
  white-space: pre-line;
}

.heatmap,
.heatmap > .preview-empty {
  height: 480px;
  width: 480px;
  /*margin-left: -5px;*/
}
.heatmap {
  margin-top: -10px;
  margin-bottom: -40px;
}

/*
.move-up {
  margin-top: -6px;
}*/

.move-down {
  margin-top: -3px;
}

.ucce-down-alt,
.ucce-up-alt,
.ucce-delete-page {
  color: #535353;
}

.button.defining {
    /* Add Region should have hover colour until polygon defined */
    background-color: #00AAA0; /* $persian-green */
}

#question-bar h2 {
  background-color: #00AAA0; /* $persian-green */
  color: white;
  text-align: center;
}

.ucce-survey-export,
.ucce-survey-import {
  /*background-color: #AFAEAE;
  color: #EEEEEE; */
  margin-right: 10px;
}
.ucce-survey-import + span:hover {
  color: #00AAA0; /* $persian-green */
}

/* For Magellan */
#question-bar {
  padding: 0 !important;
  left: auto !important;
}
.magellan-scrollnav {
  margin-left: 1.35rem;
  width: 33%;
}
[data-magellan-expedition] {
  width: 280px;
  min-width: 0;
}
[data-magellan-expedition-clone] {
  display: none;
}

/* Upload/Download */
a.no-link label {
  display: inline;
}

.tabs .tab-title > a {
  font-weight: bold; /* No option for this in _tabs.scss */
  padding: 0.5rem 1.75rem; /* Insufficient control of this in _tabs.scss */
}

/* Switch Backported from Foundation 6 instead of using the Foundation 5 version */
.switch {
  height: 2rem;
  position: relative;
  margin-bottom: 1rem;
  outline: 0;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fefefe;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch-input {
  position: absolute;
  margin-bottom: 0;
  opacity: 0;
}

.switch-paddle {
  position: relative;
  display: block;
  width: 4rem;
  height: 2rem;
  border-radius: 0;
  background: #cacaca;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}
input + .switch-paddle {
  margin: 0;
}
.switch-paddle::after {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  border-radius: 0;
  background: #fefefe;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  content: '';
}
input:checked ~ .switch-paddle {
  background: #FF7A5A; /* $coral */
}
input:checked ~ .switch-paddle::after {
  left: 2.25rem;
}
[data-whatinput='mouse'] input:focus ~ .switch-paddle {
  outline: 0;
}

.switch-active, .switch-inactive {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.switch-active {
  left: 8%;
  display: none;
}
input:checked + label > .switch-active {
  display: block;
}

.switch-inactive {
  /*right: 15%;*/
  right: 10%;
}
input:checked + label > .switch-inactive {
  display: none;
}

.switch.tiny {
  height: 1.5rem;
}
.switch.tiny .switch-paddle {
  width: 3rem;
  height: 1.5rem;
  font-size: 0.625rem;
}
.switch.tiny .switch-paddle::after {
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
}
.switch.tiny input:checked ~ .switch-paddle::after {
  left: 1.75rem;
}

.switch.small {
  height: 1.75rem;
}
.switch.small .switch-paddle {
  width: 3.5rem;
  height: 1.75rem;
  font-size: 0.75rem;
}
.switch.small .switch-paddle::after {
  top: 0.25rem;
  left: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
}
.switch.small input:checked ~ .switch-paddle::after {
  left: 2rem;
}

.switch.large {
  height: 2.5rem;
}
.switch.large .switch-paddle {
  width: 5rem;
  height: 2.5rem;
  font-size: 1rem;
}
.switch.large .switch-paddle::after {
  top: 0.25rem;
  left: 0.25rem;
  width: 2rem;
  height: 2rem;
}
.switch.large input:checked ~ .switch-paddle::after {
  left: 2.75rem;
}

/* https://github.com/zurb/foundation-sites/pull/10632/commits */
.switch-paddle.rounded {
  /*border-radius: 2rem;*/
  border-radius: 1rem;
}
.switch-paddle.rounded:after {
  /*border-radius: 2rem;*/
  border-radius: 1rem;
}
