/* line 429, ../../foundation/scss/components/_global.scss */
meta.foundation-version {
  font-family: "/{{VERSION}}/";
}

/* line 433, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0;
}

/* line 438, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0;
}

/* line 443, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em;
}

/* line 448, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em;
}

/* line 453, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em;
}

/* line 458, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em;
}

/* line 463, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em;
}

/* line 468, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em;
}

/* line 473, ../../foundation/scss/components/_global.scss */
meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em;
}

/* line 478, ../../foundation/scss/components/_global.scss */
meta.foundation-data-attribute-namespace {
  font-family: false;
}

/* Override widget.css */
/* line 5, ../scss/custom/_page.scss */
.top-bar.expanded {
  width: 100%;
}

/* line 8, ../scss/custom/_page.scss */
.map_home {
  margin: 0;
}

/* Alerts */
/* line 13, ../scss/custom/_page.scss */
.alert.alert-error,
.alert.alert-info,
.alert.alert-warning,
.alert.alert-success {
  border: 1px solid #b2b2b2;
  box-shadow: 0 1px 1px #aaaaa7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 8px 35px 8px 14px;
  position: relative;
  width: auto;
  z-index: 999;
  border-radius: 4px;
}

/* Red indicators */
/* line 29, ../scss/custom/_page.scss */
.error,
.expired,
.req,
.req_key {
  color: #D92C20;
  font-weight: bold;
}

/* line 36, ../scss/custom/_page.scss */
.req_key {
  font-size: 0.75rem;
}

/* Sections */
/* line 41, ../scss/custom/_page.scss */
.form-container form,
#datalist-filter-form,
#datatable-filter-form,
#summary-filter-form,
#summary-sections,
.thumbnail {
  border: 1px solid #CCC;
}

/* line 49, ../scss/custom/_page.scss */
.widget-container #list-btn-add {
  margin-bottom: 0;
  position: relative;
  top: 1.0rem;
}

/* Links should ALWAYS be unvisited */
/* line 58, ../scss/custom/_page.scss */
#content a.help:link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
/* line 63, ../scss/custom/_page.scss */
#content a.help:hover {
  background-color: #336699;
  text-decoration: underline;
}
/* line 67, ../scss/custom/_page.scss */
#content a.help:visited {
  font-weight: normal;
  color: #666;
}
/* line 72, ../scss/custom/_page.scss */
#content h1,
#content h2 {
  font-size: 1.3em;
  font-weight: bolder;
}
/* line 77, ../scss/custom/_page.scss */
#content h2 {
  margin-top: 10px;
}
/* line 80, ../scss/custom/_page.scss */
#content h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
}

/* General forms */
/* line 2, ../scss/custom/_forms.scss */
form {
  font-size: 0.8rem;
}
/* line 4, ../scss/custom/_forms.scss */
form .form-row {
  margin-top: 0.5rem !important;
}
/* line 6, ../scss/custom/_forms.scss */
form .form-row .button {
  margin-right: 0.5rem;
}
/* line 8, ../scss/custom/_forms.scss */
form .form-row .button i.fa {
  margin-right: 0.3rem;
}
/* line 13, ../scss/custom/_forms.scss */
form .form-row > .columns:first-child {
  overflow: hidden;
}
/* line 16, ../scss/custom/_forms.scss */
form .form-row > .columns > label {
  font-weight: bold;
}
/* line 20, ../scss/custom/_forms.scss */
form .form-row > a {
  margin-left: 0.625rem;
}
/* line 23, ../scss/custom/_forms.scss */
form .form-row select {
  min-width: 4rem;
}
/* line 26, ../scss/custom/_forms.scss */
form .form-row .controls span.postfix {
  height: 1.75rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
}
/* line 30, ../scss/custom/_forms.scss */
form .form-row .controls span.postfix .fa {
  line-height: inherit;
}
/* line 35, ../scss/custom/_forms.scss */
form label.inline {
  padding: 0;
}
/* line 38, ../scss/custom/_forms.scss */
form .gis_loc_select_btn {
  font-size: 0.8em;
}
/* line 40, ../scss/custom/_forms.scss */
form .gis_loc_select_btn i {
  font-size: 1.0em;
  margin-right: 4px;
}
/* line 45, ../scss/custom/_forms.scss */
form .error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-style: italic;
  background: #c60f13;
  color: white;
}
/* line 55, ../scss/custom/_forms.scss */
form .date-clear-btn {
  font-size: 0.75rem;
  margin-left: 0.15rem !important;
}
/* line 59, ../scss/custom/_forms.scss */
form .action-lnk {
  font-weight: normal;
  font-size: 0.75rem;
}
/* line 63, ../scss/custom/_forms.scss */
form table.embeddedComponent {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border: 1px solid #dddddd;
  border-collapse: separate;
}
/* line 68, ../scss/custom/_forms.scss */
form table.embeddedComponent td {
  border: none;
  padding-bottom: 0.05rem;
  padding-top: 0.15rem;
  vertical-align: top;
}
/* line 75, ../scss/custom/_forms.scss */
form table.embeddedComponent .label-row td {
  border-bottom: 1px solid #dddddd;
}
/* line 77, ../scss/custom/_forms.scss */
form table.embeddedComponent .label-row td:empty {
  padding: 0;
}
/* line 81, ../scss/custom/_forms.scss */
form table.embeddedComponent .label-row label {
  color: #4D4D4D;
}
/* line 86, ../scss/custom/_forms.scss */
form table.embeddedComponent tr.inline-form.single td {
  padding: 0;
}
/* line 89, ../scss/custom/_forms.scss */
form table.embeddedComponent tr.inline-form select {
  max-width: 18rem;
}
/* line 94, ../scss/custom/_forms.scss */
form .inline-open-add {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-left: 0;
  margin-top: -1.25rem;
}
/* line 100, ../scss/custom/_forms.scss */
form.auth_login #submit_record__row {
  white-space: pre;
}

/* General Widgets */
/* line 106, ../scss/custom/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  height: 1.75rem;
  padding: 0.25rem;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}

/* line 127, ../scss/custom/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select {
  width: auto !important;
  max-width: 100%;
}

/* line 144, ../scss/custom/_forms.scss */
textarea {
  resize: both;
  max-width: 100%;
}

/* line 149, ../scss/custom/_forms.scss */
select {
  padding-right: 1rem !important;
}

/* Form and Item containers */
/* line 153, ../scss/custom/_forms.scss */
#last_update {
  float: none;
}

/* line 156, ../scss/custom/_forms.scss */
.form-container,
.item-container {
  width: auto;
  overflow: inherit;
}
/* line 158, ../scss/custom/_forms.scss */
.form-container form,
.item-container form {
  background: #fefefe;
  padding: 5px 10px;
}
/* line 161, ../scss/custom/_forms.scss */
.form-container form tr td,
.item-container form tr td {
  padding: 0.1875rem;
}
/* line 167, ../scss/custom/_forms.scss */
.form-container .controls,
.item-container .controls {
  display: inline-block;
}
/* line 169, ../scss/custom/_forms.scss */
.form-container .controls:not(.columns),
.item-container .controls:not(.columns) {
  max-width: 100%;
}

/* line 174, ../scss/custom/_forms.scss */
.form-container {
  margin-top: 0.125rem;
  margin-bottom: 0.875rem;
}
/* line 178, ../scss/custom/_forms.scss */
.form-container form select,
.form-container form input.string:not(.date),
.form-container form textarea {
  margin: 0;
}
/* line 183, ../scss/custom/_forms.scss */
.form-container form .ui-multiselect {
  max-width: 100%;
}
/* line 187, ../scss/custom/_forms.scss */
.form-container form:not(.filter-form):not(.auth_login):not(.auth_register) input[type="text"]:not(.double):not(.datetimepicker):not(.date):not(.dms-input) {
  width: 20rem !important;
}

/* line 193, ../scss/custom/_forms.scss */
.item-container .controls {
  background: #fafafa;
  padding: 0.35rem;
  min-height: 1.7rem;
}

/* Filter forms */
/* line 202, ../scss/custom/_forms.scss */
.filter-form table tr,
.filter-form .ui-multiselect {
  max-width: 60%;
}
/* line 206, ../scss/custom/_forms.scss */
.filter-form table.s3-groupedopts-widget {
  display: inline-block;
}
/* line 209, ../scss/custom/_forms.scss */
.filter-form .inline-tooltip {
  padding-top: 0.2rem;
}

/* Login/Registration box */
/* line 215, ../scss/custom/_forms.scss */
#login_form,
#register_form,
#login_box {
  clear: none !important;
}

/* Help Popup */
/* line 222, ../scss/custom/_forms.scss */
.inline-tooltip {
  display: inline-block;
  vertical-align: top;
  padding-left: 0.75rem;
}
/* line 226, ../scss/custom/_forms.scss */
.inline-tooltip .tooltip,
.inline-tooltip .tooltipbody,
.inline-tooltip .stickytip,
.inline-tooltip .ajaxtip {
  display: block;
  padding: 0;
  width: 60px;
}
/* line 234, ../scss/custom/_forms.scss */
.inline-tooltip .s3_add_resource_link {
  display: inline-block;
  margin: -3px 0 -3px 5px;
}

/* Rheader */
/* line 2, ../scss/custom/_rheader.scss */
#rheader {
  width: 100%;
}
/* line 6, ../scss/custom/_rheader.scss */
#rheader a.th {
  margin-right: 10px;
}
/* line 7, ../scss/custom/_rheader.scss */
#rheader a.th img {
  height: 60px;
}
/* line 12, ../scss/custom/_rheader.scss */
#rheader .rheader-avatar {
  clear: none;
  display: inline;
  float: none;
  margin-right: 1rem;
  padding: 0;
  vertical-align: text-top;
}
/* line 20, ../scss/custom/_rheader.scss */
#rheader table {
  display: inline;
  margin-bottom: 10px;
  border: none;
}
/* line 24, ../scss/custom/_rheader.scss */
#rheader table tr {
  background: none;
}

/* RHeader Tabs */
/* line 31, ../scss/custom/_rheader.scss */
div.tabs {
  display: block;
  clear: none;
  height: 1.9rem;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0;
  line-height: 1.3rem;
  text-align: left;
  border-bottom: 1px solid #006A71;
}
/* line 47, ../scss/custom/_rheader.scss */
div.tabs span {
  float: left;
  display: inline;
  position: relative;
  margin: 0.2rem 0.2rem 0 0;
  padding: 0.1rem 0.3rem 0.1rem;
  border-radius: 3px 3px 0 0;
}
/* line 58, ../scss/custom/_rheader.scss */
div.tabs span a {
  color: #ffffff !important;
  text-decoration: none !important;
  background: transparent !important;
}
/* line 62, ../scss/custom/_rheader.scss */
div.tabs span a:hover {
  background: transparent !important;
}
/* line 68, ../scss/custom/_rheader.scss */
div.tabs span.tab_here {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.2rem 0.35rem 0 0;
  padding: 0.1rem 0.4rem 0.1rem;
  background: #ffffff;
  border-color: #006A71;
  border-style: solid;
  border-width: 0.125rem 2px 0.0625rem 3px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
}
/* line 86, ../scss/custom/_rheader.scss */
div.tabs span.tab_here:hover {
  background-color: #f1edec;
}
/* line 89, ../scss/custom/_rheader.scss */
div.tabs span.tab_here a {
  color: #666666 !important;
}
/* line 91, ../scss/custom/_rheader.scss */
div.tabs span.tab_here a:hover {
  color: #666666 !important;
}
/* line 98, ../scss/custom/_rheader.scss */
div.tabs span.tab_last, div.tabs span.tab_other {
  font-size: 0.9rem;
  margin: 0.35rem 0.2rem 0 0;
  padding: 0.1rem 0.3rem 0;
  background-color: #006A71;
  border-color: #006A71;
  border-width: 0.0625rem 1px 0.0625rem 2px;
  border-style: solid;
}
/* line 112, ../scss/custom/_rheader.scss */
div.tabs span.tab_last:hover, div.tabs span.tab_other:hover {
  background-color: #00555a;
  border-color: #00555a;
}
/* line 116, ../scss/custom/_rheader.scss */
div.tabs span.tab_last a, div.tabs span.tab_other a {
  color: #ffffff !important;
}
/* line 118, ../scss/custom/_rheader.scss */
div.tabs span.tab_last a:hover, div.tabs span.tab_other a:hover {
  color: #ffffff !important;
}

/* Action buttons */
/* line 2, ../scss/custom/_buttons.scss */
.action-btn,
.delete-btn-ajax,
.delete-btn,
.selected-action {
  font-size: 0.6875rem;
  border: 0;
  line-height: 1;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
}
/* line 7, ../scss/custom/_buttons.scss */
.action-btn[disabled], .action-btn[disabled]:hover,
.delete-btn-ajax[disabled],
.delete-btn-ajax[disabled]:hover,
.delete-btn[disabled],
.delete-btn[disabled]:hover,
.selected-action[disabled],
.selected-action[disabled]:hover {
  color: #ffffff;
  background-color: #c0c0c0;
}

/* Default action buttons */
/* line 15, ../scss/custom/_buttons.scss */
.action-btn,
.selected-action {
  background-color: #006A71;
  color: #ffffff !important;
}
/* line 19, ../scss/custom/_buttons.scss */
.action-btn:hover,
.selected-action:hover {
  background-color: #00555a;
  color: #ffffff !important;
}

/* Alert-style action buttons (e.g. delete) */
/* line 26, ../scss/custom/_buttons.scss */
.delete-btn-ajax,
.delete-btn {
  background-color: #D92C20;
  color: #ffffff !important;
}
/* line 30, ../scss/custom/_buttons.scss */
.delete-btn-ajax:hover,
.delete-btn:hover {
  background-color: #ae231a !important;
  color: #ffffff !important;
}

/* Cancel button */
/* line 37, ../scss/custom/_buttons.scss */
.cancel-form-btn {
  padding: 0.9375rem;
}

/* line 40, ../scss/custom/_buttons.scss */
.cancel-form-btn:hover {
  color: white;
  background-color: #006A71;
}

/* Full screen map button */
/* line 46, ../scss/custom/_buttons.scss */
.map_home .gis_fullscreen_map-btn {
  font-weight: normal;
  font-size: 0.8rem;
  padding: 0.2rem;
}

/* Action buttons in datatables */
/* line 55, ../scss/custom/_buttons.scss */
.dataTable .action-btn,
.dataTable .selected-action {
  color: #ffffff;
}
/* line 59, ../scss/custom/_buttons.scss */
.dataTable .delete-btn,
.dataTable .delete-btn-ajax {
  color: #ffffff;
}
/* line 63, ../scss/custom/_buttons.scss */
.dataTable td.actions {
  white-space: nowrap;
}

/* line 68, ../scss/custom/_buttons.scss */
.action-btn.profile-add-btn {
  float: right;
  margin: 0.5rem 0.5rem;
}

/* Caret */
/* line 74, ../scss/custom/_buttons.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

/* Footer */
/* line 2, ../scss/custom/_footer.scss */
#footer {
  text-align: right;
  padding-top: 20px;
  border-top: #f0f0f0 1px solid;
  margin-top: 20px;
  margin-bottom: 1rem;
}
/* line 10, ../scss/custom/_footer.scss */
#footer button.btn {
  font-size: 0.6875rem;
  border: 0;
  line-height: 1;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  color: #ffffff;
  background: #dddddd;
}
/* line 17, ../scss/custom/_footer.scss */
#footer button.btn:hover {
  color: #ffffff;
  background: #a0a0a0;
}

/* line 22, ../scss/custom/_footer.scss */
#poweredby {
  margin-right: 0.5rem;
}
/* line 24, ../scss/custom/_footer.scss */
#poweredby a {
  color: #999999;
  text-decoration: none;
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

/* Top bar */
/* line 2, ../scss/custom/_menus.scss */
.top-bar {
  z-index: 1000;
}
/* line 4, ../scss/custom/_menus.scss */
.top-bar .menu-toggle input {
  margin-right: 5px;
}
/* line 7, ../scss/custom/_menus.scss */
.top-bar li.name {
  padding-top: 0.2rem;
}
/* line 10, ../scss/custom/_menus.scss */
.top-bar .home-link {
  font-size: 1.375rem;
  color: white;
  padding: 0.5rem;
}

/* line 16, ../scss/custom/_menus.scss */
.top-bar-section li.menu-home a {
  font-weight: bold !important;
  font-size: 1.4em !important;
  text-transform: capitalize !important;
}

/* Side Menu */
/* line 23, ../scss/custom/_menus.scss */
.sidebar {
  background: none repeat scroll 0 0 #F3F3F3;
  margin-top: 10px;
  padding-top: 0.25rem;
}

/* line 29, ../scss/custom/_menus.scss */
.side-nav li {
  line-height: 1.2;
  list-style-type: none;
  list-style-position: inside;
  /*  margin: 0;*/
  padding: 0;
}

/* line 36, ../scss/custom/_menus.scss */
.side-nav li.heading:not(:first-child) {
  border-top: 1px solid #EAEAEA;
}

/* line 39, ../scss/custom/_menus.scss */
.side-nav li.heading {
  margin-top: 0.125rem;
}

/* line 42, ../scss/custom/_menus.scss */
.side-nav li.active > a:first-child:not(.button) {
  font-weight: bold;
  color: #444444;
  background-color: #E0E0E0;
}

/* Personal Menu */
/* line 49, ../scss/custom/_menus.scss */
.personal-menu-area {
  text-align: right;
}

/* About Menu */
/* line 54, ../scss/custom/_menus.scss */
.about-menu {
  text-align: left;
}

/* line 57, ../scss/custom/_menus.scss */
#poweredby {
  text-align: right;
}

/* line 61, ../scss/custom/_menus.scss */
body.rtl .about-menu {
  text-align: right;
}
/* line 64, ../scss/custom/_menus.scss */
body.rtl #poweredby {
  text-align: left;
}

/* Datatables */
/* line 2, ../scss/custom/_tables.scss */
.dataTables_length {
  float: left !important;
}
/* line 4, ../scss/custom/_tables.scss */
.dataTables_length label {
  font-size: 0.75rem;
  white-space: nowrap;
  margin-right: 10em;
  margin-bottom: 0.3em;
}
/* line 10, ../scss/custom/_tables.scss */
.dataTables_length select {
  height: auto;
  padding: 2px;
  font-size: 0.75rem;
}

/* line 17, ../scss/custom/_tables.scss */
#table-container {
  margin-bottom: 1.5rem;
}

/* line 22, ../scss/custom/_tables.scss */
table.dataTable thead th, table.dataTable th, table.dataTable td {
  border: 1px solid #cccccc;
  padding: 0.2em 1.5em 0.2em 0.5em;
}
/* line 27, ../scss/custom/_tables.scss */
table.dataTable thead th, table.dataTable thead td {
  background-color: #ffffff;
}
/* line 32, ../scss/custom/_tables.scss */
table.dataTable tbody tr.even {
  background-color: #ffffff;
}
/* line 35, ../scss/custom/_tables.scss */
table.dataTable tbody tr.even td.sorting_1 {
  background-color: #fafafa;
}
/* line 39, ../scss/custom/_tables.scss */
table.dataTable tbody tr.odd {
  background-color: #f7f8f9;
}
/* line 41, ../scss/custom/_tables.scss */
table.dataTable tbody tr.odd td {
  border-color: #cccccc;
}
/* line 45, ../scss/custom/_tables.scss */
table.dataTable tbody tr.odd td.sorting_1 {
  background-color: #f0f1f2;
}
/* line 51, ../scss/custom/_tables.scss */
table.dataTable tfoot th, table.dataTable tfoot td {
  background-color: #f7f8f9;
  border-top: 2px solid #cccccc;
  padding: 0.5em;
}
/* line 58, ../scss/custom/_tables.scss */
table.dataTable .selected-action {
  margin: 5px 0 5px;
}
/* line 62, ../scss/custom/_tables.scss */
table.dataTable.dtr-inline.collapsed tbody td:first-child::before, table.dataTable.dtr-inline.collapsed tbody th:first-child::before {
  top: 6px;
  background-color: #006A71;
}
/* line 67, ../scss/custom/_tables.scss */
table.dataTable.dtr-inline.collapsed tbody tr.parent td:first-child::before, table.dataTable.dtr-inline.collapsed tbody tr.parent th:first-child::before {
  top: 6px;
  background-color: #D92C20;
}

/* line 73, ../scss/custom/_tables.scss */
#bulk_select_options input[type=checkbox] {
  margin-bottom: 0.2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

/* line 79, ../scss/custom/_tables.scss */
.dataTables_processing {
  padding: 14px 0 28px;
}

/* line 82, ../scss/custom/_tables.scss */
.dataTables_filter {
  text-align: left;
  font-size: 0.75rem;
  margin-right: 3rem;
}
/* line 86, ../scss/custom/_tables.scss */
.dataTables_filter input[type="search"] {
  margin-left: 0.2rem;
}

/* line 90, ../scss/custom/_tables.scss */
.dt-export-options {
  float: right;
}
/* line 92, ../scss/custom/_tables.scss */
.dt-export-options .list_formats {
  padding-top: 0;
  margin-left: 5px;
}
/* line 96, ../scss/custom/_tables.scss */
.dt-export-options .dt-export {
  margin: 0 0.085rem;
}

/* line 102, ../scss/custom/_tables.scss */
body.rtl .dt-export-options {
  float: left;
}
/* line 105, ../scss/custom/_tables.scss */
body.rtl .list_formats div {
  float: left;
}

/* Empty-sections */
/* line 111, ../scss/custom/_tables.scss */
.empty {
  font-style: italic;
  font-size: 0.8em;
}

/* jQuery UI widgets */
/* line 2, ../scss/custom/_widgets.scss */
.ui-widget-header {
  background: none;
  border: 1px solid #ADA6A0;
}
/* line 5, ../scss/custom/_widgets.scss */
.ui-widget-header a {
  color: #222222 !important;
  border-color: #C7C7C7;
  margin-bottom: 0px;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 0.7em;
}
/* line 14, ../scss/custom/_widgets.scss */
.ui-widget-header .ui-icon-check,
.ui-widget-header .ui-icon-closethick {
  background: none;
  height: 0px;
  width: 0px;
}

/* line 21, ../scss/custom/_widgets.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border-color: #ADA6A0;
}

/* line 26, ../scss/custom/_widgets.scss */
#list-btn-add {
  float: right;
  margin-right: 1.0rem;
}

/* line 31, ../scss/custom/_widgets.scss */
body.rtl #list-btn-add {
  float: left;
  margin-left: 1.0rem;
  margin-right: 0;
}

/* Summary tabs */
/* line 38, ../scss/custom/_widgets.scss */
.ui-tabs .ui-tabs-panel {
  padding: 0.5em;
}

/* line 41, ../scss/custom/_widgets.scss */
#summary-tabs {
  margin-top: 10px;
}
/* line 43, ../scss/custom/_widgets.scss */
#summary-tabs.ui-widget-content {
  background: none;
  border: none;
}

/* line 49, ../scss/custom/_widgets.scss */
#summary-tab-headers .ui-tabs-nav {
  border: none;
  margin: 0 10px;
}
/* line 53, ../scss/custom/_widgets.scss */
#summary-tab-headers a {
  border-color: #CCC;
}
/* line 56, ../scss/custom/_widgets.scss */
#summary-tab-headers .ui-tabs-active a {
  border-bottom: 1px solid white;
}
/* line 59, ../scss/custom/_widgets.scss */
#summary-tab-headers li {
  margin-right: 5px;
  box-shadow: none;
}

/* line 66, ../scss/custom/_widgets.scss */
#summary-sections .x-panel-body {
  border: none;
  border-radius: 4px;
}

/* Date picker */
/* line 73, ../scss/custom/_widgets.scss */
input.date.hasDatepicker {
  display: inline-block;
}

/* line 76, ../scss/custom/_widgets.scss */
.ui-datepicker-trigger {
  background-color: transparent;
  background-image: url("../../img/bootstrap/calendar.gif");
  margin-left: 10px;
}

/* line 81, ../scss/custom/_widgets.scss */
.ui-datepicker.ui-widget {
  z-index: 1000 !important;
}

/* Range filter widgets */
/* line 86, ../scss/custom/_widgets.scss */
.range-filter-label label {
  font-size: 1.0em;
}

/* line 90, ../scss/custom/_widgets.scss */
.range-filter-widget input.date-filter-input {
  width: auto;
  float: left;
  margin-right: 2px;
}

/* line 96, ../scss/custom/_widgets.scss */
.btn.date-clear-btn {
  font-size: 0.85em;
  padding: 0.325em;
  margin-top: 0.5em;
}

/* GroupedOptions widget */
/* line 103, ../scss/custom/_widgets.scss */
.s3-groupedopts-label {
  float: none;
  margin-bottom: 0.3rem;
}

/* line 107, ../scss/custom/_widgets.scss */
.s3-groupedopts-widget table {
  margin-left: 0;
  margin-bottom: 0.5rem;
}

/* ImageCropWidget */
/* line 113, ../scss/custom/_widgets.scss */
.imagecrop-btn {
  font-size: 1em;
  margin-left: 0.2em;
  padding: 0.3em;
}

/* pr_Contacts widgets */
/* line 120, ../scss/custom/_widgets.scss */
.pr-contacts-wrapper h3 {
  margin-top: 0.5rem;
  padding-bottom: 0 !important;
}

/* line 124, ../scss/custom/_widgets.scss */
.pr-contact-actions {
  margin-bottom: 0.5rem;
}

/* line 127, ../scss/custom/_widgets.scss */
.pr-contact,
.pr-emergency-contact {
  padding: 0.5rem;
}

/* line 131, ../scss/custom/_widgets.scss */
.pr-contact-priority,
.pr-contact-details {
  display: inline-block;
}

/* line 135, ../scss/custom/_widgets.scss */
.pr-contact-subtitle {
  font-size: 0.8rem;
  font-style: italic;
}

/* line 139, ../scss/custom/_widgets.scss */
.pr-contact-priority {
  border: thin solid #2ba6cb;
  border-radius: 2px;
  color: #2ba6cb;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0.25rem 1rem 0 0;
  padding: 0 0.25rem 0.125rem;
  vertical-align: top;
}
/* line 148, ../scss/custom/_widgets.scss */
.pr-contact-priority input[type=submit] {
  color: black;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

/* Data Lists (including profile) */
/* line 157, ../scss/custom/_widgets.scss */
.dl .dl-header {
  float: none;
  text-align: right;
}
/* line 161, ../scss/custom/_widgets.scss */
.dl .card_1_line {
  height: auto;
}
/* line 164, ../scss/custom/_widgets.scss */
.dl .empty_card-holder {
  text-align: center;
}
/* line 167, ../scss/custom/_widgets.scss */
.dl .dl-row {
  border: 0;
}
/* line 170, ../scss/custom/_widgets.scss */
.dl .dl-1-cols {
  width: 100%;
}

/* line 175, ../scss/custom/_widgets.scss */
.dl-item .dropdown .caret {
  margin-left: 0.2rem;
  margin-top: 0.4rem;
}
/* line 179, ../scss/custom/_widgets.scss */
.dl-item .attachments {
  margin-right: 0.2rem;
}

/* line 183, ../scss/custom/_widgets.scss */
h4.profile-sub-header {
  background-color: #EFEFEF;
  padding: 0.1rem 0.3rem;
  font-size: 1.2rem;
}

/* line 189, ../scss/custom/_widgets.scss */
.profile-widget .icon-fullscreen {
  float: right;
  position: relative;
  right: 9px;
  top: 10px;
}

/* line 196, ../scss/custom/_widgets.scss */
.profile .dl-header {
  display: none;
}

/* Comment feeds */
/* line 201, ../scss/custom/_widgets.scss */
.comment-box {
  background: none repeat scroll 0 0 #f5f5f5;
}

/* Iframe Map (Location Represent links) */
/* line 206, ../scss/custom/_widgets.scss */
#close-iframe-map {
  padding: 7px;
  margin-top: 5px;
}

/* Text representation */
/* line 212, ../scss/custom/_widgets.scss */
.text-body {
  white-space: pre-wrap;
}

/* line 215, ../scss/custom/_widgets.scss */
.s3-truncate-more,
.s3-truncate-less {
  font-style: italic;
}

/* line 219, ../scss/custom/_widgets.scss */
.s3-truncate-more:before,
.s3-truncate-less:before {
  font-style: italic;
  content: "...";
}

/* line 1, ../scss/custom/_misc.scss */
.org-logo {
  vertical-align: top;
  display: inline-block;
  padding: 0.4rem 0.5rem 0.3rem 0;
}

/* line 6, ../scss/custom/_misc.scss */
.system-title {
  display: inline-block;
}

/* line 9, ../scss/custom/_misc.scss */
.system-title h5 {
  color: #333333;
}

/* line 12, ../scss/custom/_misc.scss */
.system-title h6 {
  color: #999999;
}

/* line 15, ../scss/custom/_misc.scss */
.system-name {
  margin-bottom: 0;
}

/* line 18, ../scss/custom/_misc.scss */
.system-acronym {
  font-weight: bold;
}

/* line 21, ../scss/custom/_misc.scss */
.org-name {
  margin-bottom: 0.125rem;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

/* line 27, ../scss/custom/_misc.scss */
.personal-menu {
  float: right;
  clear: right;
  padding-top: 0;
  margin-bottom: 0.125rem;
}
/* line 32, ../scss/custom/_misc.scss */
.personal-menu li a {
  padding: 0 0.375rem;
}

/* line 36, ../scss/custom/_misc.scss */
.language-selector {
  float: right;
  display: block;
  margin-top: 0.625rem;
  margin-bottom: 0.125rem;
}

/* line 42, ../scss/custom/_misc.scss */
.sub-nav.about-menu {
  margin-left: 0;
  margin-right: 0;
}

/* line 46, ../scss/custom/_misc.scss */
#dashboard > li {
  display: inline-block;
}

/* line 49, ../scss/custom/_misc.scss */
.home-map,
.home-cms {
  margin: 1rem 0;
}

/* line 53, ../scss/custom/_misc.scss */
.home-map {
  border: 1px solid #999999;
}

/* line 56, ../scss/custom/_misc.scss */
.username {
  color: #666666;
  padding: 0.5rem 0;
  padding-right: 0.5rem;
  font-size: 0.7rem;
}
/* line 61, ../scss/custom/_misc.scss */
.username i.icon, .username i.fa {
  padding-left: 0.2rem;
  padding-right: 0;
}

/* line 66, ../scss/custom/_misc.scss */
.event-bottom .username {
  padding: 0;
}

/* line 69, ../scss/custom/_misc.scss */
.overdue {
  color: red;
}

/* line 72, ../scss/custom/_misc.scss */
.invalid-case {
  border: 1px solid red;
  color: red;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.9rem;
  margin-bottom: 0.25rem;
  padding: 0.1rem 0.2rem;
  text-transform: uppercase;
}

/* line 82, ../scss/custom/_misc.scss */
.checkpoint-advise {
  background: #fff0f0 none repeat scroll 0 0;
  border: 2px solid red;
  margin-bottom: 1rem;
  padding: 0.6rem;
}
/* line 87, ../scss/custom/_misc.scss */
.checkpoint-advise p {
  white-space: pre-wrap;
}

/* line 91, ../scss/custom/_misc.scss */
.checkpoint-person {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* line 95, ../scss/custom/_misc.scss */
.event-top {
  margin-top: 0.3rem !important;
}

/* line 98, ../scss/custom/_misc.scss */
.event-type-header {
  text-align: right;
}

/* line 101, ../scss/custom/_misc.scss */
.event-type-setting {
  color: #afafaf;
  font-size: 0.9rem;
  margin-left: 0.8rem;
  vertical-align: text-top;
}

/* line 107, ../scss/custom/_misc.scss */
.event-type-toggle {
  cursor: pointer;
}

/* line 110, ../scss/custom/_misc.scss */
.controls.has-flaginfo,
.controls.has-details {
  width: 100%;
}
/* line 113, ../scss/custom/_misc.scss */
.controls.has-flaginfo table,
.controls.has-details table {
  width: 100%;
  border: none;
}

/* line 118, ../scss/custom/_misc.scss */
.payment-amount {
  color: darkgreen;
  font-size: 1.2rem;
  font-weight: bold;
}

/* line 124, ../scss/custom/_misc.scss */
#payment-form #allowance_date__row,
#payment-form #allowance_comments__row {
  display: none;
}

/* line 129, ../scss/custom/_misc.scss */
.dashboard-action {
  margin-bottom: 1.0rem;
}

/* line 135, ../scss/custom/_misc.scss */
body.rtl .personal-menu {
  clear: left;
  float: left;
}
/* line 139, ../scss/custom/_misc.scss */
body.rtl .language-selector {
  float: left;
}
/* line 142, ../scss/custom/_misc.scss */
body.rtl .username {
  padding-left: 0.5rem;
  padding-right: 0;
  float: left;
}
/* line 145, ../scss/custom/_misc.scss */
body.rtl .username i.icon, body.rtl .username i.fa {
  padding-left: 0;
  padding-right: 0.2rem;
}
/* line 151, ../scss/custom/_misc.scss */
body.rtl .event-type-header {
  text-align: left;
}

/* line 157, ../scss/custom/_misc.scss */
.event-registration-blocked {
  background-color: #FFAAAA;
  color: black;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.6rem;
}

/* line 163, ../scss/custom/_misc.scss */
.check-in-warning {
  color: red;
  font-weight: bold;
  margin-left: 0.5rem;
}
/* line 167, ../scss/custom/_misc.scss */
.check-in-warning i {
  margin-right: 0.3rem;
}

/* line 171, ../scss/custom/_misc.scss */
.profile-picture {
  margin-top: 1rem;
}
/* line 173, ../scss/custom/_misc.scss */
.profile-picture .image-row {
  margin-bottom: 1rem;
}

/* line 179, ../scss/custom/_misc.scss */
#site_check_in_info__row .controls {
  width: 100%;
}

/* line 182, ../scss/custom/_misc.scss */
#site_check_in_status__row .controls {
  padding-top: 0.3rem;
  width: 100%;
}

/* line 187, ../scss/custom/_misc.scss */
#check-in-form .status-label {
  font-size: 0.9rem;
}
/* line 190, ../scss/custom/_misc.scss */
#check-in-form .status-message {
  font-size: 0.9rem;
  font-weight: bold;
}
/* line 194, ../scss/custom/_misc.scss */
#check-in-form .person-details {
  font-size: 1rem;
}

/* line 198, ../scss/custom/_misc.scss */
.clear-btn {
  cursor: pointer;
}
/* line 200, ../scss/custom/_misc.scss */
.clear-btn .fa {
  color: #B0B0B0;
}
