@charset "UTF-8";
/* BASE LAYOUT */

/* CONTENTS */
/* Page Layout */
/* Form Layout */
/* Table */
/* Search */
/* Report */
/* Footer */
/* Helper Classes */
/* Responsive */

/* ========================================================================= */
/* PAGE LAYOUT */
/* Width of page */
.swidth {
	width: 640px;
}

/* Column container */
.colmask {
    position: relative;  /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;         /* width of whole page */
    overflow: hidden;    /* This chops off any overhanging divs */
    z-index: 0;          /* This keeps drop down menus visible on maps */
    margin-top: 42px;
}

/* common column settings */
.col3left {
    float: left;
    width: 33%;
    position: relative;
}
.col3mid, .col3right {
    float: right;
    width: 33%;
    position: relative;
}
.col2left {
    float: left;
    width: 49%;
    position: relative;
}
.col2right {
    float: right;
    width: 49%;
    position: relative;
}
.col1, .col2, .col3 {
    float: left;
    position: relative;
    padding: 0 0 3px 0;
    overflow: hidden;
}

/* Full page settings */
.fullpage {
    background: #fff;    /* page background colour */
    padding-top: 1px;
    overflow: visible;
}
.fullpage .col1 {
    width: 99%;         /* page width minus left and right padding */
    left: 0.5%;         /* page left padding */
    min-width: 800px;
}

.aside {
    float:left;
    width:200px;
    /*margin-left: 100%;*/
}
.rightside {
    margin-left:200px;
}

/* Used to display the list-add with the list-add-btn */
#list-btn-add {
}

#list-add {
    display: none; /* Hide by default */
}

/* Display view */
div.item-container {
}

/* Embedded Map */
div#map {
}
/* Form Popup */
body.popup {
    min-width: auto;
    height: auto;
}
div#popup {
}

/* Resource Header */
div#rheader {
}
div#rheader th,
div#rheader td {
}
div#rheader th {
}

/* Tabs */
div.tabs {
}
div.tabs span {
}
span.tab_last,
span.tab_other {
}
div.tabs span a {
}
/* To overlap component border */
div.tabs span.tab_here {
}
form div.tabs span.tab_here {
}
div.tabs span.tab_here a {
}
span.tab_last a:hover,
span.tab_other a:hover {
}
span.tab_last:hover,
span.tab_other:hover {
}
span.tab_prev_active {
}
span.tab_next_active {
}
span.tab_prev_inactive {
}
span.tab_next_inactive {
}
span.tab_prev_active a,
span.tab_next_active a {
}
span.tab_prev_inactive a,
span.tab_next_inactive a {
}

/* Component */
div#component {
    float: left;
    width: 100%;
}

/* Resource Footer */
div#rfooter {
    padding: 15px 0;
    clear: both;
}

/* Last Update Meta-data */
div#last_update {
    float: right;
    clear: right;
}

.authorinfo {
}

/* Action Buttons */
.action-btn,
.delete-btn {
}
.action-btn:hover,
.delete-btn:hover {
}
#delete-btn {
    /* @ToDo Is this needed? */
}
#markDuplicate {
}
.cancel-btn {
}
.action-lnk {
}

.sublabels {
}

/* Grow Input */
.rfilter {
}

/* Comments */
#comments ul, ol {
    list-style: none outside none;
}
#comments div.comment-text ul {
}
#comments div.comment-text ol {
}
#comments div.comment-text li {
    padding: 0;
}
/* Over-ride Ext! */
#comments em {
}
#comments strong {
}
#comment-form {
}
.avatar {
    float: left;
}
.comment-box {
    display: block;
    overflow: hidden;
}
.comment-text {
    float: left;
}
.comment-header {
}
.comment-footer {
    clear: left;
}
.comment-date {
}

/* Popup text for represents of Long text fields */
.showall {
    display: none;
    position: absolute;
}

/* Drag and Drop */
div#template_sections {
}
div#template_sections li,
div#master_sections li {
    list-style: none;
}
.ui-droppable {
    padding-bottom: 25px;
}
li.ui-draggable:hover,
li.ui-draggable-dragging {
    cursor: pointer;
    list-style: none;
}

/* Ext button (e.g. on Bulk Upload form */
#show-dialog-btn {
}
/* ========================================================================= */
/* Form Layout */
form label {
    cursor: pointer;
}

form .w2p_fc {
    float: left;
}

p.legend {
}
p.legend em {
}
div.form-container {
}
div.form-container form {
}
div.form-container p {
}
div.form-container form p {
}
div.form-container form p.note {
}
div.form-container form input,
div.form-container form button,
div.form-container form select,
div.form-container form textarea {
}
div.form-container form input.string,
div.form-container form textarea  {
}
div#login_form form table,
div#register_form form table {
}
div#login_form input.string,
div#register_form input.string {
}
div.form-container form input[type="checkbox"],
div.form-container form input[type="radio"] {
}
div.form-container form fieldset {
}
div.form-container form legend {
}
div.form-container form td.w2p_fl,
div.item-container form td.w2p_fl {
}
div.form-container form tr td,
div.item-container form tr td {
}
div.form-container div.controlset label,
div.form-container div.controlset input {
}
div.form-container div.controlset div {
}
div.form-container div.buttonrow {
}

textarea.comments {
    height: 50px;
}
textarea.richtext {
    height: 100px;
}

/* Styling for Form Inline Components
table.embeddedComponent {
    border: 1px solid #B3B3B3;
    border-top: 0;
    border-right: 0;
} */
form table.embeddedComponent td {
    /*
    border: 1px solid #B3B3B3; */
    padding: 0 5px;
    border-bottom: 0;
    border-left: 0;
}
table.embeddedComponent tr.label-row td {
    text-align: center;
    color: #B3B3B3;
}
div.form-container form .embeddedComponent input.string,
div.form-container form .embeddedComponent  textarea  {
    width: auto;
}

.inline-throbber {
    background-image: url(../../img/indicator.gif);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.inline-add {
    background-image: url(../../img/crud/add.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 23px;
}
.inline-cnc {
    background-image: url(../../img/crud/cancel.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.inline-edt {
    background-image: url(../../img/crud/edit.png);
    background-repeat: no-repeat;
    height: 22px;
    width: 22px;
}
.inline-rdy {
    background-image: url(../../img/crud/apply.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.inline-rmv {
    background-image: url(../../img/crud/remove.png);
    background-repeat: no-repeat;
    height: 23px;
    width: 23px;
}

.s3_inline_add_resource_link a {
    margin-left: 2px;
    padding-left: 2px;
}

/* Subheadings */
td.subheading {
}
tr.after_subheading td {
}

select[disabled='disabled'],
input[disabled='disabled'] {
    /* Make the cursor not change to editable */
    cursor: default;
}

/* ========================================================================= */
/* WIDGET */
/* Default text for INPUT fields */
.default-text {
}

/* AutoCompletes */
.throbber {
    background-image: url(../../img/ajax-loader.gif);
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    margin-bottom: -16px;
    padding: 0 0 0 10px;
}
ul.ui-autocomplete {
}

/* Embed Widget */
tr.box_top {
}
tr.box_middle {
}
tr.box_bottom {
}

#filter_options table.s3-checkboxes-widget td,
#filter_options table.s3searchminmaxwidget td {
}

.checkboxes-widget-s3 input,
.s3-checkboxes-widget input {
    float: left;
}
.s3-checkboxes-widget-filter input {
}

.ui-datepicker-trigger {
}

.resizable-textarea .grippie {
    /*-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;*/
    background: url("img/grippie.png") no-repeat scroll center 2px #EEEEEE;
    border-color: #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 0 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

.widget-org-hierarchy-menu {
    overflow:auto;
}
.widget-org-hierarchy-menu .ui-menu {
    position:absolute;
    top:0;
    bottom:0;
    overflow:auto;
}
.widget-org-hierarchy-menu .ui-menu a {
}

.widget-org-hierarchy-crumbs {
}
.widget-org-hierarchy-crumbs li {
}
.widget-org-hierarchy-crumbs li:after {
    content: " > ";
}
.widget-org-hierarchy-crumbs li a {
}
.widget-org-hierarchy-crumbs li.selected a {
}

.form-container form button.ui-datepicker-trigger {
	background-image: url(../../img/jquery-ui/calendar.gif);
    background-repeat: no-repeat;
    height: 15px;
    width: 16px;
    margin-left: 3px;
    /* Make it not like a button */
    border: 0;
    padding: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* ========================================================================= */
/* TABLE */
div#table-container {

}
table.dataTable thead th {

}

div#table-container th {

}
div#table-container th.rtotal {
}
div#table-container tr.even td {

}
div#table-container tr.odd td {

}
div#table-container tr.odd td.rtotal,
div#table-container tr.even td.rtotal {
}
div#table-container tr.totals_row {
}
div#table-container td.totals_header {
}

.list_formats {
    float: right;
    padding-top: 5px;
}
.list_formats div {
    padding: 1px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    float: right;
    background-repeat: no-repeat;
}
.export_have {
    background-image: url(../../img/have_16.png);
}
.export_kml {
    background-image: url(../../img/kml_icon.png);
}
.export_map {
    background-image: url(../../img/map_icon.png);
}
.export_pdf {
    background-image: url(../../img/pdficon_small.gif);
}
.export_rss {
    background-image: url(../../img/RSS_16.png);
}
.export_xls {
    background-image: url(../../img/icon-xls.png);
}
.export_xml {
    background-image: url(../../img/icon-xml.png);
}

/* msg_list_empty */
.empty {
}

/* dataTables Styling */
div .dataTable_table {
    /* Scroll the table not the wrapper */
    overflow: auto;
    clear: both;
}
table.dataTable {
    width: 100%;
}
table.dataTable tr td {
    vertical-align: top;
}
table.dataTable.group {
}
table.dataTable tr.level_1{
}
table.dataTable tr.level_1 a{
}
table.dataTable tr.activeRow.level_1 {
}
table.dataTable tr.level_2{
}
table.dataTable tr.level_2 a{
}
table.dataTable tr.activeRow.level_2{
}

div.dataTables_filter {
    width: auto;
    float: left;
}
div.dataTables_processing {
....float: left;
}
div.dataTables_info  {
    width: auto;
    float: right;
    clear: none;
}
div.dataTables_length {
    float: right;
}
div.dataTables_paginate {
    float: left;
}
div.paging_full_numbers {
....width: auto;
}

.sorting_disabled {
    /* background: no-repeat scroll right center transparent; */
}
table.dataTable .row_selected td {
}

table.dataTable tr.dtalert .action-btn,
table.dataTable tr.dtalert .delete-btn {
}
table.dataTable tr.dtalert .action-btn:hover,
table.dataTable tr.dtalert .delete-btn:hover {
}
table.dataTable tr.dtdisable {
}
table.dataTable tr.even.row_selected td { 
}
table.dataTable tr.even.row_selected td.sorting_1 {
}
table.display tr.odd.row_selected td {
}
table.display tr.odd.row_selected td.sorting_1 {
}

table.dataTable tr.odd.dtalert {
}
table.dataTable tr.odd.dtalert td.sorting_1 {
}
table.dataTable tr.odd.dtalert td.sorting_2 {
}
table.dataTable tr.odd.dtalert td.sorting_3 {
}
table.dataTable tr.even.dtalert {
}
table.dataTable tr.even.dtalert td.sorting_1 {
}
table.dataTable tr.even.dtalert td.sorting_2 {
}
table.dataTable tr.even.dtalert td.sorting_3 {
}

table.dataTable tr.odd.dtwarning {
}
table.dataTable tr.odd.dtwarning td.sorting_1 {
}
table.dataTable tr.odd.dtwarning td.sorting_2 {
}
table.dataTable tr.odd.dtwarning td.sorting_3 {
}
table.dataTable tr.even.dtwarning {
}
table.dataTable tr.even.dtwarning td.sorting_1 {
}
table.dataTable tr.even.dtwarning td.sorting_2 {
}
table.dataTable tr.even.dtwarning td.sorting_3 {
}
table.dataTable tr.dtwarning .action-btn,
table.dataTable tr.dtwarning .delete-btn{
}
table.dataTable tr.dtwarning .action-btn:hover,
table.dataTable tr.dtwarning .delete-btn:hover {
}

span.dataTable-btn {
}
span.dataTable-btn:hover {
}

table.importItem {
}
/* ========================================================================= */
/* SEARCH */

.search_select_letter_label,
.s3-grouped-checkboxes-widget-label {

}
.search_select_letter_label.expanded,
.s3-grouped-checkboxes-widget-label.expanded {
    /* @ToDo: re-use   existing style*/
}

.search_select_letter_widget,
.s3-grouped-checkboxes-widget .s3-checkboxes-widget {
}

div.form-container form fieldset .search_select_letter_widget label,
div.form-container form fieldset  .s3-checkboxes-widget label {
}

/* when S3SearchOptionsWidget has nothing to show */
.no-options-available {
}

.search_form td,
#filter_options td {
}
.search_form tr:first-child > td,
#filter_options tr:first-child > td {
}
.search_form table.s3-checkboxes-widget td,
.search_form table.s3searchminmaxwidget td {
    }

/* ========================================================================= */
/* REPORT */

.chart-icon {
    cursor: default;
}
.chart-icon:hover {
    cursor: pointer;
}
.legend tr td {
    padding-bottom: 4px;
}
.legendLabel {
    padding-left: 4px;
    padding-right: 6px;
}
.reportTooltipLabel {
    font-size: 12px;
    font-weight: bold;
}
.reportTooltipValue {
    font-size: 11px;
}
#chart-header {
    color: #999;
}
#chart-header h4 {
    font-size: 15px;
    font-weight: bold;
    border: 0;
}
.chart-contents {
    background-color: #FFFDF6;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #999;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pivot-table-toggle, .hide-chart {
    font-size: 10px;
    cursor: pointer;
    color: #003399;
    text-decoration: underline;
    margin-bottom: 3px;
}

table.report a.report-cell-zoom {
    width: 16px;
    height: 16px;
    float: right;
    background: url(../../img/silk/magnifier_zoom_in.png) no-repeat top right;
    cursor: pointer;
}
table.report a.report-cell-zoom.opened {
}
table.report td {
}

/* ========================================================================= */
/* FOOTER */

#footer {

}
#socialmedia_share {

}
.socialmedia_element {

}
#poweredby {
    float: right;
}
#poweredby a {

}
/* Twitter bugfix */
#twttrHubFrame {
}

/* ========================================================================= */
/* HELPER CLASSES */

/* Expand section button */
.plus {
    /* @ToDo Alternative +/- text */
}
.minus {
    /* @ToDo Alternative +/- text */
}
.expand {
    /* @ToDo Alternative +/- text  - combine with plus?*/
}
.expanded {
}

/* Required Field indicator */
.req {
}

/* For Key - ugly! */
.red {
    color: red;
}

/* for image replacement */
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hide {
    display: none;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

.mini {
    font-size: 80%;
}
.wide {
    width: 100%;
}

/* CSS floats */
.fleft {
    float: left !important;
}
.fright {
    float: right !important;
}

.tacenter {
    text-align: center !important;
}
.taleft {
    text-align: left !important;
}
.taright {
    text-align: right !important;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.cf:before,
.cf:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}
.cf:after {
    clear: both;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.cf {
    zoom: 1;
}

/* Hides from IE-mac */
* html .cf {
    height: 1%;
}

/* ========================================================================= */
/* RESPONSIVE */
/* Help Popup */
.tooltip,
.tooltipbody,
.stickytip,
.ajaxtip {
    /* @ToDo: Add help/alt text */
    background-image: url(../../img/help_off.gif);
}
.tooltip span,
.tooltipbody span,
.stickytip span,
.ajaxtip span {
    /* display:none; */
}
.tooltip:hover,
.tooltipbody:hover,
.stickytip:hover,
.ajaxtip:hover {
    background-image: url(../../img/help_on.gif);
}

/* Message Flash styles */
.confirmation,
.error,
.information,
.warning {
    clear: left; /* Added to avoid merging with breadcrumbs */
}