@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */
#menu_modules {
    position: absolute;
    width: 100%;

}
#modulenav {
    position: relative;
}
#modulenav,
#modulenav li,
#modulenav ul {
    list-style: none;
}

#modulenav a:hover {
}

#modulenav li {
    float: left;
    position: relative;
}
#modulenav li li a {
    display: block;
}
#modulenav li li a:hover {
}

.submenu {
    z-index: 9999;
}

/* Menu Buttons */
#modulenav li div {
}
#modulenav li div a{
    display: inline-block;
}
#modulenav li div.hovered,
#modulenav li div:hover {
}

/* Menu Popups */
#modulenav li ul {
    display: none;
    position: absolute;
}
#modulenav li>ul {
    top: auto;
    left: auto;
}
#modulenav li li {
/*     display: inline-block; */
    display: block;
    float: none;
}
#modulenav li:hover ul {
    display: block;
}
#modulenav li.over ul {
    display: block;
}

/* Side Menu (S3OptionsMenu) */
#menu_options {
    overflow: auto;
}

#subnav li, #subnav ul li {
    list-style: none;
    clear: both;
}
#subnav div a {
    display: block;
}
#subnav ul li {
}

#subnav ul li a{
}
#subnav div a{
    text-decoration: none;
}
#subnav div a:hover{
}

.menu_separator hr {
}
