@charset "UTF-8";
/* CSS 


/*****************************************************************************/
/* SUVERY MODULE */
/* Layout of the survey questionnaire form */
tr.survey_section th {
    color: #003399;
    font-size: 150%;
    text-align: center;
}

tr.survey_question th {
    color: #112038;
    font-size: 90%;
    font-weight: bold;
    vertical-align: top;
}

div.survey_map-legend td {
    vertical-align: top;
}

div.survey_scrollable {
    width:900px;
    overflow:scroll;
}
/* ========================================================================= */
/* REQUEST MODULE */
.req_status_none {
    color: red;
}
.req_status_partial {
    color: darkorange;
}
.req_status_complete {
    color: green;
}
/* ========================================================================= */
/* TRANSLATION MODULE */
table.translation_module_table {
    width: 55%;
}
/* ========================================================================= */
/* PROJECT MODULE */
textarea#project_task_description {
    height: 200px;
}

/* Project Task Time Inline Form */
select#sub_defaulttime_defaulttime_person_id_edit_none {
    width: 150px;
}
input#sub_defaulttime_defaulttime_hours_edit_none {
    width: 60px;
}
/* ========================================================================= */
/* HUMAN RESOURCES MODULE */
.hrm_avatar {
    float: left;
    clear: right;
}
/* ========================================================================= */
/* PERSON REGISTRY MODULE */
/* Contacts */
.contacts-wrapper {
}

.contacts-wrapper p {
}
.contacts-wrapper div.margin {
}

.contacts-wrapper .contact.saving .editBtn,
.contacts-wrapper .contact.edit .editBtn {
    display: none;
}
/* ========================================================================= */
/* GIS MODULE */
/* Except here */
ul.x-tab-strip,
ul.x-tree-node-ct,
ul.x-tree-root-ct {
    list-style: none outside none;
}

