@charset "UTF-8";

/*** General ***/
html {
    font-size: 100.01%;
}
body {
/* 
    color: #000;
    background: #fff;
    font-size: 75%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
*/
}

/* Over-ride Ext 
ol, ul {
    list-style: disc inside none;
} */



/*** Typography ***/
#content {
}
#content h1,
#content h2 {
}
#content h2:first-child {
}
#content h3 {
}
#content h4 {
}

/* Home used for main & module home pages, about, etc */
/*#home {
    border: 10px #fff solid;
}*/
#home h2 {
}
#home p {
}
#home li {
}

/* Links should ALWAYS be unvisited */
a {
    color: #039;
    text-decoration: underline;
    outline: 0;
}
a:hover {
    outline: 0;
}
a:active,
a:focus {
    outline: 0;
}

a.help, a:link.help {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
a:hover.help {
    background-color: #336699;
    text-decoration: underline;
}
a:visited.help {
    font-weight: normal;
    color: #666;
}

p {
    padding: 5px;
    margin: 0;
}
/*** Overrides to widgets.css ***/
/* Form Layout Styles */

/* Input fields should give visual feedback when focussed */
input:focus,
select:focus,
textarea:focus {
}

div.form-container form input:focus,
div.form-container form select:focus,
div.form-container form input.errorfield:focus,
div.form-container form textarea:focus {
}
div.form-container form td.w2p_fl label,
div.item-container form td.w2p_fl label {
    width: auto;
}
/* Big Buttons (e.g. RMS) */
div.question-container {
}
