{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<div style='margin:20px auto; width:96%; max-width:1000px;'>
    <div style='width:65%; float:left;'>
        {{=H4(T("DVI Navigator"))}}
        {{=H5(T("You have found a dead body?"))}}
        <ul>
            <li>{{=A(T("Submit a request for recovery"), _href=URL(c="dvi", f="recreq", args="create"))}}</li>
        </ul>
        {{=H5(T("You are a recovery team?"))}}
        <ul>
            <li>{{=A(T("See unassigned recovery requests"), _href=URL(c="dvi", f="recreq", vars={"recreq.status":"1"}))}}</li>
            <li>{{=A(T("Get incoming recovery requests as RSS feed"), _href=URL(c="dvi", f="recreq.rss", vars={"recreq.status":"1"}))}}</li>
        </ul>
    </div>
</div>
</div><!-- home -->
