{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Help")}}</h2>
<br>
<h3>{{=T("EUROSHA Project Support")}}</h3>
<ul>
    <li><b>{{=T("Email")}}</b>: EUROSHA at SahanaFondation dot org</li>
	<li><a href="http://sahanafoundation.org/eurosha-support-request" target="_blank">{{=T("EUROSHA Support Request Web Form")}}</a></li>
	<li><b>{{=T("Documentation")}}</b>: <a href="http://eden.sahanafoundation.org/wiki/UserGuidelinesEUROSHA" target="_blank">{{=T("EUROSHA Site User Guidelines")}}</a></li>
    <li><b>{{=T("Report a Bug")}}:</b><a href='http://eden.sahanafoundation.org/newticket' target='_blank'> {{=T("Log a new Ticket")}}</a></li>
	<li><a href='http://eden.sahanafoundation.org/wiki/BugReportingGuidelines' target='_blank'>{{=T("See our Bug Reporting Guidelines")}}</a></li>
<ol>
	    <li>{{=T("Include as keyword EUROSHA")}}</li>
		<li>{{=T("Attach screenshots")}}</li>
		<li>{{=T("Specify URL, operating system, browser")}}</li>
</ol>
</ul>
<h3>{{=T("Sahana Community Support")}}</h3>
<ul>
    <li><a href="http://groups.google.com/forum/#!forum/sahana-eden" target="_blank">{{=T("Sahana Eden Google Group")}}</a></li>
	<li><a href="http://webchat.freenode.net/?channels=sahana-eden" target="_blank">{{=T("Live community support via IRC Chat")}}</a></li>
	<li><a href='http://eden.sahanafoundation.org/wiki/UserGuidelines' target='_blank'>{{=T("Sahana Eden User & Administration Guide")}}</a></li>
</ul>
</div>