{{extend "layout.html"}}
<div id='home'>
{{try:}}
<h2 align='center'>{{=title}}</h2>
{{except:}}{{pass}}
<div id='menu_box_center'>
{{try:}}
{{=sit_dec_res_box}}
{{except:}}{{pass}}
{{=facility_box}}
{{if AUTHENTICATED not in session.s3.roles:}}
	<div id='login_box' class='menu_box'>
	    {{if not self_registration or registered:}}
	        <div id='login_form'>
	            {{=login_div}}
	            {{include "auth/_login.html"}}
	        </div>
	    {{pass}}
	    {{if self_registration:}}
	        <div id='register_form' {{if registered:}}class='hide'{{pass}}>
	            {{=register_div}}
	            {{include "auth/_register.html"}}
	        </div>
	    {{pass}}
	    {{if self_registration and not registered:}}
	      <div id='login_form' class='hide'>
	        {{=login_div}}
	        {{include "auth/_login.html"}}
	      </div>
	    {{pass}}
	</div>
{{pass}}
{{=manage_facility_box}}
</div>
</div>
<div id='about'>
 <p>
  RGIMS aims to provide a reliable and accurate inventory control of the UNWFP and DSWD logistics management systems of tracking, monitoring and reporting of relief goods intake, warehousing and outflow of donations.<br/>
  </br>For more details on the RGIMS system please contact DSWD-NROC Office. 
 </p>
</div>