{{extend "layout.html"}}{{theme=response.s3.theme}}
<div class="row home-intro">
 <h1 class="intro-hed"><span class="highlight">Sahana strengthens</span><br><span class="highlight">disaster resilience</span></h1>
 <h4 class="intro-dek"><span class="highlight">Visualize your risks and resources,</span><br><span class="highlight">infrastructure and activities</span></h4>
 <a class="button large alert" href="/{{=appname}}/gis/index">Make a map</a>
</div>
<div class="row home-levers">
 <div class="large-12 columns">
  <a class="button secondary small right" href="/{{=appname}}/cms/post/create">Share your story</a>
  <h2 class="row-title">Build your community&rsquo;s resilience</h2>
  <div class="row">
   <div class="large-3 medium-6 columns">
    <a href="/{{=appname}}/cms/blog?~.series_id$name=Education"><strong><span class="number">1</span>Education</strong><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/resilience-education.jpg" alt="Disaster Resilience Education" width="260" height="150" /><figcaption>&ldquo;Our community billboard gets over 30 postings per week!&rdquo;</figcaption></a>
   </div>        
   <div class="large-3 medium-6 columns">
    <a href="/{{=appname}}/cms/blog?~.series_id$name=Partnerships"><strong><span class="number">2</span>Partnerships</strong><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/resilience-partnerships.jpg" alt="Disaster Resilience Partnerships" width="260" height="150" /><figcaption>&ldquo;Our schools, clinics, ports, and shops have all gotten to know each other.&rdquo;</figcaption></a>
   </div>
   <div class="large-3 medium-6 columns">
    <a href="/{{=appname}}/cms/blog?~.series_id$name=Engagement"><strong><span class="number">3</span>Engagement</strong><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/resilience-engagement.jpg" alt="Disaster Resilience Engagement" width="260" height="150" /><figcaption>&ldquo;We&rsquo;ve identified the people in our community who need special help.&rdquo;</figcaption></a>
   </div>        
   <div class="large-3 medium-6 columns">
    <a href="/{{=appname}}/cms/blog?~.series_id$name=Self-sufficiency"><strong><span class="number">4</span>Self-sufficiency</strong><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/resilience-self-sufficiency.jpg" alt="Disaster Resilience Self-sufficiency" width="260" height="150" /><figcaption>&ldquo;We&rsquo;re holding monthly first aid trainings and CERT workshops.&rdquo;</figcaption></a>
   </div>        
  </div>
 </div>
</div>
<div class="row home-actions">
 <div class="medium-12 large-7 columns home-steps">
  <h2 class="row-title"><img class="steps-check" src="/{{=appname}}/static/themes/{{=theme}}/img/home/steps-check.png" alt="steps-check" width="54" height="46">Get it done</h2>
  <h5 class="diagram">
   <progress class="bar" id="progress-bar" min="1" max="100" value="0"></progress>
   <a class="first" href="/{{=appname}}/gis/index"><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/step-risks.png" alt="See your risks" width="100" height="100" /><i class="dot"></i>See your<br> risks</a>
   <a class="second" href="/{{=appname}}/org/organisation/summary"><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/step-community.png" alt="Know your community" width="100" height="100" /><i class="dot"></i>Know your<br>community</a>
   <a class="third" href="/{{=appname}}/org/organisation/summary"><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/step-partners.png" alt="Find new partners" width="100" height="100" /><i class="dot"></i>Find new<br>partners</a>
   <a class="fourth" href="/{{=appname}}/eden/gis/config?~.pe_id={{=auth.user and auth.user.pe_id}}"><img src="/{{=appname}}/static/themes/{{=theme}}/img/home/step-maps.png" alt="Share your maps" width="100" height="100" /><i class="dot"></i>Share your<br>maps</a>
  </h5>
 </div>     
 <div class="medium-12 large-4 large-offset-1 columns home-activities">
  <h6>Latest Activities</h6>
  <ul class="lined ellipsis">
   <li><a href="details.html">Coalition Meeting <small class="location">Culver City, <time datetime="2014-10-27 19:00">Fri Oct 27</time></small></a></li>
   <li><a href="details.html">Free Music Festival <small class="location">Huntington Park, <time datetime="2014-10-28 19:00">Sat Oct 28</time></small></a></li>
   <li><a href="details.html">CERT Training &amp; Certification <small class="location">Watts, <time datetime="2014-10-29 19:00">Sun Oct 29</time></small></a></li>
  </ul>        
  <a class="button tiny" href="/{{=appname}}/project/activity/summary">See all 154</a>
  <a class="button tiny secondary" href="/{{=appname}}/project/activity/create">Add activity</a>
 </div>
</div>