<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{=T.accepted_language or "en"}}">
<head>{{theme=response.s3.theme}}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{{# Always force latest IE rendering engine (even in intranet) & Chrome Frame }}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{{try:}}{{="%s | %s" % (title, settings.get_system_name())}}{{except:}}{{=response.title or settings.get_system_name()}}{{pass}}</title>
{{if response.refresh:}}{{=XML(response.refresh)}}{{pass}}
{{# http://dev.w3.org/html5/markup/meta.name.html }}
<meta name="application-name" content="{{=appname}}" />
{{# Set your site up with Google: http://google.com/webmasters }}
{{# <meta name="google-site-verification" content="" /> }}
{{a="""<!--  Mobile Viewport Fix
 j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
 device-width: Occupy full width of the screen in its current orientation
 initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
 maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
--> """}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
{{# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references }}
<link rel="shortcut icon" href="/{{=appname}}/static/favicon.ico" type="image/x-icon" />
{{# <link rel="apple-touch-icon" href="/=appname/static/favicon.png" /> }}
{{# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects }}
<script src="/{{=appname}}/static/scripts/modernizr.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
{{for sheet in s3.external_stylesheets:}}
 <link href="{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
{{for sheet in s3.stylesheets:}}
 <link href="/{{=appname}}/static/styles/{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
{{if s3.debug:}}{{=s3base.s3_include_debug_css()}}{{else:}}
 {{# Built by /static/scripts/tools/build.sahana.py }}
 <link href="/{{=appname}}/static/themes/{{=theme}}/eden.min.css" rel="stylesheet" type="text/css" />
{{pass}}
{{include "scripts_top.html"}}
</head>
{{try:}}
 {{if r.representation == "popup":}}{{representation = "popup"}}
 {{elif r.representation == "iframe":}}{{representation = "iframe"}}
 {{else:}}{{representation = ""}}{{pass}}
{{except:}}{{representation = ""}}{{pass}}
{{if representation == "popup":}}
 <body class='popup'>
 {{if response.flash or response.confirmation:}}{{include "layout_popup.html"}}
 {{else:}}{{include}}{{pass}}
 {{if s3.debug:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.js"]))}}
 {{else:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.min.js"]))}}{{pass}}
{{elif representation == "iframe":}}
 {{include "layout_iframe.html"}}
 {{include}}
{{else:}}
<body>
 {{=current.menu.main}}
 <div class='row alert-space'>
  <div class='medium-8 medium-centered columns' id='alert-space'>
   {{if response.error:}}<div class='alert alert-error'>{{=response.error}}</div>{{pass}}
   {{if response.warning:}}<div class='alert alert-warning'>{{=response.warning}}</div>{{pass}}
   {{if response.information:}}<div class='alert alert-info'>{{=response.information}}</div>{{pass}}
   {{if response.confirmation:}}<div class='alert alert-success'>{{=response.confirmation}}</div>{{pass}}
   {{if response.flash:}}<div class='alert alert-success'>{{=response.flash}}</div>{{pass}}
  </div>
 </div>
 {{if request.controller in ("default", "cms", "gis") and request.function in ("index", "post", "config"):}}
  {{include}}
 {{else:}}
 <div class='row'>
  {{include}}
 </div>
 {{pass}}
 {{include "../private/templates/%s/views/footer.html" % response.s3.theme}}
{{pass}}
{{include "scripts.html"}}
{{include "foundation.js.html"}}
</body>
</html>
