@charset "UTF-8";

/* Over-ride Ext */
div#map_wrapper ol, ul {
    list-style: disc inside none;
}
div#gis-map-window ol, ul {
    list-style: disc inside none;
}

div#map_wrapper td {
    padding: 0;
}
div#gis-map-window td {
    padding: 0;
}
div#map_wrapper span a {
    /* For Catalogue Tabs */
    color: #fff;
}
div#map_wrapper  td:first-child {
    background: none repeat scroll 0 0 transparent;
}
div#gis-map-window  td:first-child {
    background: none repeat scroll 0 0 transparent;
}

#map_panel table td {
    border: 0;
}
#gis-map-window table td {
    border: 0;
}
#legend table td {
    border: 0;
    text-align: center;
}

table.x-toolbar-ct {
    margin-bottom: 0;
}
td.x-toolbar-left table {
    margin-bottom: 0;
}

