@charset "UTF-8";

.map_home {
    margin: 10px 0 0 -16px;
}

/* Over-ride Ext */
.map_wrapper ol, ul {
    list-style: disc inside none;
}
.map_wrapper span a {
    /* For Catalogue Tabs */
    color: #fff;
}
.map_wrapper td {
    padding: 0;
}
.map_wrapper  td:first-child {
    background: none repeat scroll 0 0 transparent;
}

.gis-map-window ol, ul {
    list-style: disc inside none;
}
.gis-map-window table td {
    border: 0;
}
.gis-map-window td {
    padding: 0;
}
.gis-map-window  td:first-child {
    background: none repeat scroll 0 0 transparent;
}

/* ID => 1 map/page but alternatives ugly - see s3.gis.js */
#map_panel table td {
    border: 0;
}

table.x-toolbar-ct {
    margin-bottom: 0;
}
td.x-toolbar-left table {
    margin-bottom: 0;
}

