@charset "UTF-8";

.map_home {
    /* With side menu
    margin: 10px -15px 0 -16px; */
    margin: 0 0 0 -16px;
    clear: both;
}
.map_wrapper {
    clear: both;
}

/* Over-ride default settings which work with Foundation */
.olPopupCloseBox {
    margin-right: 0;
    margin-top: 0;
}

/* Over-ride Ext */
.map_wrapper ol, ul {
    list-style: disc inside none;
}
.map_wrapper span a {
    /* For Catalogue Tabs */
    color: #fff;
}
.map_wrapper table td {
    border: 0;
}
.map_wrapper td {
    padding: 0;
}
.map_wrapper  td:first-child {
    background: none repeat scroll 0 0 transparent;
}

.gis-map-window ol, ul {
    list-style: disc inside none;
}
.gis-map-window table td {
    border: 0;
}
.gis-map-window td {
    padding: 0;
}
.gis-map-window  td:first-child {
    background: none repeat scroll 0 0 transparent;
}

table.x-toolbar-ct {
    margin-bottom: 0;
}
td.x-toolbar-left table {
    margin-bottom: 0;
}

