@charset "UTF-8";

/* Datatable action buttons: replace text with icons */
table.dataTable .action-btn.edit,
table.dataTable .action-btn.read,
table.dataTable .action-btn.send,
table.dataTable .action-btn.copy_all,
table.dataTable .action-btn.dispatch,
table.dataTable .delete-btn,
table.dataTable .dt-ajax-delete {
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  margin: 0;
  padding: 0;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}
table.dataTable .action-btn.edit:before,
table.dataTable .action-btn.read:before,
table.dataTable .action-btn.send:before,
table.dataTable .action-btn.copy_all:before,
table.dataTable .action-btn.dispatch:before,
table.dataTable .delete-btn:before,
table.dataTable .dt-ajax-delete:before {
  font-size: 16px;
  color: black;
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

table.dataTable .delete-btn:before,
table.dataTable .dt-ajax-delete:before {
  content: "\f014";
/*     content: url(img/trashbin.png); */
}
table.dataTable .action-btn.edit:before,
table.dataTable .action-btn.read:before {
  content: "\f040";
/*     content: url(img/pencil.png); */
}
table.dataTable .action-btn.send:before {
  content: "\f003";
/*     content: url(img/envelope.png); */
}
table.dataTable .action-btn.copy_all:before {
  content: "\f0c6";
/*     content: url(img/paperclip.png); */
}
table.dataTable .action-btn.dispatch:before {
  content: "\f0d1";
/*     content: url(img/truck.png); */
}
table.dataTable .action-btn.link {
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}
table.dataTable .action-btn.link:before {
    /* icon-link */
    content: "\f0c1";
    speak: none;
}
