@charset "UTF-8";

/*** General ***/
html {
    font-size: 100.01%;
}
body {
    color: #000;
    background: #63594d;
    font-size: 75%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {font-weight:bold;color:#111;}
h1 {font-size:2em;color:#000;}
h2 {font-size:1.5em;margin-bottom:0.75em;color:#000;line-height:1.1em;text-transform:uppercase;}
h3 {font-size:1.3em;line-height:1;margin-bottom:0.5em;color:#891735;}
h4 {font-size:1.1em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#0065A6;text-decoration:none;}
p a{color:#eb033b;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:0em;}

/*** Typography ***/

#content.left > h2{margin-bottom:20px;font-size:2.5em;font-weight:normal;text-transform:capitalize;}
#content.left a {color:#891735;}
#content.left a:hover{color:#dc032e;}


/*** Tables ***/
/*table {
    margin-bottom: 1.4em;
    /*display: block;*/
    /*overflow: auto;
}*/
th {
    font-weight: bold;
}
thead th {
    background: #c3d9ff;
}
th, td, caption {
    padding: 4px 10px 4px 5px;
}
tfoot {
    font-style: italic;
}
caption {
    background:#eee;
}

table td,table th {
    border-right: 1px #9C9C9C dashed;
    border-bottom: 2px #fff solid;
    line-height:1.25em;
}
table th, table th label{vertical-align:bottom;padding-top:20px;color:#590f12;font-weight:bold;}
table td {
    padding: 10px;
    vertical-align: top;
}
table td:first-child{background:#fff;}
table tr td:last-child, table tr th:last-child{border-right:0px #9C9C9C dashed;}
table tr.odd td{background:#f1e8cb;}
table tr.even td{background:#fff;}
table tr td.white-cell,table tr th.white-cell{background:#fff;border-right:0px #9C9C9C dashed;}
table tr th.edit-delete-col{width:50px;background:url(img/edit_delete.png) no-repeat bottom; text-indent:-99999px;}
/*table td .date{font-weight:bold;}*/
table td input[type="text"],
table td select,
table td textarea {
    background: #fff;
/*    font-size: 0.9em;*/
    border: 1px solid #ccc;
}
.edit-button{float:left;margin-right:5px;display:block;background:url(img/table_controls.png) 0 0;width:20px;height:30px;text-indent:-99999px;}
.delete-button{float:left;display:block;background:url(img/table_controls.png) -22px 0;width:20px;height:30px;text-indent:-99999px;}
.table-bar{overflow:hidden;margin-top:20px;border-bottom:1px solid #9c9c9c;}
.table-bar p{margin-bottom:0;}
.table-bar select{margin:0 10px;}

/*** Buttons ***/

.red-button {
    background: url(img/button_plus_end.png) no-repeat scroll top right;
    float: left;
    display: block;
    height: 36px;
    margin: 0 24px 25px 0;
    padding-right: 30px;
    text-decoration: none;
}
.red-button span {
    background: url(img/button_red_start.png) no-repeat;
    display: block;
    line-height: 36px;
    padding: 2px 15px 5px 18px;
    font-size: 1.25em;
    font-weight: bold;
    color: #fff;
}
.add-btn {
    background: url("img/button_plus_end.png") no-repeat scroll right top transparent;
    display: block;
    float: left;
    height: 36px;
    margin: 0 24px 25px 0;
    padding-right: 30px;
    text-decoration: none;
}
.add-btn span {
    background: url("img/button_red_start.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 36px;
    padding: 2px 15px 5px 18px;
    cursor: pointer;
}

/*** Pagination ***/

.pagination{}
.pagination > div,.pagination > ul,.pagination li{float:left;}
.pagination ul{list-style:none; margin:0 10px 20px 5px;padding:0px;}
.pagination li{border-left:1px #590f12 solid;padding:0 5px;}
.pagination li:first-child{border-left:0px #ccc solid;}
.pagination li a{padding:3px;}
.pagination div a{display:block; width:19px; height:18px; margin-right:5px;background-image:url(img/pagination-control.png);background-repeat:no-repeat;text-indent:-99999px;}
#content.left .pagination .highlight{font-weight:bold; color:#dc032e;}
.pagination .first-button{}
.pagination .prev-button{background-position:-20px 0;}
.pagination .next-button{background-position:-40px 0;}
.pagination .last-button{background-position:-60px 0;}

/*** Footer ***/
#footer .footer-nav{
    float: left;
    /*border-left: 1px solid #9c9c9c;*/
    height: 20px;
    margin: 0 0 0 15px;
    padding: 15px;
    font-size: 0.9em;
}
#footer .footer-nav li{float:left;padding:0px 5px;list-style:none;border-left:1px #000 solid;}
#footer .footer-nav li a{color:#000;}
#footer .footer-nav li a:hover {color:#891735;}
#footer .footer-nav li:first-child{border-left:0px #000 solid;}

/*** Form Elements ***/
/*label {font-weight:normal;}*/
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
/*input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0;height:19px;border:1px solid #ccc;font-size:1em;padding:0 5px;color:#000;}*/
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input[type=checkbox]:focus, input.text:focus, input.title:focus, textarea:focus,select:focus {border-color:#666;}
select {border-width:0px;border-style:solid;}
input[type=submit],input[type=reset]{cursor:pointer;}

input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}

.submit-search{display:block;width:22px; height:21px;background:url(img/search_but.png) no-repeat;text-indent:-99999px;}

hr {border-width:0px;border-bottom:1px #ccc dashed;color:#b5b5b5;clear:both;float:none;height:1px;margin:10px 0}
hr.space {background:#fff;color:#fff;visibility:hidden;}

ol, ul {
    padding-left: 1em;
}

/*** From Sahana's style.css ***/

/* Form Layout Styles */
form table td,
form table td:first-child {
	border-style: none;
	background-color: transparent;
}

/* Form Layout styles */
div.form-container form fieldset div.brake {
    padding: 0.3em;
}
/* Bad for Filter type in Report Search
div.form-container form fieldset label {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    width: 15em;
    display: block;
    float: left;
    text-align: right;
    min-height: 1em;
    top: 0.25em;
}
*/

div.form-container form fieldset label.errorfield,
div.form-container form fieldset span.errorfield {
    color: #c00;
}
div.form-container form fieldset label.value{
    display: block;
    text-align: left;
    width: auto;
}
div.form-container form fieldset input.errorfield {
    border-color: #c00;
    background-color: #fef;
}

/*** Overrides to widgets.css ***/
/* Screen width */
/* Tooltips */
.tooltip,
.tooltipbody,
.stickytip,
.ajaxtip {
    width: 20px;
}
.tooltip:hover,
.tooltipbody:hover,
.stickytip:hover,
.ajaxtip:hover {
    width: 20px;
}
/* Colours */
/* Action Buttons */
.action-btn,
.delete-btn {
    color: #fff;
    background-color: #590f12;
    border: #c6bea7;
    border-bottom: #164b8b;
    border-top: #f4edd4;
}
.action-btn:hover,
.delete-btn:hover {
    background-color: #dc032e;
}
/* Tabs */
div.tabs {
    border-bottom: 1px solid #590f12;
}
div.tabs span.tab_here {
    background: #f4edd4;
    border-color: #590f12;
    border-bottom: #f4edd4;
}
div.tabs span.tab_here a {
    color: #000000;
}
span.tab_last,
span.tab_other {
    background: #590f12;
    border-color: #590f12;
}
span.tab_last:hover,
span.tab_other:hover {
    background: #c6bea7;
    border-color: #c6bea7;
}
span.tab_prev_active {
    color: #000000;
}
span.tab_next_active {
    color: #000000;
}