/* GIS module */
.olControlMousePosition {
    font-size: 10px;
    background-color: white;
}

.crosshair {
    cursor: crosshair;
}

/* Toolbar */
#mappnlcntr .zoomfull {
    background-image: url(../../img/gis/mapfish/icon_zoomfull.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .zoomin {
    background-image: url(../../img/gis/mapfish/icon_zoomin.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .zoomout {
    background-image: url(../../img/gis/mapfish/icon_zoomout.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .pan-off {
    background-image: url(../../img/gis/mapfish/icon_pan.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .measure-off {
  background-image: url(../../img/gis/measuring-stick-off.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .measure-area {
  background-image: url(../../img/gis/measure-area-off.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .modifyfeature {
    background-image: url(../../img/gis/mapfish/move_vertex_off.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .drawpoint-off {
  background-image: url(../../img/gis/add_point_off.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .drawline-off {
  background-image: url(../../img/gis/mapfish/draw_line_off.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .drawpolygon-off {
  background-image: url(../../img/gis/mapfish/draw_polygon_off.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .info {
  background-image: url(../../img/gis/mapfish/info.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .searchclick {
    background-image: url(../../img/ext/information.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .searchbox {
    background-image: url(../../img/ext/information-box.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .back {
    background-image: url(../../img/gis/mapfish/resultset_previous.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .next {
    background-image: url(../../img/gis/mapfish/resultset_next.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .save {
    background-image: url(../../img/ext/save.gif) !important;
    height: 20px !important;
    width: 20px !important;
}
.x-btn-text.geolocation {
  background-image: url(../../img/gis/geolocation.png) !important;
  height: 20px !important;
  width: 20px !important;
}
.x-btn-text.potlatch {
  background-image: url(../../img/gis/openstreetmap.png) !important;
  height: 20px !important;
  width: 20px !important;
}
.x-btn-text.googleearth {
  background-image: url(../../img/gis/geosilk/google_earth.png) !important;
  height: 20px !important;
  width: 20px !important;
}
.x-btn-text.streetview {
  background-image: url(../../img/gis/streetview.png) !important;
  height: 20px !important;
  width: 20px !important;
}
.gxp-icon-addlayers {
    background-image: url(../../img/silk/add.png) !important;
}
.gxp-icon-addserver {
    background-image: url(../../img/silk/server_add.png) !important;
}
.gxp-icon-getfeatureinfo {
    background-image: url(../../img/silk/information.png) !important;
}
.gxp-icon-removelayers {
    background-image: url(../../img/silk/delete.png) !important;
}
.gxp-icon-layerproperties {
    background-image: url(../../img/silk/wrench.png) !important;
}
#mappnlcntr .movefeature {
    background-image: url(../../img/gis/arrow_refresh.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .removefeature {
    background-image: url(../../img/gis/remove_point_off.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .resizefeature {
    background-image: url(../../img/gis/resize.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .rotatefeature {
    background-image: url(../../img/gis/arrow_rotate_clockwise.png) !important;
    height: 20px !important;
    width: 20px !important;
}

/*
#mappnlcntr .mf-print-action {
    background-image: url(../../img/gis/mapfish/printer.png) !important;
}
#mappnlcntr .pan-on{
    background-image: url(../../img/gis/openlayers/theme_default/pan_on.png) !important;
    height: 20px !important;
    width: 20px !important;
}
#mappnlcntr .drawpoint-on {
  background-image: url(../../img/gis/openlayers/theme_default/add_point_on.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .drawline-on {
  background-image: url(../../img/gis/openlayers/theme_default/draw_line_on.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .drawpolygon-on{
  background-image: url(../../img/gis/openlayers/theme_default/draw_polygon_on.png) !important;
  height: 20px !important;
  width: 20px !important;
}
#mappnlcntr .measure-on {
  background-image: url(../../img/gis/measuring-stick-on.png) !important;
  height: 20px !important;
  width: 20px !important;
}
*/
 
/* Popups */
div.olFramedCloudPopupContent label {
    padding-right: 5px;
}
#georsspopup h2,
#kmlpopup h2 {
    margin: 0;
}
