.olLayerGoogleCopyright {
    right: 3px;
    bottom: 2px;
    left: auto;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 2px;   
}
.olForeignContainer div.olControlMousePosition {
    bottom: 28px;
}