/* Mapfish Template for GIS module */
.mf-print-action {
    background-image:url(../../img/gis/mapfish/printer.png) !important;
}
.zoomin {
    background-image:url(../../img/gis/mapfish/icon_zoomin.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomout {
    background-image:url(../../img/gis/mapfish/icon_zoomout.png) !important;
    height:20px !important;
    width:20px !important;
}
.zoomfull {
    background-image:url(../../img/gis/mapfish/icon_zoomfull.png) !important;
    height:20px !important;
    width:20px !important;
}
.pan {
    background-image:url(../../img/gis/mapfish/icon_pan.png) !important;
    height:20px !important;
    width:20px !important;
}
.back {
    background-image:url(../../img/gis/mapfish/resultset_previous.png) !important;
    height:20px !important;
    width:20px !important;
}
.next {
    background-image:url(../../img/gis/mapfish/resultset_next.png) !important;
    height:20px !important;
    width:20px !important;
}
.modifyfeature {
    background-image:url(../../img/gis/mapfish/move_vertex_off.png) !important;
    height:20px !important;
    width:20px !important;
}
.drawpoint {
  background-image:url(../../img/gis/mapfish/draw_point_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawline {
  background-image:url(../../img/gis/mapfish/draw_line_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawpolygon {
  background-image:url(../../img/gis/mapfish/draw_polygon_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.info {
  background-image:url(../../img/gis/mapfish/info.png) !important;
  height:20px !important;
  width:20px !important;
}
.float-left { float: left; }
.clear-left { clear: left; }
.x-toolbar td { padding:0 0 0 0; border: none; }
.x-tree-node .x-tree-node-inline-icon {
    background:transparent none repeat scroll 0 0;
    height:23px;
    width:84px;
}
.searchclick {
    background-image:url(../../img/ext/information.png) !important;
    height:20px !important;
    width:20px !important;
}
.searchbox {
    background-image:url(../../img/ext/information-box.png) !important;
    height:20px !important;
    width:20px !important;
}
.save {
    background-image:url(../../img/ext/save.gif) !important;
    height:20px !important;
    width:20px !important;
}
