{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The Shelter Registry tracks all shelters and stores basic details regarding them. It collaborates with other modules to track people associated with a shelter, the services available etc.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Tracking of basic information on the location, facilities and size of the Shelters")}}</li>
<li>{{=T("GIS integration to view location details of the Shelter")}}</li>
<li>{{=T("Ability to customize the list of important facilities needed at a Shelter")}}</li>
<li>{{=T("Ability to customize the list of details tracked at a Shelter")}}</li>
<li>{{=T("Ability to customize the list of human resource tracked at a Shelter")}}</li>
<li>{{=T("Basic reports on the Shelter and drill-down by region")}}</li>
<li>{{=T("GIS Reports of Shelter")}}</li>
</ul>
</div>
