/* Menu Logo: now done via settings.ui.menu_logo
.S3menulogo {
  background: url(img/logo.png) left top no-repeat;
} /*
/* Cards on homepage
.date-title,
.location-title,
.type-title {
    margin-left: 10px;
}
#events_datalist-header,
#activities_datalist-header {
    display: none;
} */
/* dataTables on homepage */
#homepage .dataTables_info,
#homepage .dataTables_length {
    display: none;
    
}

