/*  
// Icon Classes */
.icon-ob {
	background-image:url(../img/icons/ob_16.png) ! important;
}
.icon-graph {
	background-image:url(../img/silk/icons/chart_curve.png) ! important;
}
.icon-chart {
	background-image:url(../img/silk/icons/chart_bar.png) ! important;
}
.icon-prefs {
	background-image:url(../img/silk/icons/application_form.png) ! important;
	background-position: 1px 1px;
}
.icon-ok {
	background-image:url(../img/icons/ok16.png) ! important;
}
.icon-view-tile {
	background-image:url(../img/silk/icons/application_view_tile.png) ! important;
}
.icon-check, .icon-check-off {
	background-image:url(../ext/resources/images/default/menu/unchecked.gif) ! important;
}
.icon-check-on {
	background-image:url(../ext/resources/images/default/menu/checked.gif) ! important;
}
.icon-stat-data {
	background-image:url(../img/icons/kate_16.png) ! important;
}
.icon-rename {
	background-image:url(../img/silk/icons/textfield_rename.png) ! important;
}
.icon-add-col {
	background-image:url(../img/silk/icons/page_white_add.png) ! important;
}
.icon-del-col {
	background-image:url(../img/silk/icons/page_white_delete.png) ! important;
}
.icon-save-table {
	background-image:url(../img/silk/icons/table_save.png) ! important;
}
.icon-add-tab {
	background-image:url(../img/silk/icons/tab_add.png) ! important;
}
.icon-del-tab {
	background-image:url(../img/silk/icons/tab_delete.png) ! important;
}
.icon-go-tab {
	background-image:url(../img/silk/icons/tab_go.png) ! important;
}
.icon-add-table {
	background-image:url(../img/silk/icons/table_add.png) ! important;
}
.icon-del-table {
	background-image:url(../img/silk/icons/table_delete.png) ! important;
}
.icon-admin {
	background-image:url(../img/icons/adv_settings_16.png) ! important;
}
.icon-grid {
    background-image:url(../img/silk/icons/application_view_columns.png) !important;
}
.icon-key {
	background-image:url(../img/silk/icons/key.png) ! important;
}
.icon-key2 {
	background-image:url(../img/icons/key_16.png) ! important;
}
.icon-under-construction {
	background-image:url(../img/icons/under-construction16.png) ! important;
}
.icon-expand-all {
	background-image:url(../img/icons/expand-all.gif) ! important;
}
.icon-collapse-all {
	background-image:url(../img/icons/collapse-all.gif) ! important;
}
.icon-expand {
	background-image:url(../img/icons/expand-all.gif) ! important;
}
.icon-collapse {
	background-image:url(../img/icons/collapse-all.gif) ! important;
}
.icon-tree-orgboard {
	background-image:url(../img/silk/icons/chart_organisation.png) ! important;
}
.icon-tree-area {
	background-image:url(../img/silk/icons/post_title.png) ! important;
}
.icon-tree-post {
	background-image:url(../img/silk/icons/page_white.png) ! important;
}
.icon-plus {
	background-image:url(../img/silk/icons/add.png) ! important;
}
.icon-minus {
	background-image:url(../img/silk/icons/delete.png) ! important;
}
.icon-house {
	background-image:url(../img/icons/house_16.png) ! important;
}
.icon-user {
	background-image:url(../img/icons/user2_16.png) ! important;
}
.icon-trash-empty {
	background-image:url(../img/silk/icons/bin_empty.png) ! important;
}
.icon-trash-closed {
	background-image:url(../img/silk/icons/bin_closed.png) ! important;
}
.icon-disk {
	background-image:url(../img/silk/icons/disk.png) ! important;
}
.icon-disk-bullet {
	background-image:url(../img/silk/icons/bullet_disk.png) ! important;
}
.icon-undo {
	background-image:url(../img/silk/icons/arrow_undo.png) ! important;
}
.icon-loading {
	background-image:url(../ext/resources/images/default/grid/grid-loading.gif) ! important;
}
.icon-db-refresh {
	background-image:url(../img/silk/icons/database_refresh.png) ! important;
}
.icon-db-gear {
	background-image:url(../img/silk/icons/database_gear.png) ! important;
}
.icon-magnifier {
	background-image:url(../img/silk/icons/magnifier.png) ! important;
}
.icon-wrench {
	background-image:url(../img/icons/wrench_16.png) ! important;
}
.icon-wrench-orange {
	background-image:url(../img/silk/icons/wrench_orange.png) ! important;
}
.icon-star {
	background-image:url(../img/silk/icons/star.png) ! important;
}
.icon-lock-go {
	background-image:url(../img/silk/icons/lock_go.png) ! important;
}
.icon-group-add {
	background-image:url(../img/silk/icons/group_add.png) ! important;
}
.icon-group-del {
	background-image:url(../img/silk/icons/group_delete.png) ! important;
}
.icon-stat-portal {
	background-image:url(../img/icons/stat_portal_16.png) ! important;
}
.icon-stat-list {
	background-image:url(../img/icons/stat_list_16.png) ! important;
}
.icon-cancel {
	background-image:url(../img/icons/cancel16.png) ! important;
}
.icon-cross {
	background-image:url(../img/silk/icons/cross.png) ! important;
}
.icon-defaults {
	background-image:url(../img/silk/icons/arrow_rotate_clockwise.png) ! important;
}
.icon-load {
	background-image:url(../img/silk/icons/database_go.png) ! important;
}
.icon-reconfigure {
	background-image:url(../img/silk/icons/database_gear.png) ! important;
}
.icon-working {
	background-image:url(../ext/resources/images/default/grid/wait.gif) ! important;
}
.icon-upload {
	background-image:url(../img/icons/up.png) ! important;
}
.icon-folder-add {
	background-image:url(../img/silk/icons/folder_add.png) ! important;
}
.icon-open {
	background-image:url(../img/silk/icons/application_go.png) ! important;
}
.icon-open-self {
	background-image:url(../img/silk/icons/application.png) ! important;
}
.icon-open-popup {
	background-image:url(../img/silk/icons/application_double.png) ! important;
}
.icon-open-blank {
	background-image:url(../img/silk/icons/application_cascade.png) ! important;
}
.icon-open-download {
	background-image:url(../img/silk/icons/application_put.png) ! important;
}
.icon-refresh {
	background-image:url(../img/silk/icons/arrow_refresh.png) ! important;
}
.icon-pencil {
	background-image:url(../img/silk/icons/pencil.png) ! important;
}
.icon-stop {
	background-image:url(../img/silk/icons/control_stop.png) ! important;
}
.icon-email {
	background-image:url(../img/silk/icons/email.png) ! important;
}
.icon-email-compose {
	background-image:url(../img/silk/icons/email_edit.png) ! important;
}
.icon-coins {
	background-image:url(../img/silk/icons/coins.png) ! important;
}
.icon-clock {
	background-image:url(../img/silk/icons/clock.png) ! important;
}
.icon-zoom {
	background-image:url(../img/silk/icons/zoom.png) ! important;
}
.icon-print {
	background-image:url(../img/silk/icons/printer.png) ! important;
}
.icon-folder-component {
	background-image:url(../img/silk/icons/folder_brick.png) ! important;
}
.icon-plugin {
	background-image:url(../img/silk/icons/plugin.png) ! important;
}
.icon-extension {
	background-image:url(../img/silk/icons/brick.png) ! important;
}
.icon-function {
	background-image:url(../img/silk/icons/flag_yellow.png) ! important;
}
.icon-bulb {
	background-image:url(../img/silk/icons/lightbulb.png) ! important;
}
.icon-bulb-off {
	background-image:url(../img/silk/icons/lightbulb_off.png) ! important;
}
.icon-copy {
	background-image:url(../img/silk/icons/page_white_copy.png) ! important;
}
.icon-star {
	background-image:url(../img/silk/icons/award_star_gold_3.png) ! important;
}
.icon-edit-record {
	background-image:url(../img/silk/icons/table_edit.png) ! important;
}
.icon-actions {
	background-image:url(../img/silk/icons/lightning.png) ! important;
}
.icon-form-add {
	background-image:url(../img/silk/icons/layout_add.png) ! important;
}
.icon-html {
	background-image:url(../img/silk/icons/html.png) ! important;
}
.icon-script {
	background-image:url(../img/silk/icons/script.png) ! important;
}
.icon-php {
	background-image:url(../img/silk/icons/script_code.png) ! important;
}
.icon-css {
	background-image:url(../img/silk/icons/css.png) ! important;
}
.icon-run {
	background-image:url(../img/silk/icons/application_go.png) ! important;
}
.icon-info {
	background-image:url(../img/silk/icons/information.png) ! important;
}
.icon-error {
	background-image:url(../img/silk/icons/cancel.png) ! important;
}
.icon-warn {
	background-image:url(../img/silk/icons/error.png) ! important;
}
.icon-wages {
	background-image:url(../img/icons/euro_16.png) ! important;
}
.icon-calculator {
	background-image:url(../img/silk/icons/calculator.png) ! important;
}
.icon-add-wage {
	background-image:url(../img/silk/icons/coins_add.png) ! important;
}
.icon-del-wage {
	background-image:url(../img/silk/icons/bin_closed.png) ! important;
}
.icon-manual {
	background-image:url(../img/silk/icons/book_open.png) ! important;
}
.icon-lock {
	background-image:url(../img/icons/lock16.png) ! important;
}
.icon-lock-open {
	background-image:url(../img/icons/unlock16.png) ! important;
}
.icon-arrow-down {
	background-image:url(../img/silk/icons/arrow_down.png) ! important;
}
.icon-arrow-right {
	background-image:url(../img/silk/icons/arrow_right.png) ! important;
}
.icon-blank-img {
	background-image:url(../ext/resources/images/default/s.gif) ! important;
}
.icon-delete {
	background-image:url(../img/silk/icons/bin_empty.png) ! important;
}
.icon-tree {
	background-image:url(../img/icons/tree_16.png) ! important;
}
.icon-form-edit {
	background-image:url(../img/silk/icons/application_form_edit.png) ! important;
}
.icon-form-add {
	background-image:url(../img/silk/icons/application_form_add.png) ! important;
}
.icon-filter {
	background-image:url(../img/icons/view-filter16.png) ! important;
}
.icon-filter-active {
	background-image:url(../img/icons/view-filter-go16.png) ! important;
}
.icon-stat-cat {
	background-image:url(../img/icons/stat-cat_16.png) ! important;
}
.x-form-field-wrap .trigger-tag-add {
	background-image: url(../img/trigger-tag-add.png);
	cursor:pointer;
}
.x-form-field-wrap .trigger-tag {
	background-image: url(../img/trigger-tag.png);
	cursor:pointer;
}
.x-form-field-wrap .x-trigger-disabled {
	cursor:default;
	opacity:0.5;
	background-position:0 0;
}
.x-form-field-wrap .trigger-tree {
	background-image: url(../img/trigger-tree.png);
	cursor:pointer;
}


/*  Icon Classes end */

