// THEME Colors (can use color variables from Foundation _settings.scss)
//
// ============================================================================
// ACTION BUTTONS
// ============================================================================
// Action buttons defaults
//$action_btn_bgcolor: $button-bg-color;
//$action_btn_bgcolor_hover: $button-bg-hover;
//$action_btn_fgcolor: white;
//$action_btn_fgcolor_hover: white;

// Standard action button
//$action_btn_bgcolor_default: $action_btn_bgcolor;
//$action_btn_bgcolor_default_hover: $action_btn_bgcolor_hover;
//$action_btn_fgcolor_default: $action_btn_fgcolor;
//$action_btn_fgcolor_default_hover: $action_btn_fgcolor_hover;

// Debug action button (debug toolbar in footer)
//$action_btn_bgcolor_debug: #dddddd;
//$action_btn_bgcolor_debug_hover: #a0a0a0;
//$action_btn_fgcolor_debug: $action_btn_fgcolor;
//$action_btn_fgcolor_debug_hover: $action_btn_fgcolor_hover;

// Alert action button (e.g. delete-button)
//$action_btn_bgcolor_alert: $alert-color;
//$action_btn_bgcolor_alert_hover: $alert-button-bg-hover;
//$action_btn_fgcolor_alert: $action_btn_fgcolor;
//$action_btn_fgcolor_alert_hover: $action_btn_fgcolor_hover;

// Disabled action buttons
//$action_btn_bgcolor_disabled: #c0c0c0;
//$action_btn_fgcolor_disabled: $action_btn_fgcolor_hover;

// ============================================================================
// ALERTS
// ============================================================================
//$alert_border_color: #b2b2b2;
//$alert_box_shadow_color: #aaaaa7;

// ============================================================================
// DATATABLES
// ============================================================================
// Border
//$datatables_border_color: #cccccc;

// Even/odd rows background
//$datatables_bgcolor_even: #ffffff;
//$datatables_bgcolor_odd: #f7f8f9;
//$datatables_bgcolor_even_highlight: #fafafa;
//$datatables_bgcolor_odd_highlight: #f0f1f2;

// Header and footer
//$datatables_bgcolor_foot: #f7f8f9;
//$datatables_bgcolor_head: #ffffff;

// ============================================================================
// FORMS
// ============================================================================
//$form_container_bgcolor: #fefefe;
//$form_error_bgcolor: #c60f13;
//$form_label_color: black;

// ============================================================================
// RHEADER TABS
// ============================================================================
// Active tab
//$rheader_tabs_bgcolor_active: #ffffff;
//$rheader_tabs_bgcolor_active_hover: #f1edec;
//$rheader_tabs_fgcolor_active: #666666;
//$rheader_tabs_fgcolor_active_hover: #666666;

// Inactive tabs
//$rheader_tabs_bgcolor_inactive: $button-bg-color;
//$rheader_tabs_bgcolor_inactive_hover: $button-bg-hover;
//$rheader_tabs_fgcolor_inactive: #ffffff;
//$rheader_tabs_fgcolor_inactive_hover: #ffffff;

// ============================================================================
// OTHER PAGE ELEMENTS
// ============================================================================
// Item container
//$item_container_controls_bgcolor: #fafafa;

// Comment feeds
//$comments_feed_item_bgcolor: #f5f5f5;
