//body {
//    @include background_size(cover);
//}
/* Override widget.css */
.top-bar.expanded {
    width: 100%;
}
.map_home {
    margin: 0;
}

/* Alerts */
.alert.alert-error,
.alert.alert-info,
.alert.alert-warning,
.alert.alert-success {
    border: 1px solid $alert_border_color;
    box-shadow: 0 1px 1px $alert_box_shadow_color;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    position: relative;
    width: auto;
    z-index: 98;
    border-radius: 4px;
}
/* Red indicators */
.error,
.expired,
.req,
.req_key {
    color: $alert-color;
    font-weight: bold;
}
.req_key {
    font-size: 0.75rem;
}

/* Sections */
.form-container form,
#datalist-filter-form,
#datatable-filter-form,
#summary-filter-form,
#summary-sections,
.thumbnail {
    border: 1px solid #CCC;
}
.widget-container #list-btn-add {
    margin-bottom: 0;
    position: relative;
    top: 1.0rem;
}

/* Links should ALWAYS be unvisited */
#content {
    a.help {
        &:link {
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
        }
        &:hover {
            background-color: #336699;
            text-decoration: underline;
        }
        &:visited {
            font-weight: normal;
            color: #666;
        }
    }
    h1,
    h2 {
        font-size: 1.3em;
        font-weight: bolder;
    }
    h2 {
        margin-top: 10px;
        //padding-left: 10px;
    }
    h3 {
        font-size: 1.1em;
        padding-bottom: 5px;
    }
}
