<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang='{{=T.accepted_language or "en"}}'>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>{{=settings.get_system_name()}} - {{try:}}{{=title}}{{except:}}{{=response.title}}{{pass}}</title>
{{if response.refresh:}}{{=XML(response.refresh)}}{{pass}}
<meta name="application-name" content="{{=appname}}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="shortcut icon" href="/{{=appname}}/static/themes/{{=response.s3.theme}}/favicon.ico" type="image/x-icon" />
<style type="text/css">
{{if request.get_vars.background:}}
 html>body{background:{{=request.get_vars.background}};}
{{pass}}
{{if request.get_vars.header == "hide":}}
div#header-banner{background:#568AAB;height:20px;border-bottom:1px solid white;}
div#header-top-menu{margin-top:0;}
{{pass}}
</style>
{{for sheet in s3.external_stylesheets:}}
 <link href="{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
 <link href="/{{=appname}}/static/themes/DRRPP/font.css" rel="stylesheet" type="text/css" />
{{for sheet in s3.stylesheets:}}
 <link href="/{{=appname}}/static/styles/{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
{{if s3.debug:}}
 {{=s3base.s3_include_debug_css()}}
{{else:}}
 {{# Built by /static/scripts/tools/build.sahana.py }}
 <link href="/{{=appname}}/static/themes/{{=response.s3.theme}}/eden.min.css" rel="stylesheet" type="text/css" />
{{pass}}
{{include "scripts_top.html"}}
</head>
{{try:}}
 {{if r.representation == "popup":}}{{representation = "popup"}}
 {{elif r.representation == "iframe":}}{{representation = "iframe"}}
 {{else:}}{{representation = ""}}{{pass}}
{{except:}}{{representation = ""}}{{pass}}
{{if representation == "popup":}}
 <body class='popup'>
 {{if response.flash or response.confirmation:}}{{include "layout_popup.html"}}
 {{else:}}{{include}}{{pass}}
 {{if s3.debug:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.js"]))}}
 {{else:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.min.js"]))}}{{pass}}
{{elif representation == "iframe":}}
 {{include "layout_iframe.html"}}
 {{include}}
{{else:}}
<body>
<div id='header' class='container_12'>
 <div id='header-banner' class='grid_12 alpha omega'>
  <div id='header-top-menu' class='grid_5 prefix_7 omega'>
   {{if auth.user is None:}}
   <a class='header-top-menu-btn' href='{{=URL(r=request, c="default", f="index", args="login")}}'>Login</a>
   <a class='header-top-menu-btn' href='{{=URL(r=request, c="default", f="index", args="register")}}'>Register</a>
   {{else:}}
   {{system_roles = auth.get_system_roles()}}
   {{if auth.s3_has_role(system_roles.ADMIN) or auth.s3_has_role(system_roles.ORG_ADMIN):}}
    <a class='header-top-menu-btn' href='{{=URL(r=request, c="default", f="index", args="admin")}}'>Admin</a>
   {{pass}}
   <a class='header-top-menu-btn' href='{{=URL(r=request, c="default", f="user", args="profile")}}'>Profile</a>
   <a class='header-top-menu-btn' href='{{=URL(r=request, c="default", f="user", args="change_password")}}'>Change Password</a>
   <a class='header-top-menu-btn' href='{{=URL(r=request, c="default", f="user", args="logout")}}'>Logout</a>
   {{pass}}
   <a class='header-top-menu-btn' href='{{=URL(r=request, c="default", f="index", args="contact")}}'>Contact</a>
   <a class='header-top-menu-btn' href='/{{=appname}}/static/themes/DRRPP/DRR_Portal_User_Manual.pdf'>User Manual</a>
  </div>
 </div>
 <div class='clear'></div>
 <div id='header-navbar' class='grid_12 alpha omega'>
  <ul id='nav'>
   <li><a id='header-navbar-home' href='{{=URL(r=request, c="default", f="index")}}'></a></li>
   <li>
    <a href='{{=URL(r=request, c="default", f="index", args="get_started")}}'>Get Started</a>
    <ul class='sub-menu'>
     <li><a href='{{=URL(r=request, c="project", f="project", args="create")}}'>Add Project</a></li>
     <li><a href='{{=URL(r=request, c="project", f="framework", args="create")}}'>Add Policies &amp; Strategies</a></li>
     <li><a href='/{{=appname}}/static/themes/DRRPP/DRR_Project_Portal_New_Project_Form.doc'>Add Project Offline</a></li>
    </ul>
   </li>
   <li><a href='{{=URL(r=request, c="project", f="project")}}'>Project List</a></li>
   <li>
    <a href='#'>Project Analysis</a>
    <ul class='sub-menu'>
     <li><a href='{{=URL(r=request, c="project", f="project", args="report")}}'>Matrix Report</a></li>
     <li><a href='{{=URL(r=request, c="project", f="project", args="report", vars=dict(chart="breakdown:rows"))}}'>Graphs</a></li>
     <li><a href='{{=URL(r=request, c="project", f="location", args="map")}}'>Maps</a></li>
    </ul>
   </li>
   <li><a href='{{=URL(r=request, c="project", f="framework")}}'>Policies & Strategies</a></li>
   <li><a href='{{=URL(r=request, c="default", f="index", args="organisations")}}'>Organisations</a></li>
   <li><a id='header-navbar-mypage' href='{{=URL(r=request, c="default", f="index", args="mypage")}}'>My Page</a></li>
  </ul>
 </div>
</div>
<div id='content-wrapper' class='container_12'>
 <div id='alert-space'>
  {{if response.error:}}<div class='alert alert-error'>{{=response.error}}</div>{{pass}}
  {{if response.warning:}}<div class='alert alert-warning'>{{=response.warning}}</div>{{pass}}
  {{if response.information:}}<div class='alert alert-info'>{{=response.information}}</div>{{pass}}
  {{if response.confirmation:}}<div class='alert alert-success'>{{=response.confirmation}}</div>{{pass}}
  {{if response.flash:}}<div class='alert alert-success'>{{=response.flash}}</div>{{pass}}
 </div>
 {{include}}
</div>
{{if request.get_vars.footer != "hide":}}
<div id='footer' class='container_12'>
 {{include "../modules/templates/historic/%s/views/footer.html" % response.s3.theme}}
 {{if s3.debug:}}{{=s3.toolbar()}}{{pass}}
</div>
{{pass}}
{{s3.jquery_ready.append(
"""
$('#nav').children('li').mouseover(function(){
 $(this).children('.sub-menu').show()
})
$('#nav').children('li').mouseout(function(){
 $(this).children('.sub-menu').hide()
})""")}}
{{pass}}
{{include "scripts.html"}}
</body>
</html>