{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "News list" %}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}"></a>
    {% else %}
        <a href="/"><img src="{{ STATIC_URL }}/assets/logos/index.png"/></a>
    {% endif %}
{% endblock %}

{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}">
    {% else %}
        <img src="{{ STATIC_URL }}/assets/banners/index.png"/>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="grid_16">
        <div id="contenttitles">
            {% trans "News archive" %}
        </div>
    </div>

    {% block centercol %}
        <div class="grid_16">
            {% for post in post_list %}
                <div class="listitem">
                    {% ifchanged post.pub_date|date:"F" %}
                        <h1 style="font-size: 2em;text-transform: uppercase;">{{ post.pub_date|date:"F Y" }}</h1>
                    {% endifchanged %}
                    <div class="postdate">{{ post.pub_date|date:"l d" }}</div>
                    <div class="posttitle"><a href="{{ post.id }}">{{ post.post_title }}</a></div>
                </div>
                <div class="clear"></div>
            {% empty %}
                <p>{% trans "There are no posts in this space." %}</p>
            {% endfor %}
            
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'list-space-news' get_place.url %}?page={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %} | </a>
                        {% endif %}
                        <span class="page-current">
                            {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{% url 'list-space-news' get_place.url %}?page={{ page_obj.next_page_number }}"> | {% trans "next" %} &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
           
            <hr />
            <a href="{{ get_place.get_absolute_url }}" class="btn small">&laquo; {% trans "Go back" %}</a>
        </div>

    {% endblock %}

{% endblock %}

