{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Add new post" %}{% endblock %}
{% block logo %}
  {% if not get_place %}
    <a href="/"><img src="/{{ STATIC_URL }}/assets/logos/index.png"/></a>
  {% else %}
    <img src="/{{ MEDIA_URL }}/{{ get_place.logo }}">
  {% endif %}
{% endblock %}
{% block banner %}
  {% if not get_place %}
    <img src="/{{ STATIC_URL }}/assets/banners/index.png"/>
  {% else %}
    <img src="/{{ MEDIA_URL }}/{{ get_place.banner }}">
  {% endif %}
{% endblock %}

{% block content %}

  <div class="grid_16">
    <div id="contenttitles">
      {% trans "Add new post" %}
    </div>
  </div>
  {% block centercol %}
    <div class="grid_11">
      <form action="" method="post">{% csrf_token %}

        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.post_title.errors }}
          <label for="id_post_title">{% trans "Title" %}:</label>
          <p>{{ form.post_title }}</p>
          <p id="form_help_text">{{ form.post_title.help_text }}</p>
        </div>

        <div class="fieldWrapper">
          {{ form.post_message.errors }}
          <label for="id_name">{% trans "Text" %}:</label>
          <p>{{ form.post_message }}</p>
          {% wysiwyg_editor "id_post_message" %}
          <p id="form_help_text">{{ form.post_message.help_text }}</p>
        </div>

        <div class="fieldWrapper">
          {{ form.post_tags.errors }}
          <label for="id_post_tags">{% trans "Tags" %}:</label>
          <p>{{ form.post_tags }}</p>
          <p id="form_help_text">{{ form.post_tags.help_text }}</p>
        </div>

        <div class="fieldWrapper">
          {{ form.pub_index.errors }}
          <label for="id_name">{% trans "Publish in index page" %}:</label>
          <p>{{ form.pub_index }}</p>
          <p id="form_help_text">{{ form.pub_index.help_text }}</p>
        </div>

        {{ form.author.as_hidden }}
        {{ form.space.as_hidden }}

        <p><input type="submit" value="{% trans 'Create' %}" /></p>

        <p><a href="/">&laquo; {% trans "Go back" %}</a></p>
      </form>
    </div>

  {% endblock %}


  {% block rightcol %}
    <div class="grid_5">
      <div id="widget">
        <h2>{% trans "How to add new posts" %}</h2><br/>
        <ul class="instructions">
          <li><strong>{% trans "Title" %}</strong>: {% trans "An spectacular title! (100 characters)" %}</li>
          <li><strong>{% trans "Text" %}</strong>: {% trans "Your story." %}</li>
          <li><strong>{% trans "Tags" %}</strong>: {% trans "Please use them carefully, you are limited to 4 tags." %}</li>
          <li><strong>{% trans "Publish in index" %}</strong>: {% trans "If you mark this, the post will appear in the spaces index page AND in the main index." %}</li>
        </ul>
      </div>
    </div>
  {% endblock %}

{% endblock %}

