{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Edit news" %}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% endif %}
{% endblock %}
  
{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% endif %}
{% endblock %}

{% if get_place %}
    {% block space %}
        <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
    {% endblock %}
{% endif %}

{% block content %}

    <div class="row">
        <div class="span16">
            <h4>{% trans "Edit post" %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="span11">
            <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            
                <div class="clearfix {% if form.post_title.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.post_title.label }}</label> 
                    <div class="input"> 
                        {{ form.post_title }}
                        <span class="help-inline">
                            {% if form.post_title.errors %}
                                {% for error in form.post_title.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.post_title.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
        
                <div class="clearfix {% if form.post_message.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.post_message.label }}</label> 
                    <div class="input"> 
                        {{ form.post_message }}
                        {% wysiwyg_editor "id_post_message" %}
                        <span class="help-inline">
                            {% if form.post_message.errors %}
                                {% for error in form.post_message.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.post_message.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
        
                <div class="clearfix {% if form.post_tags.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.post_tags.label }}</label> 
                    <div class="input"> 
                        {{ form.post_tags }}
                        <span class="help-inline">
                            {% if form.post_tags.errors %}
                                {% for error in form.post_tags.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.post_tags.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>

                <div class="clearfix {% if form.pub_index.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.pub_index.label }}</label> 
                    <div class="input"> 
                        {{ form.pub_index }}
                        <span class="help-inline">
                            {% if form.pub_index.errors %}
                                {% for error in form.pub_index.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.pub_index.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
            
                <div class="clearfix {% if form.author.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.author.label }}</label> 
                    <div class="input"> 
                        {{ form.author }}
                        <span class="help-inline">
                            {% if form.author.errors %}
                                {% for error in form.author.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.author.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
            
                <div class="clearfix {% if form.space.errors %}error{% endif%}"> 
                    <label for="prependedInput">{{ form.space.label }}</label> 
                    <div class="input"> 
                        {{ form.space }}
                        <span class="help-inline">
                            {% if form.space.errors %}
                                {% for error in form.space.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.space.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
 
            <hr />
            <a href="{{ get_place.get_absolute_url }}" class="btn danger small">&laquo; {% trans "Go back" %}</a>
            <input class="btn small primary" type="submit" value="{% trans 'Publish' %}" />
            
            </form>
        </div>
        <div class="span5">
            <h4>Empty space!</h4>
        </div>
    </div>

{% endblock %}

