{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit news" %}{% endblock %}
{% block logo %}<img src="/{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="/{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

  {% block centercol %}
    <div id="centercol">
      <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

        {{ form.as_p }}

        <hr />

        <p><input type="submit" value="{% trans 'Create' %}" /></p>
        <p><a href="/">&laquo; {% trans "Go back" %}</a></p>
      </form>
    </div>
  {% endblock %}

{% endblock %}

