{{extend "layout.html"}}
{{=system_wide}}
{{if event:}}
<div class='row'>
 <div role='complementary' class='callout event-parent'>
  <div class='callout-left'>
   <h6 class='meta'>This incident is part of the event</h6>
   <h1 class='title'>{{=event.name}}</h1>
   <a href='{{=event.url}}' class='button radius small'>Go to Event</a>
  </div>
  <div class='callout-right meta'>
   <p>
    <span class='date-label'>Zero hour:</span> <span class='date'>{{=event.start_date}}</span>
    <span class='location adr'>
     {{=event.location}}
    </span>
   </p>
   <p>
    {{=event.incidents}}
    {{=event.resources}}
    {{=event.updates}}
   </p>
   <span class='label {{=event.status}}'>{{=event.status}}</span>
  </div>
 </div>
</div>
{{pass}}
<div class='row'>
 <div class='small-12 large-6 large-push-6 columns'>
  <h6 class='show-for-sr'>This incident on the map:</h6>
  {{if _map:}}
    {{=XML(_map)}}
  {{pass}}
 </div>
 <div class='small-12 large-6 large-pull-6 columns'>
  <section class='incident-profile' id='sizeTo'>
   <header class='status-bar {{if active:}}active{{pass}}'>
    <ul class='status-bar-left'>
     <li class='item primary status'>{{if active:}}Active{{else:}}Inactive{{pass}}</li>
    </ul>
    <ul class='right'>
     <!--<li class='item flag'><a href='#' title='Flag'><i class='fa-flag fa'></i></a></li>-->
     <li class='item'>{{=bookmark_btn}}</li>
     <li class='item'>{{=share_btn}}</li>
    {{if updateable:}}
     <li class='item edit'><a href='{{=URL(c="event", f="incident", args=[incident_id, "update.popup"], vars={"refresh": 1})}}' class='s3_modal' title='Edit'><i class='fa-pencil fa'></i></a></li>
     <li class='item delete'><a href='{{=URL(c="event", f="incident", args=[incident_id, "delete"])}}' title='Delete'><i class='fa-trash fa'></i></a></li>
    {{pass}}
     <li class='item'><a href='{{=URL(c="event", f="incident", args=[incident_id, "update.popup"], vars={"set_event": 1})}}' class='s3_modal' title='add to event'><i class='fa fa-calendar'><span class='show-for-sr'>add to event</span></i></a></li>
    </ul>
   </header>
   <div class='body'>
    <h1 class='title'>{{=name}}</h1>
    <p class='meta'>updated {{=modified_on}} by {{#modified_by}}</p>
    <div class='tag-wrapper clearfix'>{{=incident_tags}}</div>
    <div class='incident-data' data-equalizer>
     <div class='incident-location adr'>
      <div class='box' data-equalizer-watch>
       <span class='meta'>Address:</span>
      {{if addr_street or L3 or L1 or postcode or lat:}}
       {{if addr_street:}}
       <div class='street-address'>{{=addr_street}}</div>
       {{pass}}
       <!-- <div class='extended-address'>Suite 207</div> -->
       {{if L3:}}
       <span class='locality'>{{=L3}}</span>,
       {{pass}}
       {{if L1:}}
       <span class='region'>{{=L1}}</span>
       {{pass}}
       {{if postcode:}}
       <span class='postal-code'>{{=postcode}}</span>
       {{pass}}
       {{if lat:}}
       <div class='geo-location'>{{=lat}}, {{=lon}}</div>
       {{pass}}
      {{else:}}
       <div class="address-empty">No Address Given</div>
      {{pass}}
      </div>
     </div>
     <div class='incident-date'>
      <div class='box' data-equalizer-watch>
       <span class='date-label'>Zero hour:</span>
       <div class='date'>{{=start_date}}</div>
      {{if end_date:}}
       <span class='date-label'>Closed at:</span>
       <div class='date'>{{=end_date}}</div>
      {{pass}}
      </div>
     </div>
    </div>
    <p class='desc'>{{=description}}</p>
    <h4>Resources</h4>
    <div class='incident-resources'>
     <div class='incident-resources-rail'>
      <div class='search-wrapper' id='dt-search-event_team'>
       <span class='search-icon'><i class='fa fa-search'></i></span>
      </div>
      {{=create_event_team_popup}}
     </div>
     <div class='incident-resources-data' id='dt-event_team'>
      {{=event_team_datatable}}
     </div>
    </div>
   </div>
  </section>
 </div>
</div>
<hr>
{{include "../modules/templates/%s/views/updates_directories.html" % response.s3.theme_layouts}}
{{include "dataLists.html"}}
{{include "dataTables.html"}}
{{s3.scripts.append("/%s/static/themes/WACOP/js/bookmarks.js" % appname)}}
{{s3.scripts.append("/%s/static/themes/WACOP/js/incident_profile.js" % appname)}}
