div.subheading {
    border-top: thin solid #bbb;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 10px !important;
    padding-bottom: 5px;
}

#login_next .anonymize-btn {
    /*font-size: 1rem;
    padding: 1rem 2rem 1.0625rem 2rem;*/
    font-size: 0.8125rem;
    padding: 0.875rem 1.75rem 0.9375rem 1.75rem;
}