div.tabs {
    border-bottom: 0 !important;
}
.olControlAttribution {
    right: 1px !important;
    bottom: 1.5em !important;
}
.profile-add-btn {
    float: right;
    margin-top: 45px !important;
}