{{if settings.ui.get("social_buttons"):}}<div id="socialmedia_share"></div>{{pass}}
<div style="width:85%;margin:auto;font-size:14px;"><img src="/{{=appname}}/static/themes/Turkey/images/logolar.png" /><br />
Bu yayın Avrupa Birliği'nin yardımıyla hazırlanmıştır. Bu yayının içeriğinden yalnızca MAG Vakfı, Hayata Destek Derneği ve Mavi Kalem Derneği sorumlu olup, herhangi bir şekilde AB'nin görüşlerini yansıttığı şeklinde yorumlanamaz.</div>
<p id="poweredby">
 <img src='/{{=appname}}/static/img/S3menu_logo.png' width='30' height='28' style='vertical-align:middle' alt='{{=T("Powered by Sahana Eden")}}' /><a target='_blank' href='http://eden.sahanafoundation.org' title='{{=T("Powered by Sahana Eden")}}'>{{=T("Powered by Sahana Eden")}}</a>
</p>