{{extend "layout.html"}}
<section id='homepage-layer' class='st'>
 <div class='container'>   
  <div class='row'>
   <div>
   	<div class="dl">
   	 	<div class="dl-row odd">
      		<div class="dl-1-cols thumbnail dl-col-0 dl-item">
   				<div class="card-header">
   					<span class="news-title">Sahana Türkiye</span>
   				</div>
   				<div class="media">
   					<div class="media-body">
   						<div class="media">
   							<p style="text-align: center;"><img alt="" src="/eden/static/themes/Turkey/images/eulogo.png"></p>
							<p>Bu site Avrupa Birliği ve Türkiye Cumhuriyeti tarafından fonlanan TR2011_0135.07-011/16 referans numaralı <strong>“Afetler Alanında Faaliyet Gösteren Sivil Toplum Kuruluşlarının Ortak Kullanımı için Afet Bilgi Sistemi Oluşturulması“</strong> projesi kapsamında hazırlanmıştır.</p>
   						</div>
   					</div>
   				</div>
   			</div>
   		</div>
   	</div>
    {{=news}}
   </div>  
  </div>  
 </div>
</section>