{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The")}} {{=module_name}} {{=T("Module provides access to information on current Flood Levels.")}}
</p>
<h3>{{=T("Report Types Include")}}:</h3>
{{=LI(A("Flood Reports hosted locally", _href=URL(f="freport")))}}
<!--
{{=LI(A("Pakistan Broadcasting Corporation"), _href="http://www.radio.gov.pk/flood.asp")}}
<img src='{{=URL(c='default',f='download', args=["doc_image.image.828057afce45f56b.496e6475732043617463686d656e7420526976657220466c6f77204c6576656c732e6a7067.jpg"])}}'>
-->