{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Can't view this debate" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h4>{% trans "Can't view this debate" %}: {{ debate.title }}</h4>
            <p>{% trans "It seems that the debate you're trying to access has <strong>not started</strong>." %}</p>
            <div class="row">
                <div class="span6">
                    <h6>{% trans "Started on:" %}</h6> {{ debate.start_date }}
                </div>
                <div class="span6">
                    <h6>{% trans "Finished on:" %}</h6> {{ debate.end_date }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
