{% extends "base.html" %}
{% load i18n %}

{% with get_place.name as space_name %}
{% with get_place.url as space_url %}

{% block title %}{% trans "Debates in " %}{{ space_name }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h3>{% trans "Debates in" %} {{ space_name }}</h3>

            {% for debate in object_list %}
                <div id="spaceitem">
                    <h6 class="spacetitle"><a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a></h6>
		    <div id="tools">
			{% if perms.debate.change_debate %}
			<a href="{% url 'edit-debate' get_place.url debate.id %}"><img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/></a>
			{% endif %}
			{% if perms.debate.delete_debate %}
			<a href="{% url 'delete-debate' get_place.url debate.id %}"><img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/></a>
			{% endif %}
		    </div>

                    <p class="spacedesc">{{ debate.description|removetags:"p"|safe }}</p>
                </div>
            {% empty %}
                <p>{% trans "There are no debates." %}</p>
            {% endfor %}

            <hr />
            <a href="{% url 'space-index' get_place.url %}" class="btn small">&laquo; {% trans "Go back" %}</a>

            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'list-debates' space_url %}?page={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %} | </a>
                    {% endif %}
                    <span class="page-current">
                        {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'list-debates' space_url %}?page={{ page_obj.next_page_number }}"> | {% trans "next" %} &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
{% endwith %}
{% endwith %}

