{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The")}} {{=module_name}} {{=T("is a central online repository where information on all the disaster victims and families, especially identified casualties, evacuees and displaced people can be stored. Information like name, age, contact number, identity card number, displaced location, and other details are captured. Picture and finger print details of the people can be uploaded to the system. People can also be captured by group for efficiency and convenience.")}}
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Capture Information on Disaster Victim groups (Tourists, Passengers, Families, etc.)")}}</li>
<li>{{=T("Capture Information on each disaster victim")}}</li>
<li>{{=T("Picture upload and finger print upload facility")}}</li>
<li>{{=T("Searching for different groups and individuals")}}</li>
<li>{{=T("Modify Information on groups and individuals")}}</li>
<li>{{=T("Various Reporting functionalities")}}</li>
</ul>
</div>
