@charset "UTF-8";

/* Vertical arrangement of multi-button multi-select filter widgets */
.filter-form .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    clear: left;
    float: left;
    min-width: 220px;
}
.ui-multiselect-menu {
    min-width: 220px;
}
body.rtl .filter-form .ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    clear: right;
    float: right;
}
