@charset "UTF-8";

.resizable-textarea .grippie {
    /*-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;*/
    background: url("img/grippie.png") no-repeat scroll center 2px #EEEEEE;
    border-color: #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 0 1px 1px;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}

div.w2p_fl {
    float: left;
    font-weight: bold;
}

div.w2p_fw {
    float: left;
    clear: both;
}
div.w2p_fc {
    float: left;
    margin: 0 10px;
}
