{{extend "layout.html"}}
<div class='row'>
<div class='columns medium-6'>
<h1>Very very very very long intro heading</h1>
<h2>Very very long subheading with brief intro on what this tool is</h2>
<a href="#" class="button">Get started</a>
</div>
<div class='columns medium-6'>
illustration/photo/video
</div>
</div>
<div class='row'>
<div class='columns medium-6'>
</div>
<div class='columns medium-6'>
<h3>Background</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>
</div>
<div class='row'>
<div class='columns medium-6'>
<h3>eclipse</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>
<div class='columns medium-6'>
</div>
</div>
<div class='row'>
<div class='columns medium-6'>
</div>
<div class='columns medium-6'>
<h3>Partners</h3>
<h4>Save the Children</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<h4>Oxfam</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>
<div class='row'>
<div class='columns medium-3'>
</div>
<div class='columns medium-6'>
<h3>Evidence</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut <p>labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</div>
<div class='columns medium-3'>
</div>
</div>
<div class='row'>
<div class='columns medium-3'>
</div>
<div class='columns medium-6'>
<h3>Want to get in touch with eclipse?</h3>
<form>
<input type='text 'placeholder='enter email'>
<input type='submit' value='Submit'>
</form>
</div>
<div class='columns medium-3'>
</div>
</div>