{{extend "layout.html"}}
<div class='homepage'>
<div class='row'>
<div class='columns medium-5 medium-offset-1'>
<h1>Welcome to the User-Centred Community Engagement Online Hub!</h1>
<p>Give your field teams the tools and resources they need to quickly and easily engage crisis-affected people in humanitarian programme design.</p>
<a href='/eden/project/project/datalist' class='button round'>Get started</a>
</div>
<div class='columns medium-5 end'>
<iframe src="https://player.vimeo.com/video/320265062" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
</div>
<div class='row'>
<div class='columns medium-5 medium-offset-1'>
<img src='/eden/static/themes/UCCE/img/Background.jpg' width="604" height="456">
</div>
<div class='columns medium-5 end'>
<div class='panel'>
<h2>Background</h2>
<p>User-Centred Community Engagement methodology (UCCE) helps humanitarian field staff engage crisis-affected people in designing and improving humanitarian programmes. It is designed to be quick and lightweight, overcoming the major barriers to community engagement such as limited time and resources. UCCE supports field teams in building a deeper understanding of existing service gaps and helps them co-create possible solutions with the affected people while balancing preferences and resources. With funding and support from the Humanitarian Innovation Fund, Oxfam GB and Save the Children UK, UCCE has been piloted with children and adults in emergency Water & Sanitation sector projects in Bangladesh, Iraq and Ethiopia.</p>
</div>
</div>
</div>
<div class='row'>
<div class='columns medium-5 medium-offset-1'>
<div class='panel'>
<h2>About Eclipse Experience</h2>
<p>Eclipse Experience is a human-centred design research company. We work to change people’s lives for the better by generating human-centered insights that help organisations do things differently. Our work spans the areas of Money, Health and Community - three areas that have a profound effect on people’s quality of life. We are particularly interested in helping organisations better understand underrepresented communities and vulnerable populations.</p>
<p>Eclipse has been leading the design and development of the User-Centred Community Engagement methodology and the related tools since 2017.</p>
</div>
</div>
<div class='columns medium-5 end'>
<img src='/eden/static/themes/UCCE/img/AboutEclipse.jpg' width="673" height="424">
</div>
</div>
<div class='row'>
<div class='columns medium-5 medium-offset-1'>
<img src='/eden/static/themes/UCCE/img/Partners.jpg' width="495" height="320">
</div>
<div class='columns medium-5 end'>
<div class='panel'>
<h2>Partners</h2>
<p>The User-Centred Community Engagement methodology would not have been possible without the generous support of our humanitarian partners.</p>
<p>We worked closely with Save the Children UK to create the initial concept and designs of the UCCE methodology. Save the Children UK and its federation partners in Bangladesh, Iraq and Ethiopia have also been indispensable to piloting the methodology in context to test it directly with field teams and crisis-affected communities and improve its components through several iterations.</p>
<p>Oxfam GB have informed the most recent revision of the methodology and funded the development of the open source Digital Toolkit that supports the implementation of UCCE in the field.</p>
<p>The initial development of UCCE and all field pilots to date have been funded by the Humanitarian Innovation Fund. We are also grateful for the dissemination opportunities provided to us by the HIF through its extended network of humanitarian partners.</p>
</div>
</div>
</div>
<div class='row'>
<div class='columns medium-10 medium-offset-1 end'>
<img src='/eden/static/themes/UCCE/img/Evidence.jpg' width="1015" height="320">
</div>
</div>
<div class='row'>
<div class='columns medium-6 medium-offset-3 end'>
<div class='panel'>
<h2>Evidence</h2>
<p>We’re working hard to build a strong evidence base to support the scale-up of the User-Centred Community Engagement methodology. The Evidence section on this website contains our learnings from the field pilots, all UCCE assets and third-party publications featuring UCCE pilots. In line with Eclipse’s commitment to full transparency of our design and research processes, all Evidence resources are open source. The Evidence section will be updated with new resources as these become available.</p>
</div>
</div>
</div>
<div class='row'>
<div class='columns medium-4 medium-offset-4 end'>
<h2>Want to get in touch with eclipse?</h2>
<form>
<input type='text 'placeholder='enter email'>
<input type='submit' value='Submit'>
</form>
</div>
</div>
</div>