{{extend "layout.html"}}
<div id='home'>
{{try:}}
<h1>{{=title}}</h1>
{{except:}}
{{pass}}
{{if item:}}
<div class='panel'>
  {{=item}}
</div>
{{pass}}
<div id='home_menu'>
 {{for index, menu in enumerate(menus):}}
  {{first = index % 4 == 0}}
  {{last = index % 4 == 3 or index == len(menus) - 1}}
  {{if first:}}
  <div class='row'>
  {{pass}}
   <div class='large-3 columns {{if last:}}end{{pass}}'>
    <a href='{{=URL(c=menu["module"], f=menu["function"], args=menu.get("args",None))}}'>
     <h2><i class='fa fa-{{=menu["icon"]}} menu'></i></h2>
     <h2>{{=menu["title"]}}</h2>
    </a>
    <div class='menu_buttons'>
      {{for button in menu["buttons"]:}}
       <a href='{{=URL(c=button.get("controller", menu["module"]), f=button.get("function", menu["function"]), args=button["args"])}}' class='button small secondary {{=button["args"]}}'>
        <i class='fa fa-{{=button["icon"]}}'></i> {{=button["label"]}}</a>
      {{pass}}
    </div>
    <p>{{=menu["description"]}}</p>
   </div>
  {{if last:}}
  </div>
  {{pass}}
 {{pass}}
</div>
