# =============================================================================
# Add a list of CSV files to import into the system
#
# The list of import files is a comma separated list as follows:
#
#   prefix,tablename,csv file name,stylesheet
#
# The CSV file is assumed to be in the same directory as this file
# The style sheet is assumed to be in either of the following directories:
#     static/formats/s3csv/prefix/
#     static/formats/s3csv/
#
# For details on how to import data into the system see the following:
#     zzz_1st_run
#     s3import::S3BulkImporter
# =============================================================================
# Roles
*,import_role,auth_roles.csv
# -----------------------------------------------------------------------------
# GIS
#  Markers
gis,marker,default/gis_marker.csv,marker.xsl
# Config
gis,config,gis_config.csv,config.xsl
gis,hierarchy,default/gis_hierarchy.csv,hierarchy.xsl
gis,hierarchy,gis_hierarchy.csv,hierarchy.xsl
#  Layers
gis,layer_feature,gis_layer_feature.csv,layer_feature.xsl
gis,layer_config,default/gis_layer_openstreetmap.csv,layer_openstreetmap.xsl
gis,layer_config,default/gis_layer_openweathermap.csv,layer_openweathermap.xsl
gis,layer_config,default/gis_layer_bing.csv,layer_bing.xsl
gis,layer_config,default/gis_layer_google.csv,layer_google.xsl
gis,layer_config,default/gis_layer_wms.csv,layer_wms.xsl
gis,layer_config,default/gis_layer_tms.csv,layer_tms.xsl
gis,layer_geojson,default/gis_layer_geojson.csv,layer_geojson.xsl
gis,layer_georss,default/gis_layer_georss.csv,layer_georss.xsl
gis,layer_config,default/gis_layer_coordinate.csv,layer_coordinate.xsl
# -----------------------------------------------------------------------------
org,sector,default/org_sector.csv,sector.xsl
org,organisation_type,default/organisation_type.csv,organisation_type.xsl
org,organisation_type,organisation_type.csv,organisation_type.xsl
org,office_type,default/office_type.csv,office_type.xsl
org,service,org_service.csv,service.xsl
# -----------------------------------------------------------------------------
hrm,skill,hrm_skill.csv,skill.xsl
# -----------------------------------------------------------------------------
cms,series,cms_series.csv,series.xsl
# User Manual
cms,post,RW/cms/user_manual_toc.csv,post.xsl
# -----------------------------------------------------------------------------
supply,catalog_item,BasicItems.csv,catalog_item.xsl
# =============================================================================
