/* OCHA Colours:
background: #002D80;
background: #026CB6;
background: #66B2FF
background: #99CCFF
background: #CCE6FF
*/
body {
    padding: 60px 0 10px 0; /* REVIEW Test this with other templates as this should be sufficient to avoid the top nav menu + give side padding */
}

.navbar-inner {
    background: #026CB6;
    border: none;
}
.navbar .nav > li > a {
    border-left: 1px solid #99CCFF;
}

.navbar .nav > li:last-child {
    border-right: 1px solid #99CCFF;
}

.navbar .nav > li > a:hover {
    background: #002D80;
    box-shadow: none;
}

/* Homepage -  Could this be made generic?*/
.title {
    /* margin: 25px 0 0 50px; */
    float: left
}

.btn-login, .btn-register {
    float: right;
    margin-top: 10px !important;
}

.btn-register {
    clear: right;
}
.homepage.row {
    clear: both;
}

 h1, h2, h3 {
    font-family: NeoSans;
    font-weight: normal;
    color: #444444;
    /*text-shadow: 2px 2px 1px black;*/
}

.title h1, .title h2 {
    background: url('../../img/semi_white_75.png');
    display: table;
}
.title {
    padding: 0 15px;
}

.title h1 {
    font-size: 50px;
    padding: 15px 0;
    margin: 0 0 15px 0;
}

.title h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 10px 0;
    margin: 0;
}

.intro {
    float: left;
    padding: 10px 15px;
}

h1, h2, h3 {
    text-shadow: none
}
a {
    color: #444444;
}

h3 {
    margin: 0;
    padding:0;
    font-family: NeoSans;
    font-weight: normal;
    color: #444444;
    font-size: 18px;
    line-height: 35px;
}
.homepage .link {
    padding: 5px 10px 5px 10px;
    margin: 5px 0;
    background: url('../../img/semi_white_75.png');
}

.homepage .link:hover {
    background-color: white;
}
.homepage .link:hover h3,
.homepage .link:hover a {
    color: #182640;
    text-decoration:none;
}

.dl {
    padding: 5px 2px;
}



.thumbnail {
    background: url('../../img/semi_white_75.png') !important;
/*
        border: none ;
    border-radius: 0;
    box-shadow: none;
    */
}

.thumbnail:hover {
    background-color: white !important;
}

.cms-edit {
    display: none;
}
/***********************************************/
h2, #list-btn-add {
    float: left
}

#list-btn-add {
    margin: 15px 0 0 15px;
}

#list-add,
#summary-common,
#table-container,
.form-container {
    clear: both;
}


/***********************************************/
.homepage {
    clear: both;
    padding: 0 0;
}

.countries {
    height: 85px;
}
.menus {
    margin: 0 1.25% 50px 1.25%;
    padding: 50px 0;
    height: 50px;
    text-align: center;
    background: #66B2FF
}

.country,
.menu {
    float: left;
}

.country {
    width: 9%;
    margin: 0 1.25%;
    padding: 10px 0.5% 5px;
    background: #66B2FF;
    text-align: center;
    height: 55px;
}
.menu {
    width: 20%;
}

.flag {
    height: 20px;
}

.country:hover,
.menu:hover {
    heigth: 50px;
}

.country:hover {
    height: 70px;
}

.country:hover,
.menu h3:hover {
    background: #99CCFF;
}

.badge {
    line-height: 25px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}