{{extend "layout.html"}}{{theme=response.s3.theme}}
<style>body{background:none;}div.container.main-container{width:100%!important;padding-left:0;}
@media(min-width:1200px){div.container.main-container{width:1200px!important;}}</style>


<section id='what-they-do' class='st'>
  <div class='container'>
    <div class='row'>
      <div class='span6'>
        
        <div class='row'>
          <div class='span1'>
            <img src="/{{=appname}}/static/themes/{{=theme}}/img/logo.png" alt=""/>
          </div>
          <div class='span5'>
            <h2> {{=title}}</h2>
          </div>
        </div>

        <!-- Login/Register, Report a Problem buttons -->
        <div class='row'>
          <div class='span2'>
            {{if not auth.is_logged_in():}}
            <div class="btn-group">
              <button type='button' class='btn btn-primary dropdown-toggle' data-toggle="dropdown">
                <i class="icon-signin icon-white"></i> Login/Register
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/{{=appname}}/default/user/login">Login</a></li>
                <li><a href="/{{=appname}}/default/user/register">Register</a></li>
              </ul>
            </div>
            {{else:}}
            <div class='span2'>
              <a type='button' class='btn btn-lg btn-primary s3_modal' href='/{{=appname}}/default/user/profile'>
                <i class="icon-user icon-white"></i> Profile
              </a>
            </div>
            {{pass}}
          </div>
          <div class='span2'>
            <a type='button' class='btn btn-lg btn-primary' href='/{{=appname}}/project/task'>
              <i class="icon-pencil icon-white"></i> Work on a Task
            </a>
          </div>
          <div class='span2'>
            <a type='button' class='btn btn-lg btn-primary' href='#'>
              <i class="icon-exclamation-sign icon-white"></i> Report a Problem
            </a>
          </div>
        </div>

      </div>

      <div class='span6'>
        <div class = 'well'>
          <p>{{=T("Sahana Sunflower is the Sahana Software Foundation’s Community Management Tool. It is built using the Sahana Eden Open Source Disaster Management Platform.")}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='content' class='st'>
 <div class='container'>
  <div class='row'>
   <div class='span4'>
    
    <h2><i class='icon-news'></i> {{=T("Updates Feed")}}</h2>
    <div class = 'well' id='feed-control'>
     <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">{{=T("Loading")}}...</span>
    </div>

    <div>
     <b>URL for the feed :</b>
     	<input id='feed-url' type='text' readonly='readonly' style='cursor:auto;' value=''>
    </div>
   </div>

   <div class='span8'>
    <div id='map-container'>
     <h2><i class='icon-globe'></i> {{=T("Map")}}</h2>
      <!-- Map here -->
      {{=XML(map)}}
    </div>
   </div>
  </div>
 </div>
</section>
