@charset "UTF-8";

/* Homepage */

p {
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
}

div.banner {
    position: relative;
    margin-top: -30px;
}

.title {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 50px 0 0 60px;
}

.title > img.logo {
    margin: 10px 0 0 10px;
    width: 10%;
    float: left;
} 

@font-face {
font-family: NeoSans;
src: url("../../fonts/NeoSans.otf") format("opentype");
}
.title h1,
.title h2 {
    font-family: NeoSans;
    /*font-size: 24pt;*/
    font-weight: normal;
    color: white;
    margin: 0;
    text-shadow: 2px 2px 1px black;
}

.title h1 {
    font-size: 30pt;
}

.title h2 {
    font-size: 24pt;
    margin: 0;
}

div.intro { 
    background-color: #3788B3;
    color: white;
    margin: 20px 0;
    padding: 0 20px 10px 20px;
}

div.intro h3 {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
    margin-bottom: 5px;
}

div.intro p {
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 10px;
}

div.updates,
div.community-data {
    margin: 20px 0;
    border: 1px solid #B2B2B2;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #AAAAA7;
    background-color: white;
}


div.updates {
    padding-top: 5px;
}

div.updates p {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

div.updates h3 {
    display: inline;
    margin: 0 15px;
}

div.updates h5 {
    margin-bottom: 0;
}

div.updates .filter_opts {
    float: right;
    margin: 15px 15px 0 0;
}

div.updates div.media {
    background: linear-gradient(to bottom, #EDEDED 0%, #F6F6F6 10%, #FFFFFF 50%) repeat scroll 0 0 transparent;
    border-top: 1px solid #C8C8C8;
    padding: 5px 10px;
    margin: 0px;
    clear: both;
}

div.updates div.more {
    border-top: 1px solid #C8C8C8;
    padding: 5px 10px;
    margin: 0px;
}


div.map {
    overflow: auto;
}

div.community-data {
    padding: 0 20px 10px 20px;
}

div.community-data .btn {
    background: linear-gradient(to bottom, #3788B3 0%, #235482 100%) repeat scroll 0 0 transparent;
}
div.community-data .btn:hover {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
}
div.community-data h5 {
    margin-bottom: 0px;
}

div.community-data a.menu {
    width: 67%;
}

div.community-data a.create {
    padding-left: 12px;
    padding-right: 12px;
}

div.community-data p {
    margin-bottom: 20px;
}