@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */

.navbar .nav > li > a  {
    padding: 12px;
    font-size: 18px;
    height: 22px;
}

.dropdown-menu.community-data-menu {
    width: 284px;
}

.dropdown-menu > li > a  {
    display: inline-block;
}
.dropdown-menu > li > a:first-child {
    width: 240px;
}
.dropdown-menu > li > a.create  {
    float: right;
}

.dropdown-menu.community-data-menu {
    width: 284px;
}

/* Login Form */
.dropdown-menu form {
    height: 90px;
}
.dropdown-menu .checkbox {
    /* Override Bootstrap on IE */
    padding-left: 0;
}