@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */

.navbar .nav > li > a.home > img {
    width: 29px;
    height: 30px;
}
.navbar .nav > li > a.home  {
    padding: 5px;
}
.navbar .nav > li > a  {
    padding: 12px;
    font-size: 18px;
    height: 22px;
}

.dropdown-menu > li > a  {
    display: inline-block;
}

/* Breaks 'Explore Community Data'
.dropdown-menu > li > a:first-child {
    width: 190px;
}*/
.dropdown-menu > li > a.create  {
    float: right;
}

/* Login Form */
.dropdown-menu form {
    height: 90px
}

.dropdown-menu input.btn {
    left: 250px;
    position: relative;
    top: -45px;
}