@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */

.navbar .nav > li > a.home > img {
    width: 29px;
    height: 30px;
}
.navbar .nav > li > a.home  {
    padding: 5px;
}

.navbar .nav > li > a.map  {
    padding: 12px;
    font-size: 18px;
}

.navbar .nav > li > a  {
    float: left;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0.75em 1em;
}
.dropdown-menu > li > a  {
    display: inline;
}

.dropdown-menu > li > a.create  {
    float: right;
}