/* Override DRMP */
#alert-space {
    padding-top: 20px;
}
body {
    padding-top: 60px;
}

/* Summary Page */
h2.summary {
    float: left;
}

.btn.summary-create {
    background: linear-gradient(to bottom, #3788B3 0%, #235482 100%) repeat scroll 0 0 transparent;
    margin: 15px;
    padding: 4px 6px;
    float: left;
}

#summary-common { 
    float: left;
    margin-top: 20px;
}

#summary-tabs.ui-widget-content {
    width: 100%;
    background: none;
    float: left;
    margin-top: -33px;
}

#summary-tabs .ui-tabs-nav {
    border: none;
    margin-bottom: 0;
}

.ui-tabs {
    clear: left;
}

.ui-tabs .ui-tabs-nav li {
    float: right;
}

#summary-sections {
    background-color: white;
}

#summary-tabs #filter-form {
    margin: 0 50px;
    position: absolute;
    top: 53px;
    width: auto;
    z-index: 1;
}

#summary-tabs .x-panel-body {
    border: none;
}

#summary-tabs #table {
    margin: 0 20px;
    padding: 200px 0 20px;
}

/* Hide the colons for Location Selectors */
#stats_resident_location_id__label,
#event_incident_report_location_id__label,
#vulnerability_risk_location_id__label,
#project_activity_location_id__label,
#stats_trained_location_id__label,
#org_facility_location_id__label,
#vulnerability_evac_route_location_id__label {
    display: none;
}

/* Filter Forms */
#filter-form td {
    border: none;
}

input.filter-search {
    text-align: center;
}

input.btn.btn-primary.filter-submit {
    width: 90%;
    padding-right: 5px;
    padding-left: 5px;
}

input.btn.btn-primary.filter-submit.filter-ajax {
    margin-top: 15px;
    margin-bottom: -15px;
}

button.ui-multiselect.ui-state-default.ui-corner-all {
    display: inline-block;
    *display: inline;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 12px;
    padding: 2px 5px 2px 12px;
    line-height: 20px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button.ui-multiselect.ui-state-default.ui-corner-all:hover {
    color: #333333;
    background: #e6e6e6;
    *background: #d9d9d9;
}

button.ui-multiselect.ui-state-default.ui-corner-all {
    margin-bottom: 10px;
}
