{{extend "layout.html"}}
<div class='row'>
 <div class='span3 bs-docs-sidebar'>
  <div id='list-filter' class='thumbnail side-filter'>
  {{=list_filter_form}}
  </div>
 </div>
 <div class='span6'>
  <h4 class='latest-updates'>{{=T("Latest Activity")}}</h4>
  <a href='#myModal' role='button' data-toggle='modal'><i class='icon icon-plus-sign big-add'></i></a>
  {{=items}}
 </div>
 <div class='span3'>
  <h4 class='latest-disasters'>{{=T("Disasters")}}</h4>
  {{=disasters}}
 </div>
</div>
<div id='myModal' class='modal hide fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
 <div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
  <h3 id='myModalLabel'>{{=T("Add New Information")}}</h3>
 </div>
 <form action="#" class="form-horizontal" enctype="multipart/form-data" method="post">
  <div class='modal-body'>
   {{try:}}{{=form[0]}}{{except:}}{{pass}}
  </div>
  <div class='modal-footer'>
   <button class='btn' data-dismiss='modal' aria-hidden='true'>{{=T("Close")}}</button>
   {{try:}}{{=form.custom.submit}}{{except:}}{{pass}}
  </div>
 {{try:}}{{=form.custom.end}}{{except:}}{{pass}}
</div>
{{include "dataLists.html"}}