{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'E-mail change processed' %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="span8">
            <h3>{% trans 'E-mail change processed' %}</h3>
		    <p>{% trans "An e-mail has been sent to the new e-mail address to verify and activate it. Please access to your e-mail and complete this process following the instructions specified in the e-mail body" %}.</p>
        </div>
        <div class="span4">
            <h3>{% trans "Add e-mail" %}</h3>
            <p>{% trans "Insert the new e-mail address. An e-mail will be send to it for testing and confirmation" %}.</p>
        </div>
    </div>

{% endblock %}
