{% extends "base_2col.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block robots %}noindex,nofollow{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.validation.js"></script>
<script type="text/javascript">
	$(function() {
		$("#id_email").focus();
		$("input[type='text']").addClass("text");
	});
</script>
{% endblock %}

{% block content %}
	<form action="" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>{% trans "Password reset" %}</legend>
		<label for="id_email">{% trans 'E-mail address' %}</label>
		<p>{{ form.email }}
			{% if form.email.errors %}
				<span class="quiet red"><br />* {{ form.email.errors|join:"; " }}</span>
			{% endif %}
		</p>
		{% if form.non_field_errors %}
			<ul class="quiet red">{{ form.non_field_errors.as_ul }}</ul>
		{% endif %}
	</fieldset>
	<p><input type="submit" value="{% trans 'Reset my password' %}" /></p>
	</form>
{% endblock %}

{% block content-related %}
	<div class="box">
		<h3>{% trans "Password reset form" %}</h3>
		<p>{% trans "Forgotten your password? Enter your e-mail address, and we'll reset your password and e-mail the new one to you" %}.</p>
	</div>
{% endblock %}
