{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h4>{% trans "Reset password for" %} {{ user }}</h4>
            <form action="" method="post" accept-charset="utf-8">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}

                <div class="clearfix {% if form.email.errors %}error{% endif%}">
                    <label for="prependedInput">{% trans 'E-mail address' %}</label>
                    <div class="input">
                        {{ form.email }}
                        <span class="help-inline">
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.email.help_text }}
                            {% endif %}
                        </span>
                    </div>
                </div>

                <hr />
                <a href="{% url 'profile_overview' %}" class="btn">&laquo; {% trans "Go back" %}</a>
                <input class="btn btn-primary" type="submit" value="{% trans 'Reset my password' %}" />

            </form>
        </div>
    </div>

{% endblock %}
