{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration complete" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <p>{% trans "You have successfully registered a new account. In a few minutes you will receive a validation email on your mailbox to validate your registration. You can go now to the" %} <a href="{% url 'profile_overview' %}">{% trans "login page" %}</a> {% trans "to authenticate and start using this site." %}</p>
        </div>
    </div>

{% endblock %}
