@charset "UTF-8";

#login_box {
    width: 100% !important;
    background: transparent;
    border: 0;
}
#site-title {
    text-align: center;
    padding-top: 2rem;
}
#site-title h2, h3 {
    font-weight: normal!important;
    background: none!important;
    padding: 0.35rem 0!important;
    margin: 0!important;
}
#site-title h2 {
    font-size: 2.3125rem!important;
}
#login_form h3 {
    font-size: 1.6875rem!important;
    padding: 0.35rem 0!important;
}
.row.home-top {
    min-height: 30rem;
}
