{{extend "layout.html"}}
<h2> Click the authenticate button to access your Google Account</h2>
<script type = "text/javascript">
	Ext.onReady(function()
	{
		var login_button = new Ext.Button({
			text : 'Click here to login to your Google Account',
			renderTo: "login",
			handler : function()
			{
				window.location='https://www.google.com/accounts/AuthSubRequest?scope=http%3A%2F%2Fspreadsheets.google.com%2Ffeeds%2F&session=1&secure=0&next=http%3A%2F%2F{{=request.env.http_host}}%2F{{=request.application}}%2Fimporter%2Fspreadsheet.html';
			}
		});
	});
</script>
<div id='login' align='center'><a href='{{=auth_url}}'>Login to your Google Account</a></div>


