{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
<div align="center"><strong><i>"{{=T("Store spreadsheets in the Eden database")}}"</i></strong></div>
</p>
<p>
{{=T("The")}} {{=module_name}} {{=T("can be used to extract data from spreadsheets and put them into database tables.")}}</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Importing data from spreadsheets")}}</li>
<li>{{=T("Modifying data in spreadsheet before importing it to the database")}}</li>
<li>{{=T("Commiting a changed spreadsheet to the database")}}</li>
</ul>
</div>
