{{extend "layout.html"}}
<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/css/Ext.ux.grid.RowActions.css"/>
<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/css/icons.css"/>
<link rel="stylesheet" type="text/css" href="../static/styles/S3/importer.css"></link>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/Ext.ux.grid.RowActions.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/S3/importer/similar_rows.js"></script>
<script type="text/javascript">
	var similar_rows = {{=len(session.similar_rows)}};
	var success = {{=len(session.similar_rows)}};
	var similar_rows = {{=XML(session.similar_rows)}};
	var number_column = {{=XML(session.import_columns)}};
	var map = {{=XML(session.import_map)}};
	var resource = '{{=session.import_resource}}';
	var url = '{{=request.env.http_host}}';
	var application = '{{=request.application}}';
	if(similar_rows)
	{
		k = similar_rows;
		similar(k);
	}
	else
		window.location = 'http://' + url + '/' + application + '/importer';
</script>		

<h1>This is the importer/similar_rows.html template</h1>
<div id = "spreadsheet"></div>
{{=BEAUTIFY(response._vars)}}
