{{extend "layout.html"}}

<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/Ext.ux.MultiSelect.css"/>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/Ext.ux.MultiSelect.js"></script>

	
<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/css/Ext.ux.grid.RowActions.css"/>
<link rel ="stylesheet" type="text/css" href="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/css/icons.css"/>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext/examples/CheckColumn.js"></script>
<script type="text/javascript" src="/{{=request.application}}/static/scripts/ext-community-extensions/rowactions/Ext.ux.grid.RowActions.js"></script>
<link rel="stylesheet" type="text/css" href="../static/styles/S3/importer.css"></link>
      
{{modules = {} }}
{{importable_resources = {} }}
{{
for k in deployment_settings.modules:
modules[deployment_settings.modules[k].name_nice] = k
if deployment_settings.modules[k].resources is not None:
importable_resources[k] = deployment_settings.modules[k].resources
}}
{{pass}}
{{pass}}
{{
for l in importable_resources:
if importable_resources is not None:
importable_resources[l] = dict(importable_resources[l])}}
{{pass}}
{{pass}}
	

<script type="text/javascript">
	var json = {{=XML(ss)}};
	var importsheet = {};
	importsheet.datastore = {};
	var url = '{{=request.env.http_host}}';
	var application = '{{=request.application}}';
	{{del modules["Administration"]}}
	{{del modules["Home"]}}
    {{nice_names = []}}
    {{for key in modules.keys():}}
        {{nice_names.append(str(key))}}
    {{pass}}
	var modules_nice_names = {{=XML(nice_names)}};
	{{_modules = []}}
    {{for module in modules:}}
        {{_modules.append(str(module))}}
    {{pass}}
	var modules = {{=XML(_modules)}};
	var resources = "{{=XML(importable_resources)}}";
	resources = resources.replace(/False/g, 'false');
	resources = resources.replace(/True/g, 'true');
	resources = eval('('+resources+')');
</script>

<script type="text/javascript" src='../static/scripts/S3/importer/import.js'></script>
<script type="text/javascript" src='../static/scripts/S3/importer/view4.js'></script>
<script type="text/javascript" src='../static/scripts/S3/importer/view3.js'></script>
<script type="text/javascript" src='../static/scripts/S3/importer/view2.js'></script>
<script type="text/javascript" src="../static/scripts/S3/importer/view1.js"></script>
<div id='message2' class='hide' >Select header row, the row which has titles of each column in the spreadsheet</div>
<div id='message3' class='hide'>Select a single table to import the spreadsheet to</div>
<div id='message4' class='hide'> Map columns in the spreadsheet to fields in teh table</div>
<div id='spreadsheet' ></div>
