{{extend "layout.html"}}
<h3>{{=T("Manage Layers in Catalog")}}:</h3>
<ul>
<li><a href='{{=URL(f="layer_feature")}}'>Features</a> - Internal Resources</li>
<li><a href='{{=URL(f="layer_arcrest")}}'>ArcGIS REST</a> - Feeds</li>
<li><a href='{{=URL(f="layer_geojson")}}'>GeoJSON</a> - Feeds</li>
<li><a href='{{=URL(f="layer_georss")}}'>GeoRSS</a> - Feeds</li>
<li><a href='{{=URL(f="layer_gpx")}}'>GPX</a> - GPS eXchange format</li>
<li><a href='{{=URL(f="layer_kml")}}'>KML</a> - Google Earth's Keyhole Markup Language</li>
<li><a href='{{=URL(f="layer_mgrs")}}'>MGRS</a> - Military Grid Reference System PDFs</li>
<li><a href='{{=URL(f="layer_openstreetmap")}}'>OSM</a> - OpenStreetMap Tiles</li>
<li><a href='{{=URL(f="layer_openweathermap")}}'>OWM</a> - OpenWeatherMap data</li>
<li><a href='{{=URL(f="layer_theme")}}'>Theme</a> - Thematic Mapping</li>
<li><a href='{{=URL(f="layer_tms")}}'>TMS</a> - Tile Mapping Service</li>
<li><a href='{{=URL(f="layer_wfs")}}'>WFS</a> - Web Feature Service</li>
<li><a href='{{=URL(f="layer_wms")}}'>WMS</a> - Web Map Service</li>
<li><a href='{{=URL(f="layer_xyz")}}'>XYZ</a> - XYZ Tiles</li>
<li><a href='{{=URL(f="layer_js")}}'>JS</a> - Advanced Javascript Layers</li>
</ul>
