<h2>{{=T("Map Service Catalog")}}</h2>
<div class='tabs'>
{{if request.function == "config":}}
    <span class='tab_here'>
{{else:}}
    <span class='tab_other'>
{{pass}}
<a href='{{=URL(c='gis',f='config')}}'>
{{=T("Configurations")}}
</a></span>
{{if request.function == "map_service_catalogue":}}
    <span class='tab_here'>
{{else:}}
    <span class='tab_other'>
{{pass}}
<a href='{{=URL(c='gis',f='map_service_catalogue')}}'>
{{=T("Layers")}}
</a></span>
{{if request.function == "marker":}}
    <span class='tab_here'>
{{else:}}
    <span class='tab_other'>
{{pass}}
<a href='{{=URL(c='gis',f='marker')}}'>
{{=T("Markers")}}
</a></span>
{{if request.function == "projection":}}
    <span class='tab_here'>
{{else:}}
    <span class='tab_last'>
{{pass}}
<a href='{{=URL(c='gis',f='projection')}}'>
{{=T("Projections")}}
</a></span>
</div>