<div id='convert-win' class='x-hidden'>
<div class='x-window-header'>{{=T("Coordinate Conversion")}}</div>
  <div id='convert-tabs'>
    <!-- Auto create tab 1 -->
    <div class='x-tab' title='{{=T("in GPS format")}}'>
      <p style='padding:1px; 5px;'>
        <form name='inGPScoord'>
          <table border='0' cellpadding='2' width='400'  class='gps_table'>
            <tr style='padding:2px;'>
              <td style='padding:2px;' align='center'><font face='Arial' size='2'><b>{{=T("Enter a GPS Coord")}}:</b>&nbsp;&nbsp;<input type='text' size='3' name='form3_gpsdeg'>&nbsp;deg &nbsp;
                <input type='text' size='6' name='form3_gpsmin'>&nbsp;min</font>
              </td>
            </tr>
            <tr style='padding:2px;'>
              <td style='padding:2px;' align='center' bgcolor='#C0C0C0'><font face='Arial' size='2'><b>{{=T("Decimal Degrees")}}</b>
                <input type='text' size='8' name='form3_dec' id='form3_dec' /></font>
              </td>
            </tr>
            <tr>
              <td style='padding:2px;' align='center'><input type='button' value='{{=T("Calculate")}}' onclick='s3_gis_convertGps(this.inGPScoord)'>
                <input type='reset' value='{{=T("Reset")}}'>
              </td>
            </tr>
          </table>
        </form>
      </p>
    </div>
    <!-- Auto create tab 2 -->
    <div class='x-tab' title='{{=T("in Deg Min Sec format")}}'>
      <p style='padding:1px; 5px;'>
        <form name='inDDMMSS'>
          <table border='0' cellpadding='2' width='400' class='gps_table'>
            <tr>
              <td style='padding:2px;' align='center'><font face='Arial' size='2'>
                <font face='Arial' size='2'><b>{{=T("Enter Coordinates:")}}&nbsp;</b></font>
                Deg&nbsp;<input type='text' size='3' name='form1_dd' align='right'>
                Min&nbsp;<input type='text' size='2' name='form1_mm' align='right'>
                Sec&nbsp;<input type='text' size='2' name='form1_ss' align='right'></font>
              </td>
            </tr>
            <tr>
              <td style='padding:2px;' align='center' bgcolor='#C0C0C0'><font face='Arial' size='2'><b>{{=T("Decimal Degrees")}}</b>
                <input type='text' size='8' name='form1_dec' id='form1_dec' /></font>
              </td>
            </tr>
            <tr>
              <td style='padding:2px;' align='center'>
                <input type='button' value='{{=T("Calculate")}}' onclick='s3_gis_convertDD(this.inDDMMSS)'>
                <input type='reset' value='{{=T("Reset")}}'>
              </td>
            </tr>
          </table>
        </form>
    </p>
  </div>
</div>
</div>

<script type="text/javascript">//<![CDATA[
    // Coordinate Calculations
    var s3_gis_calcDone = false;   // to track for finish button
    var s3_gis_calcAnswer;         // lets have a global answer to fill back using 1 function

    function s3_gis_convertDD() {
        // Convert Degrees Minutes Seconds to Decimal Degrees
        var deg = document.inDDMMSS.form1_dd.value;
        var min = document.inDDMMSS.form1_mm.value;
        var sec = document.inDDMMSS.form1_ss.value;

        var invalid = false;

        if (deg == ''){
            deg = 0;
        } else if (isNaN(deg) || deg > 180 || deg < -180){
            alert('{{=T("Degrees must be a number between -180 and 180")}}.');
            invalid = true;
        }
        if (min == ''){
            min = 0;
        } else if (isNaN(min) || min > 60 || min < 0){
            alert('{{=T("Minutes must be a number between 0 and 60")}}.');
            invalid = true;
        }
        if (sec == ''){
            sec = 0;
        } else if (isNaN(sec) || sec > 60 || sec < 0){
            alert('{{=T("Seconds must be a number between 0 and 60")}}.');
            invalid = true;
        }
        if (invalid == false) {
            var dec_min = (min*1.0 + (sec/60.0));
            if (deg > 0){
                s3_gis_calcAnswer = deg*1.0 + (dec_min/60.0);
            } else {
                s3_gis_calcAnswer = deg*1.0 - (dec_min/60.0);
            }
            document.inDDMMSS.form1_dec.value = s3_gis_calcAnswer;
            s3_gis_calcDone = true;
        }
    }

    function s3_gis_convertGps() {
        // Convert GPS Coordinates to Decimal Degrees
        var deg = 0;
        var min = 0;
        deg = document.inGPScoord.form3_gpsdeg.value;
        min = document.inGPScoord.form3_gpsmin.value;

        var invalid = false;

        if (deg == ''){
            deg = 0;
        } else if (isNaN(deg) || deg > 180 || deg < -180){
            alert('{{=T("Degrees must be a number between -180 and 180")}}.');
            invalid = true;
        }
        if (min == ''){
            min = 0;
        } else if (isNaN(min) || min > 60 || min < 0){
            alert('{{=T("Minutes should be a number greater than 0 and less than 60")}}.');
            invalid = true;
        }
        if (invalid == false) {
            if (deg > 0){
                s3_gis_calcAnswer = (deg*1.0) + min/60.0;
            } else {
                s3_gis_calcAnswer = (deg*1.0) - min/60.0;
            }
            document.inGPScoord.form3_dec.value = s3_gis_calcAnswer;
            s3_gis_calcDone = true;
        }
    }

    function s3_gis_convertFillBack(whereto) {
        // Fill calculated values into main page in background
        if (s3_gis_calcDone == true) {
            if (whereto == 1) {
                $('#gis_location_lat').attr('value', s3_gis_calcAnswer);
            } else {
                $('#gis_location_lon').attr('value', s3_gis_calcAnswer);
            }
            return true;
        } else {
            alert("{{=T("You haven't made any calculations")}}.");
        }
        return false;
    }

    // Popup
    Ext.onReady(function(){
        var win;
        var button = Ext.get('gis_location_converter-btn');

        button.on('click', function(){
            // create the window on the first click and reuse on subsequent clicks
            if(!win){
                win = new Ext.Window({
                    applyTo: 'convert-win',
                    layout: 'fit',
                    width: 400,
                    height: 200,
                    closeAction: 'hide',
                    plain: true,

                    items: new Ext.TabPanel({
                        applyTo: 'convert-tabs',
                        autoTabs: true,
                        activeTab: 0,
                        deferredRender: false,
                        border: false
                    }),

                    buttons: [{
                        text: '{{=T("Fill in Latitude")}}',
                        disabled: false,
                        handler: function(){
                            if (s3_gis_convertFillBack(1)){
                                s3_gis_calcDone = false;
                                $('#form1_dec').val('');
                                $('#form3_dec').val('');
                                //win.hide();
                            }
                        }
                    },{
                        text: '{{=T("Fill in Longitude")}}',
                        handler: function(){
                            if (s3_gis_convertFillBack(2)){
                                s3_gis_calcDone = false;
                                $('#form1_dec').val('');
                                $('#form3_dec').val('');
                                //win.hide();
                            }
                        }
                    }]
                });
            }
            win.show(this);
        });
    });
//]]></script>
