{{extend "layout.html"}}
{{include "gis/catalogue_toolbar.html"}}
{{form[0].insert(-3, TR(TD(LABEL(T("Advanced:"))), INPUT(_name="advanced", _type="checkbox", _value="on", _id="advanced", _class="boolean")))}}
{{include "_create.html"}}
<script type="text/javascript">//<![CDATA[
$(function() {
    var advanced;
    var resource;
    var url;
    var options = '';
    // Hide the query row unless user clicks 'Advanced'
    $('#gis_feature_layer_query__row').hide();
    // Convert the field row to a dropdown (initially empty)
    $('#gis_feature_layer_filter_field').parent().html('<select id="gis_feature_layer_filter_field" name="filter_field"></select>');
    // When the checkbox changes:
	$('#advanced').change(function() {
		// What is the new value?
        advanced = $(this).attr('checked');
        if (advanced) {
            // Display the query row
            $('#gis_feature_layer_query__row').show();
            // Hide the simple rows
            $('#gis_feature_layer_resource__row').hide();
            $('#gis_feature_layer_filter_field__row').hide();
            $('#gis_feature_layer_filter_value__row').hide();
        } else {
            // Hide the query row again
            $('#gis_feature_layer_query__row').hide();
            // Show the simple rows
            $('#gis_feature_layer_resource__row').show();
            $('#gis_feature_layer_filter_field__row').show();
            $('#gis_feature_layer_filter_value__row').show();
        }
	})
    // @ToDo: Populate the list of fields from server when the resource changes
    $('#gis_feature_layer_resource').change(function() {
        resource = $(this).val();
        url = '{{=URL3(r=request)}}' + '/' + resource + '/fields.s3json';
        $.getS3(
                url,
                function(data) {
                    //for(key in data) {
                    //    options += '<option value="' + data[key] + '">' + data[key] + '</option>';
                    //}
                    //$('#gis_feature_layer_filter_field').html(options);
                }
            );
    });
});
//]]></script>