<div id='legend'>
    <table align='center'>
        <tr>
            <!--@ToDo Have the list pulled from Active Layers, Images from Feature Class (& display inside Ext window) -->
            <!--<td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.Emergency_Teams_S1.png" % request.application, _height="30", _width="30")}}</td>-->
            <!--<td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.Edu_Schools_S1.png" % request.application, _height="25", _width="31")}}</td>-->
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.E_Med_Hospital_S1.png" % request.application, _height="30", _width="30")}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.Emergency_Shelters_S1.png" % request.application, _height="30", _width="30")}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.Emergency_Operations_Center_S1.png" % request.application, _height="30", _width="30")}}</td>
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.Volunteer.png" % request.application, _height="30", _width="30")}}</td>
            <!--<td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.marker_red.png" % request.application)}}</td>-->
            <!--<td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.marker_yellow.png" % request.application)}}</td>-->
            <!--<td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/markers/gis_marker.image.marker_green.png" % request.application)}}</td>-->
            <td style='padding:1px; text-align:center;'>{{=IMG(_src="/%s/static/img/Cluster.png" % request.application)}}</td>
        </tr>
        <tr>
            <!--<td style='padding:5px;'>{{=T("Activities")}}</td>-->
            <!--<td style='padding:5px;'>{{=T("Schools")}}</td>-->
            <td style='padding:5px;'>{{=T("Hospitals")}}</td>
            <td style='padding:5px;'>{{=T("Shelters")}}</td>
            <td style='padding:5px;'>{{=T("Offices & Warehouses")}}</td>
            <td style='padding:5px;'>{{=T("Volunteers")}}</td>
            <!--<td style='padding:5px;'>{{=T("Incidents")}}</td>-->
            <!--<td style='padding:5px;'>{{=T("Requests")}}</td>-->
            <!--<td style='padding:5px;'>{{=T("Assessments")}}</td>-->
            <td style='padding:5px;' align='center'>{{=T("Multiple")}}<br />({{=T("click for more details")}})</td>
        </tr>
    </table>
</div>