{{extend "layout.html"}}
{{include "gis/location_dedup_table.html"}}
{{try:}}
 {{=H2(title)}}
{{except:}}
{{pass}}
<table>
<tr><td>{{=form1}}</td>
<td>{{=form2}}</td></tr>
</table>
<script type="text/javascript">//<![CDATA[
// Function to get URL variables
function getUrlVars(){
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for (var i = 0; i < hashes.length; i++) {
        var hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

// Function to make AJAX requests to update new record and delete old record
function makeRequest(xml, url, newRec, old){
    var xmler = (new XMLSerializer()).serializeToString(xml);
    $.ajax({
        type: 'PUT',
        url: url,
        data : xmler,
        dataType : 'xml',
        processData : 'false',
        contentType: 'text/xml',
        success: function(res) {
            alert('{{=T("Record Saved")}}');
        }
    });
    var newUrl = '{{=URL(c='gis',f='delete_location')}}';
    var dataVar = 'new=' + newRec  + '&old=' + old;
    alert('{{=T("The duplicate record will be deleted")}}');
    $.ajax({
        type: 'POST',
        url: newUrl,
        data: dataVar,
        success: function(msg){
        alert(msg);
        window.close();
        //write code here to close the window
        }
    });
}

$(document).ready(function(){
    $('#gis_location_name_dummy__row').remove();
    $('#gis_location_name_dummy__row').remove();
    $('#gis_location_id__row').remove();
    $('#gis_location_id__row').remove();
    $('table tr td').each(function() {
        // Make it look uniform on all browsers
        this.style.height = '25px';
    });

    // operations done when form1 is submitted
    $('#form1').submit(function(event){
        var url = this.action + '.xml'
        var str = this.id + ' :input'
        var $inputs = $('#form1 :input');
        var values = {};
        $inputs.each(function() {
            // Associative array of form elements names and values
            values[this.name] = $(this).val();
        });
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'xml',
            success: function(xml){
                $(xml).find('data').each(function() {
                    var name = $(this).attr('field');
                    var value = $(this).text();         // Seems redundant?
                    $(this).text(values[name]);
                });
                var newRec = getUrlVars()['locID1'];
                var old = getUrlVars()['locID2'];
                makeRequest(xml, url, newRec, old);
            }
        });
        
       event.preventDefault(); 
    });


    // Function to run on submission of form2
    $('#form2').submit(function(event) {
        var url = this.action + '.xml'
        var str = this.id + ' :input'
        var $inputs = $('#form2 :input');
        var values = {};
        $inputs.each(function() {
            // Associative arrays containing name valure pairs of form elements
            values[this.name] = $(this).val();
        });
        $.ajax({     //To get the XML format to be used for posting data to server
            type: 'GET',
            url: url,
            dataType: 'xml',
            success: function(xml) {
                $(xml).find('data').each(function () {      //Procedure to iterate over one data block after another from the XML
                    var name = $(this).attr('field')
                    var value = $(this).text();         // Seems redundant?
                    $(this).text(values[name]);
                });
                var newRec = getUrlVars()['locID2'];
                var old = getUrlVars()['locID1'];
                makeRequest(xml, url, newRec, old);
            }
        });
       event.preventDefault();                  //Prevent default behavior
    });


    $('.leftArrows').live('click', function() {
        var answer;
        var number = this.id.substring(0, 2);       //switching based on first two nos of the id
        switch(number) {
            case '1L':
                answer = $('input[id="gis_location_name"]').last().val()
                $('input[id="gis_location_name"]').first().val(answer);
                $('input[id="gis_location_name"]').last().val('')
                break;
            case '3L':
                answer = $('input[id="gis_location_code"]').last().val()
                $('input[id="gis_location_code"]').first().val(answer);
                $('input[id="gis_location_code"]').last().val('')
                break;
            case '4L':
                answer = $('select[id="gis_location_level"]').last().val()
                $('select[id="gis_location_level"]').first().val(answer);
                $('select[id="gis_location_level"]').last().val('')
                break;
            case '5L':
                answer = $('select[id="gis_location_parent"]').last().val()
                $('select[id="gis_location_parent"]').first().val(answer);
                $('select[id="gis_location_parent"]').last().val('')
                break;
            case '6L':
                answer = $('input[id="gis_location_path"]').last().val()
                $('input[id="gis_location_path"]').first().val(answer);
                $('input[id="gis_location_path"]').last().val('')
                break;
            case '7L':
                answer = $('input[id="gis_location_addr_street"]').last().val()
                $('input[id="gis_location_addr_street"]').first().val(answer);
                $('input[id="gis_location_addr_street"]').last().val('')
                break;
            case '8L':
                answer = $('select[id="gis_location_gis_feature_type"]').last().val()
                $('select[id="gis_location_gis_feature_type"]').first().val(answer);
                $('select[id="gis_location_gis_feature_type"]').last().val('')
                break;
            case '9L':
                answer = $('input[id="gis_location_lat"]').last().val()
                $('input[id="gis_location_lat"]').first().val(answer);
                $('input[id="gis_location_lat"]').last().val('')
                break;
            case '10':
                answer = $('input[id="gis_location_lon"]').last().val()
                $('input[id="gis_location_lon"]').first().val(answer);
                $('input[id="gis_location_lon"]').last().val('')
                break;
            case '11':
                answer = $('textarea[id="gis_location_wkt"]').last().val()
                $('textarea[id="gis_location_wkt"]').first().val(answer);
                $('textarea[id="gis_location_wkt"]').last().val('')
                break;
            case '12':
                answer = $('input[id="gis_location_url"]').last().val()
                $('input[id="gis_location_url"]').first().val(answer);
                $('input[id="gis_location_url"]').last().val('')
                break;
            case '13':
                answer = $('input[id="gis_location_geonames_id"]').last().val()
                $('input[id="gis_location_geonames_id"]').first().val(answer);
                $('input[id="gis_location_geonames_id"]').last().val('')
                break;
            case '14':
                answer = $('input[id="gis_location_osm_id"]').last().val()
                $('input[id="gis_location_osm_id"]').first().val(answer);
                $('input[id="gis_location_0sm_id"]').last().val('')
                break;
            case '22':
                answer = $('select[id="gis_location_source"]').last().val()
                $('select[id="gis_location_source"]').first().val(answer);
                $('select[id="gis_location_source"]').last().val('')
                break;
            case '23':
                answer = $('textarea[id="gis_location_comments"]').last().val()
                $('textarea[id="gis_location_comments"]').first().val(answer);
                $('textarea[id="gis_location_comments"]').last().val('')
                break;
            default:
        }
    });
    $('.rightArrows').live('click', function() {
        var answer;
        var number = this.id.substring(0, 2);
        switch(number) {
            case '1R':
                alert ($('input[id="gis_location_name"]').first().val());
                answer = $('input[id="gis_location_name"]').first().val()
                $('input[id="gis_location_name"]').last().val(answer);
                $('input[id="gis_location_name"]').first().val('')
                break;
            case '3R':
                answer = $('input[id="gis_location_code"]').first().val()
                $('input[id="gis_location_code"]').last().val(answer);
                $('input[id="gis_location_code"]').first().val('')
                break;
            case '4R':
                answer = $('select[id="gis_location_level"]').first().val()
                alert(answer);
                $('select[id="gis_location_level"]').last().val(answer);
                $('select[id="gis_location_level"]').first().val('')
                break;
            case '5R':
                answer = $('select[id="gis_location_parent"]').first().val()
                $('select[id="gis_location_parent"]').last().val(answer);
                $('select[id="gis_location_parent"]').first().val('')
                break;
            case '6R':
                answer = $('input[id="gis_location_path"]').first().val()
                $('input[id="gis_location_path"]').last().val(answer);
                $('input[id="gis_location_path"]').first().val('')
                break;
            case '7R':
                answer = $('input[id="gis_location_addr_street"]').first().val()
                $('input[id="gis_location_addr_street"]').last().val(answer);
                $('input[id="gis_location_addr_street"]').first().val('')
                break;
            case '8R':
                answer = $('select[id="gis_location_gis_feature_type"]').first().val()
                $('select[id="gis_location_gis_feature_type"]').last().val(answer);
                $('select[id="gis_location_gis_feature_type"]').first().val('')
                break;
            case '9R':
                answer = $('input[id="gis_location_lat"]').first().val()
                $('input[id="gis_location_lat"]').last().val(answer);
                $('input[id="gis_location_lat"]').first().val('')
                break;
            case '10':
                answer = $('input[id="gis_location_lon"]').first().val()
                $('input[id="gis_location_lon"]').last().val(answer);
                $('input[id="gis_location_lon"]').first().val('')
                break;
            case '11':
                answer = $('textarea[id="gis_location_wkt"]').first().val()
                $('textarea[id="gis_location_wkt"]').last().val(answer);
                $('textarea[id="gis_location_wkt"]').first().val('')
                break;
            case '12':
                answer = $('input[id="gis_location_url"]').first().val()
                $('input[id="gis_location_url"]').last().val(answer);
                $('input[id="gis_location_url"]').first().val('')
                break;
            case '13':
                answer = $('input[id="gis_location_geonames_id"]').first().val()
                $('input[id="gis_location_geonames_id"]').last().val(answer);
                $('input[id="gis_location_geonames_id"]').first().val('')
                break;
            case '14':
                answer = $('input[id="gis_location_osm_id"]').first().val()
                $('input[id="gis_location_osm_id"]').last().val(answer);
                $('input[id="gis_location_0sm_id"]').first().val('')
                break;
            case '22':
                answer = $('select[id="gis_location_source"]').first().val()
                $('select[id="gis_location_source"]').last().val(answer);
                $('select[id="gis_location_source"]').first().val('')
                break;
            case '23':
                answer = $('textarea[id="gis_location_comments"]').first().val()
                $('textarea[id="gis_location_comments"]').last().val(answer);
                $('textarea[id="gis_location_comments"]').first().val('')
                break;
            default:
        }
    });
});
//]]></script>
