{{if s3.debug:}}
    <script src="/{{=appname}}/static/scripts/jquery.dataTables.js" type="text/javascript" charset="utf-8"></script>
{{else:}}
    <script src="/{{=appname}}/static/scripts/jquery.dataTables.min.js" type="text/javascript" charset="utf-8"></script>
{{pass}}
<script type="text/javascript">//<![CDATA[
sSource = window.location.href;
$(document).ready(function(){
lastloc=[];
max = "undefined"
oSettings = "";
prev = "undefined"
//The data table
oTable = $('#list').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "../gis/location_duplicates",
    "bSort": false,
    "iDisplayStart": 0,
    'sPaginationType': 'full_numbers',
    "iDisplayLength": 20,
    "fnServerData": function ( sSource, aoData, fnCallback ) {
        aoData.push( { "name": "loc1", "value": lastloc[0] } ); //This is for getting the last location showed on page so that paging is used well
        aoData.push( { "name": "loc2", "value": lastloc[1] } ); //Same as above
        aoData.push( { "name": "max", "value": max } );         //Same as above
        if (oSettings._iDisplayStart)
            prev = oSettings._iDisplayStart - oSettings._iDisplayLength
        else
            prev = "undefined"
        aoData.push( { "name": "prev", "value": prev } );    
        $.getJSON( sSource, aoData, function (json) { 
        max = json.iTotalRecords;
        fnCallback(json);
        });
    },
    "fnInitComplete": function () {                             //This function is run after the table is initialized.
        oSettings = oTable.fnSettings();
        $('#list tbody tr:last td').each( function () {
            lastloc.push($(this).text());
        });
    }
    });

    
 // Code for opening up a popup when merge is clicked
$(".action-btn").live('click', function(event) {
    newwindow=window.open(this.href,'name',"location=1,status=1,scrollbars=1,width=500,height=300,resizable=1");
    event.preventDefault();
    if (window.focus){newwindow.focus()}
    return false;
    });

});
//]]></script>
