{{extend "layout.html"}}
<div class='list_formats'>
	{{=T("Export as")}}:
 <a href='{{=URL(args=r.id)}}.gpx' title='{{=T("Export in GPX format")}}'><img src='/{{=appname}}/static/img/gpx_icon.png'/></a>
 {{if r.record.level:}}
 <a href='{{=URL(args=[r.id, "export_poi"])}}.kml' title='{{=T("Export in KML format")}}'><img src='/{{=appname}}/static/img/kml_icon.png'/></a>
 <a href='{{=URL(args=[r.id, "export_poi"])}}.osm' title='{{=T("Export in OSM format")}}'><img src='/{{=appname}}/static/img/osm_icon.png'/></a>
 {{else:}}
 <a href='{{=URL(args=r.id)}}.kml' title='{{=T("Export in KML format")}}'><img src='/{{=appname}}/static/img/kml_icon.png'/></a>
 <a href='{{=URL(args=r.id)}}.osm' title='{{=T("Export in OSM format")}}'><img src='/{{=appname}}/static/img/osm_icon.png'/></a>
 {{pass}}
 <a href='{{=URL(args=r.id)}}.shp' title='{{=T("Export in SHP format")}}'><img src='/{{=appname}}/static/img/shp_icon.png'/></a>
</div>
{{include "_update.html"}}
<p>&nbsp;</p>
{{="%s (" % T("You can select the Draw tool")}}<img src="/{{=appname}}/static/img/gis/add_point_off.png">{{=") %s:" % T("& then click on the map below to adjust the Lat/Lon fields")}}
<p>&nbsp;</p>
<div style='margin:0 0 0 -16px;'>
{{try:}}{{=XML(_map)}}{{except:}}{{pass}}
</div>