{{extend "layout.html"}}
<div id="list_formats">
 <a href="{{=URL(args=r.id)}}.gpx" title="{{=T("Export in GPX format")}}"><img src="/{{=appname}}/static/img/gpx_icon.png"/></a>
 {{if r.record.level:}}
 <a href='{{=URL(args=[r.id, "export_poi"])}}.kml' title='{{=T("Export in KML format")}}'><img src='/{{=appname}}/static/img/kml_icon.png'/></a>
 <a href='{{=URL(args=[r.id, "export_poi"])}}.osm' title='{{=T("Export in OSM format")}}'><img src='/{{=appname}}/static/img/osm_icon.png'/></a>
 {{else:}}
 <a href='{{=URL(args=r.id)}}.kml' title='{{=T("Export in KML format")}}'><img src='/{{=appname}}/static/img/kml_icon.png'/></a>
 <a href='{{=URL(args=r.id)}}.osm' title='{{=T("Export in OSM format")}}'><img src='/{{=appname}}/static/img/osm_icon.png'/></a>
 {{pass}}
</div>
{{include "_display.html"}}
<p>&nbsp;</p>
<div style='margin:0 0 0 -16px;'>
{{try:}}{{=XML(_map)}}{{except:}}{{pass}}
</div>