<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
{{if s3.rtl:}}
 body{direction:rtl;}
{{else:}}
 body{direction:ltr;}
{{pass}}
</style>
{{if s3.debug:}}
 {{include "s3_include_debug.html"}}
{{else:}}
 {{include "s3_include_min.html"}}
{{pass}}
</head>
<body>
{{=XML(map)}}
</body>
</html>