@charset "UTF-8";

/* Layout Elements */

/* Header */
#header-banner {
	background: url(img/Header.jpg) #f0f0f0 no-repeat;
	height: 160px;
}

#header-top-menu {
	text-align: right;
	margin-top: 15px;
}
.header-top-menu-btn, .header-top-menu-btn:link, .header-top-menu-btn:visited, .header-top-menu-btn:hover {
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
	padding: 0 5px;
}

/* Content Body */
.body-content-wrapper {
	margin-top: 20px;
	min-height: 550px;
}
.body-label-text {
	line-height: 27px;
	height: 27px;
	vertical-align: middle;
	font-size: 22px;
	display: inline-block;
}
.body-label-wrapper {
	margin-bottom: 5px;
}
.body-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.subtitle {
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0;
}
.text-content ul {
	list-style: disc outside;
	padding: 15px;
}
.title-label {
	font-weight: bold;
	width: 80px;
	float: left;
}
.form-row .text-content {
	float: left;
}
.main-table {
	width: 100%;
}
.main-table th {
	background: #5689ab;
	color: #ffffff;
	vertical-align: middle;
	border-left: 2px solid #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 10px 15px 10px 10px;
}
.main-table th:first-child {
	border: 0;
}
.main-table th span {
	
}
.main-table td {
	vertical-align: top;
	padding: 10px 5px;
}
.main-table td.center{
	text-align: center;
}

/* Block */
.block {
	text-align: center;
}
