@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */
#nav {
    clear: both;
    float: left;
    height: 30px;
}
#nav > li {
    position: relative;
    float: left;
    list-style: none;
    padding: 0;
}
#nav > li > a {
    display: inline-block;
    height: 20px;
    width: 138px;
    background: #568aab;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}
#nav > li > a:hover {
    background: #65a3d0;
}

#nav li .sub-menu {
    display: none;
    position: absolute;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999999;
}
#nav li .sub-menu li a {
    background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	color: #fff;
	width: 145px;
	display: inline-block;
	font-size: 14px;
	padding: 5px 0 5px 5px;
}
#nav li .sub-menu li a:hover {
    background: rgb(0,0,0);
	background: rgba(0,0,0,0.9);
}

#header-navbar-home {
	width: 60px !important;
	background-image: url(img/Menu-01-home.png) !important;
}
#header-navbar-mypage {
	width: 140px !important;
}
