@charset "UTF-8";

#menu_top {
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: 0;
}

/* Main Menu */
#menu_modules {
    position: relative;
    height: 28px;
    z-index: 1;
}

#modulenav {
    margin: 0 0 0 15px;
    text-transform: uppercase;
}
#modulenav,
#modulenav li,
#modulenav ul,
#menu_top,
#menu_top li,
#menu_top ul,
#menu_bottom,
#menu_bottom li,
#menu_bottom ul {
    list-style: none;
}
#modulenav li {
    margin-right: 8px;
}

/* Menu Buttons */
#modulenav li a div {
    padding-top: 3px;
    height: 28px;
    width: 122px;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    background: url(img/menu_grey.png) no-repeat;
}

#modulenav li a {
    font-size: 1.1em;
    font-weight: 700;
    color: #9D9D9B;
    text-decoration: none;
}
#modulenav li a:hover {
    background: none;
}

#menu_top,
#menu_bottom {
    font-size: 1.2em;
    height: 20px;
    vertical-align: bottom;
}

#menu_top li a,
#menu_bottom li a {
    text-decoration: none;
}

#menu_top li a div,
#menu_bottom li a div {
    color: white;
    padding: 0 5px 3px 5px;
    border-left: 1px  solid white;
}
#menu_top li:first-child a div,
#menu_bottom li:first-child a div {
    border-left: 0;
}
#menu_top li a:hover,
#menu_bottom li a:hover {
    background: none;
}

#modulenav li.selected a div,
#modulenav li.hovered a div,
#modulenav li a div:hover {
    color: #F5902E;
    background: url(img/menu_white.png) no-repeat;
}

#modulenav li div.selected {
    color: #F5902E;
}
