@charset "UTF-8";

/* Project Analysis page */

#page_project_analysis .page_column {
    padding: 15px;
	float: left;
}

#project_analysis_matrix {
    width: 250px;
}

#project_analysis_graph {
    width: 260px;
    border-left: 2px #F5902E solid;
    border-right: 2px #F5902E solid;
}

#project_analysis_map {
    width: 250px;
}

#analy_matrix_div p,
#analy_graph_div p,
#analy_map_div p {
    line-height: 100%;
	margin-bottom: 10px;
}

#content #analy_matrix_div a,
#content #analy_graph_div a,
#content #analy_map_div a {
    text-decoration: none;
}
