@charset "UTF-8";

body {
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	background: #f0f0f0;
}
a, a:link, a:hover, a:visited {
	text-decoration: none;
	color: #0a64a2;
}
h1 {
	font-size: 36px;
	font-weight: normal;
}
h2 {
	font-size: x-large;
	font-weight: normal;
}

p {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 5px;
}

.line {
	height: 1px;
	border-bottom: 1px solid #000000;
}

#content-wrapper > h2 {
    margin-top: 20px;
}

div.form-container form {
    background-color: #f0f0f0;
}
table.dataTable th {
    background-color: #5689ab;
    color: #fff;
}
table.dataTable tr.odd,
table.dataTable tr.odd td.sorting_1 {
    background: #d1e0e5 !important;
}
table.dataTable tr.even,
table.dataTable tr.even td.sorting_1 {
    background: #f0f0f0 !important;
}

.item-container label {
    font-weight: bold;
}

/* Report */
div.chart-contents {
    background-color: white;
}
/* Hide Report Options not needed in DRRPP */
div#chart-opts,
div.pivot-table-control,
div.hide-chart,
tr.report-fact-single-option,
tr.report-show-totals-option {
    display: none;
}

.map_home {
    margin: 0;
}