{{extend "layout.html"}}
<div id='home' class='medium-centered medium-10 columns'>
 <h2>About us</h2>
 <div class='row'>
  <div class='medium-6 columns panel'>
   <p>
    <b>Athewaas (Kashmir Flood Coordination System)</b> is a web based collaboration tool
    that addresses the common coordination problems from managing aid to managing volunteers.
    It helps relief organizations manage their data and view public data shared by other
    organizations, allows workers in the field as well as common people to send in requests,
    and helps map requests to goods and services provided by the relief organizations.
    Organizations can also request support from each other. It is built using Sahana Eden.
   </p>
  </div>
  <div class='medium-6 columns callout panel'>
   <p>
    <b>Revive Kashmir</b> is the organisation behind the establishment and support of the
    Athewaas platform. Revive Kashmir is an organisation whose primary objective is empowerment
    of and coordination between entities for sustainable long term social and economic development.
    The main areas of focus are enabling information access, cross sector engagement, aid and
    project implementation coordination and technical expertise sourcing.
    </p>
  </div>
 </div>
 <div class='row'>
  <div class="small-12 columns">
    <p>
    For more details,
    <a href="https://docs.google.com/a/iquasar.com/file/d/0B3_TmWrJ52YBRmNoVVBhZkI1ZG8/edit?pli=1">
    click here</a>
    </p>
  </div>
 </div>
</div>
