<div class='row'>
 <a id='list-filter-toggle' class='tiny secondary button show-for-small' data-status='off' data-off='{{=T("Show Filter Options")}}' data-on='{{=T("Hide Filter Options")}}'>{{=T("Show Filter Options")}}</a>
 <div id='list-filter' class='medium-3 columns hide-for-small side-filter'>
  {{try:}}{{=list_filter_form}}{{except:}}{{pass}}
 </div>
 <div class='medium-7 small-12 columns end'>
  <div class='row'>
   <h2>{{=response.s3.crud_strings["work_job"].title_list}}</h2>
   {{if current.auth.s3_has_permission("create", "work_job"):}}
   <a href='/{{=appname}}/work/job/create.popup?refresh=datalist' class='action-btn s3_modal' role='button' title='{{=T("Add Job")}}'>
    {{=T("Add Job")}}
   </a>
   <a href='/{{=appname}}/work/job' class='action-btn' role='button' title='{{=T("Manage Jobs")}}'>
    {{=T("Manage Jobs")}}
   </a>
   {{pass}}
  </div>
  <div class='row'>
   <div class="card-holder-home">
    {{=items}}
   </div>
  </div>
 </div>
</div>
