<div class='row'>
 <div class='small-12 columns'>
  {{try:}}{{=H2(title)}}{{except:}}{{pass}}
 </div>
</div>
<div class='row'>
  <div class='small-6 columns'>
   {{try:}}{{=zxing}}{{except:}}{{pass}}
  </div>
  <div class='small-6 columns'>
   {{try:}}{{=event_type}}{{except:}}{{pass}}
  </div>
</div>
<div class='row'>
 <div class='large-4 medium-8 small-12 columns end'>
  {{try:}}{{=event_type_selector}}{{except:}}{{pass}}
 </div>
</div>
<div class='row'>
 <div class='small-12 columns'>
  {{include "key.html"}}
  <div class='form-container'>
   {{try:}}{{=form}}{{except:}}{{pass}}
  </div>
 </div>
</div>
