{{extend "layout.html"}}
<div id='single-col'>
<div class='row'>
 <div class='span6'>
  <h2>{{=T("Criteria for Admittance")}}</h2>
  <div>
   <p>To be accepted, your group or organization must meet the following criteria:</p>
   <ul>
    <li><b>Present</b>. Have a physical and active presence in the New York City area.</li>
    <li><b>Relevant</b>. Currently engaged in disaster relief, disaster recovery or community resilience work.</li>
    <li><b>Reputable</b>. Actively coordinating through an established network:
     <ul>
      <li><a href='http://sisandyhelp.org' target='_blank'>Staten Island Long Term Recovery Organization</a></li>
      <li><a href='http://lesready.org' target='_blank'>Lower East Side Long Term Recovery Group</a></li>
      <li><a href='http://brooklynrecovers.org' target='_blank'>Brooklyn Long Term Recovery Group</a></li>
      <li><a href='http://bronxprepared.org' target='_blank'>Bronx Long Term Recovery Group</a></li>
      <li><a href='http://nycvoad.org' target='_blank'>New York City VOAD</a></li>
      <li><a href='http://occupysandy.net/projects/' target='_blank'>Occupy Sandy Project Spokes Council</a></li>
      <li>Brooklyn Community Collaboratives</li>
    </li>
   </ul>
   <p><i>Are you involved with a relief and resilience oriented coordination network in the NYC area that isn’t on this list, please <a href='http://nycprepared.org/contact' target='_blank'>let us know</a>.</i></p>
   <p>Have questions about NYC|Prepared?  Feel free to contact us.</p>
   <a href='http://nycprepared.org/contact' target='_blank' class='btn'>Contact</a>
  </div>
 </div>
 <div class='span6'>
  <h2>{{=T("Registration")}}</h2>
  <div>
   <i><p>All information you enter in the registration fields will be publicly available except for the following:</p>
   <ul>
    <li>Passwords</li>
    <li>Your personal email</li>
    <li>Your personal phone number</li>
    <li>Why you are registering</li>
   </ul></i>
  </div>
  <h3>{{=T("Your Contact Information")}}</h3>
  <div class='form-container'>
  {{=form}}
  </div>
 </div>
</div>
</div>