{{extend "layout.html"}}
<div id='single-col'>
<div class='row'>
 <div class='span6'>
  <h2>{{=T("Criteria for Admittance")}}</h2>
  <div>
   <p>To access NYC:Prepared tools, your group or organization must meet the following criteria:</p>
   <ul>
    <li><b>Present</b>. Have a physical and active presence in the New York City area.</li>
    <li><b>Relevant</b>. Currently engaged in disaster relief, disaster recovery or community resilience work.</li>
    <li><b>Reputable</b>. Actively coordinating through an established network:
     <ul>
      <li><a href='http://sisandyhelp.org' target='_blank'>Staten Island Long Term Recovery Organization</a></li>
      <li><a href='http://lesready.org' target='_blank'>Lower East Side Long Term Recovery Group</a></li>
      <li><a href='http://brooklynrecovers.org' target='_blank'>Brooklyn Long Term Recovery Group</a></li>
      <li><a href='http://nycvoad.org' target='_blank'>New York City VOAD</a></li>
      <li><a href='http://occupysandy.net/projects/' target='_blank'>Occupy Sandy Project Spokes Council</a></li>
    </li>
   </ul>
   <p><i>Learn more about NYC:Prepared on our <a href='http://nycprepared.org/' target='_blank' class='btn'>website</a> and feel free to <a href='http://nycprepared.org/contact' target='_blank' class='btn'>contact us</a></p>
  </div>
 </div>
 <div class='span6'>
  <h2>{{=T("Registration")}}</h2>
  <div>
<p>Please note that by registering, your name and organizational affiliation will be publicly available and that you will receive emails from our computer system.</p>
  </div>
  <div class='form-container'>
  {{=form}}
  </div>
 </div>
</div>
</div>
