#comments {
    margin: 10px 0 40px;
}

div.comment-bubble {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center bottom , #F0F0F0 2%, #FFFFFF 48%, #FFFFFF 78%);
    border: 1px solid #DDDDDD;
    margin-bottom: 23px;
    padding: 14px;
    text-align: justify;
}

p.viewer {
    color: #805DB2;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0;
}


p.viewer-date {
    color: #805DB2;
    font-size: 10px;
    font-weight: 700;
}

p.viewer-comment {
    font-style: italic;
}

div.comment-bubble > img {
    bottom: -12px;
    float: right;
    position: relative;
}

.modal-footer:after {
    clear: both;
}
.modal-footer:before, .modal-footer:after {
    content: "";
    display: table;
}
.modal-footer:before, .modal-footer:after {
    content: "";
    display: table;
}
.modal-footer {
    background-color: #F5F5F5;
    border-radius: 6px 6px 6px 6px;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
    padding: 14px 15px 15px;
}

.modal-footer h5 {
    color: #15B283;
    margin-bottom: 10px;
    text-transform: none;
}

div#note-comment input[type="submit"] {
    -moz-transition: all 0.3s ease 0s;
}
#debate input[type="submit"] {
    background-color: #999999;
    border: 1px solid #CCCCCC;
    border-radius: 0 0 0 0;
    color: white;
    display: inline-block;
    font-family: 'Open Sans Condensed',sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 4px 40px;
    text-align: center;
    text-transform: uppercase;
}
