/* Override widget.css */
.top-bar.expanded {
  width: 100%;
}

/* Alerts */
.alert.alert-error,
.alert.alert-info,
.alert.alert-warning,
.alert.alert-success {
  border: 1px solid #b2b2b2;
  box-shadow: 0 1px 1px #aaaaa7;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 8px 35px 8px 14px;
  position: relative;
  width: auto;
  z-index: 999;
  border-radius: 4px;
}

/* Sections */
.form-container form,
#datalist-filter-form,
#datatable-filter-form,
#summary-filter-form,
#summary-sections,
.thumbnail {
  border: 1px solid #CCC;
}

/* Links should ALWAYS be unvisited */
#content a.help:link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
#content a.help:hover {
  background-color: #336699;
  text-decoration: underline;
}
#content a.help:visited {
  font-weight: normal;
  color: #666;
}
#content h1,
#content h2 {
  font-size: 1.3em;
  font-weight: bolder;
  background: #F7F8F9;
  padding: 5px 5px 5px 5px;
}
#content h2 {
  margin-top: 10px;
  padding-left: 10px;
}
#content h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
}

/* General forms */
form {
  font-size: 0.8em;
}
form .form-row {
  margin-top: 5px !important;
}
form .form-row > .columns > label {
  font-weight: bold;
}
form label.inline {
  padding: 0;
}
form .gis_loc_select_btn {
  font-size: 0.8em;
}
form .gis_loc_select_btn i {
  font-size: 1.0em;
  margin-right: 4px;
}
form .error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-style: italic;
  background: #c60f13;
  color: white;
}
form .date-clear-btn {
  font-size: 0.75rem;
  margin-left: 0.15rem !important;
}
form .action-lnk {
  font-weight: normal;
  font-size: 0.75rem;
}
form table.embeddedComponent {
  border-collapse: separate;
}
form.auth_login #submit_record__row {
  white-space: pre;
}

/* General Widgets */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  height: 1.75rem;
  padding: 0.25rem;
  margin: 0;
  display: inline-block;
  font-weight: normal;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select {
  width: auto !important;
}

/* Form and Item containers */
#last_update {
  float: none;
}

.form-container,
.item-container {
  width: auto;
  overflow: inherit;
}
.form-container form,
.item-container form {
  background: #fefefe;
  padding: 5px 10px;
}
.form-container .controls,
.item-container .controls {
  display: inline-block;
}

.form-container form select,
.form-container form input.string:not(.date),
.form-container form textarea {
  margin: 0;
}
.form-container form .ui-multiselect {
  max-width: 100%;
}
.form-container form:not(.filter-form):not(.auth_login):not(.auth_register) input[type="text"]:not(.double):not(.datetimepicker):not(.date) {
  width: 500px !important;
}

.item-container .controls {
  background: #fafafa;
  padding: 0.35rem;
  min-height: 1.7rem;
}

/* Filter forms */
.filter-form table tr,
.filter-form .ui-multiselect {
  max-width: 60%;
}
.filter-form .inline-tooltip {
  padding-top: 0.2rem;
}

/* Login/Registration box */
#login_form,
#register_form,
#login_box {
  clear: none !important;
}

/* Help Popup */
.inline-tooltip {
  display: inline-block;
  vertical-align: top;
  padding-left: 0.75rem;
}
.inline-tooltip .tooltip,
.inline-tooltip .tooltipbody,
.inline-tooltip .stickytip,
.inline-tooltip .ajaxtip {
  display: block;
  padding: 0;
  width: 60px;
}

/* Rheader */
#rheader a.th {
  margin-right: 10px;
}
#rheader a.th img {
  height: 60px;
}

/* RHeader Tabs */
div.tabs {
  border-bottom: 1px solid #2ba6cb;
  clear: left;
  height: 2.125em;
  margin: 5px 0 0;
  padding: 0.5em 0;
  text-align: left;
  width: 100%;
  line-height: 1em;
}
div.tabs span {
  float: left;
  border-radius: 3px 3px 0 0;
  padding: 0.15em 6px 0.25em 5px;
}
div.tabs span a {
  color: #ffffff !important;
  text-decoration: none !important;
  background: transparent !important;
}
div.tabs span a:hover {
  background: transparent !important;
}
div.tabs span.tab_here {
  background: #ffffff;
  border-color: #2ba6cb;
  border-style: solid;
  border-width: 2px 2px 0 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ffffff;
  bottom: 0;
  display: inline;
  font-weight: bold;
  margin-right: 5px;
  padding: 0.2em 6px 0.25em 5px;
  position: relative;
}
div.tabs span.tab_here:hover {
  background: #f1edec;
}
div.tabs span.tab_here a {
  color: #666666 !important;
}
div.tabs span.tab_here a:hover {
  color: #666666 !important;
}
div.tabs span.tab_last,
div.tabs span.tab_other {
  font-size: 90%;
  background: #2ba6cb;
  border-color: #2ba6cb;
  border-width: 1px 1px 0 2px;
  border-style: solid;
  margin-right: 3px;
  margin-top: 0.25em;
}
div.tabs span.tab_last:hover,
div.tabs span.tab_other:hover {
  background: #1f7994;
  border-color: #1f7994;
}
div.tabs span.tab_last a,
div.tabs span.tab_other a {
  color: #ffffff !important;
}
div.tabs span.tab_last a:hover,
div.tabs span.tab_other a:hover {
  color: #ffffff !important;
}

/* Action buttons */
.action-btn,
.delete-btn-ajax,
.delete-btn,
.selected-action {
  font-size: 0.6875rem;
  border: 0;
  line-height: 1;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
}
.action-btn[disabled], .action-btn[disabled]:hover,
.delete-btn-ajax[disabled],
.delete-btn-ajax[disabled]:hover,
.delete-btn[disabled],
.delete-btn[disabled]:hover,
.selected-action[disabled],
.selected-action[disabled]:hover {
  color: #ffffff;
  background-color: #c0c0c0;
}

/* Default action buttons */
.action-btn,
.selected-action {
  background-color: #2ba6cb;
  color: #ffffff !important;
}
.action-btn:hover,
.selected-action:hover {
  background-color: #1f7994;
  color: #ffffff !important;
}

/* Alert-style action buttons (e.g. delete) */
.delete-btn-ajax,
.delete-btn {
  background-color: #c60f13;
  color: #ffffff !important;
}
.delete-btn-ajax:hover,
.delete-btn:hover {
  background-color: #a20c10 !important;
  color: #ffffff !important;
}

/* Action buttons in datatables */
.dataTable .action-btn,
.dataTable .selected-action {
  color: #ffffff;
}
.dataTable .delete-btn,
.dataTable .delete-btn-ajax {
  color: #ffffff;
}
.dataTable td.actions {
  white-space: nowrap;
}

/* Footer */
#footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #EEEEEE;
}
#footer button.btn {
  font-size: 0.6875rem;
  border: 0;
  line-height: 1;
  margin-bottom: inherit;
  padding: 0.25rem 0.5rem 0.375rem;
  cursor: pointer;
  text-decoration: none !important;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  color: #ffffff;
  background: #dddddd;
}
#footer button.btn:hover {
  color: #ffffff;
  background: #a0a0a0;
}

/* Menu Logo */
.S3menulogo {
  background: url(img/dswd.png) left top no-repeat;
  text-shadow: none;
  padding: none;
  margin-left: 5px;
  margin-top: 10px;
  width: 50px;
  height: 28px;
  display: inline-block;
}

/* Top bar */
.top-bar {
  color: #ffffff;
  background-color: #333333;
  z-index: 1000;
}
.top-bar .menu-toggle input {
  margin-right: 5px;
}

.top-bar-section ul li:not(.has-form) a:not(.button) {
  color: #ffffff;
  background-color: #333333;
}
.top-bar-section ul li:not(.has-form) a:not(.button):hover {
  color: #ffffff;
  background-color: #2ba6cb;
}
.top-bar-section ul li.active:not(.has-form) a:not(.button) {
  color: #ffffff;
  background-color: #555555;
}
.top-bar-section ul li.active:not(.has-form) a:not(.button):hover {
  color: #ffffff;
  background-color: #2ba6cb;
}
.top-bar-section ul li.has-dropdown:hover > a {
  background-color: #2ba6cb;
}
.top-bar-section ul.dropdown li:not(.has-form) a:not(.button) {
  color: #ffffff;
  background-color: #777879;
}
.top-bar-section ul.dropdown li:not(.has-form) a:not(.button):hover {
  color: #ffffff;
  background-color: #2ba6cb;
}
.top-bar-section ul.dropdown li.active:not(.has-form) a:not(.button) {
  color: #ffffff;
  background-color: #979899;
}
.top-bar-section ul.dropdown li.active:not(.has-form) a:not(.button):hover {
  color: #ffffff;
  background-color: #2ba6cb;
}
.top-bar-section li.menu-home a {
  font-weight: bold !important;
  font-size: 1.4em !important;
  text-transform: capitalize !important;
}

/* Side Menu */
.sidebar {
  background: none repeat scroll 0 0 #d7d8d9;
  margin-top: 10px;
}

.side-nav li {
  line-height: 1.2;
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.side-nav li:last-child {
  margin-bottom: 4px;
}
.side-nav li > a:not(.button) {
  padding: 3px;
  color: #666666;
  background-color: #d7d8d9;
}
.side-nav li:hover > a:not(.button) {
  color: #ffffff;
  background-color: #2ba6cb;
}
.side-nav li.heading {
  text-transform: uppercase;
  font-weight: bold;
  border-top: 1px solid #c0c1c2;
}
.side-nav li.heading > a:not(button) {
  padding: 6px 3px 3px 6px;
  color: #666666;
  background-color: #d7d8d9;
}
.side-nav li.active > a:first-child:not(.button) {
  font-weight: bold;
  color: #666666;
  background-color: #e0e1e2;
}
.side-nav li.active > a:first-child:not(.button):hover {
  color: #ffffff;
  background-color: #2ba6cb;
}
.side-nav li.divider {
  border-top: 1px solid #ffffff;
  height: 0;
  list-style: none;
}

/* Datatables */
.dataTables_length {
  float: left !important;
}
.dataTables_length label {
  font-size: 0.75rem;
  white-space: nowrap;
  margin-right: 10em;
  margin-bottom: 0.3em;
}
.dataTables_length select {
  height: auto;
  padding: 2px;
  font-size: 0.75rem;
}

table.dataTable thead th, table.dataTable th, table.dataTable td {
  border: 1px solid #cccccc;
  padding: 0.2em 1.5em 0.2em 0.5em;
}
table.dataTable thead th, table.dataTable thead td {
  background-color: #ffffff;
}
table.dataTable tbody tr.even {
  background-color: #ffffff;
}
table.dataTable tbody tr.even td.sorting_1 {
  background-color: #fafafa;
}
table.dataTable tbody tr.odd {
  background-color: #f7f8f9;
}
table.dataTable tbody tr.odd td {
  border-color: #cccccc;
}
table.dataTable tbody tr.odd td.sorting_1 {
  background-color: #f0f1f2;
}
table.dataTable tfoot th, table.dataTable tfoot td {
  background-color: #f7f8f9;
  border-top: 2px solid #cccccc;
  padding: 0.5em;
}
table.dataTable .selected-action {
  margin: 5px 0 5px;
}

.dataTables_processing {
  padding: 14px 0 28px;
}

.dataTables_filter {
  text-align: left;
  font-size: 0.75rem;
  margin-right: 3rem;
}

.dt-export-options {
  float: right;
}
.dt-export-options .list_formats {
  padding-top: 0;
  margin-left: 5px;
}
.dt-export-options .dt-export {
  margin: 0 0.085rem;
}

/* Empty-sections */
.empty {
  font-style: italic;
  font-size: 0.8em;
}

/* jQuery UI widgets */
.ui-widget-header {
  background: none;
  border: 1px solid #ADA6A0;
}
.ui-widget-header a {
  color: #222222 !important;
  border-color: #C7C7C7;
  margin-bottom: 0px;
  font-weight: bold;
  text-decoration: none !important;
  font-size: 0.7em;
}
.ui-widget-header .ui-icon-check,
.ui-widget-header .ui-icon-closethick {
  background: none;
  height: 0px;
  width: 0px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border-color: #ADA6A0;
}

/* Summary tabs */
.ui-tabs .ui-tabs-panel {
  padding: 0.5em;
}

#summary-tabs {
  margin-top: 10px;
}
#summary-tabs.ui-widget-content {
  background: none;
  border: none;
}

#summary-tab-headers .ui-tabs-nav {
  border: none;
  margin: 0 10px;
}
#summary-tab-headers a {
  border-color: #CCC;
}
#summary-tab-headers .ui-tabs-active a {
  border-bottom: 1px solid white;
}
#summary-tab-headers li {
  margin-right: 5px;
  box-shadow: none;
}

#summary-sections .x-panel-body {
  border: none;
  border-radius: 4px;
}

/* Date picker */
input.date.hasDatepicker {
  display: inline-block;
}

.ui-datepicker-trigger {
  background-color: transparent;
  background-image: url("../../img/bootstrap/calendar.gif");
  margin-left: 10px;
}

/* Range filter widgets */
.range-filter-label label {
  font-size: 1.0em;
}

.range-filter-widget input.date-filter-input {
  width: auto;
  float: left;
  margin-right: 2px;
}
.range-filter-widget button.date-clear-btn {
  font-size: 0.85em;
  padding: 0.325em;
  margin-top: 0.5em;
}

/* ImageCropWidget */
.imagecrop-btn {
  font-size: 1em;
  margin-left: 0.2em;
  padding: 0.3em;
}

/* Miscellaneous */
