.org-logo {
    vertical-align: top;
    display: inline-block;
    padding: 0.4rem 0.5rem 0.3rem 0;
}
.system-title {
    display: inline-block;
}
.system-title h5 {
    color: #333333;
}
.system-title h6 {
    color: #999999;
}
.system-name {
    margin-bottom: 0;
}
.system-acronym {
    font-weight: bold;
}
.org-name {
    margin-bottom: 0.125rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

.personal-menu {
    float: right;
    clear: right;
    padding-top: 0;
    margin-bottom: 0.125rem;
    li a {
        padding: 0 0.375rem;
    }
}
.language-selector {
    float: right;
    display: block;
    margin-top: 0.625rem;
    margin-bottom: 0.125rem;
}
.sub-nav.about-menu {
    margin-left: 0;
    margin-right: 0;
}
#dashboard > li {
    display: inline-block;
}
.home-map,
.home-cms {
    margin: 1rem 0;
}
.home-map {
    border: 1px solid #999999;
}
.username {
    color: #666666;
    padding: 0.5rem 0;
    padding-right: 0.5rem;
    font-size: 0.7rem;
    i.icon, i.fa {
        padding-left: 0.2rem;
        padding-right: 0;
    }
}
.event-bottom .username {
    padding: 0;
}
.overdue {
    color: red;
}
.invalid-case {
    border: 1px solid red;
    color: red;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.9rem;
    margin-bottom: 0.25rem;
    padding: 0.1rem 0.2rem;
    text-transform: uppercase;
}
.checkpoint-advise {
    background: #fff0f0 none repeat scroll 0 0;
    border: 2px solid red;
    margin-bottom: 1rem;
    padding: 0.6rem;
    p {
        white-space: pre-wrap;
    }
}
.checkpoint-person {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.event-top {
    margin-top: 0.3rem!important;
}
.event-type-header {
    text-align: right;
}
.event-type-setting {
    color: #afafaf;
    font-size: 0.9rem;
    margin-left: 0.8rem;
    vertical-align: text-top;
}
.event-type-toggle {
    cursor: pointer;
}
.controls.has-flaginfo,
.controls.has-details {
    width: 100%;
    table {
        width: 100%;
        border: none;
    }
}
.payment-amount {
    color: darkgreen;
    font-size: 1.2rem;
    font-weight: bold;
}
#payment-form {
    #allowance_date__row,
    #allowance_comments__row {
        display: none;
    }
}
.dashboard-action {
    margin-bottom: 1.0rem;
}

// Overrides for right-to-left orientation
body.rtl {
    .personal-menu {
        clear: left;
        float: left;
    }
    .language-selector {
        float: left;
    }
    .username {
        padding-left: 0.5rem;
        padding-right: 0;
        i.icon, i.fa {
            padding-left: 0;
            padding-right: 0.2rem;
        }
        float: left;
    }
    .event-type-header {
        text-align: left;
    }
}

// Event registration UI
.event-registration-blocked {
    background-color: #FFAAAA;
    color: black;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0.6rem;
}
.event-type-name {
    font-size: 1.1rem;
    padding: 0.3rem;
}
.event-type-name.placeholder {
    font-size: 0.8rem;
    background-color: #fff0f0;
    border: 2px solid red;
}
.check-in-warning {
    color: red;
    font-weight: bold;
    margin-left: 0.5rem;
    i {
        margin-right: 0.3rem;
    }
}
.profile-picture {
    margin-top: 1rem;
    .image-row {
        margin-bottom: 1rem;
    }
}

// Check-in/out UI
#site_check_in_info__row .controls {
    width: 100%;
}
#site_check_in_status__row .controls {
    padding-top: 0.3rem;
    width: 100%;
}
#check-in-form {
    .status-label {
        font-size: 0.9rem;
    }
    .status-message {
        font-size: 0.9rem;
        font-weight: bold;
    }
    .person-details {
        font-size: 1rem;
    }
}
.clear-btn {
    cursor: pointer;
    .fa {
        color: #B0B0B0;
    }
}

// Food Registration UI
#case_event_family__row .controls {
    width: 100%;
}
#family-members {
    width: 100%;
    border-collapse: collapse;
    div.member-show-picture {
        height: 2.7rem;
    }
    .member-id {
        color: #808080;
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }
    .member-message {
        margin: 0;
        color: #e0767a;
        font-size: 0.8rem;
        font-style: normal;
        .columns {
            padding: 0;
        }
    }
    .family-member {
        td {
            border-bottom: 1px solid #e0e0e0;
            background-color: white;
        }
        &.member-blocked td {
            background-color: #f6f6f6;
            .member-id, .member-name {
                color: #b0b0b0;
            }
        }
    }
    .family-all {
        td {
            background-color: #f0f8f6;
            color: #505050;
            font-style: italic;
            height: 2.7rem;
        }
    }
    button.member-show-picture.showing {
        border: 1px solid black;
    }
}
.member-caption {
    padding: 0.2rem 0;
    font-size: 1rem;
}

// Address fields in beneficiary form
/*#sub-defaultaddress table tr td {
    padding: 0.3rem;
}*/

// Dashboard statistics
.dbstats {
    td {
        text-align: right;
        padding-right: 2rem;
    }
    tr > td:first-child {
        text-align: left;
        padding-left: 2rem;
    }
    .dbstats-total td,
    .dbstats-extra td {
        &:first-child {
            padding-left: 0.7rem;
        }
    }
    .dbstats-total {
        font-weight: bold;
    }
    .dbstats-extra td,
    .dbstats-sub td {
        font-style: italic;
        font-size: 0.8rem;
        line-height: 50%;
        color: #AAA;
    }
}

// Priority representation
.prio {
    padding: 0 4px;
    border: 1px solid black;
    text-align: center;
    white-space: pre;
    font-weight: normal;
}
.prio-red {
    color: white;
    background-color: #D10000;
}
.prio-blue {
    color: white;
    background-color: #10427B;
}
.prio-lightblue {
    background-color: #B7DDFF;
}
.prio-grey {
    background-color: silver;
}
