/* jQuery UI widgets */
.ui-widget-header {
    background: none;
    border: 1px solid #ADA6A0;
    a {
        color: #222222 !important;
        border-color: #C7C7C7;
        margin-bottom: 0px;
        // background: none;
        font-weight: bold;
        text-decoration: none !important;
        font-size: 0.7em;
    }
    .ui-icon-check,
    .ui-icon-closethick {
        background: none;
        height: 0px;
        width: 0px;
    }
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border-color: #ADA6A0;
}
#list-btn-add {
    float: right;
    margin-right: 1.0rem;
}

body.rtl #list-btn-add {
    float: left;
    margin-left: 1.0rem;
    margin-right: 0;
}

/* Summary tabs */
.ui-tabs .ui-tabs-panel {
    padding: 0.5em;
}
#summary-tabs {
    margin-top: 10px;
    &.ui-widget-content {
        background: none;
        border: none;
    }
}
#summary-tab-headers {
    .ui-tabs-nav {
        border: none;
        margin: 0 10px;
    }
    a {
        border-color: #CCC;
    }
    .ui-tabs-active a {
        border-bottom: 1px solid white;
    }
    li {
        margin-right: 5px;
        box-shadow: none;
    }
}
#summary-sections {
    // Fit Summary Map Inside Summary Section
    .x-panel-body {
        border: none;
        border-radius: 4px;
    }
}

/* Date picker */
input.date.hasDatepicker {
    display: inline-block;
}
.ui-datepicker-trigger {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../img/bootstrap/calendar.gif");
    margin-left: 10px;
}
.ui-datepicker.ui-widget {
    z-index: 1000!important;
}

/* Range filter widgets */
.range-filter-label label {
    font-size: 1.0em;
}
.range-filter-widget {
    input.date-filter-input {
        width: auto;
        float: left;
        margin-right: 2px;
    }
}
.btn.date-clear-btn {
    font-size: 0.85em;
    padding: 0.325em;
    margin-top: 0.5em;
}

/* GroupedOptions widget */
.s3-groupedopts-label {
    float: none;
    margin-bottom: 0.3rem;
}
.s3-groupedopts-widget table {
    margin-left: 0;
    margin-bottom: 0.5rem;
}

/* ImageCropWidget */
.imagecrop-btn {
    font-size: 1em;
    margin-left: 0.2em;
    padding: 0.3em;
}

/* pr_Contacts widgets */
.pr-contacts-wrapper h3 {
  margin-top: 0.5rem;
  padding-bottom: 0 !important;
}
.pr-contact-actions {
  margin-bottom: 0.5rem;
}
.pr-contact,
.pr-emergency-contact {
  padding: 0.5rem;
}
.pr-contact-priority,
.pr-contact-details {
    display: inline-block;
}
.pr-contact-subtitle {
  font-size: 0.8rem;
  font-style: italic;
}
.pr-contact-priority {
    border: thin solid #2ba6cb;
    border-radius: 2px;
    color: #2ba6cb;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0.25rem 1rem 0 0;
    padding: 0 0.25rem 0.125rem;
    vertical-align: top;
    input[type=submit] {
        color: black;
        line-height: 1.2rem;
        font-size: 0.8rem;
    }
}

/* Data Lists (including profile) */
.dl {
    .dl-header {
        float: none;
        text-align: right;
    }
    .card_1_line {
        height: auto;
    }
    .empty_card-holder {
        text-align: center;
    }
    .dl-row {
        border: 0;
    }
    .dl-1-cols {
        width: 100%;
    }
}
.dl-item {
    .dropdown .caret {
        margin-left: 0.2rem;
        margin-top: 0.4rem;
    }
    .attachments {
        margin-right: 0.2rem;
    }
}
h4.profile-sub-header {
    background-color: #EFEFEF;
    padding: 0.1rem 0.3rem;
    font-size: 1.2rem;
}

.profile-widget .icon-fullscreen {
  float: right;
  position: relative;
  right: 9px;
  top: 10px;
}

.profile .dl-header {
    display: none;
}

/* Comment feeds */
.comment-box {
    background: none repeat scroll 0 0 $comments_feed_item_bgcolor;
}

/* Iframe Map (Location Represent links) */
#close-iframe-map {
    padding: 7px;
    margin-top: 5px;
}

/* Text representation */
.text-body {
    white-space: pre-wrap;
}
.s3-truncate-more,
.s3-truncate-less {
    font-style: italic;
}
.s3-truncate-more:before,
.s3-truncate-less:before {
    font-style: italic;
    content: "...";
}
