<div class='row'>
  <div class='medium-2 small-4 columns'>
    {{=current.menu.about}}
  </div>
  <div class='medium-6 small-8 columns'>
    <div class='small-1 small-17 columns padc'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/ALLERDALEBC.jpg' alt='Allerdale Borough Council logo'></div>
    <div class='small-1 small-17 columns padb'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/BBC.bmp' alt='Borough of Barrow in Furness logo'></div>
    <div class='small-1 small-17 columns padc'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/carlisle.png' alt='Carlisle City Council logo'></div>
    <div class='small-1 small-17 columns padcl'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/Copeland.jpg' alt='Copeland Borough Council logo'></div>
    <div class='small-1 small-17 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/CCC.png' alt='Cumbria County Council logo'></div>
    <div class='small-1 small-17 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/EDC.jpg' alt='Eden District Council logo'></div>
    <div class='small-1 small-17 columns end'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/SLDC.jpg' alt='South Lakeland District Council logo'></div>
  </div>
  <div class='medium-4 columns hide-for-small'>
    <p id='strapline'>Making connections when they matter the most</p>
  </div>
</div>
