<div class='row'>
  <div class='medium-2 small-4 columns'>
    {{=current.menu.about}}
  </div>
  <div class='medium-6 small-8 columns'>
    <div class='medium-1 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/ALLERDALEBC.jpg'></div>
    <div class='medium-1 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/BBC.bmp'></div>
    <div class='medium-1 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/carlisle.png'></div>
    <div class='medium-1 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/Copeland.jpg'></div>
    <div class='medium-1 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/CCC.png'></div>
    <div class='medium-1 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/EDC.jpg'></div>
    <div class='medium-1 columns'><img src='/{{=appname}}/static/themes/CumbriaEAC/img/SLDC.jpg'></div>
  </div>
  <div class='medium-4 columns hide-for-small'>
    <p id='strapline'>Making connections when they matter the most</p>
  </div>
</div>
