<div class='row'>
 <div class='span3 bs-docs-sidebar'>
  <div id='list-filter' class='side-filter'>
   {{=list_filter_form}}
  </div>
 </div>
 <div class='span6'>
  <div class='list_formats'>
   <!-- @ToDo: Read Filter Status -->
   <div class='export_xls' title='{{=T("Export in XLS format")}}' onclick="window.open('/{{=appname}}/cms/newsfeed.xls');">
  </div>
  </div>
  {{if current.auth.s3_has_permission("update", "cms_post"):}}
  <a id='cms_post_create' href='/{{=appname}}/cms/newsfeed/create.popup?refresh=datalist?series_id$name=Offer' class='btn btn-primary main-add s3_modal' role='button' title='{{=T("Donate in Kind")}}'>
   <i class='icon icon-plus-sign big-add'></i>
   <i class='icon icon-truck'></i>
  </a>
  <a id='cms_post_create' href='/{{=appname}}/cms/newsfeed/create.popup?refresh=datalist?series_id$name=Request' class='btn btn-primary main-add s3_modal' role='button' title='{{=T("Make Request")}}'>
   <i class='icon icon-plus-sign big-add'></i>
   <i class='icon icon-flag'></i>
  </a>
  {{pass}}
  <h4 class='latest-updates'>{{=response.s3.crud_strings["cms_post"].title_list}}</h4>
  <div class="card-holder-home">
   {{=items}}
  </div>
 </div>
 <div class='span3'>
  <!-- DRMP uses this for Disasters -->
 </div>
</div>