{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>
{{=T("The Messaging Module is the main communications hub of the Sahana system. It is used to send alerts and/or messages using SMS & Email to various groups and individuals before, during and after a disaster.")}} 
</p>
<h3>{{=T("Features Include")}}:</h3>
<ul>
<li>{{=T("Create & manage Distribution groups to receive Alerts")}}</li>
<li>{{=T("Send Alerts using Email &/or SMS")}}</li>
<li>{{=T("View Alerts received using either Email or SMS")}}</li>
</ul>
</div>
      
      
