{{extend "layout.html"}}
<div id='home'>
<h2>{{=module_name}}</h2>
<p>
{{=T("The Messaging Module is the main communications hub of the Sahana system. It is used to send alerts and/or messages using SMS & Email to various groups and individuals before, during and after a disaster.")}} 
</p>
<div class='col2left'>
<h3>{{=T("Publish")}}:</h3>
<ul>
  <li><a href='{{=URL(f="compose")}}'>{{=T("Send Email / SMS")}}</a>
  <li><a href='{{=URL(f="facebook_post")}}'>{{=T("Post to Facebook")}}</a>
  <li><a href='{{=URL(f="twitter_post")}}'>{{=T("Post to Twitter")}}</a>
</ul>
</div>
<div class='col2left'>
<h3>{{=T("Inbox")}}:</h3>
<ul>
  <li><a href='{{=URL(f="email_inbox")}}'>{{=T("Email")}}</a>
  <li><a href='{{=URL(f="rss")}}'>{{=T("RSS")}}</a>
  <li><a href='{{=URL(f="sms_inbox")}}'>{{=T("SMS")}}</a>
  <li><a href='{{=URL(f="twitter_inbox")}}'>{{=T("Twitter")}}</a>
</ul>
</div>
<div class='col2right'>
<h3>{{=T("Outbox")}}:</h3>
<ul>
  <li><a href='{{=URL(f="email_outbox")}}'>{{=T("Email")}}</a>
  <li><a href='{{=URL(f="facebook_outbox")}}'>{{=T("Facebook")}}</a>
  <li><a href='{{=URL(f="sms_outbox")}}'>{{=T("SMS")}}</a>
  <li><a href='{{=URL(f="twitter_outbox")}}'>{{=T("Twitter")}}</a>
</ul>
</div>
</div>
