../themes/uvg/layout.css
../themes/uvg/xtheme-gray.css
../themes/uvg/footer.css
../themes/uvg/menu_side.css
../themes/uvg/menu_side_style.css
../themes/uvg/widgets.css
../themes/uvg/icons.css
../themes/uvg/shortcut.css
../themes/uvg/style.css
../themes/uvg/homepage.css
../themes/uvg/gis.css
../themes/uvg/mobile.css
../themes/uvg/print.css
../themes/uvg/report.css
../themes/uvg/survey.css
../themes/SSF/style.css
plugins/jquery.cluetip.css
plugins/jquery.dataTables.css
jquery-ui/jquery.ui.core.css
jquery-ui/jquery.ui.theme.css
jquery-ui/jquery.ui.autocomplete.css
jquery-ui/jquery.ui.datepicker.css
jquery-ui/jquery.ui.dialog.css
jquery-ui/jquery.ui.menu.css
jquery-ui/jquery.ui.slider.css
jquery-ui/jquery.ui.tabs.css
jquery-ui/jquery.ui.multiselect.css
jquery-ui/jquery.ui.timepicker.css
gis/style.css
zocial/zocial.css
# Final line required for parsing
