<footer id='page-footer'>
 <div class='container'>
  <div class='row'>
   <div class='span3'>
    <h3>{{=T("Site Links")}}</h3>
    <ul>
     <li><a href='/{{=appname}}/req/req/datalist'>{{=T("Requests")}}</a></li>
     <li><a href='/{{=appname}}/req/commit/datalist'>{{=T("Donations")}}</a></li>
     <li><a href='/{{=appname}}/gis/index'>{{=T("Map")}}</a></li>
     <li><a href='/{{=appname}}/pr/person'>{{=T("Contact Directory")}}</a></li>
    </ul>							
   </div>
   <div class='span3'>
    <h3>{{=T("Support")}}</h3>
    <ul>
     <li><a href='/{{=appname}}/default/contact'>{{=T("Contact Us")}}</a></li>
     <li><a href='/{{=appname}}/default/tos' target='_blank'>{{=T("Terms of Service")}}</a></li>
    </ul>
   </div>
   <div class='span3'>
    <h3>{{=T("Community")}}</h3>
    <ul>
     <li><a href='http://facebook.com' target='_blank'>{{=T("Facebook")}}</a></li>
    </ul>
   </div>
   <div id='footer-partner-logos' class='span3 hide-on-mobile'>
    <p class='pull-right'><a target='_blank' href='http://eden.sahanafoundation.org' title='A Sahana Eden Site'><img src='/{{=appname}}/static/img/sahanasmall_05.png' width='92' height='41' style='vertical-align:middle' alt='{{=T("A Sahana Eden Site")}}' /></a></p>
   </div>
  </div>
 </div>
</footer>