@charset "UTF-8";

/* Page Footer */
#footer {
	background: url(img/footer-bg.jpg);
	height: 130px;
	text-align: center;
	color: #ffffff;
	padding: 10px 0;
}
#footer-partner-label {
	font-size: x-large;
	margin-bottom: 15px;
}
#footer-partner-icon {
	margin-bottom: 15px;
}
#footer-partner-icon img {
	margin-right: 20px;
}