{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}Rosetta{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{{ADMIN_MEDIA_PREFIX}}css/base.css" type="text/css"/>
<link rel="stylesheet" href="{{ADMIN_MEDIA_PREFIX}}css/forms.css" type="text/css"/>
<link rel="stylesheet" href="{{ADMIN_MEDIA_PREFIX}}css/changelists.css" type="text/css"/>	
<style type="text/css" media="screen">
{% include 'rosetta/css/rosetta.css' %}
#rosetta-version {
    margin: 20px 0;
    font-size: 0.8em;
    color: #777;
}
</style>
{% endblock %}

{% block extrahead %}
<script src="http://www.google.com/jsapi" type="text/javascript"></script>    
<script type="text/javascript">
//<!--
    google.load("jquery", "1.3");
    {% if ENABLE_TRANSLATION_SUGGESTIONS %}google.load("language", "1");{% endif %}
    {% include 'rosetta/js/rosetta.js' %}
//-->
</script>
{% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs"><a href="{% url admin:index %}">{% trans 'Home' %}</a> &rsaquo; Rosetta</div>
{% endblock %}

{% block content_title %}
<h1 id="site-name"><a href="{% url rosetta-pick-file %}">Rosetta</a> {% block content_subtitle %}{% endblock %}</h1>
{% endblock %}


{% block content %}
{% block main %}{% endblock %}
<div id="rosetta-version">
    <a href="http://code.google.com/p/django-rosetta">Rosetta</a> <span class="version">{{version}}</span>
</div>
{% endblock %}
