<clients>
	<!-- Client side setup -->
	<client host="localhost" use_controller_vm="true" maxusers="200000"/>
</clients>

<servers>
	<!-- Server side setup -->
	<server host="127.0.0.1" port="8000" type="tcp"></server>
</servers>

<load>
	<!-- several arrival phases can be set: for each phase, you can set
	the mean inter-arrival time between new clients and the phase
	duration -->
	<arrivalphase phase="1" duration="1" unit="minute">
		<users interarrival="5" unit="second"></users>
	</arrivalphase>
</load>

<options>
	<option type="ts_http" name="user_agent">
	   <user_agent probability="80">Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.7.8) Gecko/20050513 Galeon/1.3.21</user_agent>
	   <user_agent probability="20">Mozilla/5.0 (Windows; U; Windows NT 5.2; fr-FR; rv:1.7.8) Gecko/20050511 Firefox/1.0.4</user_agent>
	</option>
</options>