{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Asset Management")}}</h2>
<p>{{=T("Assets are resources which are not consumable but are expected back, so they need tracking.")}}</p>
<div class='col2left'>
<h3>{{=T("Add")}}:</h3>
<ul>
  <li><a href='{{=URL(c="asset", f="asset", args="create")}}'>{{=T("Asset")}}</a>
  <li><a href='{{=URL(c="asset", f="item", args="create")}}'>{{=T("Item")}}</a>
</ul>
</div>
<div class='col2right'>
<h3>{{=T("List")}}:</h3>
<ul>
  <li><a href='{{=URL(c="asset", f="asset")}}'>{{=T("Assets")}}</a>
  <li><a href='{{=URL(c="asset", f="item")}}'>{{=T("Items")}}</a>
</ul>
</div>
<div class='col2left'>
<h3>{{=T("Search")}}:</h3>
<ul>
  <li><a href='{{=URL(c="asset", f="asset", args="search")}}'>{{=T("Assets")}}</a>
  <li><a href='{{=URL(c="asset", f="asset", args="search")}}'>{{=T("Items")}}</a>
</ul>
</div>
<div class='col2right'>
<h3>{{=T("Report")}}:</h3>
<ul>
  <li><a href='{{=URL(c="asset", f="asset", args="report")}}'>{{=T("Assets")}}</a>
  <li><a href='{{=URL(c="asset", f="asset", args="report")}}'>{{=T("Items")}}</a>
</ul>
</div>
</div>

