{{extend "layout.html"}}
<div id='home'>
<h2>{{=module_name}}</h2>
<p>{{=T("Assets are resources which are not consumable but are expected back, so they need tracking.")}}</p>
<div class='col2left'>
<h3>{{=T("Asset")}}:</h3>
<ul>
  <li><a href='{{=URL(c="asset", f="asset", args="create")}}'>{{=T("New")}}</a>
  <li><a href='{{=URL(c="asset", f="asset")}}'>{{=T("List")}}</a>
  <li><a href='{{=URL(c="asset", f="asset", args="search")}}'>{{=T("Search")}}</a>
  <li><a href='{{=URL(c="asset", f="asset", args="report")}}'>{{=T("Report")}}</a>
</ul>
</div>
<div class='col2right'>
<h3>{{=T("Items")}}:</h3>
<ul>
  <li><a href='{{=URL(c="asset", f="item", args="create")}}'>{{=T("New")}}</a>
  <li><a href='{{=URL(c="asset", f="item")}}'>{{=T("List")}}</a>
  <li><a href='{{=URL(c="asset", f="asset", args="report")}}'>{{=T("Report")}}</a>
</ul>
</div>
</div>