{{extend "layout.html"}}
<div class='row home-top' style='margin-top:20px;'>
 <div class='large-5 columns end'>
  <div id='intro' class='callout panel'>
   <h2>{{=settings.get_system_name()}}</h2>
    {{=item}}
    {{if AUTHENTICATED not in session.s3.roles:}}
    {{=login_buttons}}
    {{pass}}
  </div>
  {{if AUTHENTICATED not in session.s3.roles:}}
  <div id='login_box' class='panel' style='display:none'>
   {{if registered and self_registration:}}{{# Login form is default for validation}}
   <div id='login_form'>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
   <div id='register_form'>
    {{=register_div}}
    {{include "auth/_register.html"}}
   </div>
   {{elif self_registration:}}{{# Register form is default for validation}}
   <div id='register_form'>
    {{=register_div}}
    {{include "auth/_register.html"}}
   </div>
   <div id='login_form'>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
   {{else:}}{{# Only Login form}}
   <div id='login_form'>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
   {{pass}}
   <a id='show-intro' class='tiny secondary button'>Back to Intro</a>
  </div>
  {{pass}}
 </div>  
</div>
