##########################################################################
# Add a list of csv file to import into the system
# the list of import files is a comma separated list as follows:
# "prefix","tablename","csv file name","stylesheet"
#
# The csv file is assumed to be in the same directory as this file
# The style sheet is assumed to be in either of the following directories:
#     static/format/s3csv/"prefix"/
#     static/format/s3csv/
#     CSV path
#
# For details on how to import data into the system see the following:
#     zzz_1st_run
#     s3Tools::S3BulkImporter
##########################################################################
# Roles
*,import_role,IFRC/auth_roles.csv
# -----------------------------------------------------------------------------
# Users
auth,user,regression/masterUsers.csv,user.xsl
#auth,user,users.csv,user.xsl
# -----------------------------------------------------------------------------
# Org
org,sector,IFRC/org_sector.csv,sector.xsl
org,organisation_type,default/organisation_type.csv,organisation_type.xsl
org,office_type,default/office_type.csv,office_type.xsl
#org,organisation,IFRC/organisation.csv,organisation.xsl
#auth,organisation,IFRC/organisation.csv,organisation.xsl
# -----------------------------------------------------------------------------
# GIS
#  Projections
gis,projection,default/gis_projection.csv,projection.xsl
#  Markers
gis,marker,default/gis_marker.csv,marker.xsl
#  Symbology
gis,symbology,default/gis_symbology.csv,symbology.xsl
# GIS Locations
gis,location,locations/US_L0.csv,location.xsl
gis,location,locations/US_L1.csv,location.xsl
# GIS Config (refers to Locations)
# @ToDo: Make it select Georgia the L1, not Georgia the country!
gis,config,gis_config.csv,config.xsl
gis,hierarchy,default/gis_hierarchy.csv,hierarchy.xsl
# GIS Locations
#gis,location,Georgia_L2.csv,location.xsl
#gis,location,Georgia_L3.csv,location.xsl
# Layers
gis,layer_config,default/gis_layer_feature.csv,layer_feature.xsl
gis,layer_symbology,default/gis_layer_feature.csv,layer_feature.xsl
gis,layer_config,gis_layer_feature.csv,layer_feature.xsl
gis,layer_symbology,gis_layer_feature.csv,layer_feature.xsl
gis,layer_config,default/gis_layer_openstreetmap.csv,layer_openstreetmap.xsl
#gis,layer_config,default/gis_layer_bing.csv,layer_bing.xsl
#gis,layer_config,IFRC/gis_layer_empty.csv,layer_empty.xsl
gis,layer_config,default/gis_layer_google.csv,layer_google.xsl
#gis,layer_config,default/gis_layer_tms.csv,layer_tms.xsl
gis,layer_config,default/gis_layer_wms.csv,layer_wms.xsl
gis,layer_config,IFRC/gis_layer_wms.csv,layer_wms.xsl
gis,layer_config,IFRC/gis_layer_georss.csv,layer_georss.xsl
gis,layer_symbology,IFRC/gis_layer_georss.csv,layer_georss.xsl
#gis,layer_config,IFRC/gis_layer_kml.csv,layer_kml.xsl
#gis,layer_symbology,IFRC/gis_layer_kml.csv,layer_kml.xsl
gis,layer_config,default/gis_layer_coordinate.csv,layer_coordinate.xsl
# This layer isn't working currently
gis,layer_config,gis_layer_theme.csv,layer_theme.xsl
gis,theme_data,gis_theme_data.csv,theme_data.xsl
# -----------------------------------------------------------------------------
# HRM
hrm,skill,default/DefaultSkillList.csv,skill.xsl
hrm,competency_rating,default/DefaultSkillCompetency.csv,competency_rating.xsl
#hrm,skill,IFRC/SkillList.csv,skill.xsl
#hrm,competency_rating,IFRC/SkillCompetency.csv,competency_rating.xsl
hrm,course,IFRC/course.csv,course.xsl
hrm,job_role,IFRC/job_role.csv,job_role.xsl
# -----------------------------------------------------------------------------
# Shelters
cr,shelter,cr_shelter.csv,shelter.xsl
# -----------------------------------------------------------------------------
# Floods
flood,gauge,flood_gauge.csv,gauge.xsl
# END -------------------------------------------------------------------------
