{{extend "layout.html"}}
<div class='row home-top' style='margin-top:20px'>
 <div class='large-12 columns end'>
  {{AUTHENTICATED = auth.get_system_roles().AUTHENTICATED}}
  <div id='intro' class='callout panel'>
    {{=item}}
    {{if AUTHENTICATED not in session.s3.roles:}}
    {{=login_buttons}}
    {{pass}}
  </div>
  {{if AUTHENTICATED not in session.s3.roles:}}
  <div id='login_box' class='panel' style='display:none'>
   <div id='login_form'>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
   {{if self_registration:}}
    <div id='register_form'>
     {{=register_div}}
     {{include "auth/_register.html"}}
    </div>
   {{pass}}
   <a id='show-intro' class='tiny secondary button'>Back to Intro</a>
  </div>
  {{pass}}
 </div>
</div>
<div class='row'>
 <div id='rheader' class='small-12 columns'>
 </div>
<div class='small-12 columns'>
 <div class='row'>
  <div id='map' class='small-12 columns'></div>
 </div>
 <div class='row'>
  <div class='small-12 columns'>
  </div>
 </div>
 <div class='row'>
  {{try:}}{{items = items}}
   <div id='table-container' class='small-12 columns'>
    {{=items}}
   </div>
  {{except:}}{{pass}}
 </div>
</div>
{{include "dataTables.html"}}
