{% extends "base.html" %}
{% block title %}Add Event{% endblock %}
{% block content %}
    <h3>Add Event</h3>
    {{ event_form.non_field_errors }}
    {{ recurring_form.non_field_errors }}
    {% if event_form.errors or recurrence_form.errors %}
    <p>Please fix any errors.</p>
    {% endif %}
    <form method="post" action="">
    <table>
        <tfoot>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
            </tr>
        </tfoot>
        <tbody>
        {% include "swingtime/event_form_part.html" %}
        {% include "swingtime/recurring_form_part.html" %}
        </tbody>
    </table>
    </form>

{% endblock %}
