@charset "UTF-8";

/*
table tr th.edit-delete-col {
    background: url(../IFRC/img/edit_delete.png) no-repeat bottom;
}
.edit-button {
    background: url(../IFRC/img/table_controls.png) 0 0;
}
.delete-button {
    background: url(../IFRC/img/table_controls.png) -22px 0;
}
.red-button {
    background: url(../IFRC/img/button_plus_end.png) no-repeat scroll top right;
}
.red-button span {
    background: url(../IFRC/img/button_red_start.png) no-repeat;
}
.add-btn {
    background: url(../IFRC/img/button_plus_end.png) no-repeat scroll right top transparent;
}
.add-btn span {
    background: url(../IFRC/img/button_red_start.png) no-repeat scroll 0 0 transparent;
}
.pagination div a {
    background-image: url(../IFRC/img/pagination-control.png);
}
.submit-search {
    background: url(../IFRC/img/search_but.png) no-repeat;
}*/

/* Allow space for 'Subscription' */
#header #personal-menu li {
    padding: 5px 6px 0;
}

/* Survey */
#export_xls_btn {
    color: #333 !important;
}

/* For the Mission Profile page */
/* @ToDo: Responsive */
.span12 {
  width: 770px;
}
