.dsform-values-area {
    display: flex;
}

.dsform-category-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: none;
    background-color: #FFEDCB;
    border: 1px solid #FFD7A3;
}

.dsform-category {
    background-color: #f7f7f7;
    margin: 5px 0;
}

.dsform-parameter-title {
    display: inline;
    margin-right: 10px;
}

.dsform-parameter-group-title {
    font-weight: bold;
}

.dsform-parameter {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

#dsform-collection .dsform-category-header {
    justify-content: space-between;
}

#dsForm {
    display: none;
}

#dsForm ul {
    list-style: none;
}

.dsform-items-group-content {
    margin: 0;
}

#dsform-collection {
    padding: 0;
}

#dsform-collection .dsform-button-remove {
    display: none;
}

#dsform-items-selected {
    border: 1px solid #e0e0e0;
    padding: 10px;
    min-width: 400px;
}

#dsform-items-selected .dsform-button-add {
    display: none;
}

#dsform-measurement {
    display: flex;
    margin: 10px 0;
    gap: 10px;
}

#dsform-measurement > * {
    margin: 0;
    /*padding: 10px;*/
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#dsform-collection, .measurement {
    min-width: 200px;
}

.dsform-parameter-group {
    background-color: transparent;
    border: none;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.measurement {
    padding: 10px;
}

#dsform-collection .measurement {
    display: none;
}

.measurement-unit {
    margin-left: 10px;
}

.measurement-input {
    display: inline-flex;
}

.measurement-input-abnormal {
    border: 1px solid red !important;
    background-color: #ffb7b7;
}

.measurement-input-switch {
    border-radius: 0;
    border: none;
    border-left: 1px solid grey;
    width: 25px;
    height:100%;
    border: 1px solid #cacaca;
    border-radius: 0;
    cursor: pointer;
}

.measurement-input-switch:first-child {
    border-left: none;
}

.measurement-input-switch-active {
    background-color: #e0e0e0;
}

.measurement-value {
    width: auto !important;
}

.measurement-input-normal {
    background-color: inherit;
    border: inherit;
}

.measurement-input-abnormal {
    border: 1px solid red !important;
    background-color: #ffb7b7;
}

.dsform-switch-on {
    background-color: #a1a1a1;
}

.dsform-parameter-header {
    display: flex;
    justify-content: space-between;
}