.action-delete { 
	background-image: url(../../../img/delete2.png) !important;
	background-repeat: no-repeat; }

.action-add{
	background-image: url(../../../img/silk/add.png) !important;
	background-repeat: no-repeat; }

.action-search{
	background-image: url(../../../img/silk/magnifier.png) !important;
	background-repeat: no-repeat;
}
