#content {
    background: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-box-shadow: 0px;
    -webkit-box-shadow: 0px;
}