#needs-sortable label {
    margin: 1.5em 0 .5em 0;
    font-size: 12pt;
    font-weight: bold;
    display: block;
}

div.pl-container {
    clear: both;
    zoom: 1;
    overflow: hidden;
}

.pl-container div {
    float:left;
    width: 33%;
}

.pl-container ul {
    list-style-type: none;
    margin: 3px;
    padding: 0px;
    min-height: 15em;
    max-height: 15em;
    overflow-y: auto;
    min-width: 200px;
}

.pl-container ul li {
    margin: 2px;
    height: 2em;
    line-height: 2em;
    background-color: #eee;
}
    
li a.delete-need {
    display: block;
    float: right;
    padding: 0 5px;
    font-weight: bold;
    text-decoration: none;
}

.pl-container ul#urgent {
    border: 2px solid red;
}

.pl-container ul#no {
    border: 2px solid green;
}

.pl-container ul#need {
    border: 2px solid yellow;
}
    
.pl-container div#need-wrap {
    width: 100%;
}
    
.pl-container input#new-need {
    display: block;
    width: 300px;
}
    
div.tweet-box {
    margin: 1.5em 0 .5em 0;
}

form.additem { margin: 0; padding: 0; }