@charset "UTF-8";

/*
Sahana - Default Theme - Stylesheet
-----------------------------------------------------------------------------------
designer : Prabhath Sirisena - prabhath@vesess.com - http://nidahas.com
updated : Priyanga Fonseka  - jo@opensource.lk
updated for SahanaPy : Fran Boon  - fran@aidiq.com
updated : Po-Wen Chi  - pwchi@pwchi.info
Some content used from: http://matthewjamestaylor.com/blog/perfect-full-page.htm
Updated from Web2Py base.css

Selectors are listed in their order of appearance in the html, where applicable.
----------------------------------------------------------------------------------

  |---- Neutralizing Styles
  |---- Basic Page Formatting Styles
  |---- Header
    +---- menu_auth
  |---- menu_modules
  |---- Content ( Home, Result, Module specific styles )
  |---- Footer
  |---- Form Layout Styles
  |---- Popup Form Styles
  |---- Popup Menu Styles
  |---- Message Display Styles

*/

/* Neutralizing Styles
   ------------------------------------------------------------------------------- */
/* Neutralize styling: Elements we want to clean out entirely */
html,
body,
form,
fieldset,
textarea {
    margin: 0;
    padding: 0;
    font: 100%/125% Arial, Helvetica, sans-serif;
}

/* Neutralize styling: Elements with a vertical margin */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl,
address {
    margin: 0 0 1em 0;
    padding: 0;
}

/* Apply left margin: Only to the few elements that need it */
dd, blockquote {
    margin-left: 1em;
}
/* Breaks CSS dropdown menus
li {
    margin-left: 1em;
}
*/

/* Over-ride Ext */
ol, ul {
    list-style: disc inside none;
}
/* Except here */
ul.x-tab-strip,
ul.x-tree-node-ct,
ul.x-tree-root-ct {
    list-style: none outside none;
}

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}
pre {
  padding: 15px;
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

textarea {
    overflow: auto;  /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
}
/* always force a scrollbar in non-IE */
html {
    overflow-y: scroll;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
    width: auto;
    overflow: visible;
}

/* bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ext-ie7 img {
    -ms-interpolation-mode: bicubic;
}

/*
 * Non-semantic helper classes
 */

/* for image replacement */
.ir {
    display: block;
    text-indent: -999em;
    overflow: hidden;
    background-repeat: no-repeat;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
    display: none;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* CSS floats */
.fleft {
    float: left !important;
}
.fright {
    float: right !important;
}
.fcenter {
    float: center !important;
}
/* Text aligns */
.tacenter {
    text-align: center !important;
}
.taleft {
    text-align: left !important;
}
.taright {
    text-align: right !important;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {
    zoom: 1;
}

/* Hides from IE-mac */
* html .clearfix {
    height: 1%;
}


/* Basic Page Formatting Styles
   ------------------------------------------------------------------------------- */
body {
    font-size: 0.8em;
    color: #000;
    background: #fff;
    /* To have a centered pane with a side colour
 		background: none repeat scroll 0 0 #63594D;
 	*/
    /*min-width: 1024px;*/
    /*overflow:auto;  /* annoying always visible scrollbar in chrome */
}

/* Miscellaneous conveniences: */
form label {
    cursor: pointer;
}
fieldset {
    border: none;
}
input, select, textarea {
    font-size: 100%;
}
textarea.comments {
    height: 50px;
}
textarea.richtext {
    height: 100px;
}
.hide {
    display: none;
}
.mini {
    font-size: 80%;
}
.wide {
    width: 100%;
}

/* Input fields should give visual feedback when focussed */
input:focus,
select:focus,
textarea:focus {
    background-color: #ffffcc;
}

/* Links should ALWAYS be unvisited */
a {
    color: #039;
    text-decoration: underline;
    outline: 0;
}
a:hover {
    color: #c00;
    text-decoration: none;
    background-color: #ffffcc;
    outline: 0;
}
a:active,
a:focus {
    outline: 0;
}
a img {
    border: none;
}

/* Popup text for represents of Long text fields */
.popup {
    display: none;
    position: absolute;
    border-style: solid;
    background-color: #ffffcc;
    padding: 5px;
    margin: 0 20px 0 -50px;
}

table {
    border-collapse: collapse;
}

/* Now to layout elements... */
/* Unused in default Sahana THeme
#container {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 1280px;
}
#banner {
    background: url(../../img/BANNER.jpg) 0 0 no-repeat;
    padding: none;
    width: 1280px;
    height: 255px;
    display: block;
    position: absolute;
    top: 0;
}
*/
/* response.menu_modules */
#menu_modules {
    position: absolute;
    /* top: 255px; */
    height: 36px;
    background: #CACACA  url(../../img/BFTBmenu_back.png) repeat-x;
    border-top: 1px solid #2a323f;
    /* alternate gradient
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.08, rgb(52,58,69)),
        color-stop(0.98, rgb(73,82,97)),
        color-stop(0.99, rgb(88,96,108))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(52,58,69) 8%,
        rgb(73,82,97) 98%,
        rgb(88,96,108) 99%
    );
    */
    padding-top: 0;
    z-index: 25;
    min-width: 800px;
    width: 100%;
    /* width: 1280px; */
}
#modulenav {
    position: relative;
    margin: 0;
    padding-right: 0.7%;
}
#modulenav,
#modulenav li,
#modulenav ul {
    list-style: none;
}
#modulenav li div a {
    color: #fff;
}
#modulenav a {
    text-decoration: none;
}
#modulenav a:hover {
    color: #fff;
    background: none;
}
#modulenav li li a {
    display: block;
    font-weight: normal;
    padding: 5px 5px 5px 5px;
}
#modulenav li li a:hover {
    background: #414a59;
    color: #fff;
}
#modulenav li {
    float: left;
    position: relative;
    text-align: left;
    cursor: default;
    border-width: 1px 0;
}

/*.fleft .submenu {
        min-width: 190px;
}
.fleft .submenu li{
        width: 95px;
}*/
/*
#modulenav li:last-child ul.submenu {
        width: auto;
}
*/
.submenu {
    z-index: 9999;
}
/* Menu Buttons */
#modulenav li div {
    text-align: center;
    background: url(../../img/BFTBmenu_side.png) right 10px no-repeat;
    text-shadow: 0 1px 1px #58606c;
}
#modulenav li div a{
    display:inline-block;
    padding: 8px 10px 5px 15px;
}
#modulenav li div.hovered,
#modulenav li div:hover {
    background: #3177bc url(../../img/BFTBmenu_hilight.png) repeat-x;
    /* alternate gradient
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.08, rgb(63,109,184)),
        color-stop(0.98, rgb(92,155,204)),
        color-stop(0.99, rgb(126,176,216))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(63,109,184) 8%,
        rgb(92,155,204) 98%,
        rgb(126,176,216) 99%
    );
    */
}

/* Menu Popups */
#modulenav li ul {
    display: none;
    position: absolute;
    top: 100%;
    /* top: 255; */
    left: 0;
    font-weight: normal;
    text-align: left;
    background: #fff;
    border: #dedede 1px solid;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-box-shadow: 1px 1px 5px #232a34;
   -webkit-box-shadow: 1px 1px 5px #232a34;
}
#modulenav li>ul {
    top: auto;
    left: auto;
}
#modulenav li li {
/*     display: inline-block; */
    display: block;
    float: none;
    border: 0;
    vertical-align: middle;
}
#modulenav li:hover ul {
    display: block;
}
#modulenav li.over ul {
    display: block;
}

.S3menulogo {
    background: url(../../img/S3menu_logo.png) left top no-repeat;
    text-shadow: none;
    padding: none;
    width: 35px;
    height: 28px;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 2px;
}
.S3menuHome {
    padding-left: 20px;
}

/* Sidebar / response.menu_options */
#menu_options {
    margin: 6px 0 0 0;
    /*padding:5px;*/
    background: #e7ebed;
    /*border: 1px solid #bbb;*/
    border-radius: 0 5px 5px 0;
    overflow: auto;
}

#subnav li, #subnav ul li {
    list-style: none;
    clear: both;
}
#subnav div a {
    display: block;
    padding: 5px;
    background :#37404c;
    font-weight: bold;
}
#subnav ul li {
    border-bottom: 1px solid #b4c0c7;
}

#subnav ul li a{
    display: block;
    padding: 2px 2px 3px 10px;
    text-decoration: none;
}
#subnav div a{
    color: white;
    font-size: 1.05em;
    text-decoration: none;
}
#subnav div a:hover{
    background: #112038;
    color: white;
}

.menu_separator hr {
    width: 90%;
    height: 1px;
}

/* Width of page */
.swidth {
	width: 640px;
}

/* Column container */
.colmask {
    position: relative;  /* This fixes the IE7 overflow hidden bug */
    clear: both;
    float: left;
    width: 100%;         /* width of whole page */
    overflow: hidden;    /* This chops off any overhanging divs */
    z-index: 0;          /* This keeps drop down menus visible on maps */
    margin-top: 42px;
}

/* common column settings */
.col3left {
    float: left;
    width: 33%;
    position: relative;
}
.col3mid, .col3right {
    float: right;
    width: 33%;
    position: relative;
}
.col2left {
    float: left;
    width: 49%;
    position: relative;
}
.col2right {
    float: right;
    width: 49%;
    position: relative;
}
.col1, .col2, .col3 {
    float: left;
    position: relative;
    padding: 0 0 3px 0;
    overflow: hidden;
}

/* Full page settings */
.fullpage {
    background: #fff;    /* page background colour */
    padding-top: 1px;
    overflow: visible;
}
.fullpage .col1 {
    width: 99%;         /* page width minus left and right padding */
    left: 0.5%;         /* page left padding */
    min-width: 800px;
}

.aside {
    float:left;
    width:200px;
    /*margin-left: 100%;*/
}
.rightside {
    margin-left:200px;
}

/* common styles */
#content {
    background: #f0f3f4;
    border: 1px solid #bbb;
    margin: 6px 5px;
    padding: 0;
    margin-bottom: 2px;
    padding: 6px 10px 6px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   overflow: auto;
}
#content h1,
#content h2 {
    color: #112038;
    font-size: 16px;
    font-weight: bolder;
    background: #cfdde7;
    padding: 10px 5px 5px 5px;
    border-bottom: 1px solid #bbb;
}
#content h2:first-child {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.16, rgb(188,204,217)),
        color-stop(0.57, rgb(212,225,235))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(188,204,217) 16%,
        rgb(212,225,235) 57%
    );
    margin: -6px -10px 6px -10px;
    background-color: #cfdde7;
    text-shadow: 0 1px 1px #e3edf4;
    border: 1px solid #aecbe0;
    border-top: 1px solid #e1eaf1;
    border-bottom: 1px solid #9cb2c1;
    padding-left: 10px;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}
#content h3 {
    color: #2a485d;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 5px 2px 5px;
    border-bottom: 1px #006699 solid;
    margin-bottom: 10px;
}
#content h4 {
    color: #375d78;
    margin-top: 10px;
    font-size: 13px;
    font-weight: bolder;
    padding: 2px 2px 1px 2px;
    border-bottom: 1px #003366 dotted;
    margin-bottom: 10px;
}

/* other styles */
/*#home { border: 10px #fff solid; }*/
#home p {
    text-align: center;
    text-align: justify;
    line-height: 1.25;
}
#home li {
    margin-left: 12px;
}
#footer {
    margin: 0 auto;
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    border-top: #fff 1px solid;
}
#socialmedia_share {
    float: left;
    margin-top: 7px;
    margin-left: 20px;
    style: block;
}
.socialmedia_element {
    float: left;
    margin-right: 8px;
}
#poweredby {
    float: right;
    margin-right: 20px;
}
#poweredby a{
    color: #2A485D;
    text-decoration: none;

}
/* Twitter bugfix */
#twttrHubFrame {
    left: -9999em;
}
a.help, a:link.help {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
a:hover.help {
    background-color: #336699;
    text-decoration: underline;
}
a:visited.help {
    font-weight: normal;
    color: #666;
}
p {
    padding: 5px;
    margin: 0;
}


/* Form Layout styles */
p.legend {
    margin-bottom: 1em;
}
p.legend em {
    color: #c00;
    font-style: normal;
}
div.form-container {
    width: 100%;
    overflow: auto;
}
div.form-container form {
    padding: 5px;
    background-color: #fff;
    border: #eee 1px solid;
    background-color: #fbfbfb;
}
div.form-container p {
    margin: 0.5em 0 0 0;
}
div.form-container form p {
    margin: 0;
}
div.form-container form p.note {
    font-style: italic;
    margin-left: 18em;
    font-size: 80%;
    color: #666;
}
div.form-container form input,
div.form-container form select {
    padding: 1px;
    margin: 2px 0 2px 0;
}
div.form-container form input[type="checkbox"],
div.form-container form input[type="radio"] {
    margin: 2px 5px;
}
div.form-container form fieldset {
    margin: 0 0 10px 0;
    padding: 10px;
    border: #ddd 1px solid;
    background-color: #fff;
}
div.form-container form legend {
    font-weight: bold;
    color: #666;
}
/*
div.form-container form fieldset div.brake {
    padding: 0.3em;
}
div.form-container form fieldset label {
    position: relative;
    margin-right: 10px;
    padding-right: 10px;
    width: 15em;
    display: block;
    float: left;
    min-height: 1em;
}

div.form-container form fieldset label.errorfield,
div.form-container form fieldset span.errorfield {
    color: #c00;
}
div.form-container form fieldset label.value{
    display: block;
    text-align: left;
    width: auto;
}
div.form-container form fieldset input.errorfield {
    border-color: #c00;
    background-color: #fef;
}
div.form-container form fieldset input:focus,
div.form-container form fieldset input.errorfield:focus,
div.form-container form fieldset textarea:focus {
    background-color: #ffffcc;
    border-color: #fc6;
}
*/
div.form-container form input:focus,
div.form-container form select:focus,
div.form-container form input.errorfield:focus,
div.form-container form textarea:focus {
    background-color: #ffc;
    /* border-color: #ffc; */
}
div.form-container form td.w2p_fl,
div.item-container form td.w2p_fl {
    font-weight: bold;
    /* background-color: #ffc; */
}
div.form-container form td.w2p_fl label,
div.item-container form td.w2p_fl label {
    width: auto;
}
div.form-container form tr td,
div.item-container form tr td {
    padding: 3px 0 0 3px;
}
div.form-container div.controlset label,
div.form-container div.controlset input {
    display: inline;
    float: none;
}
div.form-container div.controlset div {
    margin-left: 15em;
}
div.form-container div.buttonrow {
    margin-left: 180px;
}

/* Drag and Drop */
div#template_sections {
    margin-right: 10px;
}

div#master_sections li {
    list-style: none;
}

.ui-droppable {
    padding-bottom: 25px;
}

div#template_sections li {
    list-style: none;
}

li.ui-draggable:hover,
li.ui-draggable-dragging {
    cursor: pointer;
    list-style: none;
    padding: 3px;
    border: solid 1px #BBBBBB;
    background: none repeat scroll 0 0 #CFDDE7;
}
/* Subheadings */
td.subheading {
    padding-top: 10px !important;
    padding-bottom: 5px;
    border-bottom: thin solid #bbb;
    font-weight: bold;
}
tr.after_subheading td {
    padding-top: 10px !important;
}

select[disabled='disabled'],
input[disabled='disabled'] {
    /* A lighter background so the text is more readable */
    background: #eee;
    color: #333;
    /* Make the cursor not change to editable */
    cursor: default;
}

/* Tabular data view */
div#table-container {
   display: block;
   width: 100%;
   overflow: auto;
   /* Bring in line with export formats */
   margin-top: -1px;
   min-width: 640px;
}
div#table-container table {
   display: block;
   overflow: auto;
}
div#table-container thead th {
	text-align: left;
    border: 1px solid #ccc;
}
div#table-container thead th.rtotal {
    border-left: 2px solid #aaa;
}
div#table-container tr.even td {
    border: 1px solid #ccc;
    padding: 4px 10px;
}
div#table-container tr.odd td {
    border: 1px solid #ccc;
    padding: 4px 10px;
}
div#table-container tr.odd td.rtotal,
div#table-container tr.even td.rtotal {
    border-left: 2px solid #AAAAAA;
}
div#table-container tr.totals_row {
    border-top: 2px solid #AAAAAA;
}
div#table-container td.totals_header {
    font-weight: bold;
}

#list_formats {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
#list_formats a {
    padding: 1px;
}

/* dataTables Styling */
table.dataTable {
    /* min-width: 700px; */
    width: 100%;
}

table.dataTable .row_selected td{
	background-color: #ddd;
	border: 1px solid #aaa;
}

table.dataTable tr td{
    vertical-align: top;
}

table.dataTable .group {
	background-color: #ddd;
	border: 1px solid #aaa;
}

div.dataTables_filter {
    /* text-align: left; */
    width: auto;
    float: left;
    /* margin-left: 50px; */
    margin-bottom: 4px;
}

div.dataTables_processing {
	float: left;
	margin-left: 10px;
}

div.dataTables_info  {
	width: auto;
    float: right;
    clear: none;
    margin: 2px 0 4px 10px;
}
div.dataTables_length {
    float: right;
    margin-bottom:4px;
}
div.dataTables_paginate {
	float: left;
    margin: 4px 0 4px 0;
}
div.paging_full_numbers {
	width: auto;
}
a.paginate_button,
a.paginate_active {
    text-decoration: none;
}

span.dataTable-btn {
	background-color: #ddd;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

span.dataTable-btn:hover {
	background-color: #EFEFEF;
}

table.importItem{
    display: none;
}
/*
#list_processing { float: left;
				   margin-bottom:4px; }
*/

/* Display view */
div.item-container {
    width: 100%;
    overflow: auto;
    margin: 5px 0 5px 0;
}

/* Default text for INPUT fields */
.default-text {
    color: #a1a1a1;
    font-style: italic;
}

ul.ui-autocomplete {
    z-index: 9999 !important;
}

/* Map view */
div#map {
    width: 100%;
    overflow: auto;
}

/* Required Field indicator */
.req {
    color: red;
    font-weight: bold;
}

/* For Key - ugly! */
.red {
    color: red;
}

/* Help Popup */
.tooltip,
.tooltipbody,
.stickytip,
.ajaxtip {
    position: static;
    text-transform: uppercase;
    height: 20px;
    width: 50px;
    background-image: url(../../img/help_off.gif);
}
.tooltip span,
.tooltipbody span,
.stickytip span,
.ajaxtip span {
    display:none;
}
.tooltip:hover,
.tooltipbody:hover,
.stickytip:hover,
.ajaxtip:hover {
    background-color: transparent;
    height: 20px;
    width: 50px;
    background-image: url(../../img/help_on.gif);
}

/* Form Popup */
div#popup {
    background: #fff;
}

/* Message Flash styles */
div.confirmation {
    color: #070;
    font-weight: bold;
    text-align: center;
    border: #070 1px solid;
    background: url(../../img/dialog-confirmation.png) #e5ffe5 no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.confirmation p em {
    color: #070;
}
.error {
    color: #c00;
    font-weight: bold;
    text-align: center;
    border: #c00 1px solid;
    background: url(../../img/dialog-error.png) #ffe5e5 no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.error p em {
    color: #c00;
}
.information {
    color: #748d8e;
    font-weight: bold;
    text-align: center;
    border: #9ed8d7 1px solid;
    background: url(../../img/dialog-information.png) #ecfdff no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.information p em {
    color: #748d8e;
}
.warning {
    color: #c00;
    font-weight: bold;
    text-align: center;
    border: #fc6 1px solid;
    background: url(../../img/dialog-warning.png) #ffc no-repeat 5px 5px;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    cursor: pointer;
    clear: left; /* Added to avoid merging with breadcrumbs */
}
.warning p em {
    color: #c00;
}

/* AutoCompletes */
.throbber {
    margin-bottom: -16px;
    padding: 0 0 0 10px;
}

/* Resource header
div#rheader {
    display: table-cell;
}*/
div#rheader table {
    /* width: 100%; */
}
div#rheader th {
    /* text-align: right; */
    /* width: 10%; */
    font-weight: bold;
}
div#rheader td {
    text-align: left;
    padding: 1px 25px 1px 10px;
    /* width: 20%; */
}
/* Widget */
tr#select_from_registry_row td {
   padding: 8px;
}
tr.box_top {
   border-top: #bbb 1px solid;
   border-left: #bbb 1px solid;
   border-right: #bbb 1px solid;
   background: #F0F3F4;
}
tr.box_middle {
   border-left: #bbb 1px solid;
   border-right: #bbb 1px solid;
   background: #F0F3F4;
}
tr.box_bottom {
   border-bottom: #bbb 1px solid;
   border-left: #bbb 1px solid;
   border-right: #bbb 1px solid;
   background: #F0F3F4;
}

div.tabs {
	height: 1.5em;
    padding: 0 0 8px;
    margin: 10px 0 2px;
    text-align: left;
    border-bottom:1px solid #3286e2;
    clear: left;
}
div.tabs span {
	display: block;
	float: left;
   -moz-border-radius: 3px 3px 0 0;
   -webkit-border-radius: 3px 3px 0 0;
    border-width: 2px 1px 0 3px;
    border-style: solid;
    border-color: #3286e2;
    margin-right: 3px;
}
div.tabs span a {
	text-decoration: none;
	line-height: 1.5em;
	display: block;
	padding: 1px 3px 2px;
    color: #ffffff;
   -moz-border-radius: 3px 3px 0 0;
   -webkit-border-radius: 3px 3px 0 0;
}
span.tab_last,
span.tab_other {
    margin-top: 4px;
    background:#3286e2;
}
/* To overlap component border */
div.tabs span.tab_here {
    background: #f0f3f4;
    border-color: #6699cc;
    font-weight: bold;
    margin-bottom: -1px;
}
form div.tabs span.tab_here{
    background: #ffffff;
}

div.tabs span.tab_here a {
    color: #006699;
    padding: 4px 6px 3px 5px;
}

span.tab_other a:hover, span.tab_last a:hover {
    color: #ffffff;
    background:transparent;
}
span.tab_other:hover, span.tab_last:hover {
    background: #164b8b;
    border-color: #164b8b;
}
span.tab_prev_active {
    border: 1px solid #6699cc;
    color: #006699;
    border-bottom: 0;
}
span.tab_next_active {
    border: 1px solid #6699cc;
    color: #006699;
    border-bottom: 0;
}
span.tab_prev_inactive {
    border: 1px solid #bbb;
    color: #bbb;
    border-bottom: 0;
}
span.tab_next_inactive {
    border: 1px solid #bbb;
    color: #bbb;
    border-bottom: 0;
}
span.tab_prev_active a,
span.tab_next_active a {
    color: #006699;
    text-decoration: None;
}
span.tab_prev_inactive a,
span.tab_next_inactive a {
    color: #bbb;
    text-decoration: None;
}


/* Component */
div#component {
	padding: 10px;
	border-color: #6699CC;
    border-style: solid;
    border-width: 1px;
    /* Removed so we can have full width (e.g. for timeline)
    float: left; */
    overflow: auto;
}

/* Resource Footer */
div#rfooter {
	padding: 15px 0;
}

/* Last Update Meta-data */
div#last_update {
    text-align: right;
    font-style: italic;
    font-size: 80%;
    color: #666;
}

/* Action Buttons */
.delete-btn,
.action-btn {
    cursor: pointer;
    text-decoration: none;
    /* font-weight:bold; */
    color: #ffffff;
    background-color: #3286e2;
    border: 1px solid #4c95e6;
    border-bottom: 2px solid #164b8b;
    border-top: 1px solid #5f9eeb;
    padding: 2px 4px 2px 4px;
    margin: 2px;
    z-index: 500;
    white-space: nowrap;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.delete-btn:hover,
.action-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #164b8b;
}
.cancel-btn {
    padding-left: 10px;
}
.action-lnk {
    font-size: 85%;
    padding-left: 15px;
}

.sublabels {
    font-size: 85%;
}

/* Used to diplay the list-add with the list-add-btn */
#list-btn-add {
	margin-bottom: 10px;
    float: left;
}
#list-add {
    display: none;
}

/* Expand section button */
.plus {
    position: static;
    height: 16px;
    width: 16px;
    background-image: url(../../img/icon_blue_plus15px.png);
}
.minus {
    position: static;
    height: 16px;
    width: 16px;
    background-image: url(../../img/icon_blue_minus15px.png);
}
.expand {
    /*position: static;*/
    height: 16px;
    width: 16px;
    float: left;
    background-image: url(../../img/jquery-ui/ui-icons_222222_256x240.png);
    background-position: -64px -16px;
}
.expanded {
    background-image: url(../../img/jquery-ui/ui-icons_222222_256x240.png);
    background-position: -32px -16px;
    white-space:nowrap; /* prevent the label from wrapping */
}
/* Grow Input */
li input + a {
    text-decoration: none;
}

.rfilter {
    float: left;
    padding: 10px 20px 10px 10px;
    /*margin-bottom: 20px;*/
}

/* Comments */
#comments {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
#comments ul, ol {
    padding-left: 20px;
    list-style: none outside none;
}
#comments li {
    padding: 10px 0 0;
}
#comments li a.jcollapsible:hover {
    background: none;
}
#comments div.comment-text ul {
    list-style: disc outside none;
}
#comments div.comment-text ol {
    list-style: decimal outside none;
}
#comments div.comment-text li {
    padding: 0;
}
/* Over-ride Ext! */
#comments em {
    font-style: italic;
}
#comments strong {
    font-weight: bold;
}
#comment-form {
    width: 390px;
    border: 1px #9C9C9C dashed;
    padding: 5px;
    margin-top: 5px;
}
.avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D7D7D7;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #F2F2F2;
    float: left;
    height: 55px;
    padding: 4px;
    width: 55px;
}
/* HRM RHeader */
.hrm_avatar {
    float: left;
    padding-bottom: 5px;
    padding-right: 10px;
}
.comment-box {
    overflow: hidden;
    padding: 15px 0;
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    overflow: hidden;
    padding: 10px;
    margin-left: 15px;
}
.comment-text {
    padding: 0 0 0 20px;
    float: left;
}
.comment-header {
    margin: 0 0 10px 0;
}
.comment-footer {
    clear: left;
}
.comment-date {
    font-size: 11px;
    margin: 0 0 10px 0;
}

/* Home page specific */

#home h2 {
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 1.4em;
	margin-bottom: 5px;
}

.menu_box {
	border: 1px solid #006699;
	padding: 10px;
	margin-top: 10px;
	width: auto;
}

#menu_box_center {
	width: 655px;
}

#menu_box_1 {
	width: auto;
	float: left;
}

#menu_box_2 {
	float: left;
}

#login_box {
	width: 470px;
	float: left;
        clear: left;
}

#home #login_box div {
	padding: 0;
}

#home #login_box input[size="62"] {
	width: 300px;
}

.menu_div, .div_arrow {
	float: left;
	width: auto;
}

#facility_box {
	width: auto;
	float: right;
        text-align: center;
        clear: left;
}

#facility_box img {
	margin: 0;
        margin-left: 2px;
}

#manage_facility_box {
	/* If inside menu_box_2
    width: 240px;
	margin-left: 10px;
	padding-bottom: 40px; */
    width: 470px;
}

#manage_facility_box a {
	margin-left: 20px;
}

#org_box {
	/* If inside menu_box_2
    width: 240px;
	margin-left: 10px;
	padding-bottom: 40px; */
    width: 470px;
    clear: left;
}

#org_box #list_wrapper {
    margin-top: 10px;
}

#org_box #list_filter {
    margin: 0;
}
#org_box #list_processing {
    margin-top: 5px;
}

.div_arrow	{
    padding: 0 15px;
    text-align:left;
    margin-top: 100px;
}
#content .menu_box h3  {
    border-bottom: 0;
    font-size: 1.6em;
    text-align: center;
}
.menu-btn-r {
    margin: 0;
    padding: 15px 15px 15px 15px;
    overflow: hidden;
    background: url(../../img/menu_box-r.png) no-repeat scroll top right;
    display: block;
    white-space:nowrap;
    text-align: center;
    font-size: 1.3em;
}
.menu-btn-l {
    margin-top:4px;
    overflow: hidden;
    background: url(../../img/menu_box-lstretch.png) no-repeat;
    display: block;
    /*float: left;*/
    height: 50px;
    text-decoration: none;
}

#login_form,
#register_form {
    clear: both;
    padding: 10px 0 10px 0;
}
#about{
    clear: both;
}

/* RSS Feed */
#feed-control {
    clear: both;
}
.gfg-title {
    text-align: left;
    padding: 0 0 0 10px;
}
.gfg-subtitle {
    padding: 0 0 0 5px;
}

/* Ext button (e.g. on Bulk Upload form */
#show-dialog-btn { border: 1px solid #efefef;
                   margin: 10px;
                   padding: 10px; }

/* Request (req) Application */
.req_status_none {
    color: red;
    font-weight: bold;
}
.req_status_partial {
    color: darkorange;
    font-weight: bold;
}
.req_status_complete {
    color: green;
    font-weight: bold;
}

/* hrm/contacts */
.contacts-wrapper {
    width: 500px;
}

.contacts-wrapper p {
   margin-bottom: 5px;
}
.contacts-wrapper div.margin {
   margin-bottom: 10px;
}

.contacts-wrapper .contact.saving .editBtn,
.contacts-wrapper .contact.edit .editBtn {
    display: none;
}

/* Styles added for the layout of the survey questionnaire form */
tr.survey_section th{
    color: #003399;
    font-size: 150%;
    text-align: center;
}

tr.survey_question th{
    color: #112038;
    font-size: 90%;
    font-weight: bold;
    vertical-align: top;
}

div.survey_map-legend td{
    vertical-align: top;
}

div.survey_scrollable {
    width:900px;
    overflow:scroll;
}
/* Big Buttons (e.g. RMS) */
div.question-container {
    text-align:center;
    width:8em;
    background-color:#F3F6FF;
    border: solid 3px #bbb;
    padding:1.5em;
    font-size:large;
    overflow: auto;
}

/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/* For the less-enabled mobile browsers like Opera Mini */
@media handheld {
    * {
      float: none;       /* Screens are not big enough to account for floats */
      font-size: 80%;    /* Slightly reducing font size to reduce need to scroll */
      background: #fff;  /*  As much contrast as possible */
      color: #000;
    }
}

/*
 * Print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/
 */
@media print {
/* Serif typefaces are the most legible in print, we want a clean white background without images. */
body {
	/*
    background: white;
    background-color: transparent;
	*/
    background: transparent;
	color: black;
	font-family: "Georgia", Times New Roman, Serif;
    font-size: 12pt; /* This breaks users' ability to increase fontsize on-screen 1st */
}

/* Remove Items */
#menu_modules,
#menu_options,
#footer,
#rheader_tabs,
#searchCombo {
	display: none;
}

/* Trim margins */
#content   {
    background-color:transparent;
    width: 100%;
    float: none !important;
    border: 0;
    -moz-border-radius: 0;
    margin: 0;
    padding: 0;
}

/* Simple styling with fontsize specified in points */
#content h1,
#content h2 {
	background: white;
	color: black;
	font-size: 16pt;
    border: 0;
	-moz-border-radius: 0;
    margin: 0;
}

#content h3 {
	background: white;
	color: black;
	font-size: 14pt;
    margin: 0;
}

/* Links can't be clicked, so mark them with simple underline */
a {
	color: black;
    background: transparent;
	/* font-weight: bold; */
    text-decoration: underline;
}
/* Give the destinations - needs to be selective. Internal navigation links aren't helpful */
/*
a:after,
a:link:after,
a:visited:after {
	content: " ("attr(href)") ";
    font-size: 90%;
}
*/
/* Control placement of line-breaks */
#comments {
	page-break-before: always;
    /* page-break-after:always; */
    /* page-break-after:avoid; */
    /* page-break-before:avoid; */
}
/* Web2Py */
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; }
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  /* Don't show links for images */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* Search Form */
.search_select_letter_label {
    margin: 10px 0 0 7px;
    padding-left: 20px;
    background: url( ../../img/icon_blue_plus15px.png ) no-repeat;
    cursor: pointer;
}
.search_select_letter_label.expanded {
    background: url( ../../img/icon_blue_minus15px.png ) no-repeat;
}
.search_select_letter_widget {
    margin-left: 2em;
}
.search_select_letter_widget label {
    white-space: nowrap;
}
/* when S3SearchOptionsWidget has nothing to show */
.no-options-available {
    color: #aaa;
    font-style: italic;
}

.checkboxes-widget-s3 input {
    float: left;
}

.widget-org-hierarchy-menu {
    overflow:auto;
    height:10em;
    width:36em;
    position:relative;
}
.widget-org-hierarchy-menu .ui-menu {
    position:absolute;
    top:0;
    bottom:0;
    overflow:auto;
    width:32em;
}
.widget-org-hierarchy-menu .ui-menu a {
    cursor: pointer;
}

.widget-org-hierarchy-crumbs {
    list-style: none;
}
.widget-org-hierarchy-crumbs li {
    display: inline;
    cursor: pointer;
}
.widget-org-hierarchy-crumbs li:after {
    content: " > ";
}
.widget-org-hierarchy-crumbs li a {
    text-decoration: none;
}
.widget-org-hierarchy-crumbs li.selected a {
    text-decoration: none;
    border-bottom: 1px dashed black;
}
