/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
    display: none;
    float: left;
    position: relative;
}
.dk_container a {
    outline: 0;
}

.dk_toggle {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    position: relative;
    zoom: 1;
}

.dk_open {
    position: relative;
}
.dk_open .dk_options {
    display: block;
}
.dk_open .dk_label {
    color: inherit;
}

.dk_options {
    display: none;
    margin-top: -1px;
    position: absolute;
    right: 0;
    width: 100%;
}
.dk_options a,
.dk_options a:link,
.dk_options a:visited {
    display: block;
}
.dk_options_inner {
    overflow: auto;
    position: relative;
}

.dk_touch .dk_options {
    overflow: hidden;
}

.dk_touch .dk_options_inner {
    max-height: none;
    overflow: visible;
}

/* .dk_fouc select { */
select.dk_fouc {
    position: relative;
    top: -99999em;
    visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
