{{extend "layout.html"}}
<div class='row home-top' style='margin-top:20px;'>
 <div class='large-5 columns end'>
  <div id='intro' class='callout panel'>
   <h2>{{=settings.get_system_name()}}</h2>
    {{=item}}
    {{if AUTHENTICATED not in session.s3.roles:}}
    {{=login_buttons}}
    {{pass}}
  </div>
  {{if AUTHENTICATED not in session.s3.roles:}}
  <div id='login_box' class='panel' style='display:none'>
   <div id='login_form'>
    {{=login_div}}
    {{include "auth/_login.html"}}
   </div>
   {{if self_registration:}}
    <div id='register_form'>
     {{=register_div}}
     {{include "auth/_register.html"}}
    </div>
   {{pass}}
   <a id='show-intro' class='tiny secondary button'>Back to Intro</a>
  </div>
  {{pass}}
 </div>  
</div>
