@charset "UTF-8";

/* Home page specific */

div#menu-page h1 {
    margin-top: 10px;
    font-size: 2.75rem;
}

.home-page h1 {
    text-align: center;
}

div#menu-page h2 {
    font-size: 2rem;
    text-align: center;
}

div#menu-page h1,
div#menu-page h2 {
    font-weight: inherit;
    background: None;
    padding: 0;
}

.home-page .row,
.home-page .panel {
    margin: 0 auto;
}

#menu-page .row,
#menu-page .panel {
    max-width: 980px;
}

i.menu {
    font-size: 64px;
    line-height: 1;
    text-align: center;
    display: block;
    margin-bottom: -0.5rem;
}

.menu_buttons {
    text-align: center;
}

.menu_buttons a:first {
    margin-right:20px;
}