@charset "UTF-8";

/* Home page specific */

#home h1,
#home h2 {
    text-align: center;
}

#home .row,
#home .panel {
    margin: 0 auto;
    max-width: 1024px;
}

i.menu {
    font-size: 64px;
    line-height: 1;
    text-align: center;
    display: block;
    margin-bottom: -0.5rem;
    padding-bottom: 0.5rem;
}

.menu_buttons {
    text-align: center;
}

.menu_buttons a:first {
    margin-right:20px;
}