{{extend "layout.html"}}
<div class='row'>
 <div class='span3'>
  <div id='list-filter' class='side-filter'>
   {{=list_filter_form}}
  </div>
 </div>
 <div class='span6'>
  <div class='list_formats'>
   <!-- @ToDo: Read Filter Status -->
   <div class='export_xls' title='{{=T("Export in XLS format")}}' onclick="window.open('/{{=appname}}/cms/post.xls');">
  </div>
  </div>
  {{if current.auth.s3_has_permission("update", "cms_post"):}}
  <a id='cms_post_create' href='/{{=appname}}/cms/post/create.popup?refresh=datalist' class='btn btn-primary main-add s3_modal' role='button' title='{{=T("Add New Information")}}'>
   <i class='icon icon-plus-sign big-add'></i>
  </a>
  {{pass}}
  <h4 class='latest-updates'>{{=T("Latest Information")}}</h4>
  <div class="card-holder-home">
   {{=items}}
  </div>
 </div>
 <div class='span3'>
  <h4 class='latest-disasters'>{{=T("Disasters")}}</h4>
  {{=disasters}}
 </div>
</div>
{{include "dataLists.html"}}