{{title="%s: %s" % (systemname_short, current.T("Task Notifications"))}}
{{=XML(title)}}
{{="=" * len(title)}}
{{if filter_query:}}
{{=current.T("Subscribed to")}}: {{=XML(filter_query)}}{{pass}}
{{if new is not None:}}
{{for record in new_records:}}
{{="-" * 80}}
{{for label, value in record:}}
  {{=XML(label)}}: {{=XML(value)}}{{pass}}{{pass}}{{pass}}
{{if upd is not None:}}
{{for record in upd_records:}}
{{="-" * 80}}
{{for label, value in record:}}
  {{=XML(label)}}: {{=XML(value)}}{{pass}}{{pass}}{{pass}}
