{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "View proposals" %}{% endblock %}

{% block content %}
{{ proposal.title }}
  {% for p in proposal %}
    <div id="proposal-wrapper">
      <div id="votes"></div>
      <!-- Here goes the voting button -->
      <div id="proposal">
        <div class="title">{{ p.title }}</div>
        <div class="resume">{{ p.resume }}</div>
        <div class="creator">{% trans "proposed by " %}{{ p.author }}</div>
      </div>
    </div>
   {% endfor %}
{% endblock %}
