{{extend "layout.html"}}
<div id='home'>
{{include "hrm/org_choose.html"}}
{{try:}}
 {{=H2(module_name)}}
{{except:}}
{{pass}}
<div style='margin:20px auto; width:95%; max-width:1000px;'>
    <div style='width:25%; float:left;'>
        {{if session.s3.hrm.mode is None:}}
        <h4>{{=T("Staff")}}</h4>
        <ul>
            {{=LI(A(T("Add staff members"),
                    _href=URL(f="human_resource",
                              args=["create"],
                              vars=dict(group="staff"))))}}
            {{if ns:}}
                {{=LI(A(T("See all") + " %s " % ns + T("staff members"),
                        _href=URL(f="human_resource",
                                  vars={"human_resource.type":"1"})))}}
            {{pass}}
        </ul>
        <h4>{{=T("Volunteer Management")}}</h4>
        <ul>
            {{=LI(A(T("Add volunteers"),
                    _href=URL(f="human_resource",
                              args=["create"],
                              vars=dict(group="volunteer"))))}}
            {{if nv:}}
                {{=LI(A(T("See all") + " %s " % nv + T("volunteers"),
                        _href=URL(f="human_resource",
                                  vars={"human_resource.type":"2"})))}}
            {{pass}}
        </ul>
        <h4>{{=T("Skills Management")}}</h4>
        <ul>
            <li>{{=A(T("Skills Catalog"), _href=URL(f="skill"))}}</li>
        </ul>
        <h4>{{=T("Import")}}</h4>
        <ul>
            <li>{{=A(T("Import Staff & Volunteers"), _href=URL(f="person", args=["import"]))}}</li>
        </ul>
        {{else:}}
        {{pass}}
    </div>
    <div style='width:55%; float:right;min-width:500px;' id='table-container'>
        {{try:}}
            {{if r.method == "search":}}
                <h4>{{=T("Search for Staff or Volunteers")}}</h4>
                {{=form}}
                {{if items:}}
                    <h4>{{=T("Matching Records")}}</h4>
                    {{=items}}
                {{else:}}
                {{pass}}
            {{else:}}
                {{if items:}}
                    <h4>{{=T("Current Records")}}</h4>
                    {{=items}}
                {{else:}}
                {{pass}}
            {{pass}}
        {{except:}}
        {{pass}}
    </div>
</div>
</div>
{{if session.s3.debug:}}
<script src="/{{=request.application}}/static/scripts/S3/s3.search.js" type="text/javascript" charset="utf-8"></script>
{{else:}}
<script src="/{{=request.application}}/static/scripts/S3/s3.search.min.js" type="text/javascript" charset="utf-8"></script>
{{pass}}
{{include "dataTables.html"}}
