{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Add Proposal Set" %}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% endif %}
{% endblock %}
  
{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% endif %}
{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h4>{% trans "Add new Proposal Set" %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form action="" method="post">{% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
                
                <div class="clearfix {% if form.name.errors %}error{% endif%}">
                    <label for="prependedInput">{{ form.name.label }}</label>
                    <div class="input"> 
                        {{ form.name }}
                        <span class="help-inline">
                            {% if form.name.errors %}
                                {% for error in form.name.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.name.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                <hr />
                <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Go back" %}</a>
                <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Create' %}" />
            </form>
        </div>

    </div>

{% endblock %}
