{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Add proposal" %}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% endif %}
{% endblock %}
  
{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% endif %}
{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h4>{% trans "Add new proposal" %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form action="" method="post">{% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
                
                <div class="clearfix {% if form.title.errors %}error{% endif %}"> 
                    <label for="prependedInput">{{ form.title.label }}</label> 
                    <div class="input"> 
                        {{ form.title }}
                        <span class="help-inline">
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.title.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                <div class="clearfix {% if form.proposalset.errors%}error{% endif %}">
                    <label for="prependedInput">Proposal Set</label>
                    <div class="input">
                        {{ form.proposalset }}
                        <span class="input">
                            {% if form.proposalset.errors %}
                                {% for error in form.proposalset.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.proposalset.help_text }}
                            {% endif %}
                        </span>
                    </div>
                 </div>                
                 <div class="clearfix {% if form.description.errors %}error{% endif%}">
                    <label for="prependedInput">{{ form.description.label }}</label> 
                    <div class="input"> 
                        {{ form.description }}
                        {% wysiwyg_editor "id_description" %}
                        <span class="help-inline">
                            {% if form.description.errors %}
                                {% for error in form.description.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.description.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.latitude.errors %}error{% endif%}"> 
                    {{ form.latitude.errors }}
                    <label for="prependedInput">{{ form.latitude.label }}</label> 
                    <div class="input"> 
                        {{ form.latitude }}
                        <span class="help-inline">
                            {% if form.latitude.errors %}
                                {% for error in form.latitude.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.latitude.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.longitude.errors %}error{% endif%}"> 
                    {{ form.longitude.errors }}
                    <label for="prependedInput">{{ form.longitude.label }}</label> 
                    <div class="input"> 
                        {{ form.longitude }}
                        <span class="help-inline">
                            {% if form.longitude.errors %}
                                {% for error in form.longitude.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.longitude.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>
                
                <div class="clearfix {% if form.tags.errors %}error{% endif%}"> 
                    {{ form.tags.errors }}
                    <label for="prependedInput">{{ form.tags.label }}</label> 
                    <div class="input"> 
                        {{ form.tags }}
                        <span class="help-inline">
                            {% if form.tags.errors %}
                                {% for error in form.tags.errors %}
                                    {{ error|escape }}
                                {% endfor %}
                            {% else %}
                                {{ form.tags.help_text }}
                            {% endif %}
                        </span>
                    </div> 
                </div>

                <hr />
                <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Go back" %}</a>
                <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Publish' %}" />
            </form>
        </div>
        <div class="span4">
            {% if user.is_staff %}
                <h4>{% trans "Admins/moderators read this" %}</h4>
                <p class="instructions">{% trans "There are a lot more options in the proposals but they will appear only when you edit the proposal."%}</p>
            {% endif %}
            <h4>{% trans "How to add new proposals" %}</h4><br/>
            <ul class="instructions">
                <li><strong>{% trans "Title" %}</strong>: {% trans "Title resuming the proposal, be concise (50 characters)" %}</li>
                <li><strong>{% trans "Description" %}</strong>: {% trans "Describe here your proposal with detail. You can add images or any other content." %}</li>
                <li><strong>{% trans "Latitude/Longitude" %}</strong>: {% trans "You'll have to put this if you want to locate the proposal in a map." %}</li>
                <li><strong>{% trans "Tags" %}</strong>: {% trans "Relevant tags for the proposal, p.e. where the proposal is localted, what is related to it, etc." %}</li>
            </ul>
        </div>
    </div>

{% endblock %}
