{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{% trans "View proposal" %} {{ proposal.id }} {% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% endif %}
{% endblock %}

{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        function upvote(proposal) {
            var request = $.ajax({
                type: "POST",
                url: "../add_support_vote/",
                data: { propid: proposal },
               success: function(data)
               {

               var cur_votes = $("div.span1 p");
               cur_votes.text(cur_votes.text()*1+1);
               $("div.span1 button").attr('disabled', 'disabled');

               }

            });

            request.fail(function(jqXHR, textStatus) {
                $("#jsnotify").notify("create", {
                    title:"Couldn't vote the proposal",
                    text:"There has been an error." + textStatus,
                    icon:"alert.png"
                });
            })
        }
    </script>
{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <div class="row proposal-wrapper">
                <div class="span1">
                    <p style="line-height:30px;font-size:30px;margin-left:5px;">{{ support_votes_count }}</p>
                    <button style="margin-left:-15px;" onclick="upvote({{ proposal.id }})" class="btn btn-small" {% if user in proposal.support_votes.all %}disabled="disabled"{% endif %}>{% trans "support" %}</button>
                </div>
                <div class="span10">
                    <div class="proposal-title">{{ proposal.title }}</div>
                    <div class="proposal-message">{{ proposal.description|safe }}</div>
                    <div class="proposal-creator">{% trans "proposed by " %} {{ proposal.author }} {% trans " at " %} {{ proposal.pub_date }}</div>
                    {% if location.latitude and location.longitude %}
                        <button class="btn btn-small showmap">{% trans "Show/hide map" %}</button>
                        <div id="proposalmap" class="map"></div>
                    {% endif %}
                    <h3>Merged Proposal</h3>
                    <div class="proposal-title">
                        <ul>
                        {% if merged_proposal %}
                            {% for merged in merged_proposal %}
                            <li><a href="{{ merged.get_absolute_url }}">{{ merged.title }}</a></li>
                            {% endfor %}
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <p>{% render_comment_list for proposal %}</p>
      
            <p>{% render_comment_form for proposal%}</p>
        </div>
    </div>

    <script type="text/javascript">
        map = new OpenLayers.Map("proposalmap");
        var mapnik         = new OpenLayers.Layer.OSM();
        var fromProjection = new OpenLayers.Projection("EPSG:4326");
        var toProjection   = new OpenLayers.Projection("EPSG:900913"); 
        //var toProjection   = new OpenLayers.Projection("EPSG:900913"); 
        var position       = new OpenLayers.LonLat({{ proposal.longitude }}, {{ proposal.latitude }}).transform( fromProjection, toProjection);
        var zoom           = 17;
        map.addLayer(mapnik);
        map.setCenter(position, zoom);
        $('#proposalmap').hide();
        $('button.showmap').click(function() {
            $('#proposalmap').toggle('fast');
        })
    </script>

{% endblock %}
