{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Add Proposal Set" %}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% endif %}
{% endblock %}
  
{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% endif %}
{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h4>{% trans "Add new proposal set" %}</h4>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form action="" method="post">{% csrf_token %}

                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="help-inline">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
                

                <div class="control-group {% if form.name.errors %}error{% endif %}">
                    <label>{{ form.name.label }}</label>
                    <div class="controls">
                        <div class="input-append">
                            {{ form.name }}
                            {% if form.name.help_text %}
                                <span class="add-on"><a href="#" rel="tooltip" title="{{ form.name.help_text }}"><i class="icon-question-sign"></i></a></span>
                            {% endif %}
                        </div>
                        {% if form.name.errors %}
                            <p class="help-block">
                                {% for error in form.name.errors %}
                                    {{ error|escape }}
                                {% endfor%}
                            </p>
                        {% endif %}
                    </div>
                </div>
                
                <div class="control-group {% if form.debate.errors %}error{% endif %}">
                    <label>{{ form.debate.label }}</label>
                    <div class="controls">
                        <div class="input-append">
                            {{ form.debate }}
                            {% if form.debate.help_text %}
                                <span class="add-on"><a href="#" rel="tooltip" title="{{ forms.debate.help_text }}"><i class="icon-question-sign"></i></a></span>
                            {% endif %}
                        </div>
                        {% if form.debate.errors %}
                            <p class="help-block">
                                {% for error in form.debate.errors %}
                                    {{ error|escape }}
                                {% endfor %}                                
                            </p>
                        {% endif %}
                    </div>
                </div>

                
                <hr />
                <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Go back" %}</a>
                <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Create' %}" />
            </form>
        </div>

    </div>

{% endblock %}
