{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Edit proposal set" %}{% endblock %}
{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% endif %}
{% endblock %}
  
{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h4>{% trans "Edit Proposal Set" %}</h4>
        </div>
    </div>
    
    <div class="row">
        <div class="span8">
            <form action="" method="post">{% csrf_token %}
      
                {{ form.non_field_errors }}

                {% if user.is_staff %}
                    {% for field in form %}
                        <div class="clearfix"> 
                            {{ field.errors }}
                            <label for="prependedInput">{{ field.label }}</label> 
                            <div class="input"> 
                                {{ field }}
                                <span class="help-inline">{{ field.help_text }}</span>
                            </div> 
                        </div>
                    {% endfor %}
                    
                    {% comment %}
                    {% wysiwyg_editor "id_description" %}
                    {% endcomment %}    
                {% else %}
        
                    <div class="clearfix {% if form.name.errors %}error{% endif%}"> 
                        <label for="prependedInput">{{ form.name.label }}</label> 
                        <div class="input"> 
                            {{ form.name }}
                            <span class="help-inline">
                                {% if form.name.errors %}
                                    {% for error in form.title.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                {% else %}
                                    {{ form.name.help_text }}
                                {% endif %}
                            </span>
                        </div> 
                    </div>

                {{ form.space.as_hidden }}
                {{ form.author.as_hidden }}
                {{ form.debate.as_hidden }}
           
    
                {% endif %}
                
                <hr />
                <a href="{{ get_place.get_absolute_url }}" class="btn btn-danger btn-small">&laquo; {% trans "Go back" %}</a>
                <input class="btn btn-small btn-primary" type="submit" value="{% trans 'Publish' %}" />
    
            </form>
        </div>
        <div class="span4">
            <h4>Empty space!</h4>
        </div>
    </div>

{% endblock %}

