{{try:}}{{=H2(title)}}{{except:}}{{pass}}
{{if current.auth.s3_has_permission("update", table = "%s_%s" % (current.request.controller, current.request.function) ):}}
 <a href='{{=URL(args="import")}}' id='show-add-btn' class='btn btn-primary summary-import' type='button'><i class='icon-plus'></i> {{=T("Import")}}</a>
{{pass}}
<div id='summary-common'>
 {{try:}}{{for section in common:}}{{=section}}{{pass}}{{except:}}{{pass}}
 <div id='filter-form' class='form-container'>
  {{try:}}{{=filter_form}}{{except:}}{{pass}}
 </div>
</div>
<div id='summary-tabs'>
 <div id='summary-tab-headers'>
  {{try:}}{{=tabs}}{{except:}}{{pass}}
 </div>
 <div id='summary-sections'>
  {{try:}}{{for section in sections:}}{{=section}}{{pass}}{{except:}}{{pass}}
 </div>
</div>
{{include "dataTables.html"}}
