<footer id='page-footer'>
 <div class='container'>
  <div class='row'>
   <div class='span3'>
    <h3>{{=T("Site Links")}}</h3>
    <ul>

       {{for opt in response.menu:}}
        <li role='menuitem'>
         <a href='{{=opt["url"]}}'>{{=opt["name"]}}</a>
        </li>
       {{pass}}
    </ul>							
   </div>
   <div class='span3'>
    <h3>{{=T("Support")}}</h3>
    <ul>
     <li><a href='/{{=appname}}/default/contact'>{{=T("Contact Us")}}</a></li>
     <li><a href='/{{=appname}}/default/tos' target='_blank'>{{=T("Terms of Service")}}</a></li>
     <li><a href='http://www.unocha.org/rocca' target='_blank'>{{=T("OCHA ROCCA Main Site")}}</a></li>
    </ul>
   </div>
  </div>
  <div id='footer-copyrights' class='clearfix pt4'>
   <p class='pull-left extra-small'>&copy; Sahana Eden. {{=T("All Rights Reserved.")}}</p>
  </div>
 </div>
</footer>