<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{=T.accepted_language or "en"}}">{{# class="no-js" needed for modernizr }}
<head>{{theme=response.s3.theme}}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{{# Always force latest IE rendering engine (even in intranet) & Chrome Frame }}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>
{{try:}}{{title #Test Title}}
 {{=settings.get_system_name_short()}}:  {{=title}}
{{except:}}{{=settings.get_system_name()}}{{pass}}
</title>
{{if response.refresh:}}{{=XML(response.refresh)}}{{pass}}
{{# http://dev.w3.org/html5/markup/meta.name.html }}
<meta name="application-name" content="{{=appname}}" />
{{# Set your site up with Google: http://google.com/webmasters }}
{{# <meta name="google-site-verification" content="" /> }}
{{a="""<!--  Mobile Viewport Fix
 j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
 device-width: Occupy full width of the screen in its current orientation
 initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
 maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
--> """}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" />
<![endif]-->
<link rel="shortcut icon" href="/{{=appname}}/static/themes/{{=theme}}/favicon.ico" type="image/x-icon" />
{{# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects }}{{# This kills the map in IE8: VML.js }}
{{#<script src="/=appname/static/scripts/modernizr.min.js"></script>}}
{{for sheet in s3.external_stylesheets:}}
 <link href="{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
{{for sheet in s3.stylesheets:}}
 <link href="/{{=appname}}/static/styles/{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
{{pass}}
{{include "bootstrap_css.html"}}
{{if s3.debug:}}{{=s3base.s3_include_debug_css()}}{{else:}}
 {{# Built by /static/scripts/tools/build.sahana.py }}
 <link href="/{{=appname}}/static/themes/{{=theme}}/eden.min.css" rel="stylesheet" type="text/css" />
{{pass}}
{{include "scripts_top.html"}}
</head>
{{try:}}
 {{if r.representation == "popup":}}{{representation = "popup"}}
 {{elif r.representation == "iframe":}}{{representation = "iframe"}}
 {{else:}}{{representation = ""}}{{pass}}
{{except:}}{{representation = ""}}{{pass}}
{{if representation == "popup":}}
 <body class='popup'>
 {{if response.flash or response.confirmation:}}{{include "layout_popup.html"}}
 {{else:}}{{include}}{{pass}}
 {{if s3.debug:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.js"]))}}
 {{else:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.min.js"]))}}{{pass}}
{{elif representation == "iframe":}}
 {{include "layout_iframe.html"}}
 {{include}}
{{else:}}
<body data-spy='scroll'>
<div class='navbar navbar-fixed-top'>
 <div class='navbar-inner'>
  <div class='container'>
   <button type='button' class='btn btn-navbar' data-toggle='collapse' data-target='.nav-collapse'>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
    <span class='icon-bar'></span>
   </button>
   <a class='brand' href='/{{=appname}}/default/index'><img src="/{{=appname}}/static/themes/OCHAROCCA/img/UN-OCHA-Logo_hor-blu660-block.jpg" style="height:28px;margin:0 0 -20px 0" alt=""/></a>
   <div class='nav-collapse collapse'>
    <ul class='nav'>
        <li role='menuitem'>
         <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon-globe'></i><b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><a href='/{{=appname}}/gis/location/summary?location.level__ne=None'><i class='icon-sitemap'></i> {{=T("Administrative Areas")}}</a></li>
              <li><a href='/{{=appname}}/gis/location/summary?location.level=None'><i class='icon-map-marker'></i> {{=T("Locations")}}</a></li>
            </ul>
        </li>
       {{for opt in response.menu:}}
        <li role='menuitem'>
         <a href='{{=opt["url"]}}' tabindex='-1' class='menu-item'> <i class='icon-{{=opt["icon"]}}'></i> {{=opt["name"]}}</a>
        </li>
       {{pass}}
    </ul>
    <ul class='nav pull-right'>
     {{if auth.is_logged_in():}}
     <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon-cog'></i><b class='caret'></b></a>
      <ul class='dropdown-menu'>
       {{if auth.s3_has_role("ADMIN"):}}
       <li><a href='/{{=appname}}/admin/user'><i class='icon-cogs'></i> {{=T("Admin")}}</a></li>
       <li class='divider'></li>
       {{pass}}
       <li><a href='/{{=appname}}/default/person'><i class='icon-user'></i> {{=auth.user.email}}</a></li>
       <li><a href='/{{=appname}}/default/user/change_password'><i class='icon-lock'></i> {{=T("Change Password")}}</a></li>
       <li><a href='/{{=appname}}/default/user/logout'><i class='icon-off'></i> {{=T("Logout")}}</a></li>
      </ul>
     </li>
     {{else:}}{{if request.controller == "default" and request.function == "user" or "login" in request.args:}} {{else:}}
     <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'><i class='icon-signin'></i><b class='caret'></b></a>
      <ul class='dropdown-menu'>
      {{=auth.login(inline=True, lost_pw_link=False)}}
      </ul>
     </li>
     {{pass}}{{pass}}
    </ul>
   </div>
  </div>
 </div>
</div>
<div class='container main-container'>
 <div id='alert-space'>
  {{if response.error:}}<div class='alert alert-error'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.error}}</div>{{pass}}
  {{if response.warning:}}<div class='alert alert-warning'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.warning}}</div>{{pass}}
  {{if response.information:}}<div class='alert alert-info'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.information}}</div>{{pass}}
  {{if response.confirmation:}}<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.confirmation}}</div>{{pass}}
  {{if response.flash:}}<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.flash}}</div>{{pass}}
 </div>
 {{include}}
</div>
 <div id='footer'>
  {{include "../private/templates/%s/views/footer.html" % response.s3.theme}}
  {{if s3.debug:}}{{=s3.toolbar()}}{{pass}}
 </div>
{{pass}}
{{include "bootstrap_js.html"}}
{{include "scripts.html"}}
</body>
</html>
