{{try:}}{{=H2(title)}}{{except:}}{{pass}}
{{try:}}{{=s3db.ocr_buttons(r)}}{{except:}}{{pass}}
<div id='rheader'>
{{try:}}{{=XML(rheader)}}
</div>
<div id='component'>
{{except:}}
</div>
<div>
{{pass}}
<div id='map'></div>
{{include "../private/templates/%s/views/_listadd.html" % response.s3.theme}}
{{try:}}{{if list_filter_form:}}
<div id='list-filter' class='form-container'>
{{=list_filter_form}}
</div>
{{pass}}
{{except:}}{{pass}}
{{try:}}{{ltype = list_type}}{{except:}}{{ltype = "datatable"}}{{pass}}
{{try:}}{{items = items}}
{{if ltype == "datalist":}}
<div id='dl-container'>
{{=items}}
</div>
{{else:}}
<div id='table-container'>
{{=items}}
</div>
{{pass}}
{{except:}}{{pass}}
</div>
{{if s3.rfooter:}}<div id='rfooter'>{{=XML(s3.rfooter)}}</div>{{pass}}
{{if ltype == "datalist":}}{{include "dataLists.html"}}
{{else:}}{{include "dataTables.html"}}{{pass}}
{{if r.http == "POST" or not hide_listadd:}}
{{script = '''$('#list-add').show();$('#show-add-btn').hide()'''}}
{{s3.jquery_ready.append(script)}}
{{pass}}
{{script = '''$('#show-add-btn').click(function(){$('#list-add').slideDown('medium',function(){$('#show-add-btn').hide()})})'''}}
{{s3.jquery_ready.append(script)}}
