{{extend "layout.html"}}{{theme=response.s3.theme}}
<div class = "row title">
 <div class="span8">
  <h1>Sahana</h1>
  <h2>{{=T("Puget Sound Maritime Common Operating Picture (MCOP)")}}</h2>
 </div>
  <div class="span4"> 
   <div class="intro">
    <p>Sahana is a component of the Puget Sound Maritime Common Operating Picture (MCOP) platform.  Sahana can be used for both large scale disaster management and also also be used for day-to-day activities and operations.</p>
    <p>Sahana is linked to Wrike so you can get your projects and tasks located on a map to share with others. You can use Sahana for other mapping applications as well. Sahana has many features and functions that you are welcome to use.</p> 
   </div>
  </div>
</div>
<div class="row homepage">
  <div class="span3">
   <div class='link'> 
    <a href='/{{=appname}}/cms/post/datalist'>
     <h3 ><i class='icon-alert'></i> {{=T("Alerts")}}</h3>
    </a>
   </div>
   {{=cms_post_datalist}}
   <div class='link'>
    <h3 ><i class='icon-news'></i> {{=T("MCOP News")}}</h3>
   </div>
   <div id='feed-control'>
    <div class = "throbber"></div>
   </div>
  </div>
  <div class="span6 map">
   {{=XML(map)}}
  </div>
  <div class="span3">
   <div class='link'>
    <a href='/{{=appname}}/project/project/datalist'>
     <h3 ><i class='icon-incident'></i> {{=T("Incidents")}}</h3>
    </a>
   </div>
   {{=project_project_datalist}}
   <div class='link'>
    <a href='/{{=appname}}/project/task/datalist'>
     <h3 ><i class='icon-tasks'></i> {{=T("Tasks")}}</h3>
    </a>
   </div>
   {{=project_task_datalist}}
  </div>
</div>