{{extend "layout.html"}}{{theme=response.s3.theme}}
<style>div.container.main-container{width:100%!important;padding-left:0;}
@media(min-width:1200px){div.container.main-container{width:1200px!important;}}</style>

<style media="screen" type="text/css">
body {
    background-image:url('/{{=appname}}/static/themes/{{=theme}}/homepage_background.jpg');
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 100%;
    }
</style>
<div class = "row title">
 <div class="span8">
  <h1>Sahana</h1>
  <h2>{{=T("Puget Sound Maritime Common Operating Picture (MCOP)")}}</h2>
 </div>
  <div class="span4 intro">
  This is the Sahana Puget Sounds Common Operation Picture (MCOP) site.
  </div>
</div>
<div class="row homepage">
 <div class="row">
  <div class="span3">
   <div class='link'> 
    <a href='/{{=appname}}/cms/post/datalist'>
     <h3 ><i class='icon-alert'></i> {{=T("Alerts")}}</h3>
    </a>
   </div>
   {{=cms_post_datalist}}
   <div class='link'>
    <h3 ><i class='icon-news'></i> {{=T("MCOP News")}}</h3>
   </div>
   <div id='feed-control'>
    <div class = "throbber"></div>
   </div>
  </div>
  <div class="span6 map">
   {{=XML(map)}}
  </div>
  <div class="span3">
   <div class='link'>
    <a href='/{{=appname}}/project/project/datalist'>
     <h3 ><i class='icon-incident'></i> {{=T("Incidents")}}</h3>
    </a>
   </div>
   {{=project_project_datalist}}
   <div class='link'>
    <a href='/{{=appname}}/project/task/datalist'>
     <h3 ><i class='icon-tasks'></i> {{=T("Tasks")}}</h3>
    </a>
   </div>
   {{=project_task_datalist}}
  </div>
 </div>
</div>