##########################################################################
# Add a list of csv file to import into the system
# the list of import files is a comma separated list as follows:
# "prefix","tablename","csv file name","stylesheet"
#
# The csv file is assumed to be in the same directory as this file
# The style sheet is assumed to be in either of the following directories:
#     static/format/s3csv/"prefix"/
#     static/format/s3csv/
#     CSV path
#
# For details on how to import data into the system see the following:
#     zzz_1st_run
#     s3import::S3BulkImporter
##########################################################################
# Roles
*,import_role,auth_roles.csv
# -----------------------------------------------------------------------------
# GIS
#  Projections
gis,projection,default/gis_projection.csv,projection.xsl
#  Markers
gis,marker,gis_marker.csv,marker.xsl
# GIS Locations
*,import_remote_csv,,"http://aidiq.com/eden/static/prepop/USA_L0.zip",gis,location,location.xsl
gis,location,locations/US_L1.csv,location.xsl
gis,location,locations/California_L2.csv,location.xsl
*,import_remote_csv,,"http://aidiq.com/eden/static/prepop/LA_L2.zip",gis,location,location.xsl
*,import_remote_csv,,"http://aidiq.com/eden/static/prepop/LA_L3.zip",gis,location,location.xsl
#gis,location,locations/LA_L4.csv,location.xsl
# GIS Config (refers to Locations & Organisations)
gis,config,gis_config.csv,config.xsl
gis,hierarchy,locations/US_gis_hierarchy.csv,hierarchy.xsl
#  Layers
gis,layer_feature,gis_layer_feature.csv,layer_feature.xsl
# Done by WMS instead
#gis,layer_feature,gis_layer_feature_census.csv,layer_feature.xsl
#gis,layer_feature,gis_layer_feature_hazards.csv,layer_feature.xsl
gis,layer_config,gis_layer_openstreetmap.csv,layer_openstreetmap.xsl
#gis,layer_config,default/gis_layer_openweathermap.csv,layer_openweathermap.xsl
#gis,layer_config,default/gis_layer_bing.csv,layer_bing.xsl
#gis,layer_config,default/gis_layer_empty.csv,layer_empty.xsl
gis,layer_config,gis_layer_google.csv,layer_google.xsl
gis,layer_kml,gis_layer_kml.csv,layer_kml.xsl
#gis,layer_config,default/gis_layer_tms.csv,layer_tms.xsl
gis,layer_wfs,gis_layer_wfs.csv,layer_wfs.xsl
gis,layer_config,gis_layer_wms.csv,layer_wms.xsl
gis,layer_config,gis_layer_coordinate.csv,layer_coordinate.xsl

# Now done via WMS
#*,import_remote_csv,,"http://aidiq.com/eden/static/prepop/la_tsunami_risk.zip",vulnerability,risk,risk.xsl
*,import_remote_csv,,"http://aidiq.com/eden/static/prepop/la_coalitions.zip",org,group,group.xsl
gis,layer_feature,gis_layer_feature_coalitions.csv,layer_feature.xsl

# -----------------------------------------------------------------------------
# Resource Descriptions
cms,post,cms_post.csv,post.xsl
# -----------------------------------------------------------------------------
# Types
cms,series,cms_series.csv,series.xsl
cms,tag,cms_tag.csv,tag.xsl
gis,poi_type,gis_poi_type.csv,poi_type.xsl
project,activity_type,activity_type.csv,activity_type.xsl
#stats,demographic,stats_demographic.csv,demographic.xsl
#vulnerability,hazard,hazard.csv,hazard.xsl
org,group_membership_status,org_group_membership_status.csv,group_membership_status.xsl
# Comes in the Coalitions earlier
#org,group,org_group.csv,group.xsl
org,sector,org_sector.csv,sector.xsl
org,service,org_service.csv,service.xsl
#org,facility_type,facility_type.csv,facility_type.xsl

# Stats (take a long time)
#*,import_remote_csv,,"http://aidiq.com/eden/static/prepop/tl_2011_06_tract_LA_WGS84.zip",gis,location,location.xsl
#*,import_remote_csv,,"http://aidiq.com/eden/static/prepop/tl_2011_06_tract_LA.zip",stats,demographic_data,demographic_data.xsl
# END =========================================================================