{{extend "layout.html"}}
<div id='home'>
{{=H2(module_name)}}
<p>{{=T("This module can be used to send alerts to regional disaster response teams and track their deployments.")}}</p>
<ul>
<li><b><a href='{{=URL(c="deploy", f="mission", args="summary")}}'>{{=T("Manage Missions")}}</a></b></li>
<ul>
 <li><b><a href='{{=URL(c="deploy", f="mission", args="create")}}'>{{=T("Create Mission")}}</a></b></li>
</ul>
<li><b><a href='{{=URL(c="deploy", f="human_resource", args="summary")}}'>{{=T("Manage Members")}}</a></b></li>
<ul>
 <li><b><a href='{{=URL(c="deploy", f="application", args="select")}}'>{{=T("Add Member")}}</a></b></li>
</ul>
</ul>
</div>
