{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create new space" %}{% endblock %}
{% block logo %}<a href="/"><img src="/{{ MEDIA_URL }}spaces/logos/logo_index.png"/></a>{% endblock %}
{% block banner %}<img src="/{{ MEDIA_URL }}spaces/banners/banner_index.png"/>{% endblock %}

{% block content %}

  {% block centercol %}
    <div id="centercol">
      <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.name.errors }}
          <label for="id_name">{% trans "Space name" %}:</label>
          <p>{{ form.name }}</p>
          <p id="form_help_text">{{ form.name.help_text }}</p>
        </div>
        <div class="fieldWrapper">
          <label for="id_description">{% trans "Description" %}:</label>
          {{ form.description }}
        </div>
        <div class="fieldWrapper">
          <label for="id_logo">{% trans "Logotype" %}:</label>
          {{ form.logo }}
        </div>
        <div class="fieldWrapper">
          <label for="id_banner">{% trans "Banner" %}:</label>
          {{ form.banner }}
        </div>
        <div class="fieldWrapper">
          <label for="id_authorized_groups">{% trans "Authorized Groups" %}:</label>
          {{ form.authorized_groups }}
        </div>

        <hr/>
        <h3>{% trans "Modules" %}</h3>

        <div class="fieldWrapper">
          <label for="id_mod_debate">{% trans "Debate" %}:</label>{{ form.mod_debate }}
          <label for="id_mod_proposals">{% trans "Proposals" %}:</label>{{ form.mod_proposals }}
          <label for="id_mod_news">{% trans "News" %}:</label>{{ form.mod_news }}
          <label for="id_mod_cal">{% trans "Calendar" %}:</label>{{ form.mod_cal }}
          <label for="id_mod_docs">{% trans "Documentation" %}:</label>{{ form.mod_docs }}
        </div>

          {{ form.author.as_hidden }}

        <hr />

        <p><input type="submit" value="{% trans 'Create' %}" /></p>

        <p><a href="/">&laquo; {% trans "Go back" %}</a></p>
      </form>
    </div>

  {% endblock %}


  {% block rightcol %}
    <div id="rightcol">
      <div id="widget">
        <p>sadfsadfas</p>
      </div>
    </div>
  {% endblock %}

{% endblock %}

