{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Upload new document" %}{% endblock %}
{% block logo %}<img src="/{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="/{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

  {% block centercol %}
    <div id="centercol">
      <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
      
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.title.errors }}
          <label for="id_title">{% trans "Title" %}:</label>
          <p>{{ form.title }}</p>
          <p id="form_help_text">{{ form.title.help_text }}</p>
        </div>
        
        <div class="fieldWrapper">
          {{ form.docfile.errors }}
          <label for="id_name">{% trans "Select your file" %}:</label>
          <p>{{ form.docfile }}</p>
          <p id="form_help_text">{{ form.docfile.help_text }}</p>
        </div>
        
        {{ form.space.as_hidden }}
        {{ form.author.as_hidden }}

        <p><input type="submit" value="{% trans 'Upload' %}" /></p>

        <p><a href="/">&laquo; {% trans "Go back" %}</a></p>
      </form>
    </div>

  {% endblock %}


  {% block rightcol %}
    <div id="rightcol">
      <div id="widget">
        <p>The document upload system is blah blah blah</p>
      </div>
    </div>
  {% endblock %}

{% endblock %}

