{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit document" %}{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

    {% block centercol %}
        <div class="grid_16">
    
            <div id="contenttitles">
                {% trans "Edit document" %}
            </div>
      
            <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

                <div class="clearfix"> 
                    <label for="disabledInput">{% trans "URL" %}</label> 
                    <div class="input">
                        <span class="help-block"><a href="{{ MEDIA_URL }}{{ doc.docfile.url }}">{{ MEDIA_URL }}{{ doc.docfile.url }}</a></span>
                    </div> 
                </div>

                {{ form.non_field_errors }}
        
                <div class="clearfix"> 
                    {{ form.title.errors }}
                    <label for="prependedInput">{{ form.title.label }}</label> 
                    <div class="input"> 
                        {{ form.title }}
                        <span class="help-inline">{{ form.title.help_text }}</span>
                    </div> 
                </div>
                
                <div class="clearfix"> 
                    {{ form.docfile.errors }}
                    <label for="prependedInput">{{ form.docfile.label }}</label> 
                    <div class="input"> 
                        {{ form.docfile }}
                        <span class="help-inline">{{ form.docfile.help_text }}</span>
                    </div> 
                </div>
        
                {{ form.space.as_hidden }}
                {{ form.author.as_hidden }}
        
                <hr />
                <a href="{{ get_place.get_absolute_url }}" class="btn small danger">&laquo; {% trans "Go back" %}</a>
                <input class="btn small primary" type="submit" value="{% trans 'Save' %}" />
                
            </form>
        </div>
    {% endblock %}

{% endblock %}

