{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Delete document" %}{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

  {% block centercol %}
    <div class="grid_16">
    
      <div id="contenttitles">
        {% trans "Delete document" %}
      </div>
      
        <form action="" method="post">{% csrf_token %}
          <p>{% trans "Are you sure you want to delete this document? This action cannot be undone." %}</p><br/>

          <hr />
          <p class="buttons">
            <input type="submit" value="{% trans 'Delete' %}" />
            <a href="../../" class="pagebutton">{% trans "Cancel" %}</a>
          </p>

        </form>
    </div>

  {% endblock %}


  {% block rightcol %}
  {% endblock %}

{% endblock %}
