{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Event list" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h3>{% trans "Event list" %}</h3>
            
            {% for event in event_list %}
                <p><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></p>
                <p>{% trans "Published" %} {{ event.event_date }}</p>
            {% empty %}
                <p>{% trans "There are no events in this space" %}.</p>
            {% endfor %}
      
            <hr />
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'list-events' get_place.url %}?page={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %} | </a>
                    {% endif %}
                    <span class="page-current">
                        {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/spaces/?page={{ page_obj.next_page_number }}"> | {% trans "next" %} &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
            <a href="{{ get_place.get_absolute_url }}" class="btn small">&laquo; {% trans "Go back" %}</a>
            
        </div>
    </div>

{% endblock %}
