{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ get_place.name|capfirst }} - {% trans "Index" %}{% endblock %}
{% block logo %}<img src="/{{MEDIA_URL}}{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="/{{MEDIA_URL}}{{ get_place.banner }}">{% endblock %}

{% block menu%}
{% endblock %}

{% block content %}

  {% block centercol %}
    <div id="centercol">
      {% if user.is_staff %}
        <div id="tools">
          <a href="{{ request.path }}edit/">{% trans "Edit space" %}</a> |
          <a href="{{ request.path }}delete/">{% trans "Delete space" %}</a> |
          <a href="{{ request.path }}news/add/"}>{% trans "Add news" %}</a>
        </div>
      {% endif %}
      {% if get_place.mod_news %}
        {% for news in publication %}
            <div class="post">
              <div id="tools">
                <a href="{{ request.path }}news/edit/{{ news.id }}/">Edit</a> |
                <a href="{{ request.path }}news/delete/{{ news.id }}/">Delete</a>
              </div>
              <h1>{{ news.post_title }}</h1>
              <p>{{ news.post_message }}</p>
              <p>{% trans "Written by" %} {{ news.post_author }} {% trans "on" %} {{ news.post_pubdate }}</p>
            </div>
        {% empty %}
          <div class="post">
            <p>{% trans "Nothing published yet." %}</p>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  {% endblock %}

  {% block rightcol %}
    <div id="rightcol">

        {% if get_place.mod_docs %}
        <div id="widget">
          <h2>Documentos</h2>
          <ul>
            {% for doc in documents %}
              <li><a href="/{{ MEDIA_URL }}{{ doc.docfile }}">{{ doc.title }}</a></li>
            {% empty %}
              <p>{% trans "No documents available" %}</p>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if get_place.mod_cal %}
        <div id="widget">
          <h2>Calendario</h2>
          <p>El calendario está activado</p>
        </div>
        {% endif %}

    </div>
  {% endblock %}

{% endblock %}

{% block footer %}
  <p>Entidades que participan:</p>
  <p>{% for e in entities %} {{e.name}} - {% endfor %}</p>
  <p>Espacio creado por: {{ user.get_profile.firstname }} {{ user.get_profile.surname }} el {{ get_place.date|date:"j/m/Y G:i"}}</p>
{% endblock %}

