{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Edit meeting" %}{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}
  <div class="grid_11">
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <hr />

        <p><input type="submit" value="{% trans 'Create' %}" /></p>
        <p><a href="/">&laquo; {% trans "Go back" %}</a></p>
    </form>
  </div>
{% endblock %}
