{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Edit meeting" %}{% endblock %}
{% block logo %}<img src="{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}
    <div class="grid_11">
  
        <div id="contenttitles">
            {% trans "Edit meeting" %}
        </div>
      
        <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        
            {{ form.non_field_errors }}

            <div class="clearfix"> 
                {{ form.title.errors }}
                <label for="prependedInput">{{ form.title.label }}</label> 
                <div class="input"> 
                    {{ form.title }}
                    <span class="help-inline">{{ form.title.help_text }}</span>
                </div> 
            </div>

            <div class="clearfix"> 
                {{ form.description.errors }}
                <label for="prependedInput">{{ form.description.label }}</label> 
                <div class="input"> 
                    {{ form.description }}
                    <span class="help-inline">{{ form.description.help_text }}</span>
                </div> 
            </div>

            <div class="clearfix"> 
                {{ form.location.errors }}
                <label for="prependedInput">{{ form.location.label }}</label> 
                <div class="input"> 
                    {{ form.location }}
                    <span class="help-inline">{{ form.location.help_text }}</span>
                </div> 
            </div>

            <div class="clearfix"> 
                {{ form.meeting_type.errors }}
                <label for="prependedInput">{{ form.meeting_type.label }}</label> 
                <div class="input"> 
                    {{ form.meeting_type }}
                    <span class="help-inline">{{ form.meeting_type.help_text }}</span>
                </div> 
            </div>

            <div class="clearfix"> 
                {{ form.meeting_date.errors }}
                <label for="prependedInput">{{ form.meeting_date.label }}</label> 
                <div class="input"> 
                    {{ form.meeting_date }}
                    <span class="help-inline">{{ form.meeting_date.help_text }}</span>
                </div> 
            </div>

            <div class="clearfix"> 
                {{ form.user.errors }}
                <label for="prependedInput">{{ form.user.label }}</label> 
                <div class="input"> 
                    {{ form.user }}
                    <span class="help-inline">{{ form.user.help_text }}</span>
                </div> 
            </div>
        
            {{ form.space.as_hidden }}
            {{ form.meeting_author.as_hidden }}
        
            <hr />
            <a href="{{ get_place.get_absolute_url }}" class="btn danger small">&laquo; {% trans "Cancel" %}</a>
            <input class="btn small primary " type="submit" value="{% trans 'Save' %}" />
    </form>
  </div>
{% endblock %}
