{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{{ get_place.name }} - {% trans "Index" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}/js/bootstrap-tabs.js" type="text/javascript"></script>
{% endblock %}

{% block space %}
    <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="span16">
            <ul class="tabs" data-tabs="tabs" >
                <li class="active"><a href="#overview">{% trans "Overview" %}</a></li>
                {% if get_place.mod_news %}
                <li><a href="#news">{% trans "News" %}</a></li>
                {% endif %}
                {% if get_place.mod_debate %}
                <li><a href="#debates">{% trans "Debates" %}</a></li>
                {% endif %}
                {% if get_place.mod_proposals %}
                <li><a href="#proposals">{% trans "Proposals" %}</a></li>
                {% endif %}
                {% if get_place.mod_docs %}
                <li><a href="#docs">{% trans "Documents" %}</a></li>
                {% endif %}
                {% if get_place.mod_cal %}
                <li><a href="#events">{% trans "Events" %}</a></li>
                {% endif %}
                <li class="dropdown" data-dropdown="dropdown">
                    <a href="#" class="dropdown-toggle">{% trans "Administration" %}</a>
                    <ul class="dropdown-menu">
                        {% if perms.news.add_post %}
                            <li><a href="{% url 'add-post' get_place.url %}">
                                <img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add new post' %}" title="{% trans 'Add new post' %}"/>{% trans 'Add new post' %}
                            </a></li>
                        {% endif %}
                        {% if perms.spaces.edit_space %}
                            <li><a href="{% url 'edit-space' get_place.url %}">
                                <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit space' %}" title="{% trans 'Edit space' %}"/>{% trans 'Edit space' %}
                            </a></li>
                        {% endif %}
                        {% if perms.spaces.delete_space %}
                            <li><a href="{% url 'delete-space' get_place.url %}">
                                <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete space' %}" title="{% trans 'Delete space' %}"/>{% trans 'Delete space' %}
                            </a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <div id="my-tab-content" class="tab-content">
                <div class="tab-pane active" id="overview">
                    <div class="row">
                        <div class="span11 space-content">
                            {% if get_place.description %}
                                <p><strong>{% trans "Description:" %}</strong> {{ get_place.description|removetags:'p'|safe }}</p>
                            {% endif %}
                            <p><strong>{% trans "Current status:" %}</strong> Ejemplo</p>
                            <p><strong>{% trans "Users: %}</strong> 13411</p>
                            <hr />
                            <h4>{% trans "Recent activity" %}</h4>
                            
                            {% if get_place.mod_news %}
                                <h6>{% trans "News"%}</h6>
                                {% if publication %}
                                    <ul class="unstyled">
                                        {% for news in publication %}
                                            <li><a href="{% url 'profile_public' news.author %}">{{ news.author }}</a> {% trans "posted" %} <a href="{{ news.get_absolute_url }}">{{ news.post_title }}</a> {% trans "on" %} {{ news.pub_date|date:"d F Y" }}</li>
                                        {% empty %} 
                                            <li>{% trans "Nothing published yet." %}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}  
                            {% endif %} 
                            
                            {% if get_place.mod_proposals %}
                                <h6>{% trans "Proposals" %}</h6>
                                <ul class="unstyled">
                                    {% for proposal in proposals %}
                                        <li><a href="{% url 'profile_public' proposal.author %}">{{ proposal.author }}</a> {% trans "proposed" %} <a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a> {% trans "on" %} {{ proposal.pub_date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "No proposals available." %}</li>
                                    {% endfor %} 
                                </ul>
                            {% endif %}
                            
                            {% if get_place.mod_debate %}
                                <h6>{% trans "Debates" %}</h6>
                                <ul class="unstyled">
                                    {% for debate in debates %}
                                        <li><a href="{% url 'profile_public' debate.author %}">{{ debate.author }}</a> {% trans "created debate" %} <a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a> {% trans "on" %} {{ debate.date|date:"d F Y" }}</li>
                                    {% empty %}
                                        <li>{% trans "No debates started." %}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %} 
                            
                            {% if get_place.mod_cal %}
                                <h6>{% trans "Events" %}</h6>           
                            {% endif %}
                        </div>
                        <div class="span5 space-sidebar">
                            <h4>{% trans "Next events" %}</h4>
                            <ul class="unstyled">
                                {% for m in meeting %}
                                    <li><p><a href="{{ m.get_absolute_url }}">{{ m.title }}</a></p></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                {% if get_place.mod_news %}
                <div class="tab-pane" id="news">
                    <div class="row">
                        <div class="span11 space-content">
                            {% for news in publication %}
                                <h2 class="posttitle"><a href="{{ news.get_absolute_url }}">{{ news.post_title }}</a>
                                    {% if perms.news.edit_post %}
                                        <a href="{% url 'edit-post' get_place.url news.id %}">
                                            <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/>
                                        </a>
                                    {% endif %}
                                    {% if perms.news.delete_post %}
                                        <a href="{% url 'delete-post' get_place.url news.id %}">
                                            <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/>     
                                        </a>
                                    {% endif %}
                                </h2>
                                {% get_comment_count for news as comment_count %}
                                <p class="postinfo">{% trans "Written by" %} {{ news.author }} {% trans "on" %} {{ news.pub_date }} | <a href="{{ news.get_absolute_url }}">{{ comment_count }} {% trans "comments" %}</a></p>
                                {{ news.post_message|safe }}
                                <div style="margin-bottom:30px;"></div>
                            {% endfor %}
                        </div>
                        <div class="span5 space-sidebar">
                            {% if perms.news.add_post %}
                                <h4>{% trans "Administration" %}</h4>
                                <ul class="unstyled">
                                    <li><a href="{% url 'add-post' get_place.url %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add new post' %}" title="{% trans 'Add new post' %}"/>{% trans 'Add new post' %}
                                    </a></li>
                                </ul>
                            {% endif %}
                            <h4>{% trans "Highlighted news" %}</h4>
                            <h4>{% trans "Most commented" %}</h4>
                            <h4>{% trans "View monthly archive" %}</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-space-news' get_place.url %}">{% trans "News archive" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% if get_place.mod_debate %}
                <div class="tab-pane" id="debates">
                    <div class="row">
                        <div class="span11">
                            <h4>{% trans "Active debates" %}</h4>
                            <ul class="unstyled">
                                {% for debate in debates %}
                                    <li><a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a></li>
                                {% empty %}
                                    <li>{% trans "No debates started." %}</li>
                                {% endfor %}
                            </ul>
                            <h4>{% trans "Closed debates" %}</h4>
                        </div>
                        <div class="span5">
                            <h4>{% trans "Administration" %}</h4>
                            <ul class="unstyled">
                                {% if perms.debate.add_debate %}
                                    <li><a href="{% url 'add-debate' get_place.url %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add' %}" title="{% trans 'Add' %}"/>{% trans "Add debate" %}
                                    </a></li>
                                {% endif %}
                            </ul>
                                {% comment %}
                                {% if perms.debate.edit_debate %}
                                    <li><a href="{% url 'edit-debate' get_place.url debate.id %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/>
                                    </a></li>
                                {% endif %}
                                {% if perms.debate.delete_debate %}
                                    <li><a href="{% url 'delete-debate' get_place.url %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/>
                                    </a></li>
                                {% endif %}
                            {% endcomment %}
                            <h4>Otras opciones (traducir)</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-debates' get_place.url %}">{% trans "View all debates" %}</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% if get_place.mod_proposals %}
                <div class="tab-pane" id="proposals">
                    <div class="row">
                        <div class="span11">
                            <h4>{% trans "New proposals" %}</h4>
                            <ul class="unstyled">
                                {% for proposal in proposals %}
                                    <li><a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a> {% trans "by"%} {{ proposal.author }} {% trans " at " %} {{ proposal.pub_date|date:"d F Y" }}</li>
                                {% empty %}
                                    <li>{% trans "No proposals available." %}</li>
                                {% endfor %}
                            </ul>
                            <h4>{% trans "Mixed proposals" %}</h4>
                            <h4>{% trans "Most commented" %}</h4>
                            <h4>{% trans "Highlighted proposals" %}</h4>
                        </div>
                        <div class="span5">
                            <h4>{% trans "Administration" %}</h4>
                            <ul class="unstyled">
                                {% if perms.proposals.add_proposal %}
                                    <li><a href="{% url 'add-proposal' get_place.url %}">
                                            <img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add new post' %}" title="{% trans 'Add new post' %}"/>{% trans "Add proposal" %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                            <h4>Otras opciones (traducir)</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-proposals' get_place.url %}">{% trans "View all proposals" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {% if get_place.mod_docs %}
                <div class="tab-pane" id="docs">
                    <div class="row">
                        <div class="span11">
                            <ul class="unstyled">
                                {% for doc in documents %}
                                    <li><a href="{{ MEDIA_URL }}{{ doc.docfile.url }}">{{ doc.title }}</a></li>
                                {% empty %}
                                    <li>{% trans "No documents available." %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="span5">
                            <h4>{% trans "Administration" %}</h4>
                            <ul class="unstyled">
                                {% if perms.spaces.add_document %}
                                    <li><a href="{% url 'add-document' get_place.url %}">
                                            <img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add new post' %}" title="{% trans 'Add new post' %}"/>{% trans "Add documents"%}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                            <h4>Otras opciones (traducir)</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-documents' get_place.url %}">{% trans "View all documents" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    {% comment %}
                                            {% if perms.spaces.edit_document %}
                                                <a href="{% url 'edit-document' get_place.url doc.id %}">
                                                    <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/>
                                            </a>
                                    {% if perms.spaces.delete_document %}
                                        <a href="{% url 'delete-document' get_place.url doc.id %}">
                                            <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/>
                                        </a>
                                    {% endif %}
                    {% endcomment %}
                </div>
                {% endif %}
                
                
                <div class="tab-pane" id="events">
                    <div class="row">
                        <div class="span11">
                            <script type="text/javascript" src="{{ STATIC_URL }}/js/jqueryui-datepicker-{{ LANGUAGE_CODE }}.js"></script>
                            <script type="text/javascript">
                                {% comment %}
                                    This code make thw calendar inhibit the onSelect function
                                    on load it returns the error:
                                    Uncaught TypeError: Property 'datepicker' of object function (a,b){return new e.fn.init(a,b,h)} is not a function (anonymous function)
                                    
                                    $.datepicker($.datepicker.regional['{{ LANGUAGE_CODE }}']);
                                    
                                    
                                                            $('#datepicker').datepicker($.extend({},
                                     $.datepicker.regional[ '{{ LANGUAGE_CODE }}' ], {
                                     onSelect: function(dateText) {
                                         var month = dateText.split("/")[0];
                                         var year = dateText.split("/")[2];
                                         window.location = "calendar/" + year + "/" + month + "/";
                                     }
                                }));
                        
                        
                        
                                {% endcomment %}
                                $('#datepicker').datepicker({
                                     onSelect: function(dateText) {
                                         var month = dateText.split("/")[0];
                                         var year = dateText.split("/")[2];
                                         window.location = "calendar/" + year + "/" + month + "/";
                                     }
                                });
                            </script>
                            <div id="datepicker"></div>
                        </div>
                        <div class="span5">
                            <h4>{% trans "Administration" %}</h4>
                            <ul class="unstyled">
                                {% if perms.spaces.add_meeting %}
                                    <li><a href="{% url 'add-meeting' get_place.url %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add new meeting' %}" title="{% trans 'Add new meeting' %}"/>{% trans "Add meeting"%}
                                    </a></li>
                                {% endif %}
                            </ul>
                            <h4>Otras opciones (traducir)</h4>
                            <ul class="unstyled">
                                <li><a href="{% url 'list-meetings' get_place.url %}">{% trans "View all meetings" %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div class="row">
        <div class="span16">
            <h4>{% trans "Share" %}</h4>
                <!-- Facebook -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                </script>
                <div style="float:left;" class="fb-like" data-href="http://ecidadania.org" data-send="false" data-layout="box_count" data-width="85" data-show-faces="false"></div>
                <!-- End Facebook -->                
                
                <!-- Google Plus -->
                <g:plusone size="tall" href="http://ecidadania.org"></g:plusone>
                <script type="text/javascript">
                    window.___gcfg = {lang: 'es'};

                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
                <!-- End Google Plus -->
                
                <!-- LinkedIn -->
                <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/Share" data-url="http://ecidadania.org" data-counter="top"></script>
                <!-- End LinkedIn -->
                
                <!-- Identi.ca -->
                <div id="identishare" style="vertical-align: bottom;"></div>
                <script type="text/javascript" src="http://www.tildehash.com/identishare.php?style2&title='e-cidadania open source e-democracy platform'" defer="defer"></script>
                <!-- End Identi.ca -->

                <!-- Twitter -->
                <a href="https://twitter.com/ecidadaniafloss" class="twitter-share-button" date-url="http://ecidadania.org" data-counturl="http://ecidadania.org" data-count="vertical" data-lang="es">{% trans "Tweet" %}</a>
                <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
                <!-- End Twitter -->
                
                <!-- Tuenti -->
                <script type="text/javascript" src="http://widgets.tuenti.com/widgets.js"></script>
                <a href="http://www.tuenti.com/share" class="tuenti-share-button" icon-style="light" share-url="http://ecidadania.org"></a>
                <!-- End Tuenti -->
                
                <a href="rss/"><img src="{{ STATIC_URL }}/assets/logos/rss_logo.png" alt="Feed RSS"/>RSS de este espacio</a>
        </div>
    </div>
    {% endcomment %}

{% endblock %}

{% block footerimg %}
    {% for e in entities %}
        {% if e.logo %}
            <a href="{{ e.website }}"><img src="{{ MEDIA_URL }}/{{ e.logo }}" alt="Logo"/></a>
            {% else %}
                {% if e.website %}
                    <a href="{{ e.website }}">{{ e.name }}</a> -
                {% else %}
                    {{ e.name }} -
                {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    {% for p in page %}
        <a href="/{{ p.uri }}" title="{{ p.name }}">{{ p.name }}</a><br /> |
    {% endfor %}
{% endblock %}

{% block extrainfo %}
    <p>{% trans "Space created by:" %} {{ get_place.author }} {% trans "on" %} {{ get_place.date|date:"j/m/Y G:i"}}</p>
{% endblock %}
