{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}{% trans "Edit space" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}"></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

    {% block centercol %}
        <div class="grid_16">
    
            <div id="contenttitles">
                {% trans "Edit space" %}
            </div>
      
            <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

            {{ form.non_field_errors }}

            <div class="clearfix"> 
                {{ form.name.errors }}
                <label for="prependedInput">{{ form.name.label }}</label> 
                <div class="input"> 
                    {{ form.name }}
                    <span class="help-inline">{{ form.name.help_text }}</span>
                </div> 
            </div>
            
            <div class="clearfix"> 
                {{ form.url.errors }}
                <label for="prependedInput">{{ form.url.label }}</label> 
                <div class="input"> 
                    {{ form.url }}
                    <span class="help-inline">{{ form.url.help_text }}</span>
                </div> 
            </div>
            
            <div class="clearfix"> 
                {{ form.description.errors }}
                <label for="prependedInput">{{ form.description.label }}</label> 
                <div class="input"> 
                    {{ form.description }}
                    {% wysiwyg_editor "id_description" %}
                    <span class="help-inline">{{ form.description.help_text }}</span>
                </div> 
            </div>
            
            <div class="clearfix"> 
                {{ form.logo.errors }}
                <label for="prependedInput">{{ form.logo.label }}</label> 
                <div class="input"> 
                    {{ form.logo }}
                    <span class="help-inline">{{ form.logo.help_text }}</span>
                </div> 
            </div>
            
            <div class="clearfix"> 
                {{ form.banner.errors }}
                <label for="prependedInput">{{ form.banner.label }}</label> 
                <div class="input"> 
                    {{ form.banner }}
                    <span class="help-inline">{{ form.banner.help_text }}</span>
                </div> 
            </div>
            
            <div class="clearfix"> 
                {{ form.authorized_groups.errors }}
                <label for="prependedInput">{{ form.authorized_groups.label }}</label> 
                <div class="input"> 
                    {{ form.authorized_groups }}
                    <span class="help-inline">{{ form.authorized_groups.help_text }}</span>
                </div> 
            </div>
            
            <hr />
            <h3>{% trans "Modules" %}</h3>

            <div class="fieldWrapper">
                <p>{{ form.mod_debate }} {% trans "Debate" %}</p>
                <p>{{ form.mod_proposals }} {% trans "Proposals" %}</p>
                <p>{{ form.mod_news }} {% trans "News" %}</p>
                <p>{{ form.mod_cal }} {% trans "Calendar" %}</p>
                <p>{{ form.mod_docs }} {% trans "Documentation" %}</p>
            </div>
        
            {{ form.author.as_hidden }}

            <hr />

            <h3>{% trans "Entities participating" %}</h3><br /><br />
            
            {% comment %}
                Entity forms
            {% endcomment %}

            {{ entityformset.management_form }}

            {% for entity in entityformset %}
                {{ entity.id }}
                <div class="clearfix"> 
                    {{ entity.errors }}
                    <label for="prependedInput">{{ entity.name.label }}</label> 
                    <div class="input"> 
                        {{ entity.name }}
                        <span class="help-inline">{{ entity.name.help_text }}</span>
                    </div> 
                </div>
                
                <div class="clearfix">
                    {{ entity.errors }}
                    <label for="prependedInput">{{ entity.website.label }}</label> 
                    <div class="input"> 
                        {{ entity.website }}
                        <span class="help-inline">{{ entity.website.help_text }}</span>
                    </div> 
                </div>

                <div class="clearfix"> 
                    {{ entity.errors }}
                    <label for="prependedInput">{{ entity.logo.label }}</label> 
                    <div class="input"> 
                        {{ entity.logo }}
                        <span class="help-inline">{{ entity.logo.help_text }}</span>
                    </div> 
                </div>
                
                <div class="clearfix">
                    <label for="prependedInput"><hr /></label>
                </div>           
            
            {% endfor %}
        
            <hr />
            <a href="{{ get_place.get_absolute_url }}" class="btn danger small">&laquo; {% trans "Cancel" %}</a>
            <input class="btn small primary " type="submit" value="{% trans 'Save' %}" />
            </form>
        </div>

    {% endblock %}


    {% block rightcol %}
    {% endblock %}

{% endblock %}

