{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create new space" %}{% endblock %}

{% block content %}

  <div id="contenttitles">
  {% trans "Create a new space" %}
  </div>
  {% block centercol %}
    <div id="centercol">
      <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.name.errors }}
          <label for="id_name">{% trans "Space name" %}:</label>
          <p>{{ form.name }}</p>
          <p id="form_help_text">{{ form.name.help_text }}</p>
        </div>
        <div class="fieldWrapper">
          {{ form.name.errors }}
          <label for="id_name">{% trans "Space URL" %}:</label>
          <p>{{ form.url }}</p>
          <p id="form_help_text">{{ form.url.help_text }}</p>
        </div>
        <div class="fieldWrapper">
          <label for="id_description">{% trans "Description" %}:</label>
          {{ form.description }}
        </div>
        <div class="fieldWrapper">
          <label for="id_logo">{% trans "Logotype" %}:</label>
          {{ form.logo }}
        </div>
        <div class="fieldWrapper">
          <label for="id_banner">{% trans "Banner" %}:</label>
          {{ form.banner }}
        </div>
        <div class="fieldWrapper">
          <label for="id_authorized_groups">{% trans "Authorized Groups" %}:</label>
          {{ form.authorized_groups }}
        </div>

        <hr/>
        <h3>{% trans "Modules" %}</h3>

        <div class="fieldWrapper">
          <p>{{ form.mod_debate }} {% trans "Debate" %}</p>
          <p>{{ form.mod_proposals }} {% trans "Proposals" %}</p>
          <p>{{ form.mod_news }} {% trans "News" %}</p>
          <p>{{ form.mod_cal }} {% trans "Calendar" %}</p>
          <p>{{ form.mod_docs }} {% trans "Documentation" %}</p>
        </div>

          {{ form.author.as_hidden }}

        <hr />

        <p><input type="submit" value="{% trans 'Create' %}" /></p>

        <p><a href="/">&laquo; {% trans "Go back" %}</a></p>
      </form>
    </div>

  {% endblock %}


  {% block rightcol %}
    <div id="rightcol">
      <div id="widget">
       <h2>{% trans "How to add new spaces" %}</h2><br/>
        <ul class="instructions">
          <li><strong>{% trans "Space name" %}</strong>: {% trans "The name of the space. Have in mind that this name will be used as the URL of your space. We recommend to use all lowercase. (100 chars)" %}</li>
          <li><strong>{% trans "Description" %}</strong>: {% trans "An optional description for your space. It won't be showed to the users, but to the admins." %}</li>
          <li><strong>{% trans "Logotype" %}</strong>: {% trans "An image of 75px height and 100px width." %}</li>
          <li><strong>{% trans "Banner" %}</strong>: {% trans "Another image. 75px height." %}</li>
          <li><strong>{% trans "Authorized groups" %}</strong>: {% trans "This will set up what users can access to your space." %}</li>
          <li><strong>{% trans "Modules" %}</strong>: {% trans "Select the modules you will use in your space. This can be edited afterwards." %}</li>
        </ul>
      </div>
    </div>
  {% endblock %}

{% endblock %}

