{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{{ get_place.name }} - {% trans "Index" %}{% endblock %}
{% block logo %}<a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}"></a>{% endblock %}
{% block banner %}<img src="{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

    {% block centercol %}
        <div class="grid_11">

            {% if perms.news.add_post %}
                <div id="tools">
                    <a href="{% url 'add-post' get_place.url %}">
                        <img src="{{ STATIC_URL }}/assets/icons/add16.png" alt="{% trans 'Add new post' %}" title="{% trans 'Add new post' %}"/>
                    </a>
                    {% if perms.spaces.edit_space %}
                        <a href="{% url 'edit-space' get_place.url %}">
                            <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit space' %}" title="{% trans 'Edit space' %}"/>
                        </a>
                    {% endif %}
                    {% if perms.spaces.delete_space %}
                        <a href="{% url 'delete-space' get_place.url %}">
                            <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete space' %}" title="{% trans 'Delete space' %}"/>
                        </a>
                    {% endif%}
                </div>
            {% endif %}

            {% if get_place.mod_news %}
                {% for news in publication %}
                    <div class="post">
                        {% if perms.news.edit_post %}
                            <div id="tools">
                                <a href="{% url 'edit-post' get_place.url news.id %}">
                                    <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/>
                                </a>
                                {% if perms.news.delete_post %}
                                    <a href="{% url 'delete-post' get_place.url news.id %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                        <h1><a href="{{ news.get_absolute_url }}">{{ news.post_title }}</a></h1>
                        <p>{{ news.post_message|safe }}</p>
                        {% get_comment_count for news as comment_count %}
                        <p>{% trans "Written by" %} {{ news.author }} {% trans "on" %} {{ news.pub_date }} | <a href="{{ news.get_absolute_url }}">{{ comment_count }} {% trans "comments" %}</a></p>
                    </div>
                {% empty %}
                    <div class="post">
                        <p>{% trans "Nothing published yet" %}.</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}

    {% block rightcol %}
        <div class="grid_5">
            {% comment %}
                This is the documents block.
            {% endcomment %}

            {% if get_place.mod_cal %}
                <div id="widget">
                    <h2>{% trans "Calendar" %}</h2><br />
                    <div id="datepicker"></div>
                        <script type="text/javascript" src="{{ STATIC_URL }}/js/jqueryui-datepicker-{{ LANGUAGE_CODE }}.js"></script>
                        <script type="text/javascript">
                            $.datepicker($.datepicker.regional['{{ LANGUAGE_CODE }}']);
                            $('#datepicker').datepicker({
                                onSelect: function(dateText) {
                                    var month = dateText.split("/")[0]
                                    var year = dateText.split("/")[2]
                                    window.location = "calendar/" + year + "/" + month + "/"
                                }
                            });
                        </script>
                    </div>
            {% endif %}

            {% if meeting %}
                <div id="widget">
                    <h2>{% trans "Meetings" %}</h2><br />
                    <ul>
                        {% for m in meeting %}
                            <li><p><a href="{{ m.get_absolute_url }}">{{ m.title }}</a></p></li>
                        {% endfor %}
                    </ul>
                    <br /><p class="rightlink">&raquo; <a href="{% url 'list-meetings' get_place.url %}">{% trans "View all meetings" %}</a></p>
                    {% if perms.spaces.add_meeting %}
                        <p class="rightlink">&raquo; <a href="{% url 'add-meeting' get_place.url %}">{% trans "Add meeting"%}</a></p>
                    {% endif %}
                </div>
            {% endif %}

            {% if publication %}
                <div id="widget">
                    <h2>{% trans "Latest news" %}</h2><br />
                    <ul>
                        {% for news in publication %}
                            <li><p><a href="{{ news.get_absolute_url }}">{{ news.post_title }}</a></li></p>
                        {% endfor %}
                    </ul><br />
                    <p class="rightlink">&raquo; <a href="{% url 'list-space-news' get_place.url %}">{% trans "News archive"%}</a></p>
                </div>
            {% endif %}

            {% if get_place.mod_docs %}
                <div id="widget">
                    <h2>{% trans "Documents" %}</h2><br />
                    <ul>
                        {% for doc in documents %}
                            <li>
                                {% comment %}
                                    Remember that document files are accesed through the url method of the
                                    FileField, instead of having their own detail view.
                                {% endcomment %}
                                <p><a href="{{ MEDIA_URL }}{{ doc.docfile.url }}">{{ doc.title }}</a>
                                {% if perms.spaces.edit_document %}
                                    <a href="{% url 'edit-document' get_place.url doc.id %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/>
                                    </a>
                                    {% if perms.spaces.delete_document %}
                                        <a href="{% url 'delete-document' get_place.url doc.id %}">
                                            <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/>
                                        </a>
                                    {% endif %}
                                {% endif %}</p>
                            </li>
                        {% empty %}
                            <p>{% trans "No documents available" %}.</p>
                        {% endfor %}
                    </ul>
                    <br /><p class="rightlink">&raquo; <a href="{% url 'list-documents' get_place.url %}">{% trans "View all documents" %}</a></p>
                    {% if perms.spaces.add_document %}
                        <p class="rightlink">&raquo; <a href="{% url 'add-document' get_place.url %}">{% trans "Add documents"%}</a></p>
                    {% endif %}
                </div>
            {% endif %}

            {% if get_place.mod_debate %}
                <div id="widget">
                    <h2>{% trans "Debates" %}</h2><br />
                    <ul>
                        {% for debate in debates %}
                            <li>
                                <p><a href="{{ debate.get_absolute_url }}">{{ debate.title }}</a>
                                {% if perms.debate.edit_debate %}
                                    <a href="{% url 'edit-debate' get_place.url %}">
                                        <img src="{{ STATIC_URL }}/assets/icons/edit16.png" alt="{% trans 'Edit' %}" title="{% trans 'Edit' %}"/>
                                    </a>
                                    {% if perms.debate.delete_debate %}
                                        <a href="{% url 'delete-debate' get_place.url %}">
                                            <img src="{{ STATIC_URL }}/assets/icons/delete16.png" alt="{% trans 'Delete' %}" title="{% trans 'Delete' %}"/>
                                        </a>
                                    {% endif %}
                                {% endif %}</p>
                            </li>
                        {% empty %}
                            <p>{% trans "No debates started" %}.</p>
                        {% endfor %}
                    </ul>
                    <br /><p class="rightlink">&raquo; <a href="{% url 'list-debates' get_place.url %}">{% trans "View all debates" %}</a></p>
                    {% if perms.debate.add_debate %}
                        <p class="rightlink">&raquo; <a href="{% url 'add-debate' get_place.url %}">{% trans "Add debate" %}</a></p>
                    {% endif %}
                </div>
            {% endif %}

            {% if get_place.mod_proposals %}
                <div id="widget">
                    <h2>{% trans "Newest proposals" %}</h2><br />
                    <ul>
                        {% for proposal in proposals %}
                            <li>
                                <p><a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a></p>
                            </li>
                        {% empty %}
                            <p>{% trans "No proposals available" %}.</p>
                        {% endfor %}
                    </ul>
                    <br /><p class="rightlink">&raquo; <a href="{% url 'list-proposals' get_place.url %}">{% trans "View all proposals" %}</a></p>
                    {% if perms.proposals.add_proposal %}
                        <p class="rightlink">&raquo; <a href="{% url 'add-proposal' get_place.url %}">{% trans "Add proposal" %}</a></p>
                    {% endif %}
                </div>
            {% endif %}

            <div id="widget">
                <h2>{% trans "Share" %}</h2><br />
                <!-- Facebook -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {return;}
                        js = d.createElement(s); js.id = id;
                        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
                        fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                </script>
                <div style="float:left;" class="fb-like" data-href="http://ecidadania.org" data-send="false" data-layout="box_count" data-width="85" data-show-faces="false"></div>
                <!-- End Facebook -->                
                
                <!-- Google Plus -->
                <g:plusone size="tall" href="http://ecidadania.org"></g:plusone>
                <script type="text/javascript">
                    window.___gcfg = {lang: 'es'};

                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/plusone.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
                <!-- End Google Plus -->
                
                <!-- LinkedIn -->
                <script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/Share" data-url="http://ecidadania.org" data-counter="top"></script>
                <!-- End LinkedIn -->
                
                <!-- Identi.ca -->
                <div id="identishare" style="vertical-align: bottom;"></div>
                <script type="text/javascript" src="http://www.tildehash.com/identishare.php?style2&title='e-cidadania open source e-democracy platform'" defer="defer"></script>
                <!-- End Identi.ca -->

                <!-- Twitter -->
                <a href="https://twitter.com/ecidadaniafloss" class="twitter-share-button" date-url="http://ecidadania.org" data-counturl="http://ecidadania.org" data-count="vertical" data-lang="es">{% trans "Tweet" %}</a>
                <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script><br /><br />
                <!-- End Twitter -->
                
                <!-- Tuenti -->
                <script type="text/javascript" src="http://widgets.tuenti.com/widgets.js"></script>
                <a href="http://www.tuenti.com/share" class="tuenti-share-button" icon-style="light" share-url="http://ecidadania.org"></a><br /><br />
                <!-- End Tuenti -->
                
                <a href="rss/"><img src="{{ STATIC_URL }}/assets/logos/rss_logo.png" alt="Feed RSS"/>RSS Feed</a>
            </div>
        </div>
    {% endblock %}

{% endblock %}

{% block footerimg %}
    {% for e in entities %}
        {% if e.logo %}
            <a href="{{ e.website }}"><img src="{{ MEDIA_URL }}/{{ e.logo }}" alt="Logo"/></a>
            {% else %}
                {% if e.website %}
                    <a href="{{ e.website }}">{{ e.name }}</a> -
                {% else %}
                    {{ e.name }} -
                {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block footer %}
    <p>
    {% for p in page %}
        <a href="/{{ p.uri }}">{{ p.name }}</a> |
    {% endfor %}
    </p>
    <p>{% trans "Space created by" %}: {{ user.get_profile.firstname }} {{ user.get_profile.surname }} {% trans "on" %} {{ get_place.date|date:"j/m/Y G:i"}}</p>
{% endblock %}

