@import "settings";
// Import all foundation styles
// @import "foundation";

// Or selectively include components
@import
//   "../../foundation/scss/components/accordion",
   "../../foundation/scss/components/alert-boxes",
   "../../foundation/scss/components/block-grid",
   "../../foundation/scss/components/breadcrumbs",
   "../../foundation/scss/components/button-groups",
   "../../foundation/scss/components/buttons",
   "../../foundation/scss/components/clearing",
   "../../foundation/scss/components/dropdown",
   "../../foundation/scss/components/dropdown-buttons",
   "../../foundation/scss/components/flex-video",
   "../../foundation/scss/components/forms",
   "../../foundation/scss/components/grid",
//   "../../foundation/scss/components/inline-lists",
//   "../../foundation/scss/components/joyride",
//   "../../foundation/scss/components/keystrokes",
//   "../../foundation/scss/components/labels",
//   "../../foundation/scss/components/magellan",
   "../../foundation/scss/components/orbit",
   "../../foundation/scss/components/pagination",
//   "../../foundation/scss/components/panels",
//   "../../foundation/scss/components/pricing-tables",
//   "../../foundation/scss/components/progress-bars",
//   "../../foundation/scss/components/reveal",
   "../../foundation/scss/components/side-nav",
//   "../../foundation/scss/components/split-buttons",
//   "../../foundation/scss/components/sub-nav",
//   "../../foundation/scss/components/switches",
   "../../foundation/scss/components/tables",
   "../../foundation/scss/components/tabs",
//   "../../foundation/scss/components/thumbs",
   "../../foundation/scss/components/tooltips",
   "../../foundation/scss/components/top-bar",
   "../../foundation/scss/components/type",
//   "../../foundation/scss/components/offcanvas",
   "../../foundation/scss/components/visibility";
