<div class='row'>
 <a id='list-filter-toggle' class='tiny secondary button show-for-small' data-status='off' data-off='{{=T("Show Filter Options")}}' data-on='{{=T("Hide Filter Options")}}'>{{=T("Show Filter Options")}}</a>
 <div id='list-filter' class='medium-4 large-3 columns hide-for-small side-filter'>
  {{=list_filter_form}}
 </div>
 <div class='large-7 medium-8 small-12 columns end newsfeed'>
  <div class='row'>
   <h2 class='latest-updates'>
    {{=response.s3.crud_strings["cms_post"].title_list}}
    {{if current.auth.s3_has_permission("update", "cms_post"):}}
     <a id='cms_post_create' href='/{{=appname}}/cms/newsfeed/create.popup?refresh=datalist' class='action-btn s3_modal' role='button' title='{{=T("Add New Information")}}'>
      {{=T("Add News")}}
     </a>
    {{pass}}
   </h2>
   <div class='list_formats small-2 small-push-10 columns dl-exports'>
     <!-- @ToDo: Read Filter Status -->
     <div class='export_xls' title='{{=T("Export in XLS format")}}' onclick="window.open('/{{=appname}}/cms/newsfeed.xls');"></div>
   </div>
  </div>
  <div class='row'>
   <div class="card-holder-home">
    {{=items}}
   </div>
  </div>
 </div>
</div>
