@charset "UTF-8";

/* Landing Page */
h1#main-title {
    margin-top: -15px;
    margin-bottom: -1px;
    margin-left: 70px;
    font-size: 25px;
    text-shadow: 2px 0 4px #464343;
}

#myCarousel {
    margin-bottom: 0px;
    margin-top: -40px;
}

div.carousel-caption {
    width: 410px;
    margin-left: 17px;
    background: none;
    top: 27px;
}

div.carousel-caption h1 {
    padding-left: 40px;
    font: 300 50px/47px Merriweather,Georgia,'Times new roman',serif;
    color: #fff;
    text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.47);
    margin-bottom: 7px;
    letter-spacing: -2px;
}

div.carousel-caption p {
    padding-left: 40px;
    padding-top: 8px;
    font: normal 300 18px/20px 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
} 

a.btn.btn-register {
    margin-left: 10px;
    padding: 10px 30px;
    margin-top: 19px;
}

a.btn.btn-custom.btn-login {
    margin-top: 20px;
    padding: 10px 40px;
}

.btn-custom {
    background-color: hsl(201, 76%, 42%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d96d7", endColorstr="#1983bc");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#1d96d7), to(#1983bc));
    background-image: -moz-linear-gradient(top, #1d96d7, #1983bc);
    background-image: -ms-linear-gradient(top, #1d96d7, #1983bc);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d96d7), color-stop(100%, #1983bc));
    background-image: -webkit-linear-gradient(top, #1d96d7, #1983bc);
    background-image: -o-linear-gradient(top, #1d96d7, #1983bc);
    background-image: linear-gradient(#1d96d7, #1983bc);
    border-color: #1983bc #1983bc hsl(201, 76%, 40.5%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
    -webkit-font-smoothing: antialiased;
}

.home-circle-img {
    position: relative;
    width: 120px;
    margin: -62px auto 16px;
    height: 120px;
    display: block;
}

#homepage-about h2 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #222222;
    position: relative;
    word-spacing: 61px;
    line-height: 1;
}

p.quote.mb4 {
    margin-bottom: 0;
    color: #908d8d;
    font-size: 15px;
    line-height: 22px;
    font-style: italic;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: -2px;
}

#homepage-about {
    background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 100, color-stop(0%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%), -moz-radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%), -o-radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(top center, ellipse farthest-side, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-background-size: 90% 10px, 75% 100px;
    -moz-background-size: 90% 10px, 75% 100px;
    -o-background-size: 90% 10px, 75% 100px;
    background-size: 90% 10px, 75% 100px;
    background-position: 50% 8px;
    padding-top: 8px;
    border-top: 1px solid white;
    background-repeat: no-repeat; 
}

#homepage-layer {
    padding-top: 20px;
    padding-bottom: 20px;
}

#homepage-layer a:hover {
    text-decoration: none;
}

#homepage-layer h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 28px;
    text-rendering: optimizelegibility;
    color: #4e4e4d;
}

#homepage-layer div.dl-navigation {
    display: none;
}

#what-they-do {
    padding-top: 20px;
    padding-bottom: 20px;
}
 
#what-they-do h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    text-rendering: optimizelegibility;
    color: #4e4e4d;
}

#homepage-layer .icon-calendar,
.icon-bullhorn,
.icon-bookmark-empty {
    font-size: 34px;
}
.icon-bullhorn{
    color: #bd382e;	
}
#homepage-layer .icon-calendar{
    color: #1ebaa6;	
}
.icon-bookmark-empty {
    color: #1c94d4;
}

.st {
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 80, color-stop(0%, rgba(0, 0, 0, 0.04)), color-stop(80%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(top center, ellipse cover, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 80%);
    background-image: -moz-linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%), -moz-radial-gradient(top center, ellipse cover, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 80%);
    background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%), -o-radial-gradient(top center, ellipse cover, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 80%);
    background-image: linear-gradient(top left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 100%), radial-gradient(top center, ellipse cover, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-background-size: 85% 1px, 85% 40px;
    -moz-background-size: 85% 1px, 85% 40px;
    -o-background-size: 85% 1px, 85% 40px;
    background-size: 85% 1px, 85% 40px;
    background-position: top center;
    background-repeat: no-repeat;
}

.stl {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.11)), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 80, color-stop(0%, rgba(0, 0, 0, 0.02)), color-stop(80%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top left, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%), -webkit-radial-gradient(top left, ellipse cover, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 80%);
    background-image: -moz-linear-gradient(top left, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%), -moz-radial-gradient(top left, ellipse cover, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 80%);
    background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%), -o-radial-gradient(top left, ellipse cover, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 80%);
    background-image: linear-gradient(top left, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(top left, ellipse cover, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-background-size: 1px 100%, 40px 100%;
    -moz-background-size: 1px 100%, 40px 100%;
    -o-background-size: 1px 100%, 40px 100%;
    background-size: 1px 100%, 40px 100%;
    background-position: top left;
    background-repeat: no-repeat;
    padding-bottom: 31px;
}

.span4.first_stl {
    padding-bottom: 31px;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    #myCarousel {
        margin-bottom: 0px;
        margin-top: -30px;
    }
    div.carousel-caption {
        width: 379px;
        margin-left: -7px;
        top: 40px;
    }
    div.carousel-caption h1 {
        font: 300 40px/37px Merriweather,Georgia,'Times new roman',serif;
    }
    div.carousel-caption p{
        padding-top: 0px;
        font: normal 16px/20px 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    }
}

@media screen and (max-width: 767px) {
    #myCarousel {
        margin-top: 0px; 
    }
    div.carousel-caption {
        width: 280px;
        margin-left: -2px;
        top: 22px;
    }
    div.carousel-caption h1 {
        font: 30px/29px Merriweather,Georgia,'Times new roman',serif;
    }
    div.carousel-caption p{
        padding-top: 1px;
        font: normal 300 14px/15px 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        margin-top: -3px;
    }
    .stl,
    .st {
        background-image: none;
    }
}

@media screen and (max-width: 767px) {
    #homepage-about .span4 {
        padding-left: 23px;
        position: relative;
        border-top: 1px solid rgba(0, 0, 0, 0.11);
        padding-top: 15px;
        padding-bottom: 17.5px;
    }
    #homepage-about h2 {
        font-size: 18px;
        text-align: left;
        top: 2px;
        margin-bottom: 12px;
    }
    .home-circle-img {
        width: 80px;
        margin: 0px auto 16px;
        height: 80px;
        float: left;
        padding-right: 9px;
    }
    p.quote.mb4 {
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        margin-top: 0;
    }
    a.btn.btn-register,
    a.btn.btn-custom.btn-login {
        margin-top: 15px;
        padding: 5px 15px;
        font-size: 12px;
    }
    a.btn.btn-register {
        margin-left: 6px;
    }
}

@media (max-width: 480px) { 
    #myCarousel {
        margin-bottom: 0px;
        margin-top: 0px;   
    }
    div.carousel-caption {
        width: 100%;
        margin-left: -14px;
        position: relative;
        margin-top: -36px;
        margin-bottom: 27px;
    }
    div.carousel-caption h1 {
        color: #393434;
        margin-bottom: 7px;
        text-align: center;
        padding-right: 8px;
        padding-left: 8px;
        text-shadow: none;
    }
    div.carousel-caption p{
        padding-left: 12px;
        color: #726c6c;
        text-shadow: none;
        text-align: center;
        padding-right: 12px;
    }
    .home-circle-img {
        width: 80px;
        margin: 0px auto 24px -25px;
        padding-right: 7px;
    }
    #homepage-about h2 {
        font-size: 18px;
        top: -2px;
        margin-bottom: 5px;;
    }
    p.quote.mb4 {
        font-size: 13px;
        line-height: 17px;
        text-align: justify;
        padding-right: 15px;
        padding-left: 15px;
    }
    a.btn.btn-register,
    a.btn.btn-custom.btn-login {
        margin-top: 16px;
        margin-left: 30px;
        font-size: 15px;
        width: 80%;
        padding: 6px 0;
    }
}

