/* Map */

/* Over-ride Bootstrap: Tile images */
.gis-map-window img,
.map_wrapper img {
    max-width: none;
}

/* West Panel */
.x-panel-body {
    background-color: #f5f6f5;
}

/* Section headers */
.x-panel-header {
    text-indent: 4px;
    padding: 5px;
    font: bold 12px/21px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #656665;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f9f9f9),to(#f2f2f2));
    background-image: -moz-linear-gradient(center top,#f9f9f9,#f2f2f2);
    border: none;
    border-bottom: 1px solid #dedede;
}

/* Collapse arrow in section headers */
.x-tool {
    margin-top: 2px;
}

/* Popups */
.olFramedCloudPopupContent {
    font-size: 12px;
    /* Needed if using Attachments button
    overflow: visible;*/
}
/* Attachments button
.olFramedCloudPopupContent .btn-group > .dropdown-toggle {
    margin-top: -25px;
    font-size: 12px;
}*/

.olFramedCloudPopupContent ul {
    display: block;
    list-style-type: disc;
    padding: 0 5px 5px 20px;
}

#activetooltip_GroupDiv {
    background-color: #fff;
    border: 1px solid #aaa7a7;
    border-radius: 4px;
    font-size: 12px;
    padding: 0 3px 0 0;
}

.x-form-text.x-form-field {
    margin-bottom: -2px;
    margin-top: 2px;
    margin-left: 10px;
}
