@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */

div.navbar-inner {
	position: fixed;
	top: 0px;
	width: 100%;
	height: auto;
	background: -webkit-linear-gradient(top, #585858, #454545);
	background: -moz-linear-gradient(top, #585858, #454545);
	background: -o-linear-gradient(top, #585858, #454545);
	background: -ms-linear-gradient(top, #585858, #454545);
	background: linear-gradient(to bottom, #585858, #454545);
	z-index: 100;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

div.navbar-inner{
	padding: 0;
	border-radius: 0px;
	border: none;
	-moz-box-shadow: 0 1px 4px #818181;
	-webkit-box-shadow: 0 1px 4px #818181;
	box-shadow: 0 1px 4px #818181;    

}

.navbar .brand {
   	margin-top:  0.5em;
   	width: 200px;
   	text-shadow: none;
	color: #fff;
	letter-spacing: 2px;
}

#nav {
    text-align: right;
}


.navbar .nav > li > a  {
	float: left;
	text-transform: uppercase;
	padding: 1.5em;
}

.navbar .nav  {
    list-style: none;
    margin: 0;
}

i.icon-cog {
	font-size: 20px;
}

.navbar .nav > li > a  {
    border-left: 1px solid #313131
}

.navbar .nav > li > a {
    color: #c6c6c6;
    text-shadow: none;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar .nav > li > a:hover {
    cursor: pointer;
    color: #fff;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
}

.navbar .nav > li > a:active {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5) inset;
}

/* Dropdown menu styling */

ul.dropdown-menu {
	padding: 12px;
	height: auto;
	line-height: 1.2;
	font-size: 16px;
	border: none;
	text-transform: none;
	border: 1px solid #b2b2b2;
	border-top: none;
	margin-top: -0.5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #e4e5e4;
}

.navbar .nav > li > .dropdown-menu:before {
	display: none;
}

.navbar .nav > li > .dropdown-menu:after {
	display: none;
}

ul.dropdown-menu li {
	margin-top: 8px;
}