@charset "UTF-8";

/* Main Navigation (S3MainMenu or modules menu) */
.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar-inner {
    background: none repeat-x scroll 0 0 #394755;
	border-bottom: 0 none;
	-webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    filter: none;
    padding: 10px 0;    
}

.navbar .brand {
    font-size: 26px;
	text-shadow: none;
	color: #f5f5f4;
	
}
.navbar .nav > li > a {
	font-size: 16px;
	font-weight: normal;
    text-shadow: none;
	color: #d2d1d1;
}
.navbar .nav > li.active > a,
.navbar .nav > li.active:hover > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    padding-bottom: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #FFFFFF;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #D6DFE5;
    border-top-color: #D6DFE5;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #FFFFFF;
}
.btn-dropnav {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
	display: none;
}
.btn-dropnav .icon-bar {
    background-color: #F5F5F5;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);	
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.btn-dropnav .icon-bar + .icon-bar {
    margin-top: 3px;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
    border-color: #308CCF;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #308CCF;
    background-image: none;
}
