@charset "UTF-8";

/* Updates Page */

h4.latest-disasters,
h4.latest-updates {
    text-align: center;
    padding: 15px 6px;
	border: 1px solid #b2b2b2;
    border-bottom: solid 1px #c9ccd0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 4px;
	text-transform: uppercase;
	font-size: 18px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );	-moz-box-shadow: 0 -1px 3px #d7d7d6;
	-webkit-box-shadow: 0 -1px 3px #d7d7d6;
	box-shadow: 0 -1px 3px #d7d7d6;
	-moz-box-shadow: 0 1px 1px #aaaaa7;
	-webkit-box-shadow: 0 1px 1px #aaaaa7;
	box-shadow: 0 1px 1px #aaaaa7;
}

h4.latest-disasters{
    margin-right: -6px;
}

#event_datalist a:hover  {
	text-decoration: none;
}

.span6 .export_xls  { 
    margin-top: -17px;
}

/* Cards */
.card-person {
    margin-top: 5px;
}
.card-person a {
    font-size: 11px;
    color: #7b7b78;
    text-transform: none;
}

p.citation small a {
    font-size: 10px;
    color: #7b7b78;
    text-transform: none;
}

a.card-organisation {
    color: #7b7b78;
    text-transform: none;
}

.card-organisation{
    font-size: 10px;
}

.card-organisation:hover,
.card-person a:hover {
    color: #26a0c3;
    text-decoration: none;
}

.card-header {
    border-bottom: 1px solid #bdbdbb;
    padding: 5px;
    margin: -3px -5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.card-title {
    font-size: 14px;
    text-shadow: 0 1px 0 white;
    letter-spacing: -1px;
}

/* Attachments button */
.dl-item > .btn-group > .dropdown-toggle {
    margin-top: -25px;
}

/*  Filter Styling  */
.side-filter {
    background-color: #fff;
    position: relative;
    top: 11px;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 25px;
}

.accordion-toggle {
    font-size: 12px;
    font-variant: normal;
    text-transform: none;
    color: #6e6e6c;
    border-none: none;
    padding-left: 5px;
    padding-bottom: 5px;
}

.accordion-toggle:hover {
    text-decoration: none;
    color: #3498DB;
}

/* Forms to add Data */
#popup.cf .form-horizontal.cms_post {
    margin-left: -60px;
}
#cms_post_body.text.input-xlarge {
    height: 100px;
}

form.form-horizontal.cms_post {
	margin-left: 0 !important;
}

/* Hide the colons for Location Selectors before JS can hide */
.form-container #cms_post_location_id__label {
    display: none;
}

div.defaultlocation_error.error{
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #b2b2b2;
    font-weight: normal;
    font-style: normal;
    color: #b84947;
    background-color: #f2dedd;
    margin-top: 7px;
}

#cms_post_location_id_map_wrapper {
	width: 450px;
	margin-left: 50px !important;
}

#cms_post_date {
    width: 140px !important;
    margin-right: 10px;
}
#post-cms_post_created_on-date-filter-le.date-filter-input.anytime, 
#post-cms_post_created_on-date-filter-ge.date-filter-input.anytime {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

#post-cms_post_created_on-date-filter-le.date-filter-input.anytime{
    margin-right: 10px;
    margin-left: 17px;
}

#post-auth_user_organisation_id-options-filter__label,
#post-cms_post_series_id-options-filter__label,
#post-cms_post_created_on-date-filter__label,
#post-cms_post_location_id-location-filter__label, 
#post-cms_post_location_id-location-filter__label, 
#post-cms_post_created_on-date-filter__label {
    padding: 7px 7px 7px 0;
    font-weight: bold;
}

#post-cms_post_created_on-date-filter-le_clear,
#post-cms_post_created_on-date-filter-ge_clear {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #5d5d5b;
}

/*============ Filter Responsive Input Size =====================*/
/* Also see filter.css */

/* Default size */
#post-auth_user_organisation_id-options-filter__label,
#post-cms_post_series_id-options-filter__label,
#post-cms_post_created_on-date-filter__label,
#post-cms_post_location_id-location-filter__label, 
#post-cms_post_location_id-location-filter__label, 
#post-cms_post_created_on-date-filter__label{
	font-size: 13px;
}
#post-cms_post_created_on-date-filter-ge,
#post-cms_post_created_on-date-filter-le {
	width: 70px;
	margin-right: 6px;
	font-size: 13px;
	margin-left: 17px;
}
#post-cms_post_created_on-date-filter-le {
	margin-left: 24px;
}

/* This would break other pages, so needs to be applied to just this page */
.side-filter button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    width: 100% !important;
}

/* Large desktop */
@media (min-width: 1200px) { 
    #post-cms_post_created_on-date-filter-ge,
    #post-cms_post_created_on-date-filter-le {
        width: 112px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    #post-auth_user_organisation_id-options-filter__label,
    #post-cms_post_series_id-options-filter__label,
    #post-cms_post_created_on-date-filter__label,
    #post-cms_post_location_id-location-filter__label, 
    #post-cms_post_location_id-location-filter__label, 
    #post-cms_post_created_on-date-filter__label{
        font-size: 12px;
        word-spacing: -2px;
    }
    #post-cms_post_created_on-date-filter-ge,
    #post-cms_post_created_on-date-filter-le {
        margin-right: 3px;
        font-size: 12px;
        margin-top: 2px;
    }
    #post-cms_post_created_on-date-filter-le {
        margin-left: 17px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    #post-auth_user_organisation_id-options-filter__label,
    #post-cms_post_series_id-options-filter__label,
    #post-cms_post_created_on-date-filter__label,
    #post-cms_post_location_id-location-filter__label, 
    #post-cms_post_location_id-location-filter__label, 
    #post-cms_post_created_on-date-filter__label{
        font-size: 12px;
        word-spacing: -2px;
    }
    #post-cms_post_created_on-date-filter-ge,
    #post-cms_post_created_on-date-filter-le {
        width: 20%;
        margin-right: 6px;
        font-size: 12px;
        margin-left: 6px;
    }
    #post-cms_post_created_on-date-filter-ge{
        margin-left: 6px;
    }
    #post-cms_post_created_on-date-filter-ge_clear {
        margin-right: 10px;
    }
}

@media screen and (max-width: 767px) {
    h4.latest-disasters {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    h4.latest-updates,
    h4.latest-disasters{
        width: 97.5%;
    }
    .span6 .export_xls  { 
        display: none;
    }
}