body {
    font: 14px/21px 'Open Sans', sans-serif;
    color: #666;
    overflow-x: hidden;
    background: url(img/bg_patch.jpg) #ebebeb;
    padding-top: 50px;
}

body.popup {
    background: #fff;
    padding-top: 0;
}

/* Over-ride ext */
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
}
h4 {
    font-size: 17.5px;
}
form {
    margin: 0 0 20px;
}

/* Over-ride Footer */
#footer {
    border-top: 0;
}

/* Over-ride Bootstrap */
#gis-map-window img,
#map_wrapper img {
    max-width: none;
}

/* Imitate Bootstrap in jQueryUI Modal */
#popup #submit_record__row {
    text-align: right;
}
.ui-dialog-titlebar-close:after {
    content: "x";
}

/* Over-ride widgets */
/*
div#dl-container {
    clear: none;
}*/
div.dl {
    border-bottom: 0;
}
div.dl-item {
    border-top: 0;
    clear: none;
}
.dl-header {
    display: none;
}

textarea#cms_post_body.text.input-xlarge {
    height: 100px;
}

/* Push down below Nav */
div#alert-space {
    padding-top: 50px;
}
div.alert.alert-success {
    border: 1px solid #b2b2b2;
}

a.btn.btn-primary.main-add {
    font-size: 15px;
    float: right;
    position: relative;
    right: 13px;
    top: 24px;
}

a i.icon.icon-plus-sign.big-add:hover {
    text-decoration: none;
}


/* Card Icons */
i.icon.icon-activity,
i.icon.icon-alert,
i.icon.icon-incident, 
i.icon.icon-report,
i.icon.icon-assessment,
i.icon.icon-disaster,
i.icon.icon-training_material,
i.icon.icon-plans  {
    font-size: 14px;
    display: inline-block;
    color: #413b3b;
    padding-left: 1px;
    width: 106px;
}

/* Activity */
/*.icon-truck:*/
.icon-activity:before  {
    content: "\f0d1";
}
/* Alert */
/*.icon-bullhorn*/
.icon-alert:before {
    content: "\f0a1";
}
/* Report */
/*.icon-file-alt*/
.icon-report:before {
    content: "\f0f6";
}
/* Training Material */
/*icon-book*/
i.icon.icon-training_material:before {
    content: "\f02d";
}

/* Assessment */
/*icon-info-sign*/
i.icon.icon-assessment:before{
    content: "\f05a";
}
/* Disaster */
/* Incident */
/*icon-warning-sign*/
i.icon.icon-incident:before,
i.icon.icon-disaster:before {
    content: "\f071";
}

/* Home Cards */
div.edit-bar.fright {
    color: #8a8989;
    font-size: 14px;
    position: relative;
    top: 4px;
    float: right;
}

div.attachment.fright {
    font-size: 21px;
    padding: 10px;
}

div.media {
    margin-top: 12px;
    font: 13px/17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #333;
    word-spacing: -1px;
}

div.card-person {
    margin-top: 5px;
}

div.card-person a {
    font-size: 11px;
    color: #7b7b78;
    text-transform: none;
}

a.card-organisation{
    font-size: 10px;
    text-transform: uppercase;
}
a.card-organisation:hover,
div.card-person a:hover {
    color: #26a0c3;
    text-decoration: none;
}

div.card-header {
    border-bottom: 1px solid #bdbdbb;
    padding: 5px;
    margin: -3px -5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

div.thumbnail.disaster {
    border: 3px solid #f8c464;
}

i.icon.icon-paper-clip.fright {
    font-size: 17px;
}


/* Modals */
div.modal-header {
    text-align: center;
    padding: 6px 6px 6px 25px;
    border-bottom: solid 1px #c9ccd0;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f9f9fa),color-stop(100%,#e0e2e8));
    background-image: -webkit-linear-gradient(top,#f9f9fa,#e0e2e8);
    background-image: -moz-linear-gradient(top,#f9f9fa,#e0e2e8);
    background-image: -o-linear-gradient(top,#f9f9fa,#e0e2e8);
    background-image: -ms-linear-gradient(top,#f9f9fa,#e0e2e8);
    background-image: linear-gradient(top,#f9f9fa,#e0e2e8);
    margin-bottom: -1px;
    font-size: 20px;
}

table.embeddedComponent {
    border: 0;
}
#add-row-defaultevent_post td, 
#add-row-filedocument td {
    border: 0;
    padding-left: 0;
}

table.embeddedComponent {
    display: inline-block;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: 1px;
}

#sub_defaultevent_post_defaultevent_post_i_event_id_edit_none,
input#sub_filedocument_filedocument_i_file_edit_none.upload {
    padding-top: 6px;
    padding-left: 4px;
}

#myModal form.form-horizontal div.modal-body {
    padding-top: 22px;
}

div#cms_post_body__row.control-group, 
div#cms_post_series_id__row.control-group,
div#cms_post_location_id__row.control-group,
div#cms_post_sub_filedocument__row.control-group {
    margin-bottom: 5px;
}

#sub-filedocument table.embeddedComponent thead tr.label-row,
#sub-defaultevent_post table.embeddedComponent thead tr.label-row {
    display: none;	
}

#myModal div.modal-header button.close {
    padding-right: 6px;
}

/*  Filter Styling  */
div#accordion2.accordion.side-filter {
    background-color: #fff;
    position: relative;
    top: 11px;
    border: 1px solid #b2b2b2;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.accordion-inner,
div.accordion-heading,
div.accordion-group,
#accordion2 div.accordion-group
#collapseOne div.accordion-inner {
    border-top: none;
    border-bottom: none;
}

a.accordion-toggle {
    font-size: 12px;
    font-variant: normal;
    text-transform: none;
    color: #6e6e6c;
    border-none: none;
}

a.accordion-toggle:hover {
    text-decoration: none;
    color: #3498DB;
}

div.search_box {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    top: 11px;
    padding-top: 7px;
    padding-left: 9px;
}

button.btn.btn-primary.search_btn {
    width: 93%;
    margin-left: 8px;
}

input#input_temp {
    width: 84%;
}

div.thumbnail.side-filter:hover {
    background-color: #fff;	
}
	 
input.filter-search {
    text-align: center;
}

/*button.btn.btn-primary.btn-filter,*/
input.btn.btn-primary.filter-submit {
    width: 90%;
    padding-right: 5px;
    padding-left: 5px;
  /*position: relative;
    top: 220px;*/
    margin-left: 12px;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    background-color: hsl(0, 0%, 79%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
    background-image: linear-gradient(#134134134, #c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all:hover {
    color: #333333;
    background-color: #e6e6e6;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    margin-bottom: 10px;
}

#datalist-filter-form table tbody tr td {
    border: none;
}

input#post-cms_post_created_on-date-filter-le.date-filter-input.anytime, 
input#post-cms_post_created_on-date-filter-ge.date-filter-input.anytime {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

input#post-cms_post_created_on-date-filter-le.date-filter-input.anytime{
    margin-right: 10px;
    margin-left: 17px;
}

label#post-auth_user_organisation_id-options-filter__label,
label#post-cms_post_series_id-options-filter__label,
label#post-cms_post_created_on-date-filter__label,
label#post-cms_post_location_id-location-filter__label, 
label#post-cms_post_location_id-location-filter__label, 
label#post-cms_post_created_on-date-filter__label {
    padding: 7px 7px 7px 0;
    font-weight: bold;
}

input.btn.btn-primary.filter-submit.filter-ajax {
    margin-top: 15px;
    margin-bottom: -15px;
}

input#post-cms_post_created_on-date-filter-le_clear,
input#post-cms_post_created_on-date-filter-ge_clear {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #5d5d5b;
}

/* The New Card (profile page) */
div.thumbnail {
    background-color: #fff;
    border-radius: 0;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #9e9b9b;
    -moz-box-shadow: 0 -1px 3px #d7d7d6;
    -webkit-box-shadow: 0 -1px 3px #d7d7d6;
    box-shadow: 0 -1px 3px #d7d7d6;
    -moz-box-shadow: 0 1px 1px #aaaaa7;
    -webkit-box-shadow: 0 1px 1px #aaaaa7;
    box-shadow: 0 1px 1px #aaaaa7;
}
	
div.thumbnail:hover {
    background-color: #f5f5f5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: auto;
}

img.media-object {
    border-radius: 8px;
    width: 48px;
    height: 48px;
}

span.user_details {
    width: 66px;
    min-height: 84px;
}

p.citation {
    float: left;
    clear: left;
    width: 58px;
    font-size: 80%;
    line-height: 11px;
    text-align: center;
}

a i.icon-paper-clip.pull-right {
    font-size: 20px;
    margin: -1px;
}

a i.icon-paper-clip.pull-right:hover {
    text-decoration: none;
}

span.date-title {
    font: 400 10px "Helvetica Neue",Arial,sans-serif;
    list-style: none outside none;
    padding-left: 10px;
    color: #999;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 9px;
}

span.location-title {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0px 1px 0px white;
    padding-left: 10px;
    margin-left: 10px;
    width: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

span.card-title {
    font-size: 14px;
    text-shadow: 0px 1px 0px white;
    letter-spacing: -1px;
}

span.location-title a {
    font: 400 12px "Helvetica Neue", Arial,sans-serif;
    color: #777;
    padding: 0;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
    letter-spacing: 0;
    word-spacing: -1px;
}

span.location-title a:hover {
    color: #333;
    text-decoration: none;
}

p.card_comments {
    font: 13px/17px "Georgia",Times;
    color: #5c5c5c;
    padding-top: 2px;
}

div.edit-bar.pull-right {
    color: #8a8989;
    font-size: 14px;
}

i.icon.icon-edit {
    padding-right: 3px;
}

div.attachment.pull-right {
    font-size: 21px;
    padding: 10px;
}

a i.icon.icon-edit,
a i.icon.icon-remove-sign {
    color: #999;
    padding-left: 2px;
}

a i.icon.icon-edit:hover,
a i.icon.icon-remove-sign:hover {
    color: #0095fe;
    text-decoration: none;
}

a i.icon.icon-remove-sign:hover {
    color: #E74C3C;
}

/* Profile Page */
h2.profile_header {
    font-size: 25px;
    color: #666;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    background-color: #f7f8f7;
    height: 40px;
    padding: 20px;
    border: 1px solid #9e9b9b;
    border-radius: 4px;
    -moz-box-shadow: 0 -1px 3px #d7d7d6;
    -webkit-box-shadow: 0 -1px 3px #d7d7d6;
    box-shadow: 0 -1px 3px #d7d7d6;
}

h4.Profile_Header {
    font-size: 25px;
    color: #666;
    text-align: center;
    font-weight: normal;
    font-style: normal;
}

h4.profile-sub-header {
    font-size: 17px;
    color: #666;
    text-align: left;
    font-weight: normal;
    font-style: normal;	
}

h4.profile-sub-header {
    padding: 6px 6px 6px 9px;
    border-radius: 5px 5px 0 0;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );	
    -moz-box-shadow: 0 -1px 3px #d7d7d6;
    -webkit-box-shadow: 0 -1px 3px #d7d7d6;
    box-shadow: 0 -1px 3px #d7d7d6;
    border: 1px solid #9e9b9b;
    margin-bottom: -1px;
}

div.row.profile {
    margin-top: 5px;
}

a i.icon.icon-plus-sign.small-add {
    font-size: 17px;
    color: #0096fe;
    float: right;
    position: relative;
    top: 17px;
    right: 9px;
}

a i.icon.icon-plus-sign.small-add:hover{
    text-decoration: none;
    color: #2da7fc;
}

div.card-holder {
    display: inline-block;
    min-height: 383px;
    width: 99.7%;
    border: 1px solid #b2b2b2;
    background-color: #f0f0ef;
}

div.thumbnail.map {
    height: 383px;
}

div.more_profile {
    text-align: center;
    padding: 5px;
}

p.empty_card-holder {
    text-align: center;
    font: 15px Georgia, "Times New Roman", Times, serif;
    position: relative;
    top: 144px;
    opacity: 0.67;
}

i.icon-folder-open-alt {
    font-size: 25px;
}
/* END OF PROFILE PAGE */


div.span5.card-details {
    margin-left: 0px;
}

div.card-holder div.edit-bar.fright {
    color: #8A8989;
    font-size: 14px;
}
div.card-holder div.edit-bar.fright {
    color: #8A8989;
    font-size: 14px;
}
div.card-holder span.date-title {
    font: 11px "Helvetica Neue",Arial,sans-serif;
    list-style: none outside none;
    text-decoration: none;
    text-transform: none;
    color: #999;	
}
div.card-holder span.card-title {
    font-size: 14px;
}
div.card-holder span.location-title {
    font: bold 13px "Helvetica Neue", Arial,sans-serif;
    color: #333333;
    padding: 0;
}

div.card-holder p.card_comments {
    font: 14px/19px "Georgia",Times;
    color: #5c5c5c;
    padding-top: 6px;
}