@charset "UTF-8";

/* Updates Page */

h4.latest-disasters,
h4.latest-updates {
    text-align: center;
    padding: 15px 6px;
    border-bottom: solid 1px #c9ccd0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 4px;
	text-transform: uppercase;
	font-size: 18px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );	-moz-box-shadow: 0 -1px 3px #d7d7d6;
	-webkit-box-shadow: 0 -1px 3px #d7d7d6;
	box-shadow: 0 -1px 3px #d7d7d6;
	border: 1px solid #9e9b9b;
	-moz-box-shadow: 0 1px 1px #aaaaa7;
	-webkit-box-shadow: 0 1px 1px #aaaaa7;
	box-shadow: 0 1px 1px #aaaaa7;
}

h4.latest-disasters,
h4.latest-updates {
	 border: 1px solid #b2b2b2;
}

#event_datalist a:hover  {
	text-decoration: none;
}

/* Show a border around active disasters */
.thumbnail.disaster {
    border: 3px solid #f8c464;
}

/* Cards */

.card-person {
    margin-top: 5px;
}

.card-person a {
    font-size: 11px;
    color: #7b7b78;
    text-transform: none;
}

.card-organisation{
    font-size: 10px;
    text-transform: uppercase;
}
.card-organisation:hover,
.card-person a:hover {
    color: #26a0c3;
    text-decoration: none;
}

.card-header {
    border-bottom: 1px solid #bdbdbb;
    padding: 5px;
    margin: -3px -5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.card-title {
    font-size: 14px;
    text-shadow: 0px 1px 0px white;
    letter-spacing: -1px;
}


/* Card Icons */
.icon.icon-activity,
.icon.icon-alert,
.icon.icon-incident, 
.icon.icon-report,
.icon.icon-assessment,
.icon.icon-disaster,
.icon.icon-training_material,
.icon.icon-plans  {
    font-size: 14px;
    display: inline-block;
    color: #413b3b;
    padding-left: 1px;
    width: 106px;
}

/* Activity */
/*.icon-truck:*/
.icon-activity:before  {
    content: "\f0d1";
}
/* Alert */
/*.icon-bullhorn*/
.icon-alert:before {
    content: "\f0a1";
}
/* Report */
/*.icon-file-alt*/
.icon-report:before {
    content: "\f0f6";
}
/* Training Material */
/*icon-book*/
.icon.icon-training_material:before {
    content: "\f02d";
}

/* Assessment */
/*icon-info-sign*/
.icon.icon-assessment:before{
    content: "\f05a";
}
/* Disaster */
/* Incident */
/*icon-warning-sign*/
.icon.icon-incident:before,
.icon.icon-disaster:before {
    content: "\f071";
}

/*  Filter Styling  */
.side-filter {
    background-color: #fff;
    position: relative;
    top: 11px;
    border: 1px solid #b2b2b2;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 7px;
    padding-left: 9px;
}

.accordion-toggle {
    font-size: 12px;
    font-variant: normal;
    text-transform: none;
    color: #6e6e6c;
    border-none: none;
    padding-left: 5px;
    padding-bottom: 5px;
}

.accordion-toggle:hover {
    text-decoration: none;
    color: #3498DB;
}

input.filter-search {
    text-align: center;
}

/*button.btn.btn-primary.btn-filter,*/
input.btn.btn-primary.filter-submit {
    width: 90%;
    padding-right: 5px;
    padding-left: 5px;
}

input.btn.btn-primary.filter-submit.filter-ajax {
    margin-top: 15px;
    margin-bottom: -15px;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    background-color: hsl(0, 0%, 79%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#134134134", endColorstr="#c9c9c9");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#134134134), to(#c9c9c9));
    background-image: -moz-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -ms-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #134134134), color-stop(100%, #c9c9c9));
    background-image: -webkit-linear-gradient(top, #134134134, #c9c9c9);
    background-image: -o-linear-gradient(top, #134134134, #c9c9c9);
    background-image: linear-gradient(#134134134, #c9c9c9);
    border-color: #c9c9c9 #c9c9c9 hsl(0, 0%, 68.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.69);
    -webkit-font-smoothing: antialiased;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all:hover {
    color: #333333;
    background-color: #e6e6e6;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    margin-bottom: 10px;
}

#datalist-filter-form table tbody tr td {
    border: none;
}

#post-cms_post_created_on-date-filter-le.date-filter-input.anytime, 
#post-cms_post_created_on-date-filter-ge.date-filter-input.anytime {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
}

#post-cms_post_created_on-date-filter-le.date-filter-input.anytime{
    margin-right: 10px;
    margin-left: 17px;
}

#post-auth_user_organisation_id-options-filter__label,
#post-cms_post_series_id-options-filter__label,
#post-cms_post_created_on-date-filter__label,
#post-cms_post_location_id-location-filter__label, 
#post-cms_post_location_id-location-filter__label, 
#post-cms_post_created_on-date-filter__label {
    padding: 7px 7px 7px 0;
    font-weight: bold;
}

#post-cms_post_created_on-date-filter-le_clear,
#post-cms_post_created_on-date-filter-ge_clear {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    color: #5d5d5b;
}
