@charset "UTF-8";

/* Updates Page */

h4.latest-disasters,
h4.latest-updates {
    text-align: center;
    padding: 15px 6px;
    border-bottom: solid 1px #c9ccd0;
    border-radius: 5px 5px 0 0;
    margin-bottom: 4px;
	text-transform: uppercase;
	font-size: 18px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );	-moz-box-shadow: 0 -1px 3px #d7d7d6;
	-webkit-box-shadow: 0 -1px 3px #d7d7d6;
	box-shadow: 0 -1px 3px #d7d7d6;
	border: 1px solid #9e9b9b;
	-moz-box-shadow: 0 1px 1px #aaaaa7;
	-webkit-box-shadow: 0 1px 1px #aaaaa7;
	box-shadow: 0 1px 1px #aaaaa7;
}

h4.latest-disasters,
h4.latest-updates {
	 border: 1px solid #b2b2b2;
}

#event_datalist a:hover  {
	text-decoration: none;
}