{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block title %}
    {{ voting.title }}
{% endblock %}

{% block logo %}
    {% if get_place %}
        <a href="{{ get_place.get_absolute_url }}"><img src="{{ MEDIA_URL }}/{{ get_place.logo }}" /></a>
    {% else %}
        <a href="{% url 'site-index' %}"><img src="{{ STATIC_URL }}/assets/logos/index.png" /></a>
    {% endif %}
{% endblock %}

{% block banner %}
    {% if get_place %}
        <img src="{{ MEDIA_URL }}/{{ get_place.banner }}" />
    {% else %}
        <img src="{{ STATIC_URL }}/assets/banners/index.png" />
    {% endif %}
{% endblock %}

{% block space %}
    {% if get_place %}
        <a class="brand" href="{{ get_place.get_absolute_url }}">{{ get_place.name }}</a>
    {% else %}
        <a class="brand" href="{% url 'site-index' %}">e-cidadania</a>
    {% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript">
        function upvote(proposal) {
            var request = $.ajax({
                type: "POST",
                url: "../vote/voting/",
                data: { propid: proposal },
                success: function(data)
                {
                $("#jsnotify").notify("create", {
                    title:"An email has been sent",
                    text:"We sent you an email for validating the vote.",
                    icon:"alert.png",
                    expires: 0
                })
                }
            });

            request.fail(function(jqXHR, textStatus) {
                $("#jsnotify").notify("create", {
                    title:"Couldn't vote the proposal",
                    text:"There has been an error." + textStatus,
                    icon:"alert.png"
                });
            })
        }
    </script>
{% endblock %}

{% block content %}
    <h2>{{ voting.title }}</h2>
    <div class="row">
        <div class="span3">
            <ul class="unstyled">
                <li><strong>{% trans "Description:" %}</strong> {{ voting.description }}</li>
                <li><strong>{% trans "Created by:" %}</strong> {{ voting.author }}</li>
                <li><strong>{% trans "Start date:" %}</strong> {{ voting.start_date }}</li>
                <li><strong>{% trans "End date:" %}</strong> {{ voting.end_date }}</li>
                <hr>
                <li><strong>{% trans "Vote on the following:" %}</strong></li>
                <li><strong>{% trans "Proposal sets" %}</strong></li>
                {% for pset in proposalsets %}
                    <li><a href="{{ pset.get_absolute_url }}">{{ pset }}</a>
                    {% if pset.debate %}
                        <strong>{% trans "linked to" %}</strong> <a href="{{ pset.debate.get_absolute_url }}">{{ pset.debate }}</a>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="span9">
            {% for set in proposalsets %}
                {% for p in all_proposals%}
                    {% if p.proposalset.pk == set.pk %}
                        <div class="proposal-wrapper" style="margin-bottom:15px;">
                            <div class="span1">
                                <p style="line-height:30px;font-size:30px;margin-left:5px;">{{ p.votes.count }}</p>
                                {% if not request.user in p.votes %}
                                    <button onclick="upvote({{ p.id }})" class="btn btn-small" {% if user in p.votes.all %}disabled="disabled"{% endif %}>{% trans "vote" %}</button>
                                {% endif %}
                            </div>
                        
                            <div id="proposal">
                                <div class="title"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></div>
                                <div class="message">{{ p.description|truncatewords:40 }}</div>
                            </div>
                            <div style="clear:left;"></div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <h4>{% trans "Unlinked proposals:" %}</h4>
            <br />
            {% for p in proposals %}
                <div class="proposal-wrapper" style="margin-bottom:15px;">
                    <div class="span1">
                        <p style="line-height:30px;font-size:30px;margin-left:5px;">{{ p.votes.count }}</p>
                        {% if not request.user in p.votes %}
                            <button onclick="upvote({{ p.id }})" class="btn btn-small" {% if user in p.votes.all %}disabled="disabled"{% endif %}>{% trans "vote" %}</button>
                        {% endif %}
                    </div>
                        
                    <div id="proposal">
                        <div class="title"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></div>
                        <div class="message">{{ p.description|truncatewords:40 }}</div>
                    </div>
                    <div style="clear:left;"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
