@charset "UTF-8";

#login_box {
    width: 100% !important;
    background: transparent;
    border: 0;
}
#site-title {
    text-align: center;
    padding-top: 2rem;
}
#site-title h3 {
    margin-top: 1.5rem;
}
.row.home-top {
    min-height: 30rem;
}
