{{extend "layout.html"}}
<div id='home'>
<h2>{{=module_name}}</h2>
<p>{{=T("This module allows Warehouse Stock to be managed, requested & shipped between the Warehouses and Other Inventories")}}</p>
<p>{{=T("Inventory Items include both consumable supplies & those which will get turned into Assets at their destination.")}}</p>
<div class='col2left'>
<ul>
  <li><a href='{{=URL(c="inv", f="warehouse")}}'>{{=T("Warehouses")}}</a></li>
  {{try:}}{{=XML(warehouses)}}{{except:}}{{pass}}
  <li>{{=T("Other Inventories")}}</a>
  <ul>
    <li><a href='{{=URL(c="org", f="office")}}'>{{=T("Offices")}}</a>
    <li><a href='{{=URL(c="inv", f="facility")}}'>{{=T("Facilities")}}</a>
  {{if settings.has_module("cr"):}}
    <li><a href='{{=URL(c="cr", f="shelter")}}'>{{=s3.crud_strings["cr_shelter"].name_nice_plural}}</a>
  {{pass}}
  {{if settings.has_module("hms"):}}
    <li><a href='{{=URL(c="hms", f="hospital")}}'>{{=T("Hospitals")}}</a>
  {{pass}}
  </ul>
</ul>
</div>
<div class='col2right'>
<h4>{{=T("Warehouse Stock")}}:</h4>
<ul>
  <li><a href='{{=URL(c="inv", f="inv_item")}}'>{{=T("Search Items")}}</a>
  <li><a href='{{=URL(c="inv", f="track_item")}}'>{{=T("Search Shipped Items")}}</a>
  <li><a href='{{=URL(c="inv", f="adj")}}'>{{=T("Adjust Stock Levels")}}</a>
  <li><a href='{{=URL(c="inv", f="inv_item", args="import")}}'>{{=T("Import")}}</a>
</ul>
{{try:}}{{=XML(inventory)}}{{except:}}{{pass}}
</div>
<h3>{{=T("Reports")}}:</h3>
<ul>
  <li><a href='{{=URL(c="inv", f="inv_item", args="report")}}'>{{=T("Warehouse Stock")}}</a>
  <li><a href='{{=URL(c="inv", f="inv_item", vars=dict(report="mon"))}}'>{{=T("Monetization")}}</a>
  <li><a href='{{=URL(c="inv", f="inv_item", vars=dict(report="rel"))}}'>{{=T("Summary of Releases")}}</a>
  <li><a href='{{=URL(c="inv", f="inv_item", vars=dict(report="inc"))}}'>{{=T("Summary of Incoming Supplies")}}</a>
  <li><a href='{{=URL(c="inv", f="inv_item", vars=dict(report="util"))}}'>{{=T("Utilization Report")}}</a>
  <li><a href='{{=URL(c="inv", f="inv_item", vars=dict(report="exp"))}}'>{{=T("Expiration Report")}}</a>
</ul>
</div>
<h3>{{=T("Shipments")}}:</h3>
<div class='col2left'>
<h4>{{=T("Orders") if settings.get_inv_shipment_name() == "order" else T("Receive/Incoming")}}</h4>
<ul>
  <li><a href='{{=URL(c="inv", f="recv", args="create")}}'>{{=T("Create")}}</a>
  <li><a href='{{=URL(c="inv", f="recv")}}'>{{=T("Search")}}</a>
</ul>
</div>
<div class='col2right'>
<h4>{{=T("Sent")}}</h4>
<ul>
  <li><a href='{{=URL(c="inv", f="send", args="create")}}'>{{=T("Create")}}</a>
  <li><a href='{{=URL(c="inv", f="send")}}'>{{=T("Search")}}</a>
</div>
<div class='col2left'>
<h3>{{=T("Items")}}:</h3>
<ul>
  <li><a href='{{=URL(c="supply", f="item", args="create")}}'>{{=T("Create")}}</a>
  <li><a href='{{=URL(c="supply", f="item")}}'>{{=T("Search")}}</a>
      {{try:}}{{=XML(supply_items)}}{{except:}}{{pass}}
</ul>
<h4>{{=T("Catalogs")}}</h4>
<ul>
  <li><a href='{{=URL(c="supply", f="item", args="create")}}'>{{=T("Create")}}</a>
  <li><a href='{{=URL(c="supply", f="item")}}'>{{=T("List All")}}</a>
</ul>
</div>
{{if auth.s3_has_role("ADMIN"):}}
<div class='col2right'>
<h3>{{=T("Item Categories")}}:</h3>
<ul>
  <li><a href='{{=URL(c="supply", f="item_category", args="create")}}'>{{=T("Create")}}</a>
  <li><a href='{{=URL(c="supply", f="item_category")}}'>{{=T("List All")}}</a>
</ul>
</div>
{{pass}}
</div>
{{include "dataTables.html"}}
