/* Local Settings */

textarea.comments {
    height: 100px;
}

.span7 .export_xls  {
    margin-top: -17px;
}

/* Commit Tally / Buton on Requests card */
.media.pull-right {
    margin-top: 0;
}

#dummy_req_req_site_id,
#req_req_site_id,
#req_commit_organisation_id {
    float: left;
    margin-right: 10px;
    margin-top: -5px;
}

#req_commit_organisation_id {
    width: 280px;
}
