{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{% trans "View proposals" %}{% endblock %}

{% block content %}

  {% block centercol %}
    <div id="centercol">
    {{ proposal.title }}
    {% for p in proposal_list %}
      <div id="proposal-wrapper">
        <div id="tools">
          <a href="add/">{% trans "Add" %}</a> | 
          <a href="edit/{{ p.id }}">{% trans "Edit" %}</a> |
          <a href="delete/{{ p.id }}">{% trans "Delete" %}</a>
        </div>
        <div id="votes"><span style="font-size:30px;text-align:center;">0</span><br/>apoyos</div>
        <!-- Here goes the voting button -->
        <div id="proposal">
          <div class="title"><a href="{{ request.path }}view/{{ p.id }}/">{{ p.title }}</a></div>
          <div class="message">{{ p.message|truncatewords:12 }}</div>
          {% get_comment_count for p as comment_count %}
          <div class="creator">{% trans "proposed by " %} <a href="/accounts/{{ p.author }}">{{ p.author }}</a> {% trans " at " %} {{ p.pub_date|date:"j/m/Y G:i" }} | <a href="{{ request.path }}view/{{ p.id }}#comments">{{ comment_count }} {% trans "comments" %}</a></div>
        </div>
        {% comment %}
          The following div is to make the wrapper to wrap everything.
        {% endcomment %}
        <div style="clear:left;"></div>
      </div>
    {% endfor %}
    </div>
  {% endblock %}
  
  {% block rightcol %}
    Esto es una columna, ¿lo ves?
  {% endblock %}

{% endblock %}
