{% extends "base.html" %}
{% load i18n %}
{% load comments %}

{% block title %}{% trans "View proposal" %} {{ proposal.id }} {% endblock %}
{% block logo %}<img src="/{{ MEDIA_URL }}/{{ get_place.logo }}">{% endblock %}
{% block banner %}<img src="/{{ MEDIA_URL }}/{{ get_place.banner }}">{% endblock %}

{% block content %}

  {% block centercol %}
    <div class="grid_11">
    
      <div id="proposal-wrapper">
        {% if user.is_staff %}
        <div id="tools">
          <a href="add/">{% trans "Add" %}</a> | 
          <a href="edit/{{ p.id }}">{% trans "Edit" %}</a> |
          <a href="delete/{{ p.id }}">{% trans "Delete" %}</a>
        </div>
        {% endif %}
        <div id="votes">
          <span style="font-size:30px;text-align:center;">{{ proposal.support_votes }}</span><br/>apoyos
        </div>
        <!-- Here goes the voting button -->
        <div id="proposal">
          <div class="title">{{ proposal.title }}</div>
          <div class="message">{{ proposal.message }}</div>
          <div class="creator">{% trans "proposed by " %} {{ proposal.author }} {% trans " at " %} {{ proposal.pub_date }}</div>
        </div>
        <div style="clear:left;"></div>
      </div>
      
      <p>{% render_comment_list for proposal %}</p>
      
      <p>{% render_comment_form for proposal%}</p>
      
    </div>
  {% endblock%}
  
  {% block rightcol %}
    <div class="grid_5">
    </div>
  {% endblock%}

{% endblock %}
