/* Login Form on Homepage */
.hp-login {
    margin-left: 20px;
    margin-top: 10px;
}
.hp-login #auth_user_email {
    margin-bottom: 5px;
}
.hp-login #auth_user_password {
    margin-bottom: 0;
}
.hp-login #auth_user_remember {
    margin-bottom: 0;
}
.hp-login #submit_record__row .button {
    /* Centre the navs to the right of the login button */
    position: relative;
    top: 0.5rem;
}
/* Top Navigation Bar */
.hd {
    display: inline-block;
    border-radius: 100%;
    padding-top: 12px;
    padding-left: 12px;
    height: 48px;
    width: 48px;
}
.hd:hover {
    background-color: #f0f0f0;
}
.hd.active {
    background-color: #d9dadb;
}
/* Current Module Logo in top-nav */
.hdm {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-left: 5px;
}
.hi {
    margin-top: -12px;
    margin-left: -6px;
}
/* Apps Frame */
.apps-frame {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 328px;
    height: 224px;
    margin-top: -500px;
    margin-right: 4px;
    max-height: calc(-65px + 100vh);
    z-index: 991;
}
.hdl {
    display: inline-block;
    height: 48px;
    width: 60px;
    margin-left: 4px;
}
/* Profile button in top-nav */
.hdp {
    display: inline-block;
    height: 48px;
    width: 48px;
}
.hip {
    border-radius: 100%;
    margin-top: -12px;
    margin-left: 6px;
}
/* User Menu */
#user-menu {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    margin-top: -500px;
    margin-right: 4px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 991;
}
#user-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}
/* Tooltips */
.tooltip-f {
    background: #505355;
    border-radius: 4px;
    color: #FFFFFF;
    display: none;
    font: 500 12px 'Roboto',arial,sans-serif;
    letter-spacing: .8px;
    line-height: 16px;
    margin-top: 4px;
    min-height: 14px;
    padding: 4px 8px;
    position: absolute;
    z-index: 1000;
    -webkit-font-smoothing: antialiased;
}
.tooltip-m {
    margin-top: -15px;
}

/* WMS Dashboard Shipments */
.ship-card {
    border: #ccc 1px solid;
}
/* WMS Dashboard Alerts */
.alert-card {
    border: #ccc 1px solid;
}
.alert-card .medium-1{
    color: #f00;
    padding-top: 15px;
}
.alert-card .medium-11{
    color: #222;
    padding: 5px;
}
